@import url("expertsans/stylesheet.css");

.id-bg {
    background-color: #d7d6d3;
    font-family:'verdana';
}
.avatar-view {
    display: block;
    border: 3px solid #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .15);
    cursor: pointer;
    overflow: hidden;
  }
.id-card {
    
    background-color: #fff;
    padding: 0px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 1.5px 0px #b9b9b9;
}
.header img {
    width: 100%;
    margin-top: 0px;
    height: 160%;
    min-height: 200px;
    top: 0;
    left: 0;
    background: black;
    opacity: 0.3;
    position: relative;
}
.photo {
    position: absolute;
    top: 95px;left: 25px;
}
.photo img {
    width: 120px;
    margin-top: 15px;
    
}
#idCard h2 {
    font-size: 25px;
    margin: 5px 0;
}
#idCard h3 {
    font-size: 22px;
    margin: 2.5px 0;
    font-weight: 300;
}
#idCard p {
    font-size: 5px;
    margin: 2px;
}
.qr-code img {
    width: 120px;
}
.imgContainer {
    position: relative;
    text-align: center;
    color: white;
    width: 100%;
  }
  
  /* Centered text */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .card_delegate_role p {
      background-color: #00008b !important;
      -webkit-print-color-adjust: exact;  
      color:#fff !important; 
      margin-top: -10px; 
      padding:0px;
      font-size: 28px;
  }
  .card_eventTitle {
      font-size: 12px;
      top:26px;
      width:100%;
      font-weight: 700;
      line-height: 17px;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      text-shadow:1px 1px #333333;
      color: #ffffff; 
  }