 .square_btn16 {
   display: inline-block;
   padding: 0.3em 1em;
   border: solid 2px #67c5ff;
   transition: .4s;
   font-weight: 500;
   text-transform: uppercase;
   border-radius: 15px;
   height: 30px;
   text-align: center;
   margin-top: 10px;
   color: white;
 }

 .circularbtn {
   background-color: #FFF;
   text-transform: uppercase;
   border: 1px solid #26a69a;
   border-radius: 3em;
   display: inline-block;
   font-size: 12px;
   font-weight: 600;
   line-height: 1.3;
   margin-left: 10px;
   margin-top: 10px;
   padding: 9px 9px;
   height: 40px;
   text-align: center;
   transition: all .25s ease;
   cursor: pointer;
 }

 .footer {
   padding: 4.78571em 0px;
   background: #232931;
   color: rgb(255, 255, 255);
   padding: 2em 1em;
   z-index: 0;
 }

 /*  Landing page */
 #imgbg {
   background-image: url("../images/koume_bg1.webp");
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center;
 }


 .cd-section {
   width: 100%;
   min-height: 610px;
   background: rgba(0, 0, 0, 0.6) url('../images/koume_bg1.webp');
   background-blend-mode: darken;
   background-position: center;
 }

 .ce-section {
   width: 100%;
   min-height: 610px;
   /*background: rgba(190, 187, 187, 0.6);*/
   /*background-blend-mode: darken;*/
   background-position: center;
 }



 .cd-modal-action .btn {
   display: inline-block;
   height: 4em;
   border-color: #FFF;
   text-align: center;
   width: 12.5em;
   border-radius: 5em;
   color: #ffffff;
   line-height: 4em;
   white-space: nowrap;
   font-weight: 700;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   -webkit-transition: color 0.2s 0.3s, width 0.3s 0s;
   -moz-transition: color 0.2s 0.3s, width 0.3s 0s;
   transition: color 0.2s 0.3s, width 0.3s 0s;
 }

 .cd-section p {
   margin: 2em 0;
   padding: 3em 7em;
   line-height: 1.6;
   text-align: center;
   font: 24px/34px "expertsans", sans-serif;
   color: #ffffff;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
 }