<!-- members view -->
<script type="text/javascript">
var template, data, html;
var gotTemplate, gotData;

$(function() {

 gotTemplate = gotData = false;
 
 $.get( "templates/tblmembers.mustache", null, function( ajaxData ) {
    template = ajaxData;
    gotTemplate = true;
    if ( gotData ) processTemplate();
  } )
  
   $.getJSON( "config/funcs.php?function=fetchmembers", null, function( ajaxData ) {
    data = ajaxData;
    gotData = true;
    if ( gotTemplate ) processTemplate();
  } ); 
 	
}); //function

function processTemplate() {
  html = Mustache.render( template, data );
  $('#membersTable').html( html );
}
</script>
					
<div id="membersTable"></div>

 <script>
  var handleDataTableButtons = function() {
	  "use strict";
	  0 !== $("#datatable-buttons").length && $("#datatable-buttons").DataTable({
		dom: "Bfrtip",
		buttons: [{
		  extend: "copy",
		  className: "btn-sm"
		}, {
		  extend: "csv",
		  className: "btn-sm"
		}, {
		  extend: "excel",
		  className: "btn-sm"
		}, {
		  extend: "pdf",
		  className: "btn-sm"
		}, {
		  extend: "print",
		  className: "btn-sm"
		}],
		responsive: !0
	  })
	},
	TableManageButtons = function() {
	  "use strict";
	  return {
		init: function() {
		  handleDataTableButtons()
		}
	  }
	}();
</script>
<script type="text/javascript">
  $(document).ready(function() {
	$('#datatable').dataTable();
	$('#datatable-keytable').DataTable({
	  keys: true
	});
	$('#datatable-responsive').DataTable();
	$('#datatable-scroller').DataTable({
	  ajax: "js/datatables/json/scroller-demo.json",
	  deferRender: true,
	  scrollY: 380,
	  scrollCollapse: true,
	  scroller: true
	});
	var table = $('#datatable-fixed-header').DataTable({
	  fixedHeader: true
	});
  });
  TableManageButtons.init();
</script>


	
							
							
							
						 
