<?php


require_once("../config-small.php"); //loads the system configuration settings

$members=fetchMembers();
			
?>
<script>
$(document).ready(function() {
    $('#datatable-responsive').DataTable( {
        "ajax": 'config/funcs.php?function=fetchmembers'
    } );
} );
</script>
        <div class="">
          <div class="page-title">
            <div class="title_left">
              <h3>
                   <a href="." type="button"><i class="fa fa-arrow-circle-left"></i></a> Manage Members
                    <small>
                        
                    </small>
                </h3>
            </div>

            <div class="title_right">
              <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search for...">
                  <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                </div>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>

          <div class="row">


		  <div class="col-md-12">
			<div class="x_panel">
			  <div class="x_content">
			  

							
			   <div id="memberTabs" class="" role="tabpanel" data-example-id="togglable-tabs">
				<ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
				  <li id="homeTab" role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Home</a>
				  </li>
				  <!--li role="presentation" class=""><a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Profile</a>
				  </li>
				  <li role="presentation" class=""><a href="#tab_content3" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">Profile</a>
				  </li-->
				</ul>
				<div id="myTabContent" class="tab-content">
					
					<div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab" tabindex='1'>
							  
					  <div class="col-md-12 col-sm-12 col-xs-12">
                        <p class="text-muted font-13 m-b-30">
                          
                        </p>
                        <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                          <thead>
                            <tr>
                              <th>FirstName</th>
                              <th>LastName</th>
                              <th>Adress</th>
                              <th>Surburb</th>
                              <th>Locality</th>
                              <th>City</th>
                              <th>Country</th>
							  <th>Sex</th>
                              <th>Phone</th>
                              <th>E-mail</th>
							  <th>Actions</th>
                            </tr>
                          </thead>
                          <tbody>
						  <?php 
						  foreach($members as $row){
						  ?>
                            <tr id="member<?php echo $row["id"];?>">
                              <td><a onclick="viewMemberTab(<?php echo $row["id"];?>,'<?php echo $row["firstName"];?>')" style="cursor:pointer;"><?php echo $row["firstName"];?></a></td>
                              <td><?php echo $row["lastName"];?></td>
                              <td><?php echo $row["address"];?></td>
                              <td><?php echo $row["surburb"];?></;?></td>
                              <td><?php echo $row["locality"];?></;?></td>
                              <td><?php echo $row["city"];?></;?></td>
                              <td id="country<?php echo $row["id"];?>"><?php echo $row["country"];?></td>
							  <td><?php echo $row["sex"];?></td>
                              <td><?php echo $row["phone"];?></td>
                              <td><?php echo $row["email"];?></td>
							  <td><a id="edit<?php echo $row['id']; ?>" onclick="editMember(<?php echo $row["id"];?>)" class="btn btn-info btn-xs"><i class="glyphicon glyphicon-pencil"></i></a>
							  <a  id="delete<?php echo $row['id'];?>" onclick="deleteMember(<?php echo $row['id'];?>)" class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-remove"></i></a></td>
                            </tr>
							
						  <?php }?>
                           
                          </tbody>
                        </table>
						
							
							
							
							
							
						  </div>
						  <?php foreach($members as $row){?>
						  <div role="tabpanel" class="tab-pane fade" id="tab_content<?php echo $row["id"];?>" aria-labelledby="profile-tab">
							
						  </div>
						  <?php }?>
						</div>
					  </div>

					

                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /page content -->
 <script>
          var handleDataTableButtons = function() {
              "use strict";
              0 !== $("#datatable-buttons").length && $("#datatable-buttons").DataTable({
                dom: "Bfrtip",
                buttons: [{
                  extend: "copy",
                  className: "btn-sm"
                }, {
                  extend: "csv",
                  className: "btn-sm"
                }, {
                  extend: "excel",
                  className: "btn-sm"
                }, {
                  extend: "pdf",
                  className: "btn-sm"
                }, {
                  extend: "print",
                  className: "btn-sm"
                }],
                responsive: !0
              })
            },
            TableManageButtons = function() {
              "use strict";
              return {
                init: function() {
                  handleDataTableButtons()
                }
              }
            }();
        </script>
        <script type="text/javascript">
          $(document).ready(function() {
            $('#datatable').dataTable();
            $('#datatable-keytable').DataTable({
              keys: true
            });
            $('#datatable-responsive').DataTable();
            $('#datatable-scroller').DataTable({
              ajax: "js/datatables/json/scroller-demo.json",
              deferRender: true,
              scrollY: 380,
              scrollCollapse: true,
              scroller: true
            });
            var table = $('#datatable-fixed-header').DataTable({
              fixedHeader: true
            });
          });
          TableManageButtons.init();
        </script>

		
 <script src="js/mustache.min.js" type="text/javascript"></script>