
	


<div width="100%" bgcolor="#DBDFE2" style="margin:0">
	<center style="width:100%;background:#dbdfe2;text-align:left">
		
		<div style="display:none;font-size:1px;line-height:1px;max-height:0px;max-width:0px;opacity:0;overflow:hidden;font-family:sans-serif">
			(Optional) This text will appear in the inbox preview, but not the email body.
		</div>

		<div style="max-width:680px;margin:auto" class="m_4849519662486379271email-container">

			<table role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center" width="100%" style="max-width:680px">
				<tbody><tr>
					<td style="padding:10px 0;text-align:left">
						<img src="https://ci5.googleusercontent.com/proxy/aVLBuwa3YICoASY4vytKydD64JESB5t9lEQuhKFmEs0VGkuHW44yk4pL_Wb_Qume1UXCsMdnKmJz-Cgk6oICaZVn9F9o2OZ2p5QdAK49lRRUU1IK2OpHpi5O1-tTbkwEuUCcCKfKkdA=s0-d-e1-ft#https://ztfministry.org/templates/shaper_educon/html/com_easyarticles/emails/logo.png" aria-hidden="true" width="160" height="40" alt="Logo" border="0" style="height:auto;background:#dddddd;font-family:sans-serif;font-size:15px;line-height:20px;color:#555555" class="CToWUd">
					</td>
				</tr>
			</tbody></table>

			<table role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center" width="100%" style="max-width:680px" class="m_4849519662486379271email-container">

				<tbody><tr>
	<td bgcolor="#ffffff">
		<table role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" width="100%">
			<tbody><tr>
				<td style="padding:20px 20px 0px;font-family:sans-serif;font-size:18px;line-height:20px;color:#999999;text-align:left">
					<p style="margin:0">Dear #FIRSTNAME#</p><br><br>
				</td>
			</tr>
			<tr>
				<td style="padding:0px 20px 20px;text-align:left">
					<h1 style="margin:0;font-family:sans-serif;font-size:14px;line-height:27px;color:#666666;font-weight:normal">A new user account has been created for you on the World Conquest Database web application.</h1>
				</td>
			</tr>
		</tbody></table>
	</td>
</tr>
<tr>
	<td dir="ltr" bgcolor="#ffffff" align="center" height="100%" valign="top" width="100%" style="padding:10px 0">
		<table role="presentation" aria-hidden="true" border="0" cellpadding="0" cellspacing="0" align="center" width="100%" style="max-width:660px">
			<tbody><tr>
				<td align="center" valign="top" style="font-size:0;padding:10px 0">
					<div style="display:inline-block;min-width:320px;vertical-align:top" class="m_4849519662486379271stack-column">
						<table role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" width="100%">
							<tbody><tr>
								<td colspan="2" valign="top" style="padding:10px"><font style="font-size:20px" face="Helvetica Neue Light, Helvetica, Arial" color="#666666">Account Information</font></td>
				                 </tr>
				               <tr>
				                 <td width="21%" valign="top" style="padding:10px"><font style="font-size:14px" face="Helvetica Neue Regular, Helvetica, Arial" color="#a7a7a7">Username: </font></td>
				                 <td width="79%" valign="top" style="padding:10px"><font style="font-size:14px" face="Helvetica Neue Regular, Helvetica, Arial" color="#666666">#USERNAME#</font></td>
				               </tr>
				               <tr>
				                 <td valign="top" style="padding:10px"><font style="font-size:14px" face="Helvetica Neue Regular, Helvetica, Arial" color="#a7a7a7">Password:</font></td>
				                 <td valign="top" style="padding:10px"><font style="font-size:14px" face="Helvetica Neue Regular, Helvetica, Arial" color="#666666">#PASSWORD#</font></td>
				               </tr>
								
							</tr>
						</tbody></table>
					</div>
				</td>
			</tr>
		</tbody></table>
	</td>
</tr>

<tr>
	<td bgcolor="#ffffff">
		<table role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" width="100%">
			<tbody><tr>
				
			</tr>
			<tr>
				<td style="padding:0 20px 40px;font-family:sans-serif;font-size:15px;line-height:20px;color:#555555">
					<table role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center">
						<tbody><tr>
							<td style="border-radius:3px;background:#54c063;text-align:center" class="m_4849519662486379271button-td">
								<a href="#SITE_URL/activate-account.php?token=#ACTIVATION-KEY" style="background:#54c063;border:15px solid #54c063;font-family:sans-serif;font-size:13px;line-height:1.1;text-align:center;text-decoration:none;display:block;border-radius:3px;font-weight:bold" class="m_4849519662486379271button-a" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://ztfministry.org/resources/recent-articles/1000-praying-during-a-fast-zacharias-t-fomum&amp;source=gmail&amp;ust=1541575053891000&amp;usg=AFQjCNHm95spjPQOPVWO_3ZjdHNiJtaUHw">
									<span style="color:#ffffff" class="m_4849519662486379271button-link">&nbsp;&nbsp;&nbsp;&nbsp;Activate Account &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
								</a>
							</td>
							<td></td>

						</tr>
					</tbody></table>
				</td>
			</tr>
			<tr>
			<td style="padding:0 20px 40px;font-family:sans-serif;font-size:14px;line-height:20px;color:#555555;text-align:left">
					<p style="margin:0">If button above does not work, kindly paste this link in your browser: #SITE_URL/activate-account.php?token=#ACTIVATION-KEY
</p>
				</td>
			</tr>
		</tbody></table>

	</td>
</tr>
				<tr>
					<td height="40" style="font-size:0;line-height:0">
						&nbsp;
					</td>
				</tr>

			</tbody></table>
			<table role="presentation" aria-hidden="true" cellspacing="0" cellpadding="0" border="0" align="center" width="100%" style="max-width:680px">
				<tbody><tr>
					<td style="padding:40px 10px;width:100%;font-size:12px;font-family:sans-serif;line-height:18px;text-align:center;color:#888888" class="m_4849519662486379271x-gmail-data-detectors">
						<u></u>Christian Missionary Fellowship International; Koume, Bertoua, Cameroon.<u></u>
						<br><br>
						<br><br>
											</td>
				</tr>
			</tbody></table>
		</div>
	</center><div class="yj6qo"></div><div class="adL">
</div></div><div class="adL">


</div>