<!--Event Dash-->
<div id="eventDash">
    <!-- top tiles -->
    <div id="top_tiles" class="row tile_count">
        <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
            <div class="left"></div>
            <div class="right">
                <span class="count_top"><i class="fa fa-user"></i> Registered Delegates</span>
                <div class="count green" onclick="showPage('view_registrations')" style="cursor: pointer; ">
                    {{delegates}}</div>
                <!-- <span class="count_bottom"><i class="green">4% </i> From last Week</span> -->
            </div>
        </div>
        <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
            <div class="left"></div>
            <div class="right">
                <span class="count_top"><i class="fa fa-clock-o"></i> Nations</span>
                <div class="count" onclick="showPage('admin_nations')" style="cursor: pointer; ">{{nations}}</div>
                <!-- <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>3% </i> From last Week</span> -->
            </div>
        </div>
        <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
            <div class="left"></div>
            <div class="right">
                <span class="count_top"><i class="fa fa-user"></i> Total Towns</span>
                <div class="count">{{cities}}</div>
                <!-- <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span> -->
            </div>
        </div>

        <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
            <div class="left"></div>
            <div class="right">
                <span class="count_top"><i class="fa fa-user"></i> Total Males</span>
                <div class="count">{{males}}</div>
                <!-- <span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i>12% </i> From last Week</span> -->
            </div>
        </div>
        <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
            <div class="left"></div>
            <div class="right">
                <span class="count_top"><i class="fa fa-user"></i> Total Females</span>
                <div class="count">{{females}}</div>
                <!-- <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span> -->
            </div>
        </div>
        <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
            <div class="left"></div>
            <div class="right">
                <span class="count_top"><i class="fa fa-user"></i> Total Checked-in</span>
                <div class="count">{{checkIns}}</div>
                <!-- <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span> -->
            </div>
        </div>


    </div>
    <!-- /top tiles -->

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>{{eventTitle}}<small>Registrations : top 20 nations</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Attendance Report</a>
                                </li>
                                <li><a href="#">Nations Report</a>
                                </li>
                            </ul>
                        </li>
                        <!--li><a class="close-link"><i class="fa fa-close"></i></a>
              </li-->
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <canvas id="mycanvas"></canvas>
                </div>
            </div>
        </div>
    </div>


</div>
<!--/Event Dash-->






<!--Vue-->
<script type="text/javascript" src="js/vue.js"></script>
<!--Axios-->
<script type="text/javascript" src="js/axios.js"></script>
<!-- tags -->
<script src="js/tags/jquery.tagsinput.min.js"></script>
<!-- input tags -->


<script>
    $(function () {
        show('event_menu');


    });

</script>
<!--/New Member -->



<script>

    var id = getId(1);


    new Vue({
        el: '#eventDash',
        data() {
            return {
                id: 0,
                delegates: null,
                nations: null,
                cities: null,
                eventTitle: null,
                eventDesc: null,
                startDate: null,
                endDate: null,
                eventCountry: null,
                eventLeader: null,
                eventVenue: null,
                regFee: null,
                males: 0,
                females: 0,
                checkIns: 0
            }
        },
        mounted() {
            axios
                .get("app/api/funcs.php?fn=fetchEvent&id=" + id)
                .then(res => {
                    console.log(res);
                    var data = res.data;
                    this.delegates = data.registrations;
                    this.nations = data.nations;
                    this.cities = data.cities;
                    this.eventTitle = data.title;
                    this.eventDesc = data.eventDesc;
                    this.eventVenue = data.eventVenue;
                    this.startDate = data.startDate;
                    this.endDate = data.endDate;
                    this.regFee = data.regFee;
                    this.eventLeader = data.eventLeader;
                    this.image = data.image;
                    this.eventId = data.eventId;
                    this.eventSite = data.eventSite;
                    this.id = data.eventId;
                    this.males = data.males;
                    this.females = data.females;
                    this.checkIns = data.checkIns;
                });


            plotChart();

        },
        methods: {
            moment: function () {
                return moment();
            }

        },
        filters: {
            moment: function (date) {
                return moment(date).format('MMMM Do YYYY');
            }
        }
    })


    function plotChart() {
        $.ajax({
            url: "app/api/funcs.php?fn=fetchEventRegNatBar&id=" + id,
            method: "GET",
            success: function (data) {
                //console.log(data);
                var country = [];
                var male = [];
                var female = [];
                var jsonArr = jQuery.parseJSON(data);

                for (var i in jsonArr) {
                    country.push(jsonArr[i].country);
                    male.push(jsonArr[i].male);
                    female.push(jsonArr[i].female);
                }
                //console.log(country);

                var chartdata = {
                    labels: country,
                    datasets: [
                        {
                            label: 'Male Delegates Registered',
                            backgroundColor: 'rgba(200, 200, 200, 0.75)',
                            borderColor: 'rgba(200, 200, 200, 0.75)',
                            hoverBackgroundColor: 'rgba(200, 200, 200, 1)',
                            hoverBorderColor: 'rgba(200, 200, 200, 1)',
                            data: male
                        },
                        {
                            label: 'Female Delegates Registered',
                            backgroundColor: 'rgba(200, 200, 200, 0.75)',
                            borderColor: 'rgba(200, 200, 200, 0.75)',
                            hoverBackgroundColor: 'rgba(200, 200, 200, 1)',
                            hoverBorderColor: 'rgba(200, 200, 200, 1)',
                            data: female
                        }
                    ]
                };
                Chart.defaults.global.legend = {
                    enabled: false
                };
                // Bar chart
                var ctx = document.getElementById("mycanvas");
                var mycanvas = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: country,
                        datasets: [{
                            label: 'male delegates registered',
                            backgroundColor: "#26B99A",
                            data: male
                        },
                        {
                            label: 'female delegates registered',
                            backgroundColor: "#03586A",
                            data: female
                        }
                        ]
                    },

                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });
            },
            error: function (data) {
                console.log(data);
            }
        });
    }





</script>