<style type="text/css">
  #eventsRegTable tr .links {
    display: none;
  }

  #eventsRegTable tr:hover .links {
    display: block;
  }

  .selected {
    background-color: red;
  }

  #eventsRegTable tr td {
    font-size: 11px;
  }

  .session li:hover span {
    display: block;
  }

  .session li span {
    display: none;
    padding: 3px;
    line-height: 8px;
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: 0px;
  }
</style>
<script src="js/JsBarcode-master/dist/JsBarcode.all.js"></script>


<div class="x_panel">
  <div class="x_title">
    <h2>Attendance <small>check-in delegates</small></h2>
    <ul class="nav navbar-right panel_toolbox">
      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i
            class="fa fa-wrench"></i></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Settings 1</a>
          </li>
          <li><a href="#">Settings 2</a>
          </li>
        </ul>
      </li>
      <li><a class="close-link"><i class="fa fa-close"></i></a>
      </li>
    </ul>
    <div class="clearfix"></div>
  </div>
  <div class="x_content">

    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel" style="background-color: #d3d3d3">
        <form id="eventRegForm">
          <input id="eventId" name="eventId" value="" type="hidden" />
        </form>

        <div class="row">
          <div class="form-group col-xs-8" style="border: 2px dashed #E0E0E0;    padding: 5px 10px;">

            <label class="control-label col-md-3 col-sm-3 col-xs-12">Barcode Input</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="text" class="form-control" name="barcodeEntry" id="barcodeEntry" autofocus>
            </div>

          </div>
          <div class="col-xs-2"></div>
          <!-- <div class="form-group col-xs-6">
            <label class="control-label col-md-2 col-sm-2 col-xs-12">Select Member(s)</label>
            <div class="col-md-7 col-sm-7 col-xs-12">
              <select id="membersDropDown" class="select2_multiple form-control leaders" multiple="multiple"
                style="width:100%;">
                <option value="select2"></option>
              </select>
            </div>
            <button id="btnCheckin" onclick="checkIn()" class="btn btn-sm btn-success"><i
                class="icon-user-following"></i>
              Check-in</button>
          </div> -->

          <div class="cols-xs-2"> <input id="dateinput" type="hidden"></div>
        </div>
      </div>
      <script>
        $("#dateinput").change(function () {
          var date = $("#dateinput").val();
          addSessionDate(date);
        });
      </script>
      <div id="eventDates" class="row">
        <!-- date tiles-->


        <!--/date tiles-->

      </div>

    </div>

    <!--Modal for new session-->
    <!-- Add New Member -->
    <div id="newSession" class="modal fade newSession" tabindex="-1" role="dialog" aria-hidden="true"
      style="z-index: 1400;">
      <div class="modal-dialog modal-sm" style="max-height:85%;  margin-top: 50px; margin-bottom:50px;">
        <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="sessionTitle">Create New Session </h4>
          </div>
          <form id="sessionForm" method="POST" action="">
            <div class="modal-body">
              <div class="form-group">
                <label for="depaturedate">Session Name</label>
                <input type="text" class="form-control" id="name" name="name" required="required"
                  placeholder="session name">
              </div>
              <div class="form-group">
                <label for="depaturedate">Description</label>
                <input type="text" class="form-control" id="description" name="description" required="required"
                  placeholder="session name">
              </div>
              <div class="form-group">
                <label for="depaturedate">font awesome Icon</label>
                <input type="text" class="form-control" id="icon" name="icon" required="required"
                  placeholder="fa fa-users">
              </div>
            </div>
          </form>
          <div class="modal-footer">
            <button type="submit" class="btn btn-sm btn-default" data-dismiss="modal">Cancel</button>
            <button onclick="addSession();" type="submit" class="btn btn-sm btn-primary"
              data-dismiss="modal">Save</button>
          </div>
        </div>
      </div>
    </div>

    <!--/End of new session modal-->

    <!--View Session Modal-->
    <div id="viewSession" class="modal fade viewSession" tabindex="-1" role="dialog" aria-hidden="true"
      style="z-index: 1400;">
      <div class="modal-dialog modal-lg" style="margin-top: 50px;">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="sessionTitle">Create New Session </h4>
          </div>
          <div class="modal-body">
            <!-- start member registration table -->
            <table id="eventsRegTable" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0"
              width="100%">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Nation</th>
                  <th>City</th>
                  <th>Checked-in Time</th>
                  <th>Code</th>
                  <th>Action</th>

                </tr>
              </thead>
            </table>
          </div>
          <div style="margin-top:10px;">
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-sm btn-default" data-dismiss="modal">Cancel</button>
            <!-- <button type="submit" class="btn btn-sm btn-primary" data-dismiss="modal">Save</button> -->
          </div>

        </div>

      </div>
    </div>
  </div>
  <!--/End of view session modal-->


  <script>
    $(function () {


      initialiseCountryCombo();
      initialiseSessionsCombo();
      /*  $("#localitiez").select2({ //create locality leaders drop down
         maximumSelectionLength: 1,
         placeholder: "Max 1",
         allowClear: true
       }); */

      var id = getId(1);

      $.get(`${api_base_url}/cmfi_event_sessions?filter=eventId,eq,${id}`, function (data) {
        res = data.records;
        var html = '';
        var childrenElem = '';
        var c = 0;
        var s = "";
        var itemsProcessed = 0;
        res.forEach(el => {
          if (el.class == "selected") {
            sessionStorage.setItem("sessionId", el.id);
            sessionStorage.setItem("sessionDate", el.start);
          }
          if (el.parent == 0) {
            $("#eventDates").append(`
                    <div class="col-md-3">
                <div class="x_panel " style="background-color: #f1eeee;">
                  <div class="x_title">
                      <h2 style="font-size:14px;">${mt(el.start)}</h2>
                      <ul class="nav navbar-right panel_toolbox">
                          <li>&nbsp;
                        </li>
                        <li><a class="close-link" onclick="deleteSessionDate(${el.id});"><i class="fa fa-trash"></i></a>
                        </li>
                      </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content" style="display: block;">
                    <!-- session tiles-->
                    <ul class="list-one nav" id="parent_${el.id}">
                      
                    </ul>
                    
                    <!--/End session tiles-->
                    <div style="margin-top:15px;"></div>
                    <div class="nav pull-right">
                      <a onclick="sessionStorage.setItem('newSessionDate','${el.start}');sessionStorage.setItem('sessionParent',${el.id});" data-toggle="modal" data-target=".newSession" class="btn btn-xs btn-success"><i class="glyphicon glyphicon-plus-sign"></i></a>
            
                    </div>
                  </div>
                </div>

              </div>
            
                    `)
          }

        })

        //populate the children
        res.forEach(el => {
          if (el.parent != 0) {

            $.get(`${api_base_url}/cmfi_event_attendance?filter=sessionId,eq,${el.id}`,
              function (data) {
                var x = data.records.length;
                sessionStorage.setItem("sessionCount", x);

                $("#parent_" + el.parent).append(`<li class="session ${el.class}" draggable="true">
                  
                    <a id="${el.id}" ondblclick="
                    clearRows();
                    setTimeout(function () {
                      select(${el.id})
            }, 1000);
                    "  class="btn btn-app">
                   <span onclick="viewSessionTable('${el.id}');" class="badge bg-green" id="count_${el.id}">${x}</span>
                    <i class="${el.icon}"></i> ${el.name}
                  </a></li>
                `)

              });
          }
        })


      })







    });
  </script>
  <!--/New Member -->

  <!-- tags -->
  <script src="js/tags/jquery.tagsinput.min.js"></script>
  <!-- input tags -->


  <!-- daterangepicker -->
  <script type="text/javascript" src="js/moment/moment.min.js"></script>
  <script type="text/javascript" src="js/datepicker/daterangepicker.js"></script>

  <!-- select2 -->
  <script>
    var eventId = getId(1);
    var barcodes = [];

    function mt(date) {
      return moment(date).format('MMMM Do YYYY');
    }

    $(document).ready(function () {
      // console.log('attendance eventId:',id);
      eventRegForm.eventId.value = eventId;
      //$(".select2_group").select2({});
      /*  $("#membersDropDown").select2({ //create house church leaders drop down
         maximumSelectionLength: 400,
         placeholder: "Select Delegates",
         allowClear: true
       }); */

      var n = 'GLB';
      //initialise combo for localities
      //initialiseLoclaitiesCombo(n)
    });


    function clearRows() {
      //clear all rows
      $.get(`${api_base_url}/cmfi_event_sessions?filter=eventId,eq,${eventId}`, function (data) {
        data.records.forEach(item => {
          $.ajax({
            url: `${api_base_url}/cmfi_event_sessions/${item.id}`,
            type: 'PUT',
            data: {
              class: ''
            }
          })
        })
      })


    }

    function select(id) {

      //update current row
      $.ajax({
        url: `${api_base_url}/cmfi_event_sessions/${id}`,
        type: 'PUT',
        data: {
          class: 'selected'
        },
        success: function (data) {
          showPage('check-in');
        }
      })

    }





    $("#barcodeEntry").keyup(function (e) {
      var code = (e.keyCode ? e.keyCode : e.which);
      if (code == 13) {
        e.preventDefault();
        var code = $(this).val();
        //make an array of delegates and only send it when there is a 3 sec paause or its more than 100

        if (barcodes.length <= 5) {
          barcodes.push(code);
          console.log(code)
          successNote("Done!", "Checked In request received!!");
        } else {
          checkInBCArray(barcodes);
          barcodes = []; //initialise barcodes
        }
        $("#barcodeEntry").val('');
        //check in delegates
        //checkInBC(code);

      }


    });

    $(document).ready(function () {
      $('#dateinput').datepicker({
        singleDatePicker: true,
        dateFormat: "yy-mm-dd",
        showOn: "button",
        buttonText: '<i class="glyphicon glyphicon-plus-sign"></i> New Date',
        changeYear: true,
        changeMonth: true,
        calender_style: "picker_4"
      }, function (start, end, label) {
        console.log(start.toISOString(), end.toISOString(), label);
      });
    });

    $(".ui-datepicker-trigger").addClass("btn btn-success")

    $("#date").on("click", function () {
      console.log("clicked");
      $("#dateinput").trigger("change");
    });

    $(".session").on("click", function () {
      alert("clicked session once");
    })


    function setSession(x) {
      console.log('clicked')

      //$("#".x).parent().addClass("selected").siblings().removeClass("selected");
    }

    $(".list-one a").click(function () {
      console.log("clicked")
      $(this).parent().addClass("selected").siblings().removeClass("selected");

    });


    function viewSessionTable(sessionId) {
      $('#viewSession').modal('show');
      var id = getId(1);
      $('#eventsRegTable').dataTable().fnDestroy();
      $('#eventsRegTable').DataTable({
        "ajax": {
          "url": api_base_url +
            "/cmfi_event_attendance?join=cmfi_event_registration,cmfi_members,cmfi_countries&filter=sessionId,eq," +
            sessionId,
          "dataSrc": "records"
        },
        "columns": [{
            "data": "regId"
          },
          {
            "data": "regId"
          },
          {
            "data": "regId"
          },
          {
            "data": "date"
          },
          {
            "data": "regId"
          },
          {
            "data": "id",
            "width": 40
          }
        ],
        columnDefs: [{
            targets: 4,
            render: function (data, type, full, meta) {
              if (type === 'display') {
                data = `<div class="button-group">
                             <!--a onclick="showMemberCard(${data})" class="btn btn-xs btn-primary"><i class="fa fa-info-circle"></i> </a--> 
                             <a onclick="eventUncheck(${data})" class="btn btn-danger btn-xs "><i class="fa fa-trash"></i> </a>
                             </div>`;
              }

              return data;
            }
          },

          {
            targets: 0,
            render: function (data, type, full, meta) {
              if (type === 'filter' || type === 'display') {
                data =
                  `<a onclick="showMemberCard(${data.memberId.id})">${data.memberId.firstName}&nbsp;${data.memberId.lastName}</a>`;
              }

              return data;
            }

          },
          {
            targets: 1,
            render: function (data, type, full, meta) {
              if (type === 'filter' || type === 'display') {
                data = data.memberId.country.name;
              }

              return data;
            }

          }, {
            targets: 2,
            render: function (data, type, full, meta) {
              if (type === 'filter' || type === 'display') {
                data = data.memberId.city;
              }

              return data;
            }

          }
        ],
        dom: "Bfrtip",
        buttons: [{
          extend: "copy",
          className: "btn-sm"
        }, {
          extend: "csv",
          className: "btn-sm"
        }, {
          extend: "excel",
          className: "btn-sm"
        }, {
          extend: "pdf",
          className: "btn-sm"
        }, {
          extend: "print",
          className: "btn-sm"
        }]
      });

    }
  </script>