<link rel="stylesheet" href="css/badges1.css?rnd=132">
<script src="js/JsBarcode-master/dist/JsBarcode.all.js"></script>
<div class="">
    <div class="clearfix"></div>

    <div class="row">


        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Badge Settings <small>Configuration Panel</small></h2>
                    <ul class="nav navbar-right panel_toolbox">

                        <a data-toggle="modal" href=".addBadgeProp" class="btn btn-success btn-xs"> <i
                                class="glyphicon glyphicon-plus"> </i> Add Setting</a>`
                        <a class="btn btn-xs btn-success" onclick="commitBadgeCSS() ;"> Commit Settings</a>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <p class="text-muted font-13 m-b-30">

                    </p>
                    <table id="badge_set_datatable" class="table table-striped table-bordered dt-responsive "
                        cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Property</th>
                                <th>Value</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                    </table>

                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col xs-12">
            <div id="idCard">

                <page size="A6" id="badgeItem${d.id}">
                    <div class="id-card">

                        <div class="imgContainer">
                            <div class="header ">
                                <img src="images/events/LOGO CONVENTION_officiel.jpg"
                                    style="width: 100%;top: 0px;margin-top: 0px;">
                                <h2 id="eventTitle"
                                    class="centered custom-font-element custom-font-4  vc_custom_1431297137931" style="font-size: 20px;
                                  top:26px;
                                  width:100%;
                                  font-weight: 700;
                                  line-height: 17px;
                                  text-transform: uppercase;
                                  letter-spacing: 0.5px;
                                  /*text-shadow:1px 1px #333333;*/
                                  color: #00008b; ">
                                    Event Title</h2>
                            </div>
                            <div class="profilePic" id="photo">
                                <img class="img-responsive avatar-view" src="app/images/members/user.png" alt="Avatar"
                                    onerror="if (this.src != 'app/images/members/user.png') this.src = 'app/images/members/user.png';" />
                            </div>
                        </div>
                        <h2 id="memberName">FirstName LastName</h2>
                        <div class="qr-code">
                            <img id="barcode" height="40px" width="80px" />
                        </div>
                        <h3 style="font-size:18px;">City</h3>
                        <h2 class="custom-font-element custom-font-4  vc_custom_1431297137931"
                            style=" line-height:28px; text-transform:uppercase; letter-spacing:1px; color:#333333;font-size:24px; ">
                            Country</h2>
                        <div class="separator"></div>
                        <div class="card_delegate_role" style="height:70px;">
                            <p style="font-size: 24px;height:40px; "><strong>DELEGATE</strong></p>
                            <p
                                style="font-size: 20px;height:30px; background-color:#EEA91E;text-shadow: 1px 1px #333333;">
                                <strong>Role Specification</strong></p>
                            <br />
                        </div>
                    </div>
                </page>

            </div>
        </div>
    </div>
</div>


<!-- /page content -->

<!--Vue-->
<script type="text/javascript" src="js/vue.js"></script>
<!--Axios-->
<script type="text/javascript" src="js/axios.js"></script>

<script>
    JsBarcode("#barcode", 123, {
        displayValue: false,
        //fontSize:24,
        lineColor: "#0cc"
    });

    var id = getId(1);

    $('#badge_set_datatable').DataTable({
        responsive: true,
        "ajax": {
            "url": api_base_url +
                "/cmfi_badge_design",
            "dataSrc": "records"
        },
        "columns": [{
                "data": "prop"
            },
            {
                "data": "value"
            },
            {
                "data": "id"
            }

        ],
        columnDefs: [{
                targets: 2,
                render: function (data, type, full, meta) {
                    console.log(full.id);
                    if (type === 'filter' || type === 'display' || type === "sort") {
                        data =
                            `<a id = "editset${data}" onclick = "editSet(${data},'badges')" class = "btn btn-info btn-xs"> <i id="editsetIcon${data}" class = "glyphicon glyphicon-pencil" > </i></a >
                        <a  onclick = "deleteBadgeSetting(${data});" class = "btn btn-danger btn-xs" > <i class = "glyphicon glyphicon-trash" > </i></a >`

                    }

                    return data;
                }
            },
            {
                targets: 0,
                render: function (data, type, full, meta) {
                    if (type === 'filter' || type === 'display' || type === "sort") {
                        data = `<p id = "name${full.id}">${data}</p >`;
                    }

                    return data;
                }
            },
            {
                targets: 1,
                render: function (data, type, full, meta) {
                    if (type === 'filter' || type === 'display' || type === "sort") {
                        data = `<p id = "value${full.id}">${data}</p >`;
                    }

                    return data;
                }
            }
        ],
        order: [
            [0, 'asc']
        ]
    });



    new Vue({
        el: '#idCard',
        data: {
            title: '',
            logo: ''
        },
        methods: {

        },
        mounted() {
            axios.get(
                    `${api_base_url}/cmfi_events?filter=eventId,eq,${id}`
                )
                .then(res => {
                    //console.log(res);
                    var d = res.data.records[0];
                    this.title = d.eventTitle;
                    this.logo = d.image;

                })



        }
    })
</script>