
    <div class="pl-4 pr-4">
 		     <div class="page-title mid_center" >
            <div class="title_right">
              <div class="col-md-5 col-sm-5 col-xs-12 form-group mid_center top_search">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search events...">
                  <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
          <div class="col-md-12">
            <div class="x_panel">
                  <div class="x_title">
                    <h2><a onclick="routie('/');"><i class="fa fa-chevron-circle-left" style="font-size:32px;"></i></a>&nbsp;Top Upcoming Events <small> only featured events </small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <div class="row" id="eventsDiv">
                    </div>
                </div>
          </div>
      </div>
        <!--div class="col-md-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Featured Content <small> latest podcast</small></h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Settings 1</a>
                    </li>
                    <li><a href="#">Settings 2</a>
                    </li>
                  </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <div class="col-md-6">
                <iframe width="100%" height="315" frameborder="no" src="https://www.youtube.com/embed/videoseries?list=PLupvm3CmFiw6TYoJRzpfqt7riuNRiGiOO" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
              <div class="col-md-6">
              <iframe width="100%" height="315" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/163690355&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
            </div>
          </div>
          </div>
        </div-->
        
        
        <div class="col-md-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Past Events <small> expired events for information</small></h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Settings 1</a>
                  </li>
                  <li><a href="#">Settings 2</a>
                  </li>
                </ul>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div   id="pastEventsDiv">
            </div>
          </div>
        </div>
    
      </div>
    </div>
  </div>
           <script type="text/javascript">
              
              //get and display current/upcoming events
                $.getJSON(api_base_url+'/cmfi_events?filter1=nation,eq,GLB&filter=isPrivate,eq,0&order=eventId,desc&size=6',
                 function(data) {
                  //console.log(data.records);
                  var events=data.records;

                  $('#eventsDiv').html(`
                      ${events.map(function(event){
                        var ends=moment(event.endDate).unix();
                        var now=moment().unix();
                        if (ends>=now){
                            return `
                            <div class="col-sm-3">
                            <div class="thumbnail">
                              <div class="image view view-first">
                                <img style="width: 100%;height:auto; display: block;" src="images/events/${getImage(event.image)}" alt="image" />
                                <div class="mask" onclick="routie('/event/${event.eventId}');">
                                  <span><p><i class="icon-info"></i>  ${event.eventDesc}</p></span>
                                  <br>
                                  <span><p><i class="icon-pin"></i>  ${event.eventVenue}</p></span>
                                  <div class="tools tools-bottom">
                                    <a onclick="routie('/event/${event.eventId}');"><i class="fa fa-link"></i></a>
                                    <a onclick="routie('/register');"><i class="fa fa-pencil"></i></a>
                                  </div>
                                </div>
                              </div>
                              <article class="media event caption" style="margin-top:5px;">
                              <a class="pull-left date">
                                <p class="month">${monthName((new Date(formatDate(event.startDate)).getMonth()))}</p>
                                <p class="day">${(new Date(formatDate(event.startDate))).getDate()}</p>
                              </a>
                              <div class="media-body">
                                <a class="custom-font-element custom-font-4  vc_custom_1431297137931" onclick="routie('/event/${event.eventId}');" style="font-size:11px; text-transform:uppercase; letter-spacing:1px; color:#333333; ">${event.eventTitle}</a>
                                <!--p>${event.eventDesc}</p-->
                              </div>
                            </article>
                            </div>
                          </div>
                            `;
                        }
                        else{
                          return '';
                        }
                      })
                      .join('')
                  }`);
                  

                }); 


                //get and display past events
                $.getJSON(api_base_url+'/cmfi_events?filter1=nation,eq,GLB&order=eventId,desc&size=6',
                 function(data) {
                  //console.log(data.records);
                  var events=data.records;

                  $('#pastEventsDiv').html(`
                  <ul class="list-unstyled msg_list">
                      ${events.map(function(event){
                        var ends=moment(event.endDate).unix();
                        var now=moment().unix();
                        if (ends<now){
                            return `
                            <div class="col-md-6 col-xs-12">
                            <li >
                              <a onclick="routie('/event/${event.eventId}');" >
                                  <span class="image">
                                    <img src="images/events/${getImage(event.image)}" alt="img" />
                                  </span>
                                  <span>
                                    <span>${event.eventTitle}</span>
                                    <span class="time">${(new Date(formatDate(event.startDate))).getDate()} ${monthName((new Date(formatDate(event.startDate)).getMonth()))} ${(new Date(formatDate(event.startDate))).getYear()}</span>
                                  </span>
                                  <span class="message">
                                    ${event.eventDesc.slice(1,189)}
                                  </span>
                                </a>
                              </li>
                              </div>
                            `;
                        }
                        else{
                          return '';
                        }
                      })
                      .join('')
                  }
                
                  </ul>`);
                  

                }); 
              


              
          </script>







