<style xmlns:v-bind="http://www.w3.org/1999/xhtml">
    @import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,900,600,500,800,700,300);
    @import url(https://fonts.googleapis.com/css?family=Covered+By+Your+Grace);

    #days {
        font-size: 200px;
        color: #db4844;
    }

    #hours {
        font-size: 150px;
        color: #f07c22;
    }

    #minutes {
        font-size: 100px;
        color: #f6da74;
    }

    #seconds {
        font-size: 50px;
        color: #abcd58;
    }

    #timer {
        text-align: center;
        font-family: 'Covered By Your Grace', cursive;
        color: white;
        background: #222;
    }

    #timer span {
        display: block;
        font-size: 20px;
        color: white;
    }

    #timer div {
        display: inline-block;
        line-height: 1;
        padding: 20px;
        font-size: 40px;

    }

    .custom-font .custom-font-element {
        display: inline-block;
    }

    .custom-font-4 {
        font-family: Raleway;
        font-weight: 800;
        font-style: normal;
        opacity: 1;
        visibility: visible;
        -webkit-transition: opacity 0.24s ease-in-out;
        -moz-transition: opacity 0.24s ease-in-out;
        transition: opacity 0.24s ease-in-out;
    }

    .custom-font-9 {
        font-family: "Crimson Text";
        font-weight: 400;
        font-style: italic;
        opacity: 1;
        visibility: visible;
        -webkit-transition: opacity 0.24s ease-in-out;
        -moz-transition: opacity 0.24s ease-in-out;
        transition: opacity 0.24s ease-in-out;
    }

    .vc_custom_1431297137931 {
        margin-bottom: 5px !important;
    }

    .vc_custom_1431297226472 {
        margin-bottom: 20px !important;
    }

    .za-btn:last-child {
        margin-right: 0;
    }

    .za-btn .button-text {
        position: relative;
    }

    /* buttons */
    .circularbtn {
        font-size: 12px;
        padding: 12px 35px;
        border: 2px solid rgb(168, 168, 168);
        border-radius: 35px;
        color: rgb(128, 128, 128);
        background-color: rgba(255, 255, 255, 0.01);
        " onmouseover="this.style.color='#23a8da';
        this.style.backgroundColor='#ffffff';
        this.style.borderColor='#ffffff';
        " onmouseout="this.style.borderColor='#808080';
        this.style.color='#C0C0C0';
        this.style.backgroundColor='rgba(251,251,251,0.01)';

    }

    .za-btn {
        position: relative;
        display: inline-block;
        line-height: normal;
        letter-spacing: 2px;
        text-transform: uppercase;
        margin-right: 12px;
        margin: 4px;
        transition: all 0.3s ease-in-out !important;
        -moz-transition: all 0.3s ease-in-out !important;
        -webkit-transition: all 0.3s ease-in-out !important;
        -o-transition: all 0.3s ease-in-out !important;
    }

    a,
    a:hover,
    a:active,
    a:focus,
    button,
    button:hover,
    button:active,
    button:focus {
        outline: 0;
        text-decoration: none;
    }

    h2 {
        font-family: Raleway;
        line-height: 32px;
        letter-spacing: 2px;
        font-weight: 600;
        font-style: normal;
        color: #333333;
        font-size: 22px;
        opacity: 1;
        visibility: visible;
        -webkit-transition: opacity 0.24s ease-in-out;
        -moz-transition: opacity 0.24s ease-in-out;
        transition: opacity 0.24s ease-in-out;
    }

    #video {
        border: none;
    }
</style>


<div class="pl-4 pr-4">


    <!-- <div class="x_panel " style="min-height: 590px;"> -->
    <div id="eventProfile" class="fullwidth section">

        <div class="x_content">

             <iframe width="100%" height="600" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/942526069&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>

           
        </div>
        <!-- </div> -->

    </div>

 </div>

 <script>
$(function(){
   
})
 
 </script>


 