
        <div class="pl-4 pr-4">
          <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="x_panel">
                    <div class="x_content">

                      <div class="col-xs-12">
                         <ul class="nav navbar-right panel_toolbox">
                            <li>
                              <a id="eventBtn"   onclick="showHideForm('eventAddForm')" role="button" aria-expanded="false"><i style="font-size: 36px" id="eventAddForm_icon" class="glyphicon glyphicon-plus-sign green"></i></a>
                              
                            </li>  
                          </ul>

                             <div id="eventAddForm" style="display: none;" >
                               <div class="clearfix"></div>
                            
                                  <div class="x_panel" style="background-color: #ededed;">
                                    <div class="x_title" id="evTitle">
                                      <h2>Add New Event <small>local event</small></h2>
                                    
                                      <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">
                                      <br />
                                      <div class="col-md-4">
                                          <div id="uploadForm1" class="avatarUploadForm">
                                            <a onclick="showHide('uploadForm1')" class="boxclose" type="button"></a>
                                            <form id="uploadimage" action="" method="post" enctype="multipart/form-data">
                                              <input class="form-control" id="image_file" name="image_file" type="file">
                                              <div id="event-id"></div>
                                            </form>
                                            <!--button class="btn btn-default" data-dismiss="modal" type="button">Close</button--><div style="margin:10px"></div>
                                            <button class="btn btn-primary btn-sm" onclick="uploadEventImage();" type="submit" name="submit" value="Upload">Upload image</button>
                                            <!--button class="btn btn-default btn-sm" data-toggle="modal" data-target=".imgUpload"><i class="glyphicon glyphicon-camera"></i> <?php echo lang("WEBCAM");?></button-->
                                            <!--button class="btn btn-default btn-sm" onclick="imgDisplay()"> img file</button-->
                                          </div>
                                            <div class="profile_img">
                                            
                                              <!-- end of image cropping -->
                                              <div id="avatar">
                                              <!-- Current avatar -->
                                              <div id="profileAvatar"  data-toggle="tooltip" data-placement="bottom" title="Change the event image">
                                              
                                              </div>
                                              </div>
                                              
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                    <form id="addEventForm" name="addEventForm" data-parsley-validate class="form-horizontal form-label-left" enctype="multipart/form-data" method="post" action="" >
                                        
                                        <fieldset>
                                         <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                          <input type="text" class="form-control has-feedback-left" name="eventTitle" id="eventTitle" placeholder="Event Title"  value="">
                                          <span class="fa fa-paint-brush form-control-feedback left" aria-hidden="true"></span>
                                        </div>   
                                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                          <input type="text" class="form-control has-feedback-left" id="reservation" name="reservation" placeholder="startDate - endDate" value="">
                                          <span class="fa fa-calendar form-control-feedback left" aria-hidden="true"></span>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                          <textarea type="text" rows="10" class="form-control has-feedback-left" id="eventDesc" name="eventDesc" placeholder="Description" value=""></textarea>
                                          <span class="fa fa-pencil form-control-feedback left" aria-hidden="true"></span>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                          <input type="text" class="form-control has-feedback-left" id="eventLeader" name="eventLeader" placeholder="Event Coordinator" value="">
                                          <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                          <label class="control-label col-md-3 col-sm-2 col-xs-11">
                                          Event Color</label>
                                          <div class="input-group demo2">
                                            <input type="text" class="form-control has-feedback-left" 
                                            id="eventColor"  name="eventColor" value="#8fff00">
                                             <span class="input-group-addon"><i></i></span>
                                           </div>  
                                        </div>
                                       <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                         <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                          Event Region</label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                             <select type="select" id="eventRegion" name="eventRegion" class="form-control">
                                                <option value="GLB"><i class="icon-globe-alt"></i> Global</option>
                                                <option value="GLB"><i class="icon-globe-alt"></i>Local</option>
                                              </select>
                                            </div> 
                                        </div>
                                         <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Event Venue</label>
                                                <div class="col-md-9 col-sm-9 col-xs-12">
                                                  <input type="text" id="eventVenue" name="eventVenue" 
                                                  value="" class="form-control" />
                                                </div>
                                         </div>
                                       <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                          <label class="control-label col-md-3 col-sm-3 col-xs-12">Registration Fee</label>
                                          <div class="col-md-9 col-sm-9 col-xs-12">
                                            <input type="text" id="regFee" name="regFee" value=""
                                             placeholder="Reg Fee" 
                                            class="form-control" />
                                            <!--  <span class="fa fa-dollar form-control-feedback left" aria-hidden="true"></span> -->
                                           </div>
                                       </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Att Criteria</label>
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                         <input type="text" id="criteria"
                                          name="criteria" value="" class="form-control" />
                                        </div>
                                    </div>
                             
                                    
                                    </fieldset>
                                    </div>
                                  </form>
                                  </div>
                                       
                                    
                                     <div class="pull-right" style="background-color: #ededed;">
                                          <div class="form-group" id="eventSubmit">
                                            <!--button type="submit" class="btn btn-primary">Cancel</button-->
                                            <button type="submit" onclick="updateEvent()" class="btn btn-success"><i class="icon-check "></i> Submit</button>
                                          </div>
                                      </div>
                                  </div>
                              </div>                             
                             </div>  
                      
                         

                        
                          <!-- Tab panes -->
                          <div class="tab-content">
                            <div class="tab-pane active" id="global">
                              <table id="globalEventsTable" class="table table-striped table-bordered dt-responsive nowrap responsive-utilities" cellspacing="0" width="100%">
                                <thead>
                                  <tr>
                                    <th></th>
                                    <th>Title</th>
                                    <th>Description</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Actions</th>

                                  </tr>
                                </thead>
                              </table>
                            </div>
                            <div class="tab-pane" id="cal">
                              
                            </div>
                          </div>
                        </div>
                         <div class="col-xs-2">
                          <!-- required for floating -->
                          <!-- Nav tabs -->
                          <!--ul class="nav nav-tabs tabs-right">
                            <li class="active"><a href="#global" data-toggle="tab"><i class="icon-globe-alt"></i> Global Events</a>
                            </li>
                            <li><a href="#cal" data-toggle="tab"><i class="icon-calendar"></i> Calendar</a>
                            </li>
                          </ul-->
                        </div>
                     </div>
                     
              </div>
            </div>
            <!-- /page content -->


    <!-- daterangepicker -->
  <script type="text/javascript" src="js/moment/moment.min.js"></script>
  <script type="text/javascript" src="js/datepicker/daterangepicker.js"></script>
          <!-- color picker -->
  <script src="js/colorpicker/bootstrap-colorpicker.min.js"></script>
  <script src="js/colorpicker/docs.js"></script>

  <script type="text/javascript">
    $(document).ready(function() {
      var options = {
        startDate: moment().subtract(29, 'days'),
        endDate: moment(),
        minDate: '2010-01-01',
        maxDate: '2065-12-31',
        showDropdowns: true,
        showWeekNumbers: true,
        timePicker: false,
        format: 'YYYY-MM-DD',
      };
      $('#reservation').daterangepicker(options, function(start, end, label) {
        console.log(start.toISOString(), end.toISOString(), label);
      });
    });
  </script>
 <script>
         
          //$('#eventRegiony').append('<option value="'+nation+'"><i class="icon-pin"></i> Local</option>');
          var form="'eventAddForm'";

          //$('#eventBtn').click(function(){ changeIcon("eventAddForm_icon");});


            $('#globalEventsTable').DataTable({
                  "ajax": {
                "url": "app/api/funcs.php?fn=fetchAllEvents&n=GLB",
                "dataSrc": ""
                },
                "columns": [
                  {"data":"nation"},
                  { "data": "linkedTitle" ,"width":180},
                  { "data": "eventDesc" },
                  { "data": "start" ,"width":60},
                  { "data": "end" ,"width":60},
                  { "data": "action" }
                ],
                  dom: "Bfrtip",
                        buttons: [{
                          extend: "copy",
                          className: "btn-sm"
                        }, {
                          extend: "csv",
                          className: "btn-sm"
                        }, {
                          extend: "excel",
                          className: "btn-sm"
                        }, {
                          extend: "pdf",
                          className: "btn-sm"
                        }, {
                          extend: "print",
                          className: "btn-sm"
                        }
                ]
                });

        </script>
  
