<div class="row">
	<div class="col-md-12 col-xs-12 col-sm-12" style="margin-top: -10px;">
		<section class="cd-section mid_center" >		
			<header style="text-align: center;color: #ffffff">
				<h1>CMFI EVENTS PORTAL</h1>	
			</header>
				<br/>
				<br/>
				<div class="center" style="padding-top:3%;
				padding-bottom:1%;
				font-size:25px;
				color:#FFF;
				position:relative; ">
					Integrated platform for events management and tracking 
				</div>
				<br/>
				<br/>
			<div class="cd-modal-action">
					<a onclick="routie('/events');" class="btn" >Go to Events</a>
			</div> <!-- cd-modal-action -->
		</section>
	</div>
</div>