<div style="background-color: #fff">
    <div class="pl-4 pr-4">
        <div class="x_panel" style="background-color: #f6f6f6">
            <div class="x_title">
                <div id="eventTitle">
                    <h2 class="custom-font-element custom-font-4  vc_custom_1431297137931"
                        style="font-size:24px; line-height:28px; text-transform:uppercase; letter-spacing:1px; color:#333333; ">
                        <a class="goToEvent"><i class="fa fa-chevron-circle-left" style="font-size:32px;"></i> </a>
                        &nbsp;<span data-localize="lang_evt_delegate_form">Delegate Registration Form</span> <small
                            class="evtTitle"></small>
                    </h2>
                </div>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                            aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    </li>
                    <li id="close">
                        <a class="close-link goToEvent"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div>
                <!-- Registration Wizard -->
                <div id="wizard" class="form_wizard wizard_horizontal">
                    <ul class="wizard_steps">
                        <li>
                            <a href="#step-1">
                                <span class="step_no">1</span>
                                <span class="step_descr" data-localize="lang_step1"> Step 1</span> <br />
                                <small class="step_descr" data-localize="lang_form_step1">Personal Information</small>

                            </a>
                        </li>
                        <li>
                            <a href="#step-2">
                                <span class="step_no">2</span>
                                <span class="step_descr" data-localize="lang_step2"> Step 2</span><br />
                                <small class="step_descr" data-localize="lang_form_step2">Transport Information</small>
                                <!--  </span>-->
                            </a>
                        </li>
                        <li>
                            <a href="#step-3">
                                <span class="step_no">3</span>
                                <span class="step_descr" data-localize="lang_step3"> Step 3</span><br />
                                <small data-localize="lang_form_step3">Health Information</small>
                            </a>
                        </li>
                        <li>
                            <a href="#step-4">
                                <span class="step_no">4</span>
                                <span class="step_descr" data-localize="lang_step4"> Step 4 </span><br />
                                <small class="step_descr" data-localize="lang_form_step4">Additional Details</small>
                            </a>
                        </li>
                    </ul>


                    <!-- STEP 1 -->
                    <div id="step-1">
                        <div class="row">
                            <div class="col-sm-2">
                                <br><br>
                                <div id="uploadForm" class="avatarUploadForm" style="display: block;">
                                    <a onclick="showHide('uploadForm')" class="boxclose" type="button"></a>
                                    <form id="uploadimage" action="" method="post" enctype="multipart/form-data">
                                    </form>
                                    <input class="form-control" id="image_file" name="image_file" type="file">
                                    <!--button class="btn btn-default" data-dismiss="modal" type="button">Close</button-->
                                    <div style="margin:10px"></div>
                                    <!--button class="btn btn-primary btn-sm" onclick="saveImageFromFile('uploadimage')" type="submit" name="submit" value="Upload">Upload</button-->
                                </div>
                                <div class="profile_img">

                                    <!-- end of image cropping -->
                                    <div id="avatar">
                                        <!-- Current avatar -->
                                        <div id="uploadimage_avatar" data-toggle="tooltip" data-placement="bottom"
                                            title="Change the avatar">
                                            <img id="delegateImg" onclick="showHide('uploadForm')"
                                                class="img-responsive avatar-view" src="app/images/members/user.png"
                                                alt="Avatar"
                                                onerror="if (this.src != 'app/images/members/user.png') this.src = 'app/images/members/user.png';">
                                        </div>

                                        <!-- Loading state -->
                                        <div class="loading" aria-label="Loading" role="img" tabindex="-1"></div>
                                    </div>
                                    <!-- end of image cropping -->

                                </div>

                            </div>
                            <div class="col-sm-8">
                                <form name="regForm" id="regForm" enctype="multipart/form-data" method="post" action=""
                                    novalidate>
                                    <span class="section" data-localize="lang_perso_details"> Personal Details</span>


                                    <div class="radio">
                                        <label>
                                            <input id="emailRadio1" type="radio" class="flat" checked name="iCheck">
                                            <span data-localize="lang_email.lable_perso"> I have a personal email
                                                address</span>
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input id="emailRadio2" type="radio" class="flat" name="iCheck">
                                            <span data-localize="lang_email.label_someone"> I will use someone's email
                                                address for my registration </span>
                                        </label>
                                    </div>



                                    <div id="emailDiv1" style="display: none;">
                                        <div class="item form-group col-md-6">
                                            <label id="e1" for="email" data-localize="lang_email.label">Email</label>
                                            <input type="email" class="form-control" id="email"
                                                data-localize="lang_email.placeholder" name="email"
                                                placeholder="Enter your Email" required="required">
                                        </div>

                                        <div class="item form-group col-md-6">
                                            <label id="e2" for="confirm_email" data-localize="lang_cemail.label">Confirm
                                                Email</label>
                                            <input type="email" class="form-control" id="email2" name="confirm_email"
                                                value="" required="required" data-localize="lang_cemail.placeholder"
                                                placeholder="Confirm Your Email" />
                                        </div>
                                    </div>
                                    <div id="emailDiv2" style="display: none;">
                                        <div class="item form-group col-md-6">
                                            <label id="e3" for="email"
                                                data-localize="lang_email.label_friend_mail">Friend's Email
                                                Address</label>
                                            <input type="email" class="form-control" id="refEmail"
                                                data-localize="lang_email.pholder_friend_mail"
                                                placeholder="Enter friend's Email Address" name="refEmail">
                                        </div>
                                    </div>

                                    <div class="item form-group col-md-6">
                                        <label id="fn" for="firstname" data-localize="lang_firstname.label">First
                                            Name</label>
                                        <input type="text" class="form-control" name="firstname" id="firstname"
                                            placeholder="First Name" data-localize="lang_firstname.placeholder"
                                            required="required">
                                        <span id="e4"></span>
                                    </div>
                                    <!-- Default input -->
                                    <div class="item form-group col-md-6">
                                        <label id="ln" for="surname" data-localize="lang_surname.label">Surname</label>
                                        <input type="text" class="form-control" name="lastname"
                                            data-localize="lang_surname.placeholder" placeholder="lastname"
                                            required="required">
                                    </div>

                                    <div class="item form-group col-md-6">
                                        <label id="ph" for="phone" data-localize="lang_phone.label">Phone</label>
                                        <input type="text" class="form-control" name="phone" id="phone"
                                            data-localize="lang_surname.placeholder" placeholder="Phone Number"
                                            required="required">
                                    </div>

                                    <div class="item form-group col-md-6">
                                        <label id="pr" for="profession"
                                            data-localize="lang_profession.label">Profession</label>
                                        <input type="text" class="form-control" name="profession"
                                            data-localize="lang_profession.placeholder" placeholder="Profession"
                                            required="required">
                                    </div>

                                    <div class="item form-group col-md-6">
                                        <label id="ct" for="city" data-localize="lang_city.label">City/Town</label>
                                        <input type="text" class="form-control" id="city" name="city"
                                            data-localize="lang_city.placeholder" placeholder="City/Town"
                                            required="required">
                                    </div>

                                    <div class="item form-group col-md-6">
                                        <label id="cy" for="country" data-localize="lang_country">Country</label>
                                        <select id='country' name='country' class="form-control countries"
                                            required="required">
                                            <option value="" data-localize="lang_cholder">Choose the country of origin
                                            </option>
                                        </select>
                                    </div>

                                    <div class="item form-group col-md-6">
                                        <label id="nat" for="nationality"
                                            data-localize="lang_nationality">Nationality</label>
                                        <select id='nationality' name='nationality' class="form-control countries"
                                            required="required">
                                            <option value="" data-localize="lang_nholder">Choose nationality</option>
                                        </select>
                                    </div>
                                    <div class="item form-group col-md-6">
                                        <label for="language" data-localize="lang_firstlang">What is your first
                                            language</label>
                                        <input type="text" name="language" id="autocomplete-custom-append"
                                            class="form-control col-md-6" style="float: left;" />
                                        <div id="autocomplete-container"
                                            style="position: relative; float: left; width: 400px; margin: 10px;"></div>
                                    </div>
                                    <div class="item form-group col-md-6">
                                        <label for="gender" data-localize="lang_gender">Gender</label>
                                        <select id='gender' name='gender' class="form-control" required="required">
                                            <option value="" data-localize="lang_gholder">Select your gender</option>
                                            <option value="M" data-localize="lang_gender_1">Male</option>
                                            <option value="F" data-localize="lang_gender_2" selected>Female</option>
                                        </select>
                                    </div>
                                    <div class="item form-group col-md-6">
                                        <label for="birthday" data-localize="lang_dob">Date of Birth</label>
                                        <input id="birthday" name="birthday" class="item form-control"
                                            required="required" placeholder="2001-12-31" type="text">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>


                    <!-- Step 2 of the wizard Transport Info-->

                    <div id="step-2">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-8">
                            <form name="regForm1" id="regForm1" enctype="multipart/form-data" method="post" action=""
                                novalidate>
                                <span class="section" data-localize="lang_transport_info">Transport Information</span>
                                <div class="form-row">
                                    <div class="item dropdown col-md-6">
                                        <label for="meansoftransport" data-localize="lang_trans_mean">Means Of
                                            Transportation</label>
                                        <select id="meansoftransport" name="meansoftransport"
                                            class="form-control select2_grouped" required="required">
                                            <option value="" data-localize="lang_tm_holde">Select your means of
                                                transport</option>
                                            <optgroup label="Cameroon Delegate / Délégation Camerounaise">
                                                <option value="Local" data-localize="lang_tm_road">Road</option>
                                            </optgroup>
                                            <optgroup label="Foreign Delegate / Délégation Etrangère">
                                                <option value="Air" data-localize="lang_tm_air">Air</option>
                                                <option value="Road" data-localize="lang_tm_road">Road</option>
                                                <option value="Water" data-localize="lang_tm_water">Water</option>
                                            </optgroup>

                                        </select>
                                    </div>
                                </div>
                                <div class="form-row" id="foreignTransport">
                                    <div class="item dropdown col-md-6 foreign" id="air">
                                        <label for="airport" data-localize="lang_tma_holder">Select Airport</label>
                                        <select id="airport" name="air" class="form-control port">
                                            <option value="" data-localize="lang_select">Select </option>
                                            <option value="Douala">Douala</option>
                                            <option value="Yaounde">Yaounde</option>
                                            <option value="Garoua">Garoua</option>
                                        </select>
                                    </div>
                                    <div class="item dropdown col-md-6 foreign" id="road">
                                        <label for="bcrossing" data-localize="lang_tmr_holder">Select Border
                                            Crossing</label>
                                        <select id="bcrossing" name="road" class="form-control port">
                                            <option value="" data-localize="lang_select">Select </option>
                                            <option value="Ekok">Ekok</option>
                                            <option value="Ambam-Minko">Ambam-Minko</option>
                                            <option value="Kenzou">Kenzou </option>
                                            <option value="Touboro">Touboro </option>
                                            <option value="Kousseri">Kousseri </option>
                                            <option value="Garoua-Boulai">Garoua-Boulai</option>
                                            <option value="Ouesso">Ouesso</option>
                                            <option value="Demsa"> Demsa</option>
                                            <option value="Mintam">Mintam </option>
                                            <option value="Kyeossi">Kyeossi</option>
                                        </select>
                                    </div>
                                    <div class="item dropdown col-md-6 foreign" id="portSea">
                                        <label for="waterSea" data-localize="lang_tmw">Select Seaport</label>
                                        <select id="waterSea" name="water" class="form-control port">
                                            <option value="" data-localize="lang_select">Select </option>
                                            <option value="Tiko">Tiko </option>
                                            <option value="Limbe">Limbe</option>
                                            <option value="Nkambe"> Nkambe </option>
                                            <option value="Ekondo Titi"> Ekondo Titi</option>
                                        </select>
                                    </div>

                                    <div class="item form-group col-md-6 foreign" id="pickupport">
                                        <label for="pickupp" data-localize="lang_port_pickup">Pick up needed at Port of
                                            Entry?</label>
                                        <select id="pickupp" name="pickup" class="form-control" required="required">
                                            <option value="" data-localize="lang_select">Select </option>
                                            <option value="1" data-localize="lang_yes">Yes</option>
                                            <option value="0" data-localize="lang_no" selected>No</option>
                                        </select>
                                    </div>
                                </div>


                                <div class="form-row">
                                    <div class=" form-group col-md-6">
                                        <label for="arrivaldate" data-localize="lang_p_arrival_d.label">Possible Arrival
                                            Date</label>
                                        <input type="text" class="item form-control" id="arrivaldate" name="arrivaldate"
                                            data-localize="lang_p_arrival_d.placeholder" required="required"
                                            placeholder="Your Arrival Date">
                                    </div>
                                    <!-- Default input -->
                                    <div class="form-group col-md-6">
                                        <label for="depaturedate" data-localize="lang_p_departure_d.label">Possible
                                            Depature Date</label>
                                        <input type="text" class="item form-control" id="depaturedate"
                                            data-localize="lang_p_departure_d.placeholder" name="depaturedate"
                                            required="required" placeholder="Your Depature Date">
                                    </div>
                                </div><br>
                                <div class="item form-group col-md-6">
                                    <label for="children" data-localize="lang_with_children">Are you coming with
                                        children (requiring care)?</label>
                                    <select id='children' name='children' class="form-control" required="required">
                                        <option value="" data-localize="lang_select">Select</option>
                                        <option value="1" data-localize="lang_yes">Yes</option>
                                        <option value="0" data-localize="lang_no" selected>No</option>
                                    </select>
                                </div>

                                <script type="text/javascript">
                                    $(document).on('change', 'select#children', function () {
                                        var value = $('select#children option:selected').val();
                                        if (value == "1") {
                                            $('#childrenDiv').show();

                                        } else {
                                            $('#childrenDiv').hide();
                                        }
                                    });
                                </script>
                                <div id="childrenDiv">
                                    <div class="dropdown col-md-6">
                                        <label for="howmany" data-localize="lang_children_num">How many
                                            children?</label>
                                        <select id="howmany" name="howmany" class="form-control">
                                            <option value="" data-localize="lang_select">Select</option>
                                            <option value="1" data-localize="lang_one">one</option>
                                            <option value="2" data-localize="lang_two">two</option>
                                            <option value="3" data-localize="lang_three">three</option>
                                            <option value="0" data-localize="lang_more">More</option>
                                        </select>
                                    </div><br>
                                    <div class="form-row col-md-6">
                                        <div class="form-group purple-border">
                                            <label for="childrennames" data-localize="lang_children.details">
                                                List the child's or children's names, age(s) and gender
                                            </label><br>
                                            <textarea class="txt form-control" rows="3" id="childrennames"
                                                name="childrennames" data-localize="lang_children.placeholder"
                                                placeholder="List the names here...">
                                            </textarea>
                                        </div>
                                    </div>

                                    <div class="dropdown col-md-6">
                                        <label for="babysittingarrangements" data-localize="lang_babysit_arrang">
                                            Have you made any arrangements for babysitting?
                                        </label>
                                        <select id="babysittingarrangements" name="babysittingarrangements"
                                            class="form-control">
                                            <option value="" data-localize="lang_select">Select</option>
                                            <option value="1" data-localize="lang_yes">Yes</option>
                                            <option value="0" data-localize="lang_no">No</option>
                                        </select>
                                    </div>
                                    <br>
                                </div>

                                <div class="form-row">
                                    <div class="item form-group col-md-6">
                                        <label for="transporToKoume" data-localize="lang_transport_arrang"> Any
                                            transportation arrangement to Koume?</label>
                                        <select id="transporToKoume" name="transporToKoume" class="form-control"
                                            required="required">
                                            <option value="" data-localize="lang_select">Select </option>
                                            <option value="1" data-localize="lang_yes">Yes</option>
                                            <option value="0" data-localize="lang_no" selected>No</option>
                                        </select>
                                    </div>
                                </div><br>

                                <script type="text/javascript">
                                    $(document).on('change', 'select#transporToKoume', function () {
                                        var value = $('select#transporToKoume option:selected').val();
                                        if (value == "1") {
                                            $('#transportDiv').show();
                                        } else {
                                            $('#transportDiv').hide();
                                        }
                                    });
                                </script>
                                <div id="transportDiv" class="item form-group col-md-6">
                                    <div class="form-group purple-border col-md-12">
                                        <label for="transportDetails" data-localize="lang_t_arrang.details"> Give
                                            details of your transportation arrangement to Koume e.g. private bus or
                                            personal vehicle)</label>
                                        <textarea id="transportDetails" name="transportDetails" row="3"
                                            data-localize="lang_t_arrang.placeholder"
                                            placeholder="Give the details here...." class="txt form-control">
                                        </textarea>
                                    </div>
                                </div>
                                <br>
                                <div class="form-row">
                                    <div class="item form-group col-md-6 foreign">
                                        <label for="invitation" data-localize="lang_req_inv_letter"> Would you require
                                            an invitation letter?</label>
                                        <select id="invitation" name="invitation" class="form-control"
                                            required="required">
                                            <option value="" data-localize="lang_select">Select </option>
                                            <option value="1" data-localize="lang_yes">Yes</option>
                                            <option value="0" data-localize="lang_no" selected>No</option>
                                        </select>
                                    </div>
                                </div><br>
                                <script type="text/javascript">
                                    $(document).on('change', 'select#invitation', function () {
                                        var value = $('select#invitation option:selected').val();
                                        if (value == "1") {
                                            $('#travelDiv').show();
                                        } else {
                                            $('#travelDiv').hide();
                                        }
                                    });
                                </script>

                                <div id="travelDiv" class="item form-group foreign">
                                    <div class="item form-group col-md-6">
                                        <label for="passportNo" data-localize="lang_passportnum.label">Passport
                                            number</label>
                                        <input id="passportNo" name="passportNo" class="form-control"
                                            required="required" data-localize="lang_passportnum.placeholder"
                                            placeholder="Enter passport number" type="text" />
                                    </div>
                                </div>
                                <br>
                            </form>
                        </div>
                    </div>


                    <!-- Step 3 of the wizard Health Isuues -->
                    <div id="step-3">
                        <div class="col-sm-2">
                        </div>
                        <div class="col-sm-8">
                            <form name="regForm2" id="regForm2" enctype="multipart/form-data" method="post" action=""
                                novalidate>
                                <span class="section" data-localize="lang_diet.info">Diet Information</span>
                                <div class="item form-group col-md-12">
                                    <label for="dietRestrictions" data-localize="lang_diet.restrictions">Do you have any
                                        Special Dietary Restrictions ?</label>
                                    <select id="dietRestrictions" name="dietRestrictions" class="form-control"
                                        required="required">
                                        <option value="" data-localize="lang_select">Select </option>
                                        <option value="1" data-localize="lang_yes">Yes</option>
                                        <option value="0" data-localize="lang_no" selected>No</option>
                                    </select>
                                </div>
                                <div class="form-row col-md-12">
                                    <div class="form-group purple-border" id="specifydietRestrictions">
                                        <label for="dietRestrictionSpecification"
                                            data-localize="lang_diet.specify_restriction">Specify the dietary
                                            restrictions</label>
                                        <textarea id="dietRestrictionSpecification" name="dietRestrictionSpecification"
                                            row="4" data-localize="lang_diet.placeholder"
                                            placeholder="Specify the dietary restrictions here"
                                            class="txt form-control">
                                        </textarea>
                                    </div>
                                </div><br>

                                <span class="section" data-localize="lang_form_step3">Health Information</span>
                                <div class="item form-group col-md-12">
                                    <label for="healthQn" data-localize="lang_health.conditions">Do you have any Special
                                        Health Conditions?</label>
                                    <select id="healthQn" name="healthQn" class="form-control" required="required">
                                        <option value="" data-localize="lang_select">Select </option>
                                        <option value="1" data-localize="lang_yes">Yes</option>
                                        <option value="0" data-localize="lang_no" selected>No</option>

                                    </select>
                                </div>
                                <div class="item form-row col-md-12">
                                    <div class="form-group purple-border" id="specifyHealthConditions">
                                        <label for="healthConditionSpec"
                                            data-localize="lang_health.specify_condition">Specify the health
                                            conditions</label>
                                        <textarea id="healthConditionSpec" name="healthConditionSpec" row="4"
                                            data-localize="lang_health.placeholder"
                                            placeholder="Specify the health restrictions here"
                                            class="txt form-control"></textarea>
                                        <div class="span6 ">
                                            <div class="ba-htmltext tool">
                                                <label class="col-md-12" style="font-size: 16px;"> <span
                                                        data-localize="lang_health.supply_details"> To supply more
                                                        details please download&nbsp;</span>
                                                    <strong>
                                                        <a data-mce-href="https://download.ztfministry.org/files/279/MEDICAL-FILES/975/Informations-médicales_avant_CM2.pdf"
                                                            href="https://download.ztfministry.org/files/279/MEDICAL-FILES/975/Informations-médicales_avant_CM2.pdf">
                                                            <span data-localize="lang_health.form_download">this medical
                                                                form</span>
                                                        </a>
                                                    </strong>&nbsp; <span data-localize="lang_health.upload_link">and
                                                        fill it out. Once done, upload it using the link below.</span>
                                                </label><br>
                                            </div><br>
                                            <div class="ba-upload tool ">
                                                <label style="font-size: 16px;  color: rgba(51, 51, 51, 1);"
                                                    class="col-md-12">
                                                    <span data-localize="lang_med_report_form"> Upload the filled
                                                        medical report form (downloaded above):</span>
                                                </label><br>
                                                <label class="file">
                                                    <span class="file-custom"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div><br>
                            </form>
                        </div>
                    </div>
                    <!-- Step 4 of the wizard Health Isuues -->
                    <div id="step-4">
                        <div class="col-sm-2">
                        </div>
                        <div class="col-sm-8">
                            <form name="regForm3" id="regForm3" enctype="multipart/form-data" method="post" action=""
                                novalidate>
                                <span class="section" data-localize="lang_acco.additional_info"> Accommodation &
                                    Additional Info</span>
                                <div class="form-row">
                                    <div class="item form-group col-md-12">
                                        <label for="accommodation" data-localize="lang_acco.private_acco">
                                            Have you arranged for a private accommodation
                                            in Bertoua (not provided by the convention organizers)?
                                        </label>
                                        <select id="accommodation" name="accommodation" class="form-control"
                                            required="required">
                                            <option value="" data-localize="lang_select">Select </option>
                                            <option value="1" data-localize="lang_yes">Yes</option>
                                            <option value="0" data-localize="lang_no" selected>No</option>

                                        </select>
                                    </div>
                                </div>
                                <div id="accommodationDiv" class="item form-group">
                                    <div class="form-group purple-border col-md-12">
                                        <label for="accommodationDetails" data-localize="lang_acco.details">
                                            Please provide us with details (type, address, contacts, etc.)
                                        </label><br>
                                        <textarea class="txt form-control z-depth-1" rows="4" id="accommodationDetails"
                                            name="accommodationDetails" data-localize="lang_acco.placehodler"
                                            placeholder="Provide the details here ..." required></textarea>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="dropdown col-md-12">
                                        <label for="preferredAcc" data-localize="lang_pref_acco">
                                            Do you have preferred accommodation? (NB: You will pay for it)
                                        </label>
                                        <select id='preferredAcc' name='preferredAcc' class="form-control" required>
                                            <option value="" data-localize="lang_select">Select </option>
                                            <option value="1" data-localize="lang_yes">Yes</option>
                                            <option value="0" data-localize="lang_no" selected>No</option>

                                        </select>
                                    </div>
                                </div><br>
                                <div id="prefAccDiv" class="item form-group">
                                    <div class="form-row">
                                        <div class="dropdown col-md-12">
                                            <label for="room" data-localize="lang_pref_acco_type">
                                                Type of preferred accommodation (NB: You will pay for it)
                                            </label>
                                            <select id='room' name='room' class="form-control" required>
                                                <option value="" data-localize="lang_select">Select </option>
                                                <option value="Hotel room - single" data-localize="lang_acco_type_1">
                                                    Hotel room - single </option>
                                                <option value="Hotel room - double" data-localize="lang_acco_type_2">
                                                    Hotel room - double </option>
                                                <option value="Compound accomodation" data-localize="lang_acco_type_3">
                                                    Compound accomodation</option>
                                            </select>
                                        </div>
                                    </div><br>
                                </div>
                                <div class="form-group purple-border col-md-12">
                                    <label for="additionalInfo" data-localize="lang_acco_add_details.label">
                                        Additional *Optional*
                                    </label><br>
                                    <textarea class="form-control z-depth-1" rows="4" id="additionalInfo"
                                        data-localize="lang_acco_add_details.placeholder"
                                        placeholder="Any other thing you may want to know about yourself or the convention?">
                                    </textarea>
                                </div>

                                <script type="text/javascript">
                                    $(document).on('change', 'select#preferredAcc', function () {
                                        var value = $('select#preferredAcc option:selected').val();
                                        if (value == "1") {
                                            $('#prefAccDiv').show();
                                        } else {
                                            $('#prefAccDiv').hide();
                                        }
                                    });
                                </script>
                                <script type="text/javascript">
                                    $(document).on('change', 'select#accommodation', function () {
                                        var value = $('select#accommodation option:selected').val();
                                        if (value == "1") {
                                            $('#accommodationDiv').show();
                                        } else {
                                            $('#accommodationDiv').hide();
                                        }
                                    });
                                </script>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>


<!-- croppie -->
<script src="js/croppie.js"></script>

<script type="text/javascript">
    $(function () {

        // Initialize all html tag which must show with condition : hide them
        $("#specifyHealthConditions").hide();
        // Hide Dietary Restrictions
        $("#specifydietRestrictions").hide();
        // Air, Port, Water sections are hidden even if  "#foreignTransport" section is shown.
        $("#air").hide();
        $("#portSea").hide();
        $("#water").hide();
        $("#pickupport").hide();
        $('#travelDiv').hide();
        $('#transportDiv').hide();
        $('#childrenDiv').hide();
        $('#accommodationDiv').hide();
        $('#prefAccDiv').hide();

        // Fill Country combo
        fillCountryCombo();

        if ($('#emailRadio1').is(':checked')) {
            show("emailDiv1");
            hide("emailDiv2");
        }
        if ($('#emailRadio2').is(':checked')) {
            show("emailDiv2");
            hide("emailDiv1");
        }
    });

    if ($("#emailRadio1:checked").val()) {
        show("emailDiv1");
        hide("emailDiv2");
    }

    $("#emailRadio1").click(function () {
        show("emailDiv1");
        hide("emailDiv2");
        $("#email").attr("required", true);
        $("#email2").attr("required", true), $("#refEmail").attr("required", false)
    });
    $("#emailRadio2").click(function () {
        show("emailDiv2");
        hide("emailDiv1");
        $("#email").attr("required", false);
        $("#email2").attr("required", false);
        $("#refEmail").attr("required", true)
    });

    $(function () {
        //$('textarea.txt').html($('textarea.txt').html().trim());
        $('textarea').each(function () {
            $(this).val($(this).val().trim());
        });

        //initialiseCountryCombo();                                 //initialise countries combo


        'use strict';
        var langArray = $.map(languages, function (lang) {
            return {
                value: lang.name,
                data: lang.code
            };
        });
        // Initialize autocomplete with custom appendTo:
        $('#autocomplete-custom-append').autocomplete({
            lookup: langArray,
            appendTo: '#autocomplete-container'
        });
    });

    // initialize the validator function
    validator.message['date'] = 'not a real date';

    // validate a field on "blur" event, a 'select' on 'change' event & a '.reuired' classed multifield on 'keyup':
    $('form')
        .on('blur', 'input[required], input.optional, select.required', validator.checkField)
        .on('change', 'select.required', validator.checkField)
        .on('keypress', 'input[required][pattern]', validator.keypress);

    $('.multi.required')
        .on('keyup blur', 'input', function () {
            validator.checkField.apply($(this).siblings().last()[0]);
        });

    // bind the validation to the form submit event
    //$('#send').click('submit');//.prop('disabled', true);

    $('form').submit(function (e) {
        e.preventDefault();
        var submit = true;
        // evaluate the form using generic validaing
        if (!validator.checkAll($(this))) {
            submit = false;
        }

        if (submit)
            this.submit();
        return false;
    });

    /* FOR DEMO ONLY */
    $('#vfields').change(function () {
        $('form').toggleClass('mode2');
    }).prop('checked', false);

    $('#alerts').change(function () {
        validator.defaults.alerts = (this.checked) ? false : true;
        if (this.checked)
            $('form .alert').remove();
    }).prop('checked', false);

    // I updated this methode, I move HTML in the corrresponfing id='specifyHealthConditions' area
    $(document).on('change', 'select#healthQn', function () {
        var value = $('select#healthQn option:selected').val();
        //alert(value);
        if (value === "1") {
            $("#specifyHealthConditions").show();
        } else {
            $("#specifyHealthConditions").hide();
        }
    });

    $(document).on('change', 'select#dietRestrictions', function () {
        var value = $('select#dietRestrictions option:selected').val();
        if (value === "1") {
            $("#specifydietRestrictions").show();
        } else {
            $("#specifydietRestrictions").hide();
        }
    });

    $(document).on('change', '#email', function () {
        var email_ = regForm.email.value;
        console.log(email_);
        if (email_.includes("@")) {
            $.getJSON('app/api/api.php/records/cmfi_members?filter=email,eq,' + regForm.email.value,
                function (data) {
                    var result = data.records;
                    if (result.length) {
                        var res = result[0];
                        console.log(res.firstName);
                        regForm.firstname.value = res.firstName;
                        regForm.lastname.value = res.lastName;
                        regForm.email2.value = res.email;
                        regForm.city.value = res.city;
                        regForm.language.value = res.language;
                        regForm.phone.value = res.phone;
                        regForm.birthday.value = res.DOB;
                        regForm.profession.value = res.profession;
                        $('select#country').val(res.country);
                        $('select#country').trigger('change');
                        $('select#nationality').val(res.nationality);
                        $('select#nationality').trigger('change');
                        $('select#gender').val(res.sex);
                        $('select#gender').trigger('change');
                        $("#uploadimage_avatar").html(
                            `<img id="delegateImg" onclick="showHide('uploadForm')" class="img-responsive avatar-view" src="app/images/members/${res.image}" alt="Avatar" title="Change the avatar" >`
                        );
                    } else {
                        console.log("email address is available")
                    }
                }); //getEvents
        }
    });

    $(document).on('change', 'select#meansoftransport', function () {
        var value = $('select#meansoftransport option:selected').val();

        if (value === "Air" || value === "Road" || value === "Water") {
            $("#foreignTransport").show();
            if (value === "Air") {
                $("#air").show();
                $("#road").hide();
                $("#portSea").hide();

                $("#pickupport").hide();

            } else if (value === "Road") {
                $("#road").show();
                $("#air").hide();
                $("#portSea").hide();

                $("#pickupport").hide();

            } else if (value === "Water") {
                $("#portSea").show();
                $("#air").hide();
                $("#road").hide();

                $("#pickupport").show();
            }
        } else { // value = "Local"
            $("#foreignTransport").hide();
        }
    });

    function arrivalDate(date) {

        $('#arrivaldate').datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'yy-mm-dd',
            minDate: 0,
            maxDate: new Date(date)
        });

    }

    // Handler event Dates
    function eventEndDateFormater(evtId) {
        $.ajax({
            type: 'post',
            url: 'app/dao/services.php',
            data: {
                'eventId': evtId
            },
            dataType: 'json',
            success: function (event) {
                // Display event title in the form Title
                $('.evtTitle').html(event.eventTitle);
                var eventMaxDate = new Date(event.endDate);

                $('#arrivaldate').datepicker({
                    changeMonth: true,
                    changeYear: true,
                    dateFormat: 'yy-mm-dd',
                    minDate: 0,
                    maxDate: new Date(event.endDate)
                });

                $('#depaturedate').datepicker({
                    changeMonth: true,
                    changeYear: true,
                    dateFormat: 'yy-mm-dd',
                    minDate: new Date(event.startDate),
                    maxDate: eventMaxDate.addDays(30)
                });
            }
        });
    }


    $(document).ready(function () {

        window.Evenement = {};

        // Birth datepicker Format
        $('#birthday').datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'yy-mm-dd',
            singleDatePicker: true,
            minDate: new Date(1940, 2 - 1, 26),
            maxDate: 0,
            yearRange: "-100:+0", // last hundred years
        });

        // We change getId() parameter value from 1 to 2 because we add a parametter in url : /register/:id/:lang
        var eventId = getId(2);
        eventEndDateFormater(eventId);
        Evenement.id = eventId;
        Evenement.lang = getLang();
        // Go back to event profile
        $(".goToEvent").click(function () {
            routie('/event/' + eventId);
        });

        // Smart Wizard
        $('#wizard').smartWizard({
            transitionEffect: 'fade',
            includeFinishButton: true,
            labelFinish: 'Finish/Enregistrer',
            labelNext: 'Next/Suivant',
            labelPrevious: 'Previous/Précédent ',
            //buttonOrder:['finish', 'prev', 'next'],
            reverseButtonsOrder: true,
            onLeaveStep: onLeaveStepFunction,
            onShowStep: onShowStepFunction,
            onFinish: onFinishCallback
        });

        function onLeaveStepFunction(obj, context) {
            if (context.fromStep == 3) {

                /* if($("#medicalform").get(0).files.length===0){

                  (new PNotify({
                    title: 'Oops!',
                    text: 'medical form not selected, you need to upload medical form in order to proceed.',
                    icon: 'fa fa-exclamation-circle'
                  }));
                } */
            } else if (context.fromStep == 1) {
                var img = $('#delegateImg').attr('src').filename();
                //sessionStorage.setItem("delegateImage",img); //put delegate img in storage
                //if($("#image_file").get(0).files.length===0){
                if (img === "user") {
                    (new PNotify({
                        title: 'Oops!',
                        text: Lang.profile_avatar_err,
                        icon: 'fa fa-exclamation-circle',
                        hide: false
                    }));
                }
            }
            console.log("Do you want to leave the step " + context.fromStep + "?");
            return validateSteps(context.fromStep);


        }

        function onShowStepFunction(obj, context) {
            if ($('a.btn-success').hasClass('buttonDisabled')) {
                $('.btn-default').show(); // show the button finish only in the last page
                $('.btn-success').hide();
            } else {
                $('.btn-default').hide();
                $('.btn-success').show();
            }

        }

        function validateSteps(step) {
            var img = $('#delegateImg').attr('src').filename();
            //console.log("image:",sessionStorage.getItem('delegateImage'));
            var x = 0;
            switch (step) {
                case 1:
                    //validate step 1
                    var regForm = $('#regForm');
                    if (!validator.checkAll(regForm)) {
                        console.log("false");
                        return false;
                    } else if (img == "user") {
                        console.log('profile picture missing');
                        return false;
                    } else {
                        console.log("true");
                        return true;
                    }

                    break;
                case 2:
                    //validate step 2
                    var regForm = $('#regForm1');
                    var port = $("select.port option:selected").val();
                    console.log("port:", port);

                    var value = $('select#meansoftransport option:selected').val();
                    var airport = $('select#airport option:selected').val();
                    var waterSea = $('select#waterSea option:selected').val();
                    var bcrossing = $('select#bcrossing option:selected').val();

                    var invite = $("select#invitation option:selected").val();
                    if (!validator.checkAll(regForm)) {
                        return false;
                    } else if (value === "Air" && airport === "") {
                        (new PNotify({
                            title: 'Oops!',
                            text: Lang.entry_airport_err,
                            icon: 'fa fa-exclamation-circle',
                            hide: false
                        }));
                        return false;
                    } else if (value === "Road" && bcrossing === "") {
                        (new PNotify({
                            title: 'Oops!',
                            text: Lang.entry_bcrossing_err,
                            icon: 'fa fa-exclamation-circle',
                            hide: false
                        }));
                        return false;
                    } else if (value === "Water" && waterSea === "") {
                        (new PNotify({
                            title: 'Oops!',
                            text: Lang.entry_port_err,
                            icon: 'fa fa-exclamation-circle',
                            hide: false
                        }));
                        return false;
                    }
                    return true;
                    break;
                case 3:
                    //validate step 3
                    var regForm = $('#regForm2');
                    if (!validator.checkAll(regForm)) {
                        return false;
                    }
                    return true;
                    break;
                case 4:
                    //validate step 4
                    var regForm = $('#regForm3');
                    if (!validator.checkAll(regForm)) {
                        return false;
                    }
                    return true;
                    break;
                default:
                    return true;
                    break;
            }
        }

        function onFinishCallback() {
            var regForm = $('#additionalForm');
            var submit = true;
            if (submit) {
                createNewMember(eventId);
            }
        }
    });

    $(document).ready(function () {
        var imageForm = document.getElementById('uploadimage');

        $image_crop = $('#image_div').croppie({
            enableExif: true,
            enableOrientation: true,
            showZoomer: true,
            viewport: {
                width: 200,
                height: 200,
                type: 'square' //circle
            },
            boundary: {
                width: 300,
                height: 300
            }
        });

        $('#image_file').on('change', function () {
            var reader = new FileReader();
            reader.onload = function (event) {
                $image_crop.croppie('bind', {
                    url: event.target.result,
                    orientation: 1
                }).then(function () {
                    console.log('jQuery bind complete');
                });
            }
            reader.readAsDataURL(this.files[0]);
            $('#uploadimageModal').modal('show');
        });

        $('.crop_image').click(function (event) {
            $("#btn_div").html('<img src="app/images/loading.gif" width="70%" />');
            $image_crop.croppie('result', {
                type: 'canvas',
                size: 'viewport'
            }).then(function (response) {
                $.ajax({
                    url: "controllers/delegateImageUpload.php",
                    type: "POST",
                    data: {
                        "image": response
                    },
                    success: function (res) {
                        console.log(">>Delegate Image displayed:", res);
                        sessionStorage.setItem("delegateImage", res);
                        $('#uploadimageModal').modal('hide');
                        $('#uploadimage_avatar').html('');
                        $('#uploadimage_avatar').html(
                            `
                            <img id="delegateImg" name="delegateImg" onclick="showHide('uploadForm')" class="img-responsive avatar-view"
                                 src="app/images/members/${res}" alt="Avatar"
                                 onerror="if (this.src != 'app/images/members/user.png') this.src = 'app/images/members/user.png';">`
                            );
                        $("#btn_div").html(
                            '<button class="btn btn-success crop_image">Crop & Upload Image</button>'
                        );
                    }
                });
            })
            $image_crop.destroy();
        })

    });

    //NOTE for you: Rotate
    $("#rotateLeft").click(function () {
        $image_crop.croppie('rotate', parseInt($(this).data('rotate')));
    });

    $("#rotateRight").click(function () {
        $image_crop.croppie('rotate', parseInt($(this).data('rotate')));
    });
</script>