<style type="text/css">
     #eventsRegTable tr .links {
       display:none;
   }
   
   #eventsRegTable tr:hover .links {
       display:block;   
   }
   .imgContainer {
     position: relative;
     text-align: center;
     color: white;
     width: 100%;
   }
   
   /* Centered text */
   .centered {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
   }
</style>
<script src="js/JsBarcode-master/dist/JsBarcode.all.js"></script>
<div class="pl-4 pr-4" style="background-color: #fff" >
     <div class="x_panel" style="background-color: #f6f6f6">
     <div class="x_content">
     <div class="" role="tabpanel" data-example-id="togglable-tabs">
               <ul id="delegateTab" class="nav nav-tabs bar_tabs" role="tablist">
               <li role="presentation" class=""><a href="#delegate_id_card" id="id-tab" role="tab" data-toggle="tab" aria-expanded="true">Id card</a>
               </li>
               <li role="presentation" class="active"><a href="#delegate_profile" role="tab" id="prof-tab" data-toggle="tab" aria-expanded="false">Personal</a>
               </li>
               <li role="presentation" class=""><a href="#details1" role="tab" id="prof-tab2" data-toggle="tab" aria-expanded="false">Travel</a>
               </li>
               <li role="presentation" class=""><a href="#details2" role="tab" id="prof-tab2" data-toggle="tab" aria-expanded="false">Medical</a>
               </li>
               <li role="presentation" class=""><a href="#details3" role="tab" id="prof-tab2" data-toggle="tab" aria-expanded="false">Other</a>
               </li>
               </ul>
               <div id="delegateTabContent" class="tab-content">
               
               <div role="tabpanel" class="tab-pane fade" id="delegate_id_card" aria-labelledby="profile-tab">
                    <div id="idCard" class="id-bg">
                         <div class="id-card-tag"></div>
                         <div class="id-card-tag-strip"></div>
                         <div class="id-card-hook"></div>
                         <div class="id-card-holder">
                         <div class="id-card">
                              <div class="header imgContainer">
                              </div>
                              <div class="photo" id="photo" >
                                        <img  class="img-responsive avatar-view" src="app/images/members/user.png" alt="Avatar" 
                                        onerror="if (this.src != 'app/images/members/user.png') this.src = 'app/images/members/user.png';">
                              </div>
                              <h2 id="memberName">Kiran Das DA</h2>
                              <div class="qr-code">
                                   <img id="barcode" height="40px" width="80px"/>
                              </div>
                              <h3 id="memberCity">Harare</h3>
                              <h2 id="memberCountry" class="custom-font-element custom-font-4  vc_custom_1431297137931" style=" line-height:28px; text-transform:uppercase; letter-spacing:1px; color:#333333; ">Zimbabwe</h2>
                         
                              <!-- <p id="memberEmail">Near PMG Junction, Thiruvananthapuram Kerala, India <strong>695033</strong></p>
                                  <p id="memberPhone">Ph: 9446062493 | E-ail: info@onetikk.info</p> -->
                                  <div class="separator"></div>
                                  <div class="card_delegate_role">
                                  <!--p id="memberAddress"><strong>"PENGG"</strong>HOUSE,4th Floor, TC 11/729(4), Division Office Road <p-->
                                  <p style="font-size: 18px; "><strong>DELEGATE</strong></p>
                                  </div>
                         </div>
                    </div>
                    <div class="panel-footer">
                         <span> <!--a class="btn btn-primary btn-sm" type="button" href="javascript:;" id="print"--><i class="icon-printer"></i> print ID</a><!--a class="btn btn-info btn-sm" type="button"><i class="icon-note"></i> Edit Info</a--></span>
                    </div>
               </div>
          </div>
               <div role="tabpanel" class="tab-pane fade active in" id="delegate_profile" aria-labelledby="home-tab">
                    <span class="section"> Personal Details</span>
                    <div class="row">
                    <div class="col-sm-3">
                                   <div id="uploadForm" class="avatarUploadForm" >
                                        <a onclick="showHide('uploadForm')" class="boxclose" type="button"></a>
                                        <form id="uploadimage" name="uploadimage" action="" method="post" enctype="multipart/form-data">
                                             <input id="memberId" name="memberId" value="" type="hidden">
                                        </form>
                                        <input class="form-control" id="image_file" name="image_file" type="file">
                                        <!--button class="btn btn-default" data-dismiss="modal" type="button">Close</button--><div style="margin:10px"></div>
                                        <!--button class="btn btn-primary btn-sm" onclick="saveImageFromFile_existingDel('uploadimage')" type="submit" name="submit" value="Upload">Upload</button-->
                                        
                                   </div>
                                   <div class="profile_img">
                                   
                                        <div id="avatar">
                                        <!-- Current avatar -->
                                        <div id="uploadimage_avatar"  data-toggle="tooltip" data-placement="bottom" title="Change the avatar">
                                        <img id="delegateImg" name="delegateImg" onclick="showHide('uploadForm')" class="img-responsive avatar-view" src="app/images/members/user.png" alt="Avatar" 
                                        onerror="if (this.src != 'app/images/members/user.png') this.src = 'app/images/members/user.png';"></div>
                                                       
                                        <!-- Loading state -->
                                        <div class="loading" aria-label="Loading" role="img" tabindex="-1"></div>
                                        </div>
                                   <!-- end of image cropping -->
                              
                                   </div>
               
                              </div>
                              <div class="col-sm-9">
                                   <form name="regForm" id="regForm" enctype="multipart/form-data" method="post" action="" novalidate>
                                   
                                             <input type="hidden" id="memberId" name="memberId" value="">
                                             <!-- Default input -->
                                             <div class="item form-group col-md-6">
                                             <label  for="firstname">First Name</label>
                                             <input type="text" class="form-control" name="firstname" id="firstname" placeholder="First Name"  required="required">
                                             <span id="e1"></span>
                                             </div>
                                             <!-- Default input -->
                                             <div class="item form-group col-md-6">
                                             <label  for="surname">Surname</label>
                                             <input  type="text" class="form-control" name="lastname" placeholder="lastname" required="required">
                                             </div>
                                        
                                   
                                             <!-- Default input -->
                                             <div class="item form-group col-md-6">
                                             <label  for="email">Email</label>
                                             <input  type="email" class="form-control" id="email" placeholder="Email" name="email"
                                             required="required">
                                             </div>
                                             <!-- Default input -->
                                             
                                             <div class="item form-group col-md-6">
                                             <label id="ph" for="phone">Phone</label>
                                             <input  type="text" class="form-control" name="phone" id="phone" placeholder="Phone Number"
                                             required="required">
                                             </div>
                                             <div class="item form-group col-md-6">
                                             <label  for="profession">Profession</label>
                                             <input  type="text" class="form-control" name="profession" placeholder="Profession"
                                             required="required">
                                             </div>
                                             <div class="item form-group col-md-6">
                                             <label  for="city">City/Town</label>
                                             <input  type="text" class="form-control" id="city" name="city" 
                                             placeholder="City/Town" required="required">
                                             </div>
                                             <div class="item form-group col-md-6">
                                             <label  for="country">Country</label>
                                             <select id='country' name='country' class="form-control countries" required="required">
                                                  <option value="">Select nation</option>
                                             </select>
                                             </div>
                                             <div class="item form-group col-md-6">
                                             <label  for="nationality">Nationality</label>
                                             <select id='nationality' name='nationality' class="form-control countries" required="required">
                                                  <option value="">Select nation</option>
                                             </select>
                                             </div>
                                             <div class="item form-group col-md-6">
                                                  <label for="language">What is your first language</label>
                                                  <input  type="text" name="language" id="autocomplete-custom-append" class="form-control col-md-6" style="float: left;" />
                                                  <div id="autocomplete-container" style="position: relative; float: left; width: 400px; margin: 10px;"></div>
                                             </div>
                                             <div class="item form-group col-md-6">
                                                  <label for="gender">Gender</label>
                                             <select id='gender' name='gender' class="form-control" required="required">
                                                  <option value="">Select your gender</option>
                                                  <option value="M">Male</option>
                                                  <option value="F" >Female</option>
                                             </select>
                                             </div>
                                             <div class="item form-group col-md-6">
                                             <label  for="birthday">Date of Birth</label>
                                             <input  id="birthday" name="birthday"  class="date-picker form-control" required="required"  placeholder="0000-00-00" 
                                             type="text" >
                                             </div>
                                             <div class="form-group col-sm-12 col-xs-12 col-md-12" data-toggle="tooltip" data-placement="top" title="Tags">
                                                  <label for="tags"><i class="icon-tag" ></i> Tags</label>
                                                  <div id="tags_container"></div>                                                    
                                                  <div id="suggestions-container" style="position: relative; float: left; width: 250px; margin: 10px;"></div>
                                             
                                             </div>
                                   </form> 
                    </div>
               </div>
                    <!-- start tags -->
               <!--  <h4><i class="icon-tag" ></i> Tags</h4>
                    <div id="tags"></div> -->
                    <!-- end of tags -->
          
               
                    <br/>
               </div>
               <div role="tabpanel" class="tab-pane fade" id="details1" aria-labelledby="profile-tab">
                         <form name="regForm1" id="regForm1" enctype="multipart/form-data" method="post" action="" novalidate>
                              <span class="section">Transport Information</span>
                               <div class="form-row">   
                                <div class="item dropdown col-md-6">
                                      <label for="meansoftransport">Means Of Transportation</label>
                                   <select id="meansoftransport" name="meansoftransport" class="form-control select2_grouped" required="required">
                                        <option value="">Select your means of transport</option>
                                        <optgroup label="Foreign Delegate">
                                            <option  value="Air" >Air</option>
                                            <option  value="Road" >Road</option>
                                            <option  value="Water" >Water</option>
                                        </optgroup>
                                        <optgroup label="Cameroon Delegate">
                                          <option value="Local">Road</option>
                                        </optgroup>
                                   </select>
                                </div>
                                </div>  
                                 <div class="form-row">   
                                    <div class="item dropdown col-md-6 foreign" id="port"></div>
                                 </div>
                                    <div class="item form-group col-md-6 foreign">
                                          <label for="pickup">Pick up needed at Port of Entry?</label>
                                       <select id="pickupport" name="pickupport" class="form-control" required="required">
                                         <option value="">Select </option>
                                         <option value="1">Yes</option>
                                         <option value="0" selected>No</option>                              
                                       </select>
                                    </div>
                                
                                 <div class="form-row">
                                      <div class=" form-group col-md-6">
                                          <label for="arrivaldate">Possible Arrival Date</label>
                                          <input type="text" class="item form-control" id="arrivaldate" name="arrivaldate" 
                                          required="required" placeholder="Your Arrival Date">
                                      </div>
                                      <!-- Default input -->
                                      <div class="form-group col-md-6">
                                        <label for="depaturedate">Possible Depature Date</label>
                                        <input type="text" class="item form-control" id="depaturedate"
                                        name="depaturedate" required="required" placeholder="Your Depature Date">
                                      </div>
                                 </div><br>
                                 <div class="item form-group col-md-6">
                                          <label for="children">Are you coming with children (requiring care)?</label>
                                       <select id="children" name="children" class="form-control" required="required">
                                         <option value="">Select</option>
                                            <option value="1">Yes</option>
                                            <option value="0" selected>No</option>
                                       </select>
                                    </div>
                                        
                                          <script type="text/javascript">
                                            $(document).on('change', 'select#children', function(){
                                                var value = $('select#children option:selected').val();
                                                //alert (value);
                                                console.log(value);
                                                if(value=="1"){
                                                  $('#childrenDiv').load('templates/regChildren.html');
                
                                                }else{
                                                  $('#childrenDiv').load('templates/empty.html');
                                                }
                                              });
                
                                          </script>
                                    <div id="childrenDiv"></div>
                
                                  <div class="form-row">   
                                      <div class="item form-group col-md-6">
                                          <label for="transporToKoume"> Any transportation arrangement to Koume?</label>
                                        <select id="transporToKoume" name="transporToKoume" class="form-control"
                                         required="required">
                                             <option  value="">Select </option>
                                             <option  value="1">Yes</option>
                                             <option  value="0" selected>No</option>
                                         </select>
                                      </div>
                                  </div><br>
                
                                  <script type="text/javascript">
                                        $(document).on('change', 'select#transporToKoume', function(){
                                            var value = $('select#transporToKoume option:selected').val();
                                            //alert (value);
                                            console.log(value);
                                            if(value=="1"){
                                              $('#transportDiv').load('templates/regTransportDetails.html');
                
                                            }else{
                                              $('#transportDiv').load('templates/empty.html');
                                            }
                                          });
                
                                  </script>
                
                                   <div id="transportDiv" class="item form-group col-md-6">
                                   </div><br>
                                   <div class="form-row">   
                                    <div class="item form-group col-md-6 foreign">
                                        <label for="invitation"> Would you require an invitation letter?</label>
                                      <select id="invitation" name="invitation" class="form-control"
                                       required="required">
                                           <option  value="">Select </option>
                                           <option  value="1">Yes</option>
                                           <option  value="0" selected>No</option>
                                       </select>
                                    </div>
                                </div><br>
                                <script type="text/javascript">
                                  $(document).on('change', 'select#invitation', function(){
                                      var value = $('select#invitation option:selected').val();
                                      //alert (value);
                                      console.log(value);
                                      if(value=="1"){
                                        $('#travelDiv').html(`
                                        <div class="item form-group col-md-6">
                                            <label  for="passportNo">Passport number</label>
                                            <input id="passportNo" name="passportNo"  class="form-control" required="required"  placeholder="" 
                                            type="text" >
                                          </div>

                                          <div class="item form-group col-md-6">
                                            <label  for="passportNo">Passport Page</label>
                                            <input id="passportPage" name="passportPage"  class="form-control" required="required"  placeholder="" 
                                            type="file" >
                                            <span><a href="#"  data-toggle="modal" data-target=".viewPassport" id="viewPass" class="btn btn-warning btn-sm"><i class="fa fa-book"></i> View Passport</a></span>
                                          </div>

                                          <div class="item form-group col-md-6">
                                            <label  for="airTicket">AirTicket / Booking</label>
                                            <input id="airTicket" name="airTicket"  class="form-control" required="required"  placeholder="" 
                                            type="file" >
                                            <span><a href="#"  data-toggle="modal" data-target=".viewTicket" id="viewTick" class="btn btn-warning btn-sm"><i class="fa fa-plane"></i> Air Ticket</a></span>
                                          </div>
                                        `);
                
                                      }else{
                                        $('#travelDiv').html('');
                                      }
                                    });
                
                              </script>
                
                              <div id="travelDiv" class="item form-group foreign">
                              </div><br>
                          </form>
               </div>
               <div role="tabpanel" class="tab-pane fade " id="details2" aria-labelledby="profile-tab">
                         <form name="regForm2" id="regForm2" enctype="multipart/form-data" method="post" action="" novalidate>
                              <span class="section">Diet Information</span>  
                                   <div class="item form-group col-md-12">
                                     <label for="dietRestrictions">Do you have any Special Dietary Restrictions?</label>
                                     <select id="dietRestrictions" name="dietRestrictions" class="form-control" required="required">
                                             <option value="">Select </option>
                                             <option  value="1">Yes</option>
                                             <option  value="0" selected>No</option>
          
                                     </select>
                                   </div>
                              <div class="form-row col-md-12"> 
                                        <div class="form-group purple-border" id="specifydietRestrictions">
          
                                        </div>
                              </div><br>
          
                              <span class="section">Health Information</span>  
                                   <div class="item form-group col-md-12">
                                     <label for="healthQn">Do you have any Special Health Conditions?</label>
                                     <select id="healthQn" name="healthQn" class="form-control" required="required">
                                             <option value="">Select </option>
                                             <option  value="1">Yes</option>
                                             <option  value="0" selected>No</option>
          
                                     </select>
                                   </div>
                              <div class="item form-row col-md-12"> 
                                        <div class="form-group purple-border" id="specifyHealthConditions">
          
                                        </div>
                              </div><br>
          
                              
                         </form>
                    </div>
                    <div role="tabpanel" class="tab-pane fade " id="details3" aria-labelledby="profile-tab">
                              <form name="regForm3" id="regForm3" enctype="multipart/form-data" method="post" action="" novalidate>
                                   <span class="section"> Accommodation & Additional Info</span>
                                   <div class="form-row">   
                                       <div class="item form-group col-md-12">
                                       <label for="accommodation">
                                         Have you arranged for a private accommodation
                                         in Bertoua (not provided by the convention organizers)?
                                       </label>
                                       <select id="accommodation" name="accommodation" class="form-control" 
                                       required="required">
                                             <option value="">Select </option>
                                               <option  value="1">Yes</option>
                                               <option  value="0" selected>No</option>
                                           
                                       </select>
                                       </div>
                                   </div>
                                   <script type="text/javascript">
                                       $(document).on('change', 'select#accommodation', function(){
                                           var value = $('select#accommodation option:selected').val();
                                           //alert (value);
                                           console.log(value);
                                           if(value=="1"){
                                             $('#accommodationDiv').html(`<div class="form-group purple-border col-md-12">
                                                   <label for="accommodationDetails">
                                                       Please provide us with details (type, address, contacts, etc.)    
                                                   </label><br>
                                                   <textarea class="txt form-control z-depth-1" rows="4" id="accommodationDetails" name="accommodationDetails"  
                                                   placeholder="Provide the details here ..." required></textarea>
                                             </div>`);
               
                                           }else{
                                             $('#accommodationDiv').html('');
                                           }
                                         });
               
                                     </script>
               
                                     <div id="accommodationDiv" class="item form-group"></div>
                                     <div class="form-row">   
                                         <div class="dropdown col-md-12">
                                           <label for="preferredAcc">
                                           Do you have preferred accommodation? (NB: You will pay for it)
                                           </label>
                                             <select id="preferredAcc" name="preferredAcc" class="form-control" required>
                                                 <option value="">Select </option>
                                                     <option value="1">Yes</option>
                                                     <option value="0" selected>No</option>
                                                 
                                             </select>
                                         </div>
                                   </div><br>  
                                   <div id="prefAccDiv" class="item form-group"></div>
                                   <script type="text/javascript">
                                     $(document).on('change', 'select#preferredAcc', function(){
                                         var value = $('select#preferredAcc option:selected').val();
                                         //alert (value);
                                         console.log(value);
                                         if(value=="1"){
                                           $('#prefAccDiv').html(`<div class="form-row">   
                                         <div class="dropdown col-md-12">
                                           <label for="room">
                                             Type of preferred accommodation (NB: You will pay for it)
                                           </label>
                                             <select id="room" name="room" class="form-control" required>
                                                   <option value="">Select </option>
                                               <option  value="Hotel room - single" > Hotel room - single </option>
                                               <option  value="Hotel room - double" > Hotel room - double </option>
                                               <option  value="Compound accomodation">Compoundaccomodation</option>
                                                 
                                             </select>
                                           </div>
                                     </div><br>  `);
               
                                         }else{
                                           $('#prefAccDiv').html('');
                                         }
                                       });
               
                                   </script>
                               <!-- <div class="form-group purple-border col-md-12">
                                   <label for="testimony">
                                      Testimonies *Optional*
                                   </label><br>
                                   <textarea class="txt form-control z-depth-1" rows="4" id="testimony" 
                                    placeholder="Tell us your testimony ..."></textarea>
                                 </div><br>
               
                                 <div class="ba-upload tool col-md-12">
                                     <label style="font-size: 16px; color: rgba(51, 51, 51, 1);">
                                         <span>
                                           Attach a file to your Testimony
                                         </span>
                                     </label><br>
                                     <label class="file">
                                         <input type="file" id="testimony" aria-label="">
                                         <span class="file-custom"></span>
                                    </label>
                                  
                                   </div><br> -->
                                   <div class="form-group purple-border col-md-12">
                                       <label for="additionalInfo">
                                          Additional *Optional*
                                       </label><br>
                                       <textarea class="form-control z-depth-1" rows="4" id="additionalInfo"
                                         placeholder="Any other thing you may want to know about yourself or the convention?"></textarea>
                                    </div>
                                
                                    </div>
                                   </div>
                                 </form>
                    </div>
               
               <div class="panel-footer">
               <div class="pull-right" >
               <span > <a class="btn btn-primary btn-sm" type="button" onclick="saveProfile();"name="save"><i class="icon-save"></i> Save</a></span>
               </div>
               <div class="clearfix"></div>
               </div>
     </div>
     </div>
</div>


<!--MODALS-->
<!-- VIEW PASSPORT -->  
<div id="viewPassport" class="modal fade viewPassport" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">Passport</h4>
        </div>
        <div class="modal-body">
          <div class="x_content">
              <div id="passportViewer">
              </div>
          </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
    </div>
  </div>
</div>
<!-- END OF VIEW PASSPORT MODAL-->
<!-- VIEW TICKET -->  
<div id="viewTicket" class="modal fade viewTicket" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">Air Ticket / Flight Booking </h4>
        </div>
        <div class="modal-body">
          <div class="x_content">
              <div id="ticketViewer">
              </div>
          </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
    </div>
  </div>
</div>
<!-- END OF VIEW TICKET MODAL-->


 <!-- tags -->
 <script src="js/tags/jquery.tagsinput.min.js"></script>
 <!-- input tags -->
 <script src="js/croppie.js"></script>

<script type="text/javascript">
     function getid(){
               var str=window.location.href;
               var idArr= str.split("/");
               var l=idArr.length;
               return idArr[l-1];
          }

    $(function(){
     var id=getid();
     showProfile(id);
     initialiseCountryCombo();
          
          

    });

    $(document).on('change', '#passportPage', function(){
       uploadPassportFile();
       
    });

    $(document).on('change', '#airTicket', function(){
      uploadAirticketFile();
    });

    $(document).on('change', 'select#meansoftransport', function(){
                  var value = $('select#meansoftransport option:selected').val();
                  //alert (value);
                  console.log(value);

                  if(value=="Air"||value=="Road"||value=="Water"){
                    $(".foreign").show();
                  }

                  switch (value)
                  {
               case "Air":
                  $("#port").html('<label for="air">Select Airport</label>'+
                      '<select id="air" name="air" class="form-control port" >'+
                          '<option value="">Select </option>'+
                          '<option value="Douala">Douala</option>'+
                          '<option value="Yaounde">Yaounde</option>'+ 
                          '<option value="Garoua">Garoua</option>'+
                       '</select>');
                    break;

               case "Road":
                   $("#port").html('<label for="air">Select Border Crossing</label>'+
                      '<select id="road" name="road" class="form-control port" >'+
                          '<option  value="">Select </option>'+
                          '<option  value="Ekok">Ekok</option>'+
                          '<option  value="Ambam-Minko">Ambam-Minko</option>'+  
                          '<option  value="Kenzou">Kenzou </option>'+ 
                          '<option  value="Touboro">Touboro </option>'+ 
                          '<option  value="Kousseri">Kousseri </option>'+ 
                          '<option  value="Garoua-Boulai">Garoua-Boulai</option>'+ 
                          '<option  value="Ouesso">Ouesso</option>'+ 
                          '<option  value="Demsa"> Demsa</option>'+      
                          '<option  value="Mintam">Mintam </option>'+ 
                          '<option  value="Kyeossi">Kyeossi</option>'+                          
                      '</select>');
                    break;
               case "Water":
                   $("#port").html('<label for="water">Select Seaport</label>'+
                      '<select id="water" name="water" class="form-control port" >'+
                          '<option value="">Select </option>'+
                          '<option value="Tiko">Tiko </option>'+
                          '<option value="Limbe">Limbe</option>'+  
                          '<option value="Nkambe"> Nkambe </option>'+
                          '<option value="Ekondo Titi"> Ekondo Titi</option>'+
                       '</select>');
                    break;
                case "Local":
                    $("#port").html('');
                    $(".foreign").hide();
                    break;

                  }

              });
     
     
              $(document).on('change', 'select#healthQn', function(){
          var value = $('select#healthQn option:selected').val();
          //alert (value);
          console.log(value);

          switch (value)
          {
            case "1":
            $("#specifyHealthConditions").html(` <label for="healthConditionSpec">Specify the health conditions</label>
          <textarea id="healthConditionSpec" name="healthConditionSpec" row="4"  placeholder="Specify the health conditions here" class="txt form-control" ></textarea>
          <div class="span6 ">
                                <div class="ba-htmltext tool ">
                                  <label class="col-md-12" style="font-size: 16px;">To supply more details please download&nbsp;
                                    <strong>
                                      <a data-mce-href=
                                        "https://download.ztfministry.org/files/279/MEDICAL-FILES/975/Informations-médicales_avant_CM2.pdf" 
                                        href="https://download.ztfministry.org/files/279/MEDICAL-FILES/975/Informations-médicales_avant_CM2.pdf">
                                        this medical form
                                      </a>
                                    </strong>&nbsp;and fill it out. Once done, upload it using the link below.
                                 </label><br>
                            </div><br>
                   <div class="ba-upload tool ">
                                <label style="font-size: 16px;  color: rgba(51, 51, 51, 1);"
                                 class="col-md-12">
                                    <span >
                                        Upload the filled medical report form (downloaded above):</span>
                                </label><br>
                                <label class="file">
                                    <!--input  class="col-md-12" type="file" id="medicalform" name="medicalform" aria-label="File browser example" -->
                                    <span class="file-custom"></span>
                               </label>

                  </div>
                 </div>`);
              break;
              case "0":{
                $("#specifyHealthConditions").html('');
              }
          }
        });
  
    $(document).on('change', 'select#dietRestrictions', function(){
          var value = $('select#dietRestrictions option:selected').val();
          //alert (value);
          console.log(value);

          switch (value)
          {
            case "1":
         $("#specifydietRestrictions").html(`<label for="dietRestrictionSpecification">Specify the dietary restrictions</label>
          <textarea id="dietRestrictionSpecification" name="dietRestrictionSpecification" row="4"  
          placeholder="Specify the dietary restrictions here" class="txt form-control" ></textarea>`);
                 break;

            case "0":
             $("#specifydietRestrictions").html('');

            break;
           
          }
      });
              


      $('#arrivaldate').datepicker({
          changeMonth: true,
          changeYear: true,
          dateFormat: 'yy-mm-dd'

      });

        $('#depaturedate').datepicker({
         changeMonth: true,
          changeYear: true,
          dateFormat: 'yy-mm-dd'

      });
        $('#birthday').datepicker({
         changeMonth: true,
          changeYear: true,
          dateFormat: 'yy-mm-dd',
          singleDatePicker: true,
          calender_style: "picker_4"

      });
  //populate leaders drop down
  var opt3 = $(".leaders");
          $.getJSON(api_base_url+"/cmfi_members?order=firstName,asc", function(response) {
               $.each(response.records, function() {
               opt3.append($("<option />").val(this.id).text(this.firstName+' '+this.lastName));
           });
        });



function PrintElem(elem) {
    Popup($(elem).html());
}

function nWin() {
  var html = $(".id-card-holder").html();
  var frame1 = $('<iframe />');
        frame1[0].name = "frame1";
        frame1.css({ "position": "absolute", "top": "-1000000px" });
        $("body").append(frame1);
        var w = frame1[0].contentWindow ? frame1[0].contentWindow : frame1[0].contentDocument.document ? frame1[0].contentDocument.document : frame1[0].contentDocument;
        w.document.open();
        w.document.write('<html><head><title>'+$("#memberName").val()+'</title>');
        w.document.write('<link rel="stylesheet" href="app/css/custom.php" type="text/css" media="all"/>');
        w.document.write('<link rel="stylesheet" href="css/style.css" type="text/css" media="all"/>');
        w.document.write('</head><body >');
        w.document.write(html);
        w.document.write('</body></html>');
        w.document.close();
        w.focus();
        setTimeout(function () {
            window.frames["frame1"].focus();
            window.frames["frame1"].print();
            frame1.remove();
        }, 500);
  //w.close(); 
  return true;
}

function saveProfile(){
        var regForm=document.getElementById("regForm");
        var regForm1=document.getElementById('regForm1');
        var regForm2=document.getElementById('regForm2');
        var id=regForm.memberId.value;
        var country_=$("#country option:selected").val();
        var nationality_=$("#nationality option:selected").val();
        var gender_=$("#gender option:selected").val();
        var tags_=$("#tags").val();

        var passport_=$("#passportNo").val();
         

        //save member details
        $.ajax({
            url: api_base_url+"/cmfi_members/"+id,
            type: "PUT",
            data:{
              firstName:regForm.firstname.value,
              lastName:regForm.lastname.value,
              email:regForm.email.value,
              city:regForm.city.value,
              phone:regForm.phone.value,
              profession:regForm.profession.value,
              sex:gender_,
              country:country_,
              language:regForm.language.value,
              nationality:nationality_,
              passport:passport_,
              DOB:regForm.birthday.value,
              tags:tags_
            },
            success: function(res){
              console.log('saved member details successfully');
            },
            error: function(err){
                console.log("error:",err.responseText);
            }
        });

        //save event personal details


        var children_=$("#children option:selected").val();
        var babySittingArr_=$("#babysittingarrangements option:selected").val();
        var entryPort_="";
        var childrenNo_=0;
        var preferredAcc_=$("#preferredAcc option:selected").val();
        var room_=$("#room option:selected").val();
        var babySitting_=0;
        var transportMeans_=$("#meansoftransport option:selected").val();
        var transporttoKoume_=$("#transporToKoume option:selected").val();
        var accommodation_=$("#accommodation option:selected").val();
        var invite_=$("#invitation option:selected").val();
        var arrivaldate_=$("#arrivaldate").val();
        var depaturedate_=$("#depaturedate").val();
        var time=Date.now();
        var childrenNames_="";
        var pickUpEntry_=$("#pickupport option:selected").val();
        var dietRestrictions_=$("#dietRestrictions option:selected").val();
        var dietRestrictionsSpec_="";
        var transDetails_="";
        var accDetails_="";
        var healthSpec_=$('#healthQn  option:selected').val();
        var healthCond_=$('#healthConditionSpec').val();
        

        if(children_=="1"){
          childrenNames_=regForm1.elements["childrennames"].value;
          childrenNo_=$("#howmany option:selected").val();
          babySitting_=$("#needBabySitting option:selected").val();
        }
        if(dietRestrictions_=="1"){
          dietRestrictionsSpec_=$("#dietRestrictionSpecification").val();
        }
        if(transporttoKoume_=="1"){
          transDetails_=regForm1.elements["transportDetails"].value;
        }
        if(accommodation_=="1"){
          accDetails_=regForm3.elements["accommodationDetails"].value;
        }

        if(transportMeans_==="Air"){
          entryPort_=$("#air option:selected").val();
        }else if(transportMeans_==="Road"){
          entryPort_=$("#road option:selected").val();
        }else if(transportMeans_==="=Water"){
          entryPort_=$("#water option:selected").val();
        }
        console.log("entry port: ",entryPort_);
        $.ajax({
            url: api_base_url+"/cmfi_event_registration/"+sessionStorage.getItem("regId"),
            type: "PUT",
            data:{
              children:children_,
              needBabySitting:babySitting_,
              childrenNames:childrenNames_,
              chnNumber:childrenNo_,
              bsArr:babySittingArr_,
              transportMode:transportMeans_,
              entryPort:entryPort_,
              pickUpEntry:pickUpEntry_,
              arrivalDate:arrivaldate_,
              departureDate:depaturedate_,
              transKoume:transporttoKoume_,
              dietRestrictions:dietRestrictions_,
              dietRestSpec:dietRestrictionsSpec_,
              accommodation:accommodation_,
              inviteMe:invite_, 
              transDetails:transDetails_,
              accDetails: accDetails_,
              preferredAcc:preferredAcc_,
              healthCond:healthCond_,
              healthSpec:healthSpec_,
              remark:'Personal Update',
              accType:room_
            },
            success: function(res){
              successNote(sresponse,'saved member details successfully!');
            },
            error: function(err){
                errorNote("Oops!",err.responseText);
            }
        });

}

</script>

<script>  
          $(document).ready(function(){
          var imageForm=document.getElementById('uploadimage');

           $image_crop = $('#image_div').croppie({
              enableExif: true,
              enableOrientation: true,
              showZoomer: true,
              viewport: {
                width:200,
                height:200,
                type:'square' //circle
              },
              boundary:{
                width:300,
                height:300
              }
            });
          
            $('#image_file').on('change', function(){
              console.log("memberId:",imageForm.memberId.value);
              var reader = new FileReader();
              reader.onload = function (event) {
                $image_crop.croppie('bind', {
                  url: event.target.result,
                  orientation:1
                }).then(function(){
                  console.log('jQuery bind complete');
                });
              }
              reader.readAsDataURL(this.files[0]);
              $('#uploadimageModal').modal('show');
            });
          
            $('.crop_image').click(function(event){
               $("#btn_div").html('<img src="app/images/loading.gif" width="70%" />');
              $image_crop.croppie('result', {
                type: 'canvas',
                size: 'viewport'
              }).then(function(response){
                $.ajax({
                  url:"controllers/existingDelegatesImgUpload.php",
                  type: "POST",
                  data:{
                       "image": response,
                       "memberId": imageForm.memberId.value
                    },
                  error: function(err){
                    console.log("error:",err);
                  },
                  success:function(res)
                  {
                    console.log(res);
                    //randomise the image file version in order to overwite cached file
                    var randVer=Math.ceil(Math.random() * 100);
                    
                      $('#uploadimageModal').modal('hide');
                      $('#uploadimage_avatar').html('');
                      showHide('uploadForm');
                      $('#uploadimage_avatar').html(`
                      <img id="delegateImg" name="delegateImg" onclick="showHide('uploadForm')" class="img-responsive avatar-view" src="app/images/members/${imageForm.memberId.value}.jpg?${randVer}" alt="Avatar" 
                      onerror="if (this.src != 'app/images/members/user.png') this.src = 'app/images/members/user.png';">
                      `);
                      $("#btn_div").html(`<button class="btn btn-primary" type="button" id="rotateLeft" data-rotate="-90">
                      <i class="fa fa-rotate-left"></i>  90&deg;</button>
                      <button class="btn btn-primary" type="button" id="rotateLeft" data-rotate="+90">
                        <i class="fa fa-rotate-right"></i> 90&deg;
                      </button>
                    <button class="btn btn-success crop_image">Crop & Upload Image</button>`);
                    
                  }
                });
              })
            })
          
          });  

           //NOTE for you: Rotate
     $( "#rotateLeft" ).click(function() {
            $image_crop.croppie('rotate', parseInt($(this).data('rotate')));
        });
       
        $( "#rotateRight" ).click(function() {
            $image_crop.croppie('rotate',parseInt($(this).data('rotate')));
        });
</script>