<page size="A6" >
    <div class="id-card" id="badgeItem{{id}}">
      <div class="imgContainer">
        <div class="header ">
          <img src="../images/events/{{eventImage}}" style="width: 100%;top: 0px;margin-top: 0px;">
            <h2 id="eventTitle" class="centered custom-font-element custom-font-4  vc_custom_1431297137931" 
            style="font-size: 20px;
              top:26px;
              width:100%;
              font-weight: 700;
              line-height: 17px;
              text-transform: uppercase;
              letter-spacing: 0.5px;
              /*text-shadow:1px 1px #333333;*/
              color: #00008b; ">
              {{eventTitle}}</h2>
      </div>
      <div class="profilePic"  id="photo" >
                <img  class="img-responsive avatar-view" src="../app/images/members/{{delegateImage}}" alt="Avatar" 
                onerror="if (this.src != '../app/images/members/user.png') this.src = '../app/images/members/user.png';" />
      </div>
    </div>
      <h2 id="memberName">{{firstName}}  {{lastName}}</h2>
      <div class="qr-code">
            <img id="barcode{{id}}" height="40px" width="80px"/>
      </div>
      <h3 style="font-size:18px;">{{city}}</h3>
      <h2 class="custom-font-element custom-font-4  vc_custom_1431297137931" style=" line-height:28px; text-transform:uppercase; letter-spacing:1px; color:#333333;font-size:24px; ">{{country}}</h2>
      <div class="separator"></div>
      <div class="card_delegate_role" style="height:70px;">
        <p id="delegate" style="font-size: 24px; "><strong>DELEGATE</strong></p>
        <p id="role" style="font-size: 20px; background-color:#EEA91E;text-shadow: 1px 1px #333333;"><strong>{{role}}</strong></p>
        <br/>
      </div>
    </div>
    </page>
 