      

                 <div class="form-row">   
                     <div class="dropdown col-md-12">
                       <label for="room">
                         Type of preferred accommodation (NB: You will pay for it)
                       </label>
                         <select id='room' name='room' class="form-control" required>
                              <option value="">Select </option>
                           <option  value="Hotel room - single" > Hotel room - single </option>
                           <option  value="Hotel room - double" > Hotel room - double </option>
                           <option  value="Compound accomodation">Compoundaccomodation</option>
                             
                         </select>
                      </div>
                </div><br>  
