<div class="">
    <div class="clearfix"></div>

    <div class="row">


        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Pages Settings <small>Configuration Panel</small></h2>
                    <ul class="nav navbar-right panel_toolbox">

                        <a data-toggle="modal" href=".addPage" class="btn btn-success btn-xs"> <i
                                class="glyphicon glyphicon-plus"> </i> Add Page</a>`

                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <p class="text-muted font-13 m-b-30">

                    </p>
                    <table id="pages_datatable" class="table table-striped table-bordered dt-responsive "
                        cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>menu text</th>
                                <th>Page</th>
                                <th>short name</th>
                                <th>Icon</th>
                                <th>Parent</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- /page content -->


<!-- Add Page  modal-->
<div class="modal addPage" role="dialog" style="z-index: 1600;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add new page</h4>
            </div>
            <form id="pagesForm" class="form-horizontal form-label-left input_mask" action="" method="POST">
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Page</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="text" class="form-control" name="page" placeholder="" required="required">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">route name</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="text" class="form-control" name="sname" placeholder="" required="required">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">menu name</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="text" class="form-control" name="menu" placeholder="" required="required">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Parent</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="text" class="form-control" name="parent" placeholder="" required="required">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">icon</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="text" class="form-control" name="icon" placeholder="" required="required">
                        </div>
                    </div>
                    <div class="clearfix"></div>

                </div>
            </form>
            <div class="modal-footer">
                <button onclick="addPage();" type="input" name="submit" data-dismiss="modal"
                    class="btn btn-success btn-icon"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                <button type="button" class="btn btn-default btn-icon" data-dismiss="modal"><i
                        class="glyphicon glyphicon-remove-circle"></i>
                    Cancel</button>
            </div>
        </div>
    </div>
</div>
<!-- / end add page modal-->

<script>
    $('#pages_datatable').DataTable({
        responsive: true,
        "ajax": {
            "url": api_base_url +
                "/cmfi_pages",
            "dataSrc": "records"
        },
        "columns": [{
                "data": "menu"
            },
            {
                "data": "page"
            },
            {
                "data": "sname"
            },
            {
                "data": "icon"
            },
            {
                "data": "parent"
            },
            {
                "data": "id"
            }

        ],
        columnDefs: [{
                targets: 5,
                render: function (data, type, full, meta) {

                    if (type === 'filter' || type === 'display' || type === "sort") {
                        data =
                            `<a id = "editset${data}" onclick = "editSet(${data},'pages')" class = "btn btn-info btn-xs"> <i id="editsetIcon${data}" class = "glyphicon glyphicon-pencil" > </i></a >
                        <a  onclick = "deletePage(${data});" class = "btn btn-danger btn-xs" > <i class = "glyphicon glyphicon-trash" > </i></a >`

                    }

                    return data;
                }
            },
            {
                targets: 0,
                render: function (data, type, full, meta) {
                    if (type === 'filter' || type === 'display' || type === "sort") {
                        data = `<p id = "menu${full.id}">${data}</p >`;
                    }

                    return data;
                }
            },
            {
                targets: 1,
                render: function (data, type, full, meta) {
                    if (type === 'filter' || type === 'display' || type === "sort") {
                        data = `<p id = "page${full.id}">${data}</p >`;
                    }

                    return data;
                }
            },
            {
                targets: 2,
                render: function (data, type, full, meta) {
                    if (type === 'filter' || type === 'display' || type === "sort") {
                        data = `<p id = "sname${full.id}">${data}</p >`;
                    }

                    return data;
                }
            },
            {
                targets: 3,
                render: function (data, type, full, meta) {
                    if (type === 'filter' || type === 'display' || type === "sort") {
                        data = `<p id = "icon${full.id}">${data}</p >`;
                    }

                    return data;
                }
            },
            {
                targets: 4,
                render: function (data, type, full, meta) {
                    if (type === 'filter' || type === 'display' || type === "sort") {
                        data = `<p id = "parent${full.id}">${data}</p >`;
                    }

                    return data;
                }
            }
        ],
        order: [
            [0, 'asc']
        ]
    });
</script>