<div class="row pl-4 pr-4">
  <div class="col-md-2">
    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu" style="background-color: teal;">
      <div id="event_menu" class="menu_section" style="display: block;">
        <br>
        <h3>Event Menu</h3>
        <ul class="nav side-menu">
          <li><a onclick="showPage('event_dashboard')"><i class="fa fa-desktop"></i> Dashboard </a></li>
          <li><a><i class="fa fa-users"></i> Registration <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu" style="display: none">
              <li><a onclick="showPage('registration')">Register Delegates</a>
              </li>
              <li><a onclick="showPage('reg_edit')">Manage Delegates</a>
              </li>
              <li><a onclick="showPage('view_registrations')">View registrations</a>
              </li>
              <li><a onclick="showPage('importExcel')">Import excel list</a>
              </li>
            </ul>
          </li>
          <li><a><i class="fa fa-tag"></i> Badges <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu" style="display: none">
              <li><a onclick="showPage('id_cards')">Print Badges </a></li>
              <li><a onclick="showPage('badges_printed')">Printed badges</a></li>
              <li><a onclick="showPage('badge_settings')">Badge Settings </a></li>
              <li><a onclick="showPage('badge_templates')">Templates</a></li>
            </ul>
          </li>
          <li><a><i class="fa fa-building-o"></i> Attendance <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu" style="display: none">
              <!-- <li><a onclick="showPage('attendanceDash')">Dashboard</a>
                              </li> -->
              <li><a onclick="showPage('check-in')">Check-in</a>
              </li>
            </ul>
          </li>
          <li><a><i class="fa fa-building-o"></i> Reports/views <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu" style="display: none">
              <!-- <li><a onclick="showPage('attendanceDash')">Dashboard</a>
                              </li> -->
              <li><a onclick="showPage('vw_emails')">Email Addresses</a>
              </li>
              <li><a onclick="showPage('vw_all_cm')">CM Delegates</a>
              </li>
              <li><a onclick="showPage('vw_all')">Delegates out of CM</a>
              </li>
              <li><a onclick="showPage('pg_arr_today')">Arriving Today</a>
              </li>
              <li><a onclick="showPage('pg_arr_tomorrow')">Arriving Tomorrow</a>
              </li>
              <li><a onclick="showPage('pg_travel')">travel info</a>
              </li>
              <li><a onclick="showPage('pg_acc')">Accomodation info</a>
              </li>
              <li><a onclick="showPage('pg_health')">Health Info</a>
              </li>
              <li><a onclick="showPage('pg_roles')">Roles</a>
              </li>
            </ul>
          </li>
          <li><a><i class="fa fa-cog"></i> Settings <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu" style="display: none">
              <li><a onclick="showPage('settings')">Event Settings </a></li>
              <li><a onclick="showPage('roles')">Roles</a></li>
              <li><a onclick="showPage('badge_settings')">Badge Settings </a></li>
            </ul>
          </li>

        </ul>
      </div>

      <div class="menu_section">
        <br>
        <h3>Main Admin Menu</h3>
        <ul class="nav side-menu">
          <!--li><a><i class="fa fa-desktop"></i> Dashboard </a>
                    </li-->
          <li><a onclick="showPage('events')"><i class="fa fa-calendar"></i> Events </a>
          </li>
          <!--li><a><i class="fa  fa-map-marker"></i> Venues </a>
                    </li-->
          <li><a onclick="showPage('users')"><i class="fa fa-users"></i> Users </a>
          </li>
          <li><a><i class="fa fa-building-o"></i> Incidents <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu" style="display: none">
              <li><a onclick="showPage('viewIncidents')">View All</a>
              </li>
            </ul>
          </li>


        </ul>
      </div>



    </div>
    <!-- /sidebar menu -->

  </div>

  <div class="col-md-10" id="admin_content">

  </div>
</div>


<script src="js/custom-sm.js"></script>
<script>
  $(document).ready(function () {
    showHide('event_menu');
  })
</script>