
<div class="x_panel" style="background-color: #ededed;">
            <div class="x_title" id="evTitle">
            <h2>Event Settings <small>global event</small></h2>
            
            <div class="clearfix"></div>
            </div>
    <div class="x_content">
            <br />
            <div class="col-md-4">
                <div id="uploadForm1" class="avatarUploadForm">
                <a onclick="showHide('uploadForm1')" class="boxclose" type="button"></a>
                <form id="uploadimage" action="" method="post" enctype="multipart/form-data">
                    <input class="form-control" id="image_file" name="image_file" type="file" accept="image/*">
                    <input type="hidden" name="eventId" id="eventId" value="" >
                </form>
                <!--button class="btn btn-default" data-dismiss="modal" type="button">Close</button--><div style="margin:10px"></div>
                <button class="btn btn-primary btn-sm" onclick="uploadEventImage();" type="submit" name="submit" value="Upload">Upload image</button>
                <!--button class="btn btn-default btn-sm" data-toggle="modal" data-target=".imgUpload"><i class="glyphicon glyphicon-camera"></i> <?php echo lang("WEBCAM");?></button-->
                <!--button class="btn btn-default btn-sm" onclick="imgDisplay()"> img file</button-->
                </div>
                <div class="profile_img">
                
                    <div id="avatar">
                    <!-- Current avatar -->
                    <div id="profileAvatar"  data-toggle="tooltip" data-placement="bottom" title="Change the event image">
                    
                    </div>
                    </div>
                    
                </div>
            </div>
            <div class="col-md-8">
        <form id="addEventForm" name="addEventForm" data-parsley-validate class="form-horizontal form-label-left" enctype="multipart/form-data" method="post" action="" >
            
            <fieldset>
                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                <input type="text" class="form-control has-feedback-left" name="eventTitle" id="eventTitle" placeholder="Event Title"  value="">
                <span class="fa fa-paint-brush form-control-feedback left" aria-hidden="true"></span>
            </div>   
            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                <input type="text" class="form-control has-feedback-left" id="reservation" name="reservation" placeholder="startDate - endDate" value="">
                <span class="fa fa-calendar form-control-feedback left" aria-hidden="true"></span>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                <textarea type="text" rows="10" class="form-control has-feedback-left" id="eventDesc" name="eventDesc" placeholder="Description" value=""></textarea>
                <span class="fa fa-pencil form-control-feedback left" aria-hidden="true"></span>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                <input type="text" class="form-control has-feedback-left" id="eventLeader" name="eventLeader" placeholder="Event Coordinator" value="">
                <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                <label class="control-label col-md-3 col-sm-2 col-xs-11">
                Event Color</label>
                <div class="input-group demo2">
                <input type="text" class="form-control has-feedback-left" 
                id="eventColor"  name="eventColor" value="#8fff00">
                    <span class="input-group-addon"><i></i></span>
                </div>  
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                Event Region</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <select type="select" id="eventRegion" name="eventRegion" class="form-control">
                    <option value="GLB"><i class="icon-globe-alt"></i> Global</option>
                    <option value="GLB"><i class="icon-globe-alt"></i>Local</option>
                    </select>
                </div> 
            </div>
                <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Event Venue</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <input type="text" id="eventVenue" name="eventVenue" 
                        value="" class="form-control" />
                    </div>
                </div>
            <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Registration Fee</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                <input type="text" id="regFee" name="regFee" value=""
                    placeholder="Reg Fee" 
                class="form-control" />
                <!--  <span class="fa fa-dollar form-control-feedback left" aria-hidden="true"></span> -->
                </div>
            </div>
        <div class="col-md-6 col-sm-6 col-xs-12 form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Att Criteria</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
                <input type="text" id="criteria"
                name="criteria" value="" class="form-control" />
            </div>
        </div>
    
        
        </fieldset>
        </div>
        </form>
        </div>
            
        
            <div class="pull-right" style="background-color: #ededed;">
                <div class="form-group" id="eventSubmit">
                <!--button type="submit" class="btn btn-primary">Cancel</button-->
                <button type="submit" onclick="addEvent()" class="btn btn-success"><i class="icon-check "></i> Submit</button>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
</div>
 
 








<!--/New Member -->

<!-- tags -->
<script src="js/tags/jquery.tagsinput.min.js"></script>
<!-- input tags -->


   <!-- daterangepicker -->
   <script type="text/javascript" src="js/moment/moment.min.js"></script>
   <script type="text/javascript" src="js/datepicker/daterangepicker.js"></script>
           <!-- color picker -->
   <script src="js/colorpicker/bootstrap-colorpicker.min.js"></script>
   <script src="js/colorpicker/docs.js"></script>
 
   <script type="text/javascript">
     $(document).ready(function() {
       var options = {
         startDate: moment().subtract(29, 'days'),
         endDate: moment(),
         minDate: '2010-01-01',
         maxDate: '2065-12-31',
         showDropdowns: true,
         showWeekNumbers: true,
         timePicker: false,
         format: 'YYYY-MM-DD',
       };
       $('#reservation').daterangepicker(options, function(start, end, label) {
         console.log(start.toISOString(), end.toISOString(), label);
       });
     });
   </script>

</script>
<!-- select2 -->
<script>
function getid(){
    var str=window.location.href;
    var idArr= str.split("/");
    var l=idArr.length;
    return idArr[l-1];
  }
var id=getid();

$(document).ready(function() {



var n='GLB';
//initialise combo for localities
//initialiseLoclaitiesCombo(n)
});



    var id=getid();
    uploadimage.eventId.value=id; //set value of eventId on image upload form
    var form="'addLocalityForm'";
    var container="'localityAddForm'";
    $.getJSON(api_base_url+"/cmfi_events?filter=eventId,eq,"+id, function(data) {
        var res=data.records[0];
        var options={
        startDate: res.startDate.substring(0,10),
        endDate: res.endDate.substring(0,10),
        minDate: '2010-01-01',
        maxDate: '2065-12-31',
        showDropdowns: true,
        showWeekNumbers: true,
        timePicker: false,
        format: 'YYYY-MM-DD',
        }
        $('#reservation').daterangepicker(options);
        addEventForm.eventTitle.value=res.eventTitle;
        addEventForm.eventDesc.value=res.eventDesc;
        addEventForm.reservation.value=res.startDate.substring(0,10)+' - '+res.endDate.substring(0,10);
        addEventForm.eventColor.value=res.eventColor;
        addEventForm.eventLeader.value=res.eventLeader;
        addEventForm.eventVenue.value=res.eventVenue;
        addEventForm.criteria.value=res.criteria;
        addEventForm.regFee.value=res.regFee;
        $('#eventColor').trigger('change');
        addEventForm.eventRegion.value=res.nation;
        $('#eventRegion').trigger('change');
        
        //$('#event-id').html(`<input type="hidden" name="eventId" id="eventId" value="${id}" >`)
        $('#eventTitle').html('<h2>Edit Event <small>select leader</small></h2><div class="clearfix"></div>');
        $('#eventSubmit').html('<button  onclick="cancel('+form+','+container+')" type="submit" class="btn btn-default" name="submit" ><i class="icon-remove"></i> Cancel</button><button  onclick="updateEvent('+id+')" type="submit" class="btn btn-success" name="submit" ><i class="icon-check"></i>  Save</button>');
        $('#profileAvatar').html(`<img  onclick="showHide('uploadForm1')" class="img-responsive avatar-view" src="images/events/${res.image}" alt="Avatar" width="100%"
                                        onerror="if (this.src != 'images/events/${res.image}') this.src = 'images/events/event-default.jpg';">`)
        $('#evTitle').html('<h2>Edit Event <small>global event update</small></h2>');
        //alert(response.name);
    });


</script>
