<style type="text/css">
  #eventsRegTable tr .links {
    display: none;
  }

  #eventsRegTable tr:hover .links {
    display: block;
  }
</style>
<script src="js/JsBarcode-master/dist/JsBarcode.all.js"></script>


<div class="x_panel">
  <div class="x_title">
    <h2>Attendance Form <small>check-in delegates</small></h2>
    <ul class="nav navbar-right panel_toolbox">
      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i
            class="fa fa-wrench"></i></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Settings 1</a>
          </li>
          <li><a href="#">Settings 2</a>
          </li>
        </ul>
      </li>
      <li><a class="close-link"><i class="fa fa-close"></i></a>
      </li>
    </ul>
    <div class="clearfix"></div>
  </div>
  <div class="x_content">

    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel" style="background-color: #d3d3d3">
        <form id="eventRegForm">
          <input id="eventId" name="eventId" value="" type="hidden" />
        </form>
        <div class="row">
          <div class="form-group col-xs-8">
            <label class="control-label col-md-2 col-sm-2 col-xs-12">Select Date</label>
            <div class="col-md-7 col-sm-7 col-xs-12">
              <select id="dates" class="select2 form-control dates" style="width:100%;">
                <option value="">Choose date</option>
              </select>
            </div>
          </div>
          <div class="form-group col-xs-4">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Select session</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <select id="sessionCombo" class="select2_single form-control sessions" style="width:100%;">
                <option value="select2"></option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-xs-8">
            <label class="control-label col-md-2 col-sm-2 col-xs-12">Select Member(s)</label>
            <div class="col-md-7 col-sm-7 col-xs-12">
              <select id="membersDropDown" class="select2_multiple form-control leaders" multiple="multiple"
                style="width:100%;">
                <option value="select2"></option>
              </select>
            </div>
            <button id="btnCheckin" onclick="checkIn()" class="btn btn-sm btn-success"><i
                class="icon-user-following"></i>
              Check-in</button>
          </div>
          <div class="form-group col-xs-4" style="border: 2px dashed #E0E0E0;    padding: 5px 10px;">

            <label class="control-label col-md-3 col-sm-3 col-xs-12">Barcode Input</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="text" class="form-control" name="barcodeEntry" id="barcodeEntry">
            </div>

          </div>
        </div>
      </div>
      <!-- start member registration table -->
      <table id="eventsRegTable" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0"
        width="100%">
        <thead>
          <tr>
            <th>Name</th>
            <th>Nation</th>
            <th>City</th>
            <th>Checked-in Time</th>
            <th>Code</th>
          </tr>
        </thead>
      </table>
      <!-- end member registration table -->
    </div>






    <script>
      $(function () {
        initialiseCountryCombo();
        initialiseSessionsCombo();
        $("#localitiez").select2({ //create locality leaders drop down
          maximumSelectionLength: 1,
          placeholder: "Max 1",
          allowClear: true
        });

      });
    </script>
    <!--/New Member -->

    <!-- tags -->
    <script src="js/tags/jquery.tagsinput.min.js"></script>
    <!-- input tags -->


    <!-- daterangepicker -->
    <script type="text/javascript" src="js/moment/moment.min.js"></script>
    <script type="text/javascript" src="js/datepicker/daterangepicker.js"></script>

    </script>
    <!-- select2 -->
    <script>
      var id = getId(1);

      $(document).ready(function () {
        // console.log('attendance eventId:',id);
        eventRegForm.eventId.value = id;
        //$(".select2_group").select2({});
        $("#membersDropDown").select2({ //create house church leaders drop down
          maximumSelectionLength: 400,
          placeholder: "Select Delegates",
          allowClear: true
        });

        var n = 'GLB';
        //initialise combo for localities
        //initialiseLoclaitiesCombo(n)
      });


      $(document).ready(function () {
        //provinces table
        var nation = 'GLB';
        $('#eventsRegTable').DataTable({
          "ajax": {
            "url": api_base_url +
              "/cmfi_event_attendance?join=cmfi_event_registration,cmfi_members,cmfi_countries&filter=eventId,eq," +
              id,
            "dataSrc": "records"
          },
          "columns": [{
              "data": "regId"
            },
            {
              "data": "regId"
            },
            {
              "data": "regId"
            },
            {
              "data": "date"
            },
            {
              "data": "id",
              "width": 40
            }
          ],
          columnDefs: [{
              targets: 4,
              render: function (data, type, full, meta) {
                if (type === 'display') {
                  data = `<div class="button-group">
                             <!--a onclick="showMemberCard(${data})" class="btn btn-xs btn-primary"><i class="fa fa-info-circle"></i> </a--> 
                             <a onclick="eventUncheck(${data})" class="btn btn-danger btn-xs "><i class="fa fa-trash"></i> </a>
                             </div>`;
                }

                return data;
              }
            },

            {
              targets: 0,
              render: function (data, type, full, meta) {
                if (type === 'filter' || type === 'display') {
                  data =
                    `<a onclick="showMemberCard(${data.memberId.id})">${data.memberId.firstName}&nbsp;${data.memberId.lastName}</a>`;
                }

                return data;
              }

            },
            {
              targets: 1,
              render: function (data, type, full, meta) {
                if (type === 'filter' || type === 'display') {
                  data = data.memberId.country.name;
                }

                return data;
              }

            }, {
              targets: 2,
              render: function (data, type, full, meta) {
                if (type === 'filter' || type === 'display') {
                  data = data.memberId.city;
                }

                return data;
              }

            }
          ],
          dom: "Bfrtip",
          buttons: [{
            extend: "copy",
            className: "btn-sm"
          }, {
            extend: "csv",
            className: "btn-sm"
          }, {
            extend: "excel",
            className: "btn-sm"
          }, {
            extend: "pdf",
            className: "btn-sm"
          }, {
            extend: "print",
            className: "btn-sm"
          }]
        });


      });



      //populate leaders drop down
      var opt3 = $(".leaders");
      /*  $.getJSON(`../app/api/funcs.php?fn=fetchEventRegistrations&id=${id}`, function(response) {
          $.each(response, function() {
              opt3.append($("<option />").val(this.regId).text(this.name));
          });
      }); */
      $.getJSON(`${api_base_url}/cmfi_event_registration?join=cmfi_members&filter=eventId,eq,${id}`, function (
        response) {
        $.each(response.records, function () {
          opt3.append($("<option />").val(this.id).text(this.memberId.firstName + ' ' + this.memberId
            .lastName));
        });
      });

      //populate possible check-in dates
      var dateCombo = $(".dates");
      $.getJSON(`${api_base_url}/cmfi_events?filter=eventId,eq,${id}`, function (data) {
        var d = data.records[0];
        console.log(d);
        var start = new Date(d.startDate);
        var end = new Date(d.endDate);
        console.log(start);
        while (start <= end) {
          var d_text = moment(start).format('DD-MM-YYYY');
          var d_value = moment(start).format('YYYY-MM-DD');
          dateCombo.append($("<option />").val(d_value).text(d_text));

          start = moment(start).add(1, 'days');
          console.log(start);
        }
      });

      //barcode checkin
      /* $("#barcodeEntry").on('change', function () {
        var code = $(this).val();
        alert(code);

      }) */

      $("#barcodeEntry").keyup(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) {
          e.preventDefault();
          var code = $(this).val();
          //check in delegate
          checkInBC(code);

        }


      });
    </script>