<div class="">
    <div class="clearfix"></div>

    <div class="row">


        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Asset Register <small>detail Panel</small></h2>
                    <ul class="nav navbar-right panel_toolbox">

                        <a data-toggle="modal" href=".addAsset" class="btn btn-success btn-xs"> <i
                                class="glyphicon glyphicon-plus"> </i> Add Asset</a>`

                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <p class="text-muted font-13 m-b-30">

                    </p>
                    <table id="assets_datatable" class="table table-striped table-bordered dt-responsive "
                        cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>name</th>
                                <th>description</th>
                                <th>value</th>
                                <th>Date Purchased</th>
                                <th>Department</th>
                                <th>Serial</th>
                                <th>steward</th>
                                <th>Asset Code</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- /page content -->


<!-- Add Page  modal-->
<div class="modal addAsset" role="dialog" style="z-index: 1600;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add new asset</h4>
            </div>
            <form id="assetsForm" class="form-horizontal form-label-left input_mask" action="" method="POST">
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Name</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="text" class="form-control" name="name" placeholder="" required="required">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Description</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="textarea" class="form-control" name="description" placeholder=""
                                required="required">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Value</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="text" class="form-control" name="value" placeholder="" required="required">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Date Purchased</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="text" class="form-control" name="purchaseDate" placeholder=""
                                required="required">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Departmant</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="text" class="form-control" name="department" placeholder=""
                                required="required">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Steward</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="text" class="form-control" name="steward" placeholder="" required="required">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Asset Code</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="text" class="form-control" name="code" placeholder="" required="required">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Serial Number</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="text" class="form-control" name="serialNumber" placeholder=""
                                required="required">
                        </div>
                    </div>
                    <div class="clearfix"></div>

                </div>
            </form>
            <div class="modal-footer">
                <button onclick="addAsset();" type="input" name="submit" data-dismiss="modal"
                    class="btn btn-success btn-icon"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                <button type="button" class="btn btn-default btn-icon" data-dismiss="modal"><i
                        class="glyphicon glyphicon-remove-circle"></i>
                    Cancel</button>
            </div>
        </div>
    </div>
</div>
<!-- / end add page modal-->

<script>
    $('#assets_datatable').DataTable({
        responsive: true,
        "ajax": {
            "url": api_base_url +
                "/cmfi_assets",
            "dataSrc": "records"
        },
        "columns": [{
                "data": "name"
            },
            {
                "data": "description"
            },
            {
                "data": "value"
            },
            {
                "data": "datePurchased"
            },
            {
                "data": "department"
            },
            {
                "data": "serialNumber"
            },
            {
                "data": "steward"
            },
            {
                "data": "code"
            },
            {
                "data": "id"
            }

        ],
        columnDefs: [{
                targets: 5,
                render: function (data, type, full, meta) {

                    if (type === 'filter' || type === 'display' || type === "sort") {
                        data =
                            `<a id = "editset${data}" onclick = "editSet(${data},'pages')" class = "btn btn-info btn-xs"> <i id="editsetIcon${data}" class = "glyphicon glyphicon-pencil" > </i></a >
                        <a  onclick = "deletePage(${data});" class = "btn btn-danger btn-xs" > <i class = "glyphicon glyphicon-trash" > </i></a >`

                    }

                    return data;
                }
            },
            {
                targets: 0,
                render: function (data, type, full, meta) {
                    if (type === 'filter' || type === 'display' || type === "sort") {
                        data = `<p id = "name${full.id}">${data}</p >`;
                    }

                    return data;
                }
            },
            {
                targets: 1,
                render: function (data, type, full, meta) {
                    if (type === 'filter' || type === 'display' || type === "sort") {
                        data = `<p id = "description${full.id}">${data}</p >`;
                    }

                    return data;
                }
            },
            {
                targets: 2,
                render: function (data, type, full, meta) {
                    if (type === 'filter' || type === 'display' || type === "sort") {
                        data = `<p id = "value${full.id}">${data}</p >`;
                    }

                    return data;
                }
            },
            {
                targets: 3,
                render: function (data, type, full, meta) {
                    if (type === 'filter' || type === 'display' || type === "sort") {
                        data = `<p id = "date${full.id}">${data}</p >`;
                    }

                    return data;
                }
            },
            {
                targets: 4,
                render: function (data, type, full, meta) {
                    if (type === 'filter' || type === 'display' || type === "sort") {
                        data = `<p id = "dept${full.id}">${data}</p >`;
                    }

                    return data;
                }
            },
            {
                targets: 5,
                render: function (data, type, full, meta) {
                    if (type === 'filter' || type === 'display' || type === "sort") {
                        data = `<p id = "sn${full.id}">${data}</p >`;
                    }

                    return data;
                }
            },
            {
                targets: 6,
                render: function (data, type, full, meta) {
                    if (type === 'filter' || type === 'display' || type === "sort") {
                        data = `<p id = "ste${full.id}">${data}</p >`;
                    }

                    return data;
                }
            },
            {
                targets: 7,
                render: function (data, type, full, meta) {
                    if (type === 'filter' || type === 'display' || type === "sort") {
                        data = `<p id = "code${full.id}">${data}</p >`;
                    }

                    return data;
                }
            }
        ],
        order: [
            [0, 'asc']
        ]
    });
</script>