<style>
    table.tj tr td {
        font-size: 12px;
    }
</style>
<div class="x_panel">

    <div class="x_content">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <form id="badgesForm" method="post">

                <div class="col-sm-4">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-primary"><i class="fa fa-undo"></i> re-Print selected
                                Badges</button>
                        </span>
                    </div>
                </div>
                <!-- start member registration table -->
                <table id="eventsRegTable" class="table tj table-striped table-bordered dt-responsive nowrap"
                    cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th><input type="checkbox" class='checkall' id='checkall'></th>
                            <th>Name</th>
                            <th>Nation</th>
                            <th>City</th>
                            <th>Date Registe</th>
                            <th>Arrive Date</th>
                            <th>Depart Date</th>
                            <th>Role</th>
                            <th>RegId</th>
                        </tr>
                    </thead>
                </table>
                <!-- end member registration table -->
            </form>
        </div>
    </div>
</div>

<script>
    function getid() {
        var str = window.location.href;
        var idArr = str.split("/");
        var l = idArr.length;
        return idArr[l - 1];
    }
    var id = getid();

    $(document).ready(function () {
        $('#eventsRegTable tbody th.select-checkbox:eq(1)').click();
        //provinces table
        var CurrentDate = moment().format('MM ddd, YYYY hh:mm:ss a');
        var nation = 'GLB';
        var table = $('#eventsRegTable').DataTable({
            responsive: true,
            "ajax": {
                "url": api_base_url +
                    "/vw_roles?filter=eventId,eq," +
                    id + "&filter=badgePrinted,eq,1",
                "dataSrc": "records"
            },
            "columns": [{
                    "data": "regId"
                },

                {
                    "data": "firstName"
                },
                {
                    "data": "name",
                    "width": 30
                },
                {
                    "data": "city",
                    "width": 30
                },
                {
                    "data": "dateRegistered",
                    "width": 30
                },
                {
                    "data": "arrivalDate",
                    "width": 40
                },
                {
                    "data": "departureDate",
                    "width": 30
                },
                {
                    "data": "role",
                    "width": 30
                }, {
                    "data": "regId"
                },

            ],
            columnDefs: [{
                    'targets': 0,
                    'checkboxes': {
                        'selectRow': true,
                        'searchable': true

                    }
                },
                {
                    targets: 1,
                    render: function (data, type, full, meta) {
                        if (type === 'filter' || type === 'display' || type === "sort") {
                            data = data + ' ' + full.lastName;
                        }

                        return data;
                    }
                },
                {
                    targets: 4,
                    render: function (data, type, full, meta) {
                        if (type === 'display' || type === "sort") {
                            data = data.substring(0, 10);
                        }

                        return data;
                    }
                }
            ],
            select: {
                style: 'os',
                selector: 'td:first-child'
            },
            dom: "Bfrtip",
            order: [
                [1, 'asc']
            ],
            buttons: [
                /*  {
                     text: '<i class="fa fa-print"></i> Print Badges',
                     className: 'btn btn-warning',
                     action: function (e, dt, node, config) {
                         printBadges();
                     }
                 }, */
                {
                    extend: 'print',
                    text: '<i class="fa fa-print"></i> Print Report',
                    className: 'btn btn-default',
                    title: 'Registered Delegates',
                    /*   exportOptions: {
                          columns: [0, 1, 5, 6]
                      }, */
                    message: CurrentDate,
                    customize: function (win) {
                        $(win.document.body)
                            .css('font-size', '10pt')
                            .prepend(
                                '<img src="https://events.cmfionline.org/images/CMFI-logo.png" style="position:absolute; top:0; left:1000;" width="120px" />'
                            );
                        $(win.document.body).find('table')
                            .addClass('compact')
                            .css('font-size', 'inherit');
                    }



                }
            ],
            'select': {
                'style': 'multi'
            }
        });





        // Handle form submission event
        $('#badgesForm').on('submit', function (e) {
            e.preventDefault();
            var form = this;

            var printids_arr = [];

            var rows_selected = table.column(0).checkboxes.selected();

            // Iterate over all selected checkboxes
            $.each(rows_selected, function (index, rowId) {
                // Create a hidden                                                                                                                      
                $(form).append(
                    $('<input>')
                    .attr('type', 'hidden')
                    .attr('name', 'id[]')
                    .val(rowId)
                );
                printids_arr.push(rowId);
            });

            undoPrint(printids_arr);




        });




        function undoPrint(printids_arr) {
            var x = 0;
            // Check checkbox checked or not
            if (printids_arr.length > 0) {
                console.log(printids_arr);
                // Confirm alert
                (new PNotify({
                    title: 'Confirmation Needed',
                    text: 'Are you sure you want to re-print these selected badges?',
                    icon: 'glyphicon glyphicon-question-sign',
                    hide: false,
                    confirm: {
                        confirm: true
                    },
                    buttons: {
                        closer: false,
                        sticker: false
                    },
                    history: {
                        history: false
                    },
                    addclass: 'stack-modal',
                    stack: {
                        'dir1': 'down',
                        'dir2': 'right',
                        'modal': true
                    }
                })).get().on('pnotify.confirm', function () {

                    printids_arr.forEach(function (regId, i) {
                        $.ajax({
                            url: `${api_base_url}/cmfi_event_registration/${regId}`,
                            type: 'PUT',
                            data: {
                                badgePrinted: 0
                            },
                            success: function (data) {
                                x++;
                            },
                            error: function (err) {
                                console.log(err)
                            }
                        })
                    })
                    //sessionStorage.setItem('reprint-badges', JSON.stringify(printids_arr));
                    showPage('id_cards');
                    successNote(sresponse, x + ' badges set successfully for reprint');
                });
            }
        }

    });
</script>