<div class="">
    <div class="clearfix"></div>

    <div class="row">


        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Roles Settings <small>Configuration Panel</small></h2>
                    <ul class="nav navbar-right panel_toolbox">

                        <a data-toggle="modal" href=".addRole" class="btn btn-success btn-xs"> <i
                                class="glyphicon glyphicon-plus"> </i> Add Role</a>`

                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <p class="text-muted font-13 m-b-30">

                    </p>
                    <table id="roles_datatable" class="table table-striped table-bordered dt-responsive "
                        cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Role</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- /page content -->



<script>
    $('#roles_datatable').DataTable({
        responsive: true,
        "ajax": {
            "url": api_base_url +
                "/cmfi_roles",
            "dataSrc": "records"
        },
        "columns": [{
                "data": "role"
            },
            {
                "data": "roleId"
            }

        ],
        columnDefs: [{
                targets: 1,
                render: function (data, type, full, meta) {

                    if (type === 'filter' || type === 'display' || type === "sort") {
                        data =
                            `<a id = "editset${data}" onclick = "editSet(${data},'roles')" class = "btn btn-info btn-xs"> <i id="editsetIcon${data}" class = "glyphicon glyphicon-pencil" > </i></a >
                        <a  onclick = "deleteRole(${data});" class = "btn btn-danger btn-xs" > <i class = "glyphicon glyphicon-trash" > </i></a >`

                    }

                    return data;
                }
            },
            {
                targets: 0,
                render: function (data, type, full, meta) {
                    if (type === 'filter' || type === 'display' || type === "sort") {
                        data = `<p id = "role${full.roleId}">${data}</p >`;
                    }

                    return data;
                }
            }
        ],
        order: [
            [0, 'asc']
        ]
    });
</script>