<style>
    .prettyprint {
        display: block;
        color: #393318;
    }

    pre {
        margin-bottom: 1em;
        padding: 12px 8px;
        width: auto;
        max-height: 600px;
        overflow: auto;
        font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono,
            DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace,
            sans-serif;
        font-size: 13px;
        background-color: #eff0f1;
        border-radius: 3px;
    }
</style>
<script>
    //make elemts  draggable

    $( function() {
        $('#photo').draggable({
            stop: function(event, ui) {
                console.log("dragged")
            }
        });
        $('#barcode12345').draggable();
    })
</script>

<script src="js/JsBarcode-master/dist/JsBarcode.all.js"></script>
<div class="">
    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2><i class="glyphicon glyphicon-tag"></i> Badges <small>event badges</small></h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <a data-toggle="modal" href=".newBadge" class="btn btn-success btn-xs">
                                    <i class="glyphicon glyphicon-plus"> </i> New Badge</a>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <p class="text-muted font-13 m-b-30"></p>
                            <table id="badge_datatable" class="table table-striped table-bordered dt-responsive "
                                cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>name</th>
                                        <th>description</th>
                                        <th>selected</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2><i class="glyphicon glyphicon-cog"></i> Badge Settings <small>Configuration Panel</small></h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <a data-toggle="modal" href=".newBadgeSetting" class="btn btn-success btn-xs">
                                    <i class="glyphicon glyphicon-plus"> </i> New Setting</a>
                                <a id="btnCommit" class="btn btn-xs btn-success" onclick="commitBadgeCSS() ;"><i 
                                        class="glyphicon glyphicon-ok"> </i> Commit Settings</a>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <p class="text-muted font-13 m-b-30"></p>
                            <table id="badge_set_datatable" class="table table-striped table-bordered dt-responsive "
                                cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>Property</th>
                                        <th>Value</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col xs-12">
            <div id="idCard"></div>
        </div>
    </div>
</div>
<!-- /page content -->

<!-- template-->
<template id="template"> </template>

<!--badge code modal-->
<div id="badgeCodeModal" class="modal fade badgeCodeModal" tabindex="-1" role="dialog" aria-hidden="true"
    style="z-index: 1400;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Edit Badge Code</h4>
            </div>
            <div class="modal-body">
                <div class="x_panel">
                    <div class="x_content">
                        <textarea id="codeEditor" contenteditable="true" class="prettyprint"
                            style="width:100%; font-family: Monospace; font-size:11px; border:0;" rows="30"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-sm btn-default" data-dismiss="modal">Cancel</a>
                <a onclick="savehtml();" class="btn btn-sm btn-primary" data-dismiss="modal">Save</a>
            </div>
        </div>
    </div>
</div>

<!-- new badge setting modal-->
<div id="newBadge" class="modal fade newBadge" tabindex="-1" role="dialog" aria-hidden="true"
    style="z-index: 1400;">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">New Badge </h4>
            </div>
            <div class="modal-body">
                <div class="x_panel">
                    <div class="x_content">
                        <form id="badgeForm" class="form-horizontal form-label-left" action="" method="POST">
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Name</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <input id="badgeName" type="text" class="form-control" placeholder="name" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Description</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <input id="badgeDesc" type="text" class="form-control" placeholder="description" />
                            </div>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-sm btn-default" data-dismiss="modal">Cancel</a>
                <a onclick="newBadge();" class="btn btn-sm btn-primary" data-dismiss="modal">Save</a>
            </div>
        </div>
    </div>
</div>

<!-- new badge setting modal-->
<div id="newBadgeSetting" class="modal fade newBadgeSetting" tabindex="-1" role="dialog" aria-hidden="true"
    style="z-index: 1400;">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">New Badge Setting</h4>
            </div>
            <div class="modal-body">
                <div class="x_panel">
                    <div class="x_content">
                        <form id="badgeSettingsForm" class="form-horizontal form-label-left" action="" method="POST">
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Property Name</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <input id="propName" type="text" class="form-control" placeholder="prop" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Value</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <input id="propValue" type="text" class="form-control" placeholder="value" />
                            </div>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-sm btn-default" data-dismiss="modal">Cancel</a>
                <a onclick="newBadgeSetting();" class="btn btn-sm btn-primary" data-dismiss="modal">Save</a>
            </div>
        </div>
    </div>
</div>

<!--Vue-->
<script type="text/javascript" src="js/vue.js"></script>
<!--Axios-->
<script type="text/javascript" src="js/axios.js"></script>
<link rel="stylesheet" href="../css/switchery/switchery.min.css" />

<script>

var id = getId(1);

    function loadBadgeTemplate(badgeId) {
        if(badgeId==undefined){
            errorNote(fresponse, 'No badge selected! ')
        }else{
        //get template from database
        $.get(`${api_base_url}/cmfi_badge_design?filter=badgeId,eq,${badgeId}&filter=prop,eq,html`, function(data){
            var res=data.records[0];
            console.log(res);
            if(data.records.length){
                var htmlCode=unescape(unescape(res.value)); //console.log('html code:',htmlCode);
                $("#template").html(htmlCode);
                setTimeout(function () {
                    showBadgeTemplate(badgeId);
                }, 500);
            }else{
                warningNote('Oops', 'No settings defined as yet for this badge, please add html records and other settings! ')
            }
            
            })
        }
    }

    //display default badge on load
    $(function(){
        $.get(`${api_base_url}/cmfi_badges?filter=isDefault,eq,1`, function(data){
      var d=data.records[0];
      //get badge properties
      if(d){
            showBadgeSettings(d.id);
        }else{
          errorNote(fresponse, 'No badge template selected! ')
        }
    });
    })
    

    $("#badge_datatable").DataTable({
        responsive: true,
        ajax: {
            url: api_base_url + "/cmfi_badges",
            dataSrc: "records"
        },
        columns: [
            {
                data: "name"
            },
            {
                data: "description"
            },
            {
                data: "isDefault"
            },
            {
                data: "id",
                width: "80px"
            }
        ],
        filter: false,
        lengthChange: false,
        columnDefs: [
            {
                targets: 3,
                render: function (data, type, full, meta) {
                    if (type === "filter" || type === "display" || type === "sort") {
                        data = `<a id = "editset${data}" onclick = "editSet(${data},'badge')" class = "btn btn-info btn-xs"> <i id="editsetIcon${data}" class = "glyphicon glyphicon-pencil" > </i></a >
                            <a id = "cloneBadgex${data}" onclick = "cloneBadge(${data})" class = "btn btn-info btn-xs"> <i id="cloneBadgeIcon${data}" class = "fa fa-copy" > </i></a >
                        <a id = "showSet${data}" onclick = "showBadgeSettings(${data})" class = "btn btn-primary btn-xs"> <i class = "glyphicon glyphicon-cog" > </i></a >
                        <a  onclick = "deleteBadge(${data});" class = "btn btn-danger btn-xs" > <i class = "glyphicon glyphicon-trash" > </i></a >`;
                    }

                    return data;
                }
            },
            {
                targets: 0,
                render: function (data, type, full, meta) {
                    if (type === "filter" || type === "display" || type === "sort") {
                        data = `<p id = "name${full.id}"><a style="cursor:pointer;" onlclick="showBadgeSettings(${full.id})">${data}</a></p >`;
                    }

                    return data;
                }
            },
            {
                targets: 1,
                render: function (data, type, full, meta) {
                    if (type === "filter" || type === "display" || type === "sort") {
                        data = `<p id = "value${full.id}">${data}</p >`;
                    }

                    return data;
                }
            },
            {
                targets: 2,
                render: function (data, type, full, meta) {
                    if (type === "filter" || type === "display" || type === "sort") {
                        if (data == 1) {
                            data =
                            `<a onclick=activateBadge(${full.id})><input type="checkbox" class="usradmiin" checked="checked" data-badgeId="${full.id}"></a>`;
                        } else {
                            data =
                            `<a onclick=activateBadge(${full.id})><input type="checkbox" class="usradmin" data-badgeId="${full.id}"></a>`;
                        }
                    }

                    return data;
                }
            }
        ],
        order: [[0, "asc"]]
    });

    function showCodeFile(code, id) {
        sessionStorage.setItem("htmlId", id);
        $("#codeEditor").html(unescape(unescape(unescape(code))));
    }

    function savehtml() {
        var id = sessionStorage.getItem("htmlId");
        var value = escape(document.getElementById("codeEditor").value);
        var name = "html";
        console.log("html:", value);
        saveBadgeSetting(id, name, value);
    }

    function showBadgeSettings(badgeId) {
        sessionStorage.setItem("badgeId",badgeId);
        $("#badge_set_datatable").DataTable().destroy();
        loadBadgeTemplate(badgeId);
        $("#badge_set_datatable").DataTable({
            responsive: true,
            ajax: {
                url: api_base_url + "/cmfi_badge_design?filter=badgeId,eq," + badgeId,
                dataSrc: "records"
            },
            columns: [
                {
                    data: "prop"
                },
                {
                    data: "value"
                },
                {
                    data: "id"
                }
            ],
            filter: false,
            lengthChange: false,
            columnDefs: [
                {
                    targets: 2,
                    render: function (data, type, full, meta) {
                        if (type === "filter" || type === "display" || type === "sort") {
                            var codeBtn = "";
                            if (full.prop == "html" && full.value != "") {
                                codeBtn = `<a onclick="showCodeFile('${escape(full.value)}',${data})" data-toggle="modal" data-target=".badgeCodeModal" class = "btn btn-default btn-xs"> <i  class = "fa fa-code" > </i></a >`;
                            }
                            data =
                                codeBtn +
                                `<a id = "editset${data}" onclick = "editSet(${data},'badgeSet')" class = "btn btn-info btn-xs"> <i id="editsetIcon${data}" class = "glyphicon glyphicon-pencil" > </i></a >
                        <a  onclick = "deleteBadgeSetting(${data});" class = "btn btn-danger btn-xs" > <i class = "glyphicon glyphicon-trash" > </i></a >`;
                        }

                        return data;
                    }
                },
                {
                    targets: 0,
                    render: function (data, type, full, meta) {
                        if (type === "filter" || type === "display" || type === "sort") {
                            data = `<p id = "name${full.id}">${data}</p >`;
                        }

                        return data;
                    }
                },
                {
                    targets: 1,
                    render: function (data, type, full, meta) {
                        if (type === "filter" || type === "display" || type === "sort") {
                            if(full.prop=="html"){
                                data = `<p id = "value${full.id}">${escape(data.slice(0, 15))}</p >`;
                            }else{
                                data = `<p id = "value${full.id}">${unescape(data)}</p >`;
                            }
                        }

                        return data;
                    }
                }
            ],
            order: [[0, "asc"]]
        });
    }

    function showBadgeTemplate(badgeId) {
        $('#idCard').html(''); //clear badge preview
        $('#idCard').load('templates/badgeStyling.html'); //prepare updated css for badge preview
        // dynamically add bootstrap library
       /*var stylesheet = $("<link>", {
            rel: "stylesheet",
            type: "text/css",
            href: "../css/badge.css?rnd=783"
        });
        stylesheet.appendTo("page");*/
        (function ($) {
            $.fn.tmpl = function (obj) {
                var _this = this,
                    el = $(this);
                return (function () {
                    var original = el.html();
                    el.html(
                        el.html().replace(/{{([^}}]+)}}/g, function (wholeMatch, key) {
                            var substitution = obj[$.trim(key)];
                            return typeof substitution == "undefined"
                                ? wholeMatch
                                : substitution;
                        })
                    );
                    return el.html() == original ? _this : $(el).tmpl(obj);
                })();
            };
        })(jQuery);

        $.get(`${api_base_url}/cmfi_badge_design?filter=badgeId,eq,${badgeId}&filter=prop,eq,html`, function(data){
            var res=data.records[0];
            console.log(res);
            if(data.records.length){
                var htmlCode=unescape(unescape(res.value)); //console.log('html code:',htmlCode);
                
            
        axios
            .get(`${api_base_url}/cmfi_events?filter=eventId,eq,${id}`)
            .then(res => {
                //console.log(res);
                var d = res.data.records[0];

                //append badge to page

                $(htmlCode)
                    .tmpl({
                        id: 12345,
                        firstName: "JOHN",
                        lastName: "MARK",
                        delegateImage: "user.png",
                        country: "ISRAEL",
                        city: "Jerusalem",
                        role: "Protocole",
                        eventImage: d.image,
                        badgeImage:d.badgeImage,
                        eventTitle: d.eventTitle,
                        badgeTitle:d.badgeTitle
                    })
                    .appendTo($("#idCard"));

                JsBarcode("#barcode" + 12345, 12345, {
                    displayValue: false,
                    //fontSize:24,
                    lineColor: "#0cc"
                });
            });


        }else{
                warningNote('Oops', 'No settings defined as yet for this badge, please add html records and other settings! ')
            }
        })
           
    }


//drag elements
function dragElement(elmnt) {
  var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
  if (document.getElementById(elmnt.id + "header")) {
    // if present, the header is where you move the DIV from:
    document.getElementById(elmnt.id + "header").onmousedown = dragMouseDown;
  } else {
    // otherwise, move the DIV from anywhere inside the DIV:
    elmnt.onmousedown = dragMouseDown;
  }

  function dragMouseDown(e) {
    e = e || window.event;
    e.preventDefault();
    // get the mouse cursor position at startup:
    pos3 = e.clientX;
    pos4 = e.clientY;
    document.onmouseup = closeDragElement;
    // call a function whenever the cursor moves:
    document.onmousemove = elementDrag;
  }

  function elementDrag(e) {
    e = e || window.event;
    e.preventDefault();
    // calculate the new cursor position:
    pos1 = pos3 - e.clientX;
    pos2 = pos4 - e.clientY;
    pos3 = e.clientX;
    pos4 = e.clientY;
    // set the element's new position:
    elmnt.style.top = (elmnt.offsetTop - pos2) + "px";
    elmnt.style.left = (elmnt.offsetLeft - pos1) + "px";
  }

  function closeDragElement() {
    // stop moving when mouse button is released:
    document.onmouseup = null;
    document.onmousemove = null;
  }
}
    
</script>