
<script src="js/JsBarcode-master/dist/JsBarcode.all.js"></script>
        
          
              <div class="x_panel">
               
                <div class="x_content">
                    <!-- start of user-activity-graph -->
                    <!--div id="graph_bar" style="width:100%; height:280px;"></div-->
                    <!-- end of user-activity-graph -->

                    <div class="" role="tabpanel" data-example-id="togglable-tabs">
                      <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true"><i class="icon-list"></i> Event Details</a>
                        </li>
                        <li role="presentation" class=""><a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false"><i class="icon-users"></i> Registration</a>
                        </li>
                        <li role="presentation" class=""><a href="#tab_content3" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false"><i class="icon-calendar"></i> Attendance</a>
                        </li>
                        <li role="presentation" class=""><a href="#tab_content4" role="tab" id="profile-tab3" data-toggle="tab" aria-expanded="false"><i class="icon-camera"></i> Gallery</a>
                        </li>
                        <li role="presentation" class=""><a href="#tab_content5" role="tab" id="profile-tab4" data-toggle="tab" aria-expanded="false"><i class="icon-wrench"></i> Settings</a>
                        </li>
                      </ul>
                      <div id="myTabContent" class="tab-content">
                        <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                            <div class="row">
                              <div class="col-md-12">
                                <div class="x_panel">
                                  <div class="x_title">
                                    <h2 class="eventTitle"></h2>
                                    
                                    <div class="clearfix"></div>
                                  </div>
                                  <div class="x_content">
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                      <ul class="stats-overview">
                                        <li>
                                            <div class="animated flipInY tile_stats_count">
                                                <div class="right">
                                                  <span class="count_top"><i class="icon-users"></i> Registered Delegates</span>
                                                  <div class="count green" id="registrations">4,567</div>
                                                </div>
                                              </div>
                                        </li>
                                        <li>
                                            <div class="animated flipInY tile_stats_count">
                                                <div class="right">
                                                  <span class="count_top"><i class="icon-globe"></i> Nations</span>
                                                  <div class="count" id="nations">200</div>
                                                </div>
                                              </div>
                                        </li>
                                        <li class="hidden-phone">
                                            <div class="animated flipInY tile_stats_count">
                                                <div class="right">
                                                  <span class="count_top"><i class="icon-map"></i> Localities</span>
                                                  <div class="count" id="localities">20</div>
                                                </div>
                                              </div>
                                        </li>
                                      </ul>
                                      <!--br />
                                      <div id="mainb" style="height:350px;"></div>
                                      <br>
                                      <div class="clearfix"></div-->
                                      <div class="row">
                                        
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                          <div class="x_panel">
                                            <div class="x_title">
                                              <h2>Delegate Registrations <small>by nation</small></h2>
                                              <ul class="nav navbar-right panel_toolbox">
                                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                                </li>
                                                <li class="dropdown">
                                                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                                  <ul class="dropdown-menu" role="menu">
                                                    <li><a href="#">Attendance Report</a>
                                                    </li>
                                                    <li><a href="#">Nations Report</a>
                                                    </li>
                                                  </ul>
                                                </li>
                                                <!--li><a class="close-link"><i class="fa fa-close"></i></a>
                                                </li-->
                                              </ul>
                                              <div class="clearfix"></div>
                                            </div>
                                            <div class="x_content">
                                              <canvas id="mycanvas"></canvas>
                                            </div>
                                          </div>
                                        </div>
          
                                         <!--div class="col-md-6 col-sm-6 col-xs-12">
                                          <div class="x_panel tile fixed_height_320 overflow_hidden">
                                            <div class="x_title">
                                              <h2>Gender</h2>
                                              <ul class="nav navbar-right panel_toolbox">
                                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                                </li>
                                                <li class="dropdown">
                                                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                                  <ul class="dropdown-menu" role="menu">
                                                    <li><a href="#">Settings 1</a>
                                                    </li>
                                                    <li><a href="#">Settings 2</a>
                                                    </li>
                                                  </ul>
                                                </li>
                                                <li><a class="close-link"><i class="fa fa-close"></i></a>
                                                </li>
                                              </ul>
                                              <div class="clearfix"></div>
                                            </div>
                                            <div class="x_content">
                                              <table class="" style="width:100%">
                                                <tr>
                                                  <th style="width:37%;">
                                                    <p>gender analysis</p>
                                                  </th>
                                                  <th>
                                                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                                      <p class="">Gender</p>
                                                    </div>
                                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                                      <p class="">%</p>
                                                    </div>
                                                  </th>
                                                </tr>
                                                <tr>
                                                  <td>
                                                    <canvas id="canvas1" height="140" width="140" style="margin: 15px 10px 10px 0"></canvas>
                                                  </td>
                                                  <td>
                                                    <table class="tile_info">
                                                      <tr>
                                                        <td>
                                                          <p><i class="fa fa-square green"></i>Male </p>
                                                        </td>
                                                        <td>40%</td>
                                                      </tr>
                                                      <tr>
                                                        <td>
                                                          <p><i class="fa fa-square aero"></i>Female </p>
                                                        </td>
                                                        <td>60%</td>
                                                      </tr>
                                                     
                                                    </table>
                                                  </td>
                                                </tr>
                                              </table>
                                            </div>
                                          </div>
                                        </div-->
                                      </div>


                                    </div>

                                    <!-- start project-detail sidebar -->
                                    <div class="col-md-3 col-sm-3 col-xs-12">

                                      <section class="panel">

                                        <div class="x_title">
                                          <h2>Event Description</h2>
                                          <div class="clearfix"></div>
                                        </div>
                                        <div class="panel-body">
                                          <div class="green"><h3><i class="fa fa-flag"></i> <span class="eventTitle"> World Conquest Event</span></h3></div>

                                          <p class="eventDescription">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terr.</p>
                                          <br />

                                          <div class="project_detail">

                                            <p class="title">Event Country</p>
                                            <p class="eventCountry">Deveint Inc</p>
                                            <p class="title">Event Coordinator</p>
                                            <p class="eventLeader">Tony Chicken</p>
                                          </div>

                                          <br />
                                          <h5>Event files</h5>
                                          <ul class="list-unstyled project_files">
                                            <li><a href=""><i class="fa fa-file-word-o"></i> Prayer_topics.docx</a>
                                            </li>
                                            <!--li><a href=""><i class="fa fa-file-pdf-o"></i> UAT.pdf</a>
                                            </li>
                                            <li><a href=""><i class="fa fa-mail-forward"></i> Email-from-flatbal.mln</a>
                                            </li>
                                            <li><a href=""><i class="fa fa-picture-o"></i> Logo.png</a>
                                            </li>
                                            <li><a href=""><i class="fa fa-file-word-o"></i> Contract-10_12_2014.docx</a>
                                            </li-->
                                          </ul>
                                          <br />

                                          <div class="text-center mtop20">
                                            <a href="#" class="btn btn-sm btn-primary">Add files</a>
                                          </div>
                                        </div>

                                      </section>

                                    </div>
                                    <!-- end project-detail sidebar -->

                                  </div>
                                </div>
                              </div>
                            </div>

                        </div> <!-- Cose Tab Panel -->
                        <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
                          <div class="col-md-7 col-sm-7 col-xs-12">
                            <div class="well">
                            <form id="eventRegForm">
                              <input id="eventId" name="eventId" value="" type="hidden" />
                            </form>
                           <div class="form-group">
                              <label class="control-label col-md-2 col-sm-2 col-xs-12">Select Member(s)</label>
                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <select id="membersDropDown" class="select2_multiple form-control leaders" multiple="multiple" style="width:100%;">
                                  <option value="select2"></option>
                                </select>
                              </div>
                           
                              <button id="btnRegister" onclick="eventRegister()" class="btn btn-sm btn-success"><i class="icon-user-following"></i> Register</button>
                               <span><a href="#"  data-toggle="modal" data-target=".newMember" id="newMemberBtn" class="btn btn-primary btn-sm"><i class="icon-magic-wand"></i> New Member</a></span>
                            </div>
                           </div>  
                          <!-- start member registration table -->
                          <table id="eventsRegTable" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                          <thead>
                            <tr>
                              <th>Name</th>
                              <th>Nation</th>
                              <th>Locality</th>
                              <th>Date Registered</th>
                              <th>Arrival Date</th>
                              <th>Departure Date</th>
                              <th>Actions</th>
                            </tr>
                          </thead>
                        </table>
                          <!-- end member registration table -->
                        </div>
                  
                              <!--Left panel-->
                        <div class="col-md-5 col-sm-5 col-xs-12 profile_right">
                            <div class="" role="tabpanel" data-example-id="togglable-tabs">
                                <ul id="delegateTab" class="nav nav-tabs bar_tabs" role="tablist">
                                  <li role="presentation" class="active"><a href="#delegate_id_card" id="id-tab" role="tab" data-toggle="tab" aria-expanded="true">Id card</a>
                                  </li>
                                  <li role="presentation" class=""><a href="#delegate_profile" role="tab" id="prof-tab" data-toggle="tab" aria-expanded="false">Personal</a>
                                  </li>
                                  <li role="presentation" class=""><a href="#details1" role="tab" id="prof-tab2" data-toggle="tab" aria-expanded="false">Travel</a>
                                  </li>
                                  <li role="presentation" class=""><a href="#details2" role="tab" id="prof-tab2" data-toggle="tab" aria-expanded="false">Medical</a>
                                  </li>
                                  <li role="presentation" class=""><a href="#details3" role="tab" id="prof-tab2" data-toggle="tab" aria-expanded="false">Other</a>
                                  </li>
                                </ul>
                                <div id="delegateTabContent" class="tab-content">
                                  
                                  <div role="tabpanel" class="tab-pane fade active in" id="delegate_id_card" aria-labelledby="profile-tab">
                                      <div id="idCard" class="id-bg">
                                          <div class="id-card-tag"></div>
                                            <div class="id-card-tag-strip"></div>
                                            <div class="id-card-hook"></div>
                                            <div class="id-card-holder">
                                              <div class="id-card">
                                                <div class="header">
                                                  <!--img src="images/CMFI-logo.png"-->
                                                  <h2 class="eventTitle custom-font-element custom-font-4  vc_custom_1431297137931" style="font-size:12px; line-height:17px; text-transform:uppercase; letter-spacing:0.5px; color:#333333; "></h2>
                                                </div>
                                                <div class="photo" id="photo">
                                                        <img  class="img-responsive avatar-view" src="app/images/members/user.png" alt="Avatar" 
                                                          onerror="if (this.src != 'app/images/members/user.png') this.src = 'app/images/members/user.png';">
                                                </div>
                                                <h2 id="memberName">Kiran Das DA</h2>
                                                <div class="qr-code">
                                                    <img id="barcode" height="50px"/>
                                                </div>
                                                <h3 id="memberCountry">Zimbabwe</h3>
                                                <hr>
                                                <p id="memberAddress"><strong>"PENGG"</strong>HOUSE,4th Floor, TC 11/729(4), Division Office Road <p>
                                                <p id="memberEmail">Near PMG Junction, Thiruvananthapuram Kerala, India <strong>695033</strong></p>
                                                <p id="memberPhone">Ph: 9446062493 | E-ail: info@onetikk.info</p>
                    
                                              </div>
                                            </div>
                                      </div>
                                      <div class="panel-footer">
                                          <span> <a class="btn btn-primary btn-sm" type="button" href="javascript:;" id="print"><i class="icon-printer"></i> print ID</a><!--a class="btn btn-info btn-sm" type="button"><i class="icon-note"></i> Edit Info</a--></span>
                                        </div>
                                  </div>
                                  <div role="tabpanel" class="tab-pane fade" id="delegate_profile" aria-labelledby="home-tab">
                                      <form name="regForm" id="regForm" enctype="multipart/form-data" method="post" action="" novalidate>
                                        <span class="section"> Personal Details</span>
                                                <input type="hidden" id="memberId" name="memberId" value="">
                                                <!-- Default input -->
                                                <div class="item form-group col-md-6">
                                                  <label  for="firstname">First Name</label>
                                                  <input type="text" class="form-control" name="firstname" id="firstname" placeholder="First Name"  required="required">
                                                  <span id="e1"></span>
                                                </div>
                                                <!-- Default input -->
                                                <div class="item form-group col-md-6">
                                                  <label  for="surname">Surname</label>
                                                  <input  type="text" class="form-control" name="lastname" placeholder="lastname" required="required">
                                                </div>
                                          
                                        
                                                <!-- Default input -->
                                                <div class="item form-group col-md-6">
                                                  <label  for="email">Email</label>
                                                  <input  type="email" class="form-control" id="email" placeholder="Email" name="email"
                                                  required="required">
                                                </div>
                                                <!-- Default input -->
                                                
                                                <div class="item form-group col-md-6">
                                                  <label id="ph" for="phone">Phone</label>
                                                  <input  type="text" class="form-control" name="phone" id="phone" placeholder="Phone Number"
                                                  required="required">
                                                </div>
                                                <div class="item form-group col-md-6">
                                                  <label  for="profession">Profession</label>
                                                  <input  type="text" class="form-control" name="profession" placeholder="Profession"
                                                  required="required">
                                                </div>
                                                <div class="item form-group col-md-6">
                                                  <label  for="city">City/Town</label>
                                                  <input  type="text" class="form-control" id="city" name="city" 
                                                  placeholder="City/Town" required="required">
                                                </div>
                                                <div class="item form-group col-md-6">
                                                  <label  for="country">Country</label>
                                                  <select id='country' name='country' class="form-control countries" required="required">
                                                    <option value="">Select nation</option>
                                                  </select>
                                                </div>
                                                <div class="item form-group col-md-6">
                                                  <label  for="nationality">Nationality</label>
                                                  <select id='nationality' name='nationality' class="form-control countries" required="required">
                                                    <option value="">Select nation</option>
                                                  </select>
                                                </div>
                                                  <div class="item form-group col-md-6">
                                                    <label for="language">What is your first language</label>
                                                    <input  type="text" name="language" id="autocomplete-custom-append" class="form-control col-md-6" style="float: left;" />
                                                    <div id="autocomplete-container" style="position: relative; float: left; width: 400px; margin: 10px;"></div>
                                                </div>
                                                <div class="item form-group col-md-6">
                                                      <label for="gender">Gender</label>
                                                  <select id='gender' name='gender' class="form-control" required="required">
                                                        <option value="">Select your gender</option>
                                                        <option value="M">Male</option>
                                                        <option value="F" >Female</option>
                                                  </select>
                                                </div>
                                                <div class="item form-group col-md-6">
                                                  <label  for="birthday">Date of Birth</label>
                                                  <input  id="birthday" name="birthday"  class="date-picker form-control" required="required"  placeholder="0000-00-00" 
                                                  type="text" >
                                                </div>
                                                <div class="form-group col-sm-12 col-xs-12 col-md-12" data-toggle="tooltip" data-placement="top" title="Tags">
                                                    <label for="tags"><i class="icon-tag" ></i> Tags</label>
                                                    <div id="tags_container"></div>                                                    
                                                    <div id="suggestions-container" style="position: relative; float: left; width: 250px; margin: 10px;"></div>
                                                  
                                                  </div>
                                        </form> 
                                        
                                    
                                      <!-- start tags -->
                                    <!--  <h4><i class="icon-tag" ></i> Tags</h4>
                                      <div id="tags"></div> -->
                                      <!-- end of tags -->
                            
                                    
                                      <br/>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="details1" aria-labelledby="profile-tab">
                                        <form name="regForm1" id="regForm1" enctype="multipart/form-data" method="post" action="" novalidate>
                                          <span class="section">Transport Information</span>
                                          <div class="form-row">   
                                            <div class="item dropdown col-md-6">
                                                  <label for="meansoftransport">Means Of Transportation</label>
                                              <select id="meansoftransport" name="meansoftransport" class="form-control select2_single" required="required">
                                                    <option value="">Select your means of transport</option>
                                                    <option  value="Air" >Air</option>
                                                    <option  value="Road" >Road</option>
                                                    <option  value="Water" >Water</option>
                                              </select>
                                            </div>
                                            </div>  
                                            <div class="form-row">   
                                                <div class="dropdown col-md-6" id="port"></div>
                                            </div>
                                                <div class="item form-group col-md-6">
                                                      <label for="pickup">Pick up from Port of Entry</label>
                                                  <select id="pickupport" name="pickupport" class="form-control" required="required">
                                                    <option value="">Select </option>
                                                    <option value="1">Yes</option>
                                                    <option value="0">No</option>                              
                                                  </select>
                                                </div>
                                            
                                            <div class="form-row">
                                                  <div class=" form-group col-md-6">
                                                      <label for="arrivaldate">Possible Arrival Date</label>
                                                      <input type="text" class="item form-control" id="arrivaldate" name="arrivaldate" 
                                                      required="required" placeholder="Your Arrival Date">
                                                  </div>
                                                  <!-- Default input -->
                                                  <div class="form-group col-md-6">
                                                    <label for="depaturedate">Possible Depature Date</label>
                                                    <input type="text" class="item form-control" id="depaturedate"
                                                    name="depaturedate" required="required" placeholder="Your Depature Date">
                                                  </div>
                                            </div><br>
                                            <div class="item form-group col-md-6">
                                                      <label for="children">Are you coming with children (requiring care)?</label>
                                                  <select id='children' name='children' class="form-control" required="required">
                                                    <option value="">Select</option>
                                                        <option value="Yes">Yes</option>
                                                        <option value="No" >No</option>
                                                  </select>
                                                </div>
                                                    
                                                      <script type="text/javascript">
                                                        $(document).on('change', 'select#children', function(){
                                                            var value = $('select#children option:selected').val();
                                                            //alert (value);
                                                            console.log(value);
                                                            if(value=="Yes"){
                                                              $('#childrenDiv').load('templates/regChildren.html');
                            
                                                            }else{
                                                              $('#childrenDiv').load('templates/empty.html');
                                                            }
                                                          });
                            
                                                      </script>
                                                <div id="childrenDiv"></div>
                            
                                              <div class="form-row">   
                                                  <div class="item form-group col-md-6">
                                                      <label for="transporToKoume"> Any transportation arrangement to Koume?</label>
                                                    <select id="transporToKoume" name="transporToKoume" class="form-control"
                                                    required="required">
                                                        <option  value="">Select </option>
                                                        <option  value="Yes">Yes</option>
                                                        <option  value="No">No</option>
                                                    </select>
                                                  </div>
                                              </div><br>
                            
                                              <script type="text/javascript">
                                                    $(document).on('change', 'select#transporToKoume', function(){
                                                        var value = $('select#transporToKoume option:selected').val();
                                                        //alert (value);
                                                        console.log(value);
                                                        if(value=="Yes"){
                                                          $('#transportDiv').load('templates/regTransportDetails.html');
                            
                                                        }else{
                                                          $('#transportDiv').load('templates/empty.html');
                                                        }
                                                      });
                            
                                              </script>
                            
                                              <div id="transportDiv">
                                              
                                              
                                              </div><br>
                                      </form>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade " id="details2" aria-labelledby="profile-tab">
                                          <form name="regForm2" id="regForm2" enctype="multipart/form-data" method="post" action="" novalidate>
                                              <span class="section">Health Information</span>  
                                                  <div class="item form-group col-md-12">
                                                    <label for="dietRestrictions">Do you have any Special Dietary Restrictions?</label>
                                                    <select id="dietRestrictions" name="dietRestrictions" class="form-control" required="required">
                                                            <option value="">Select </option>
                                                            <option  value="Yes">Yes</option>
                                                            <option  value="No">No</option>

                                                    </select>
                                                  </div>
                                              <div class="form-row col-md-12"> 
                                                        <div class="form-group purple-border" id="specifydietRestrictions">

                                                        </div>
                                              </div><br>

                                              <div class="span6 ">
                                                          <div class="ba-htmltext tool ">
                                                            <label class="col-md-12" style="font-size: 16px;">Please download&nbsp;
                                                              <strong>
                                                                <a data-mce-href=
                                                                  "https://download.ztfministry.org/files/279/MEDICAL-FILES/975/Informations-médicales_avant_CM2.pdf" 
                                                                  href="https://download.ztfministry.org/files/279/MEDICAL-FILES/975/Informations-médicales_avant_CM2.pdf">
                                                                  this medical form
                                                                </a>
                                                              </strong>&nbsp;and fill it out. Once done, upload it using the link below.
                                                          </label><br>
                                                      </div><br>
                                            <div class="ba-upload tool ">
                                                          <label style="font-size: 16px;  color: rgba(51, 51, 51, 1);"
                                                          class="col-md-12">
                                                              <span >
                                                                  Upload the filled medical report form (downloaded above):</span>
                                                          </label><br>
                                                          <label class="file">
                                                              <input  class="col-md-12" type="file" id="medicalform" name="medicalform" aria-label="File browser example" required>
                                                              <span class="file-custom"></span>
                                                        </label>

                                            </div>
                                          </div>
                                        </form>
                                      </div>
                                      <div role="tabpanel" class="tab-pane fade " id="details3" aria-labelledby="profile-tab">
                                          <form name="regForm3" id="regForm3" enctype="multipart/form-data" method="post" action="" novalidate>
                                            <span class="section"> Accommodation & Additional Info</span>
                                            <div class="form-row">   
                                                <div class="item form-group col-md-12">
                                                <label for="accommodation">
                                                  Have you arranged for a private accommodation
                                                  in Bertoua (not provided by the convention organizers)?
                                                </label>
                                                <select id="accommodation" name="accommodation" class="form-control" 
                                                required="required">
                                                      <option value="">Select </option>
                                                        <option  value="Yes">Yes</option>
                                                        <option  value="No">No</option>
                                                    
                                                </select>
                                                </div>
                                          </div>
                                          <script type="text/javascript">
                                              $(document).on('change', 'select#accommodation', function(){
                                                  var value = $('select#accommodation option:selected').val();
                                                  //alert (value);
                                                  console.log(value);
                                                  if(value=="Yes"){
                                                    $('#accommodationDiv').load('templates/regAcc.html');
                            
                                                  }else{
                                                    $('#accommodationDiv').load('templates/empty.html');
                                                  }
                                                });
                            
                                            </script>
                            
                                            <div id="accommodationDiv"></div>
                                            
                                          
                                            <div class="form-group purple-border col-md-12">
                                                <label for="testimony">
                                                  Testimonies *Optional*
                                                </label><br>
                                                <textarea class="form-control z-depth-1" rows="4" id="testimony" rows="3" 
                                                placeholder="Tell us your testimony ...">
                                                  
                                                </textarea>
                                              </div><br>
                            
                                              <div class="ba-upload tool col-md-12">
                                                  <label style="font-size: 16px; color: rgba(51, 51, 51, 1);">
                                                      <span>
                                                        Attach a file to your Testimony
                                                      </span>
                                                  </label><br>
                                                  <label class="file">
                                                      <input type="file" id="testimony" aria-label="">
                                                      <span class="file-custom"></span>
                                                </label>
                                              
                                                </div><br>
                                                <div class="form-group purple-border col-md-12">
                                                    <label for="additionalInfo">
                                                      Additional *Optional*
                                                    </label><br>
                                                    <textarea class="form-control z-depth-1" rows="4" id="additionalInfo" rows="3" 
                                                      placeholder="Any other thing you may want to know about yourself or the convention?">
                                                      
                                                    </textarea>
                                                </div>
                                            
                                                </div>
                                                </div>
                                              </form>
                                        </div>
                                
                                <div class="panel-footer">
                                  <div class="pull-right" >
                                    <span > <a class="btn btn-primary btn-sm" type="button" onclick="save();"name="save"><i class="icon-save"></i> Save</a></span>
                                  </div>
                                  <div class="clearfix"></div>
                                </div>
                              
                            
                 

                  </div> <!-- End of left panel-->
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
                           <p>Attendance...</p>
                          <div class="row">
                            <div class="col-sm-2">
                                <div class="x_panel">
                                  
                                </div>
                            </div>
                            <div class="col-sm-10">
                              
                            </div>
                          </div>


                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tab_content4" aria-labelledby="profile-tab">
                           <p>Gallery...</p>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tab_content5" aria-labelledby="profile-tab">
                            <div class="x_panel" style="background-color: #ededed;">
                                <div class="x_title" id="evTitle">
                                  <h2>Event Settings <small>global event</small></h2>
                                
                                  <div class="clearfix"></div>
                                </div>
                          <div class="x_content">
                                <br />
                                <div class="col-md-4">
                                    <div id="uploadForm1" class="avatarUploadForm">
                                      <a onclick="showHide('uploadForm1')" class="boxclose" type="button"></a>
                                      <form id="uploadimage" action="" method="post" enctype="multipart/form-data">
                                        <input class="form-control" id="image_file" name="image_file" type="file">
                                        <div id="event-id"></div>
                                      </form>
                                      <!--button class="btn btn-default" data-dismiss="modal" type="button">Close</button--><div style="margin:10px"></div>
                                      <button class="btn btn-primary btn-sm" onclick="uploadEventImage();" type="submit" name="submit" value="Upload">Upload image</button>
                                      <!--button class="btn btn-default btn-sm" data-toggle="modal" data-target=".imgUpload"><i class="glyphicon glyphicon-camera"></i> <?php echo lang("WEBCAM");?></button-->
                                      <!--button class="btn btn-default btn-sm" onclick="imgDisplay()"> img file</button-->
                                    </div>
                                      <div class="profile_img">
                                      
                                        <div id="avatar">
                                        <!-- Current avatar -->
                                        <div id="profileAvatar"  data-toggle="tooltip" data-placement="bottom" title="Change the event image">
                                        
                                        </div>
                                        </div>
                                        
                                      </div>
                                  </div>
                                  <div class="col-md-8">
                              <form id="addEventForm" name="addEventForm" data-parsley-validate class="form-horizontal form-label-left" enctype="multipart/form-data" method="post" action="" >
                                  
                                  <fieldset>
                                   <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                    <input type="text" class="form-control has-feedback-left" name="eventTitle" id="eventTitle" placeholder="Event Title"  value="">
                                    <span class="fa fa-paint-brush form-control-feedback left" aria-hidden="true"></span>
                                  </div>   
                                  <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                    <input type="text" class="form-control has-feedback-left" id="reservation" name="reservation" placeholder="startDate - endDate" value="">
                                    <span class="fa fa-calendar form-control-feedback left" aria-hidden="true"></span>
                                  </div>
                                  <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                    <textarea type="text" rows="10" class="form-control has-feedback-left" id="eventDesc" name="eventDesc" placeholder="Description" value=""></textarea>
                                    <span class="fa fa-pencil form-control-feedback left" aria-hidden="true"></span>
                                  </div>
                                  <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                    <input type="text" class="form-control has-feedback-left" id="eventLeader" name="eventLeader" placeholder="Event Coordinator" value="">
                                    <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                  </div>
                                  <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                    <label class="control-label col-md-3 col-sm-2 col-xs-11">
                                    Event Color</label>
                                    <div class="input-group demo2">
                                      <input type="text" class="form-control has-feedback-left" 
                                      id="eventColor"  name="eventColor" value="#8fff00">
                                       <span class="input-group-addon"><i></i></span>
                                     </div>  
                                  </div>
                                 <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                   <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Event Region</label>
                                      <div class="col-md-6 col-sm-6 col-xs-12">
                                       <select type="select" id="eventRegion" name="eventRegion" class="form-control">
                                          <option value="GLB"><i class="icon-globe-alt"></i> Global</option>
                                          <option value="GLB"><i class="icon-globe-alt"></i>Local</option>
                                        </select>
                                      </div> 
                                  </div>
                                   <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                          <label class="control-label col-md-3 col-sm-3 col-xs-12">Event Venue</label>
                                          <div class="col-md-9 col-sm-9 col-xs-12">
                                            <input type="text" id="eventVenue" name="eventVenue" 
                                            value="" class="form-control" />
                                          </div>
                                   </div>
                                 <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Registration Fee</label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                      <input type="text" id="regFee" name="regFee" value=""
                                       placeholder="Reg Fee" 
                                      class="form-control" />
                                      <!--  <span class="fa fa-dollar form-control-feedback left" aria-hidden="true"></span> -->
                                     </div>
                                 </div>
                              <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Att Criteria</label>
                                  <div class="col-md-9 col-sm-9 col-xs-12">
                                   <input type="text" id="criteria"
                                    name="criteria" value="" class="form-control" />
                                  </div>
                              </div>
                       
                              
                              </fieldset>
                              </div>
                            </form>
                            </div>
                                 
                              
                               <div class="pull-right" style="background-color: #ededed;">
                                    <div class="form-group" id="eventSubmit">
                                      <!--button type="submit" class="btn btn-primary">Cancel</button-->
                                      <button type="submit" onclick="updateEvent()" class="btn btn-success"><i class="icon-check "></i> Submit</button>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                
                </div>
              </div>
            </div>
       
      
   
            
      <!-- Add New Member -->  
        <div id="newMember" class="modal fade newMember" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-md">
            <div class="modal-content">

              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Add New Member</h4>
              </div>
              <div class="modal-body">
                <div class="x_panel">
    
            <div class="x_content">
              <br />
              <form id="addMemberFormx" class="form-horizontal form-label-left input_mask" action="" method="post">

              <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                <input  type="text" class="form-control has-feedback-left" name="firstName" autocomplete="firstName" id="firstName" placeholder="First Name">
                <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
              </div>

              <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                <input type="text" class="form-control" id="lastName" name="lastName" autocomplete="lastName" placeholder="Last Name">
                <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
              </div>

              <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                <input type="text" class="form-control has-feedback-left" id="email" autocomplete="email" name="email" placeholder="Email">
                <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
              </div>

              <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                <input type="text" class="form-control" id="phone" name="phone" placeholder="Phone" autocomplete="phone">
                <span class="fa fa-phone form-control-feedback right" aria-hidden="true"></span>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Date Of Birth
                </label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                <input id="dateOfBirth" name="DOB" class="date-picker form-control col-md-7 col-xs-12" type="text" >
                </div>
                
                 
                  <script type="text/javascript">
              $(document).ready(function() {
                $('#dateOfBirth').datepicker({
                  singleDatePicker: true,
                  dateFormat:"yy-mm-dd",
                  changeYear:true,
                  changeMonth:true,
                  calender_style: "picker_4"
                }, function(start, end, label) {
                  console.log(start.toISOString(), end.toISOString(), label);
                });
              });
            </script>

              </div>
              <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12">Gender  <span class="required">*</span></label>
                
                <div class="col-md-9 col-sm-9 col-xs-12">
                <p>
                  M:
                  <input type="radio" class="flat" name="gender" id="genderM" value="M" checked="" required /> F:
                  <input type="radio" class="flat" name="gender" id="genderF" value="F" />
                </p>
                </div>
              </div>

              <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12">Country</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                  <select id="countryx" name="countryx" class="form-control col-md-7 col-xs-12 countries" type="select"  >
                    </select>
                
                </div>
              
              </div>
             <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">City</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                  <input id="cityy" name="cityy" class="form-control col-md-7 col-xs-12" type="text" value="" >
                
                </div>
              </div>
                <input type="hidden"  name="leaderId" >
              </form>             
            </div>
            </div>
              </div>
    
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button  onclick="addShortMember()" type="submit" class="btn btn-primary" name="submit" value="AddMember" data-dismiss="modal">Submit</button>
              </div>
    
            </div>
          </div>
        </div>
        <script>
           $(function() {
            initialiseCountryCombo();
            showHide('event_menu');
             $("#localitiez").select2({ //create locality leaders drop down
                maximumSelectionLength: 1,
                placeholder: "Max 1",
                allowClear: true
              });
             
          });

        </script>
<!--/New Member -->

 <!-- tags -->
 <script src="js/tags/jquery.tagsinput.min.js"></script>
 <!-- input tags -->


  <!-- daterangepicker -->
  <script type="text/javascript" src="js/moment/moment.min.js"></script>
  <script type="text/javascript" src="js/datepicker/daterangepicker.js"></script>

</script>
<!-- select2 -->
  <script>
    function getid(){
                  var str=window.location.href;
                  var idArr= str.split("/");
                  var l=idArr.length;
                  return idArr[l-1];
                }
      var id=getid();

    $(document).ready(function() {
      eventRegForm.eventId.value=id;
      //$(".select2_group").select2({});
      $("#membersDropDown").select2({ //create house church leaders drop down
        maximumSelectionLength: 400,
        placeholder: "Select Delegates",
        allowClear: true
      });

      var n='GLB';
      //initialise combo for localities
      //initialiseLoclaitiesCombo(n)
    });

    $(document).on('change', 'select#dietRestrictions', function(){
          var value = $('select#dietRestrictions option:selected').val();
          //alert (value);
          console.log(value);

          switch (value)
          {
            case "Yes":
         $("#specifydietRestrictions").html('<label for="dietRestrictionSpecification">Specify the dietary restrictions</label>'+
          '<textarea id="dietRestrictionSpecification" name="dietRestrictionSpecification" row="4"  placeholder="Specify the dietary restrictions here" class="form-control" >'+
          '</textarea>');
                 break;

            case "No":
             $("#specifydietRestrictions").html('');

            break;
           
          }
      });

      $(document).on('change', 'select#meansoftransport', function(){
                  var value = $('select#meansoftransport option:selected').val();
                  //alert (value);
                  console.log(value);

                  switch (value)
                  {
               case "Air":
                  $("#port").html('<label for="air">Select Airport</label>'+
                      '<select id="air" name="air" class="form-control" >'+
                          '<option value="">Select </option>'+
                          '<option value="Douala">Douala</option>'+
                          '<option value="Yaounde">Yaounde</option>'+ 
                          '<option value="Garaoua">Garaoua</option>'+
                       '</select>');
                    break;

               case "Road":
                   $("#port").html('<label for="air">Select Boader Crossing</label>'+
                      '<select id="road" name="road" class="form-control" >'+
                          '<option  value="">Select </option>'+
                          '<option  value="Ekok">Ekok</option>'+
                          '<option  value="Ambam-Minko">Ambam-Minko</option>'+  
                          '<option  value="Kenzou">Kenzou </option>'+ 
                          '<option  value="Touboro">Touboro </option>'+ 
                          '<option  value="Kousseri">Kousseri </option>'+ 
                          '<option  value="Garoua-Boulai">Garoua-Boulai</option>'+ 
                          '<option  value="Ouesso">Ouesso</option>'+ 
                          '<option  value="Demsa"> Demsa</option>'+      
                          '<option  value="Mintam">Mintam </option>'+ 
                          '<option  value="Kyeossi">Kyeossi</option>'+                          
                      '</select>');
                    break;
               case "Water":
                   $("#port").html('<label for="water">Select Seaport</label>'+
                      '<select id="water" name="water" class="form-control" >'+
                          '<option value="">Select </option>'+
                          '<option value="Tiko">Tiko </option>'+
                          '<option value="Limbe">Limbe</option>'+  
                          '<option value="Nkambe"> Nkambe </option>'+
                          '<option value="Ekondo Titi"> Ekondo Titi</option>'+
                       '</select>');
                    break;

                  }
              });
     
                    


      $('#arrivaldate').datepicker({
          changeMonth: true,
          changeYear: true,
          dateFormat: 'yy-mm-dd'

      });

        $('#depaturedate').datepicker({
         changeMonth: true,
          changeYear: true,
          dateFormat: 'yy-mm-dd'

      });
        $('#birthday').datepicker({
         changeMonth: true,
          changeYear: true,
          dateFormat: 'yy-mm-dd',
          singleDatePicker: true,
          calender_style: "picker_4"

      });
  
 
    $(document).ready(function() {
        //provinces table
        var nation = 'GLB';
        $('#eventsRegTable').DataTable({
          "ajax": {
        "url": "app/app/api/funcs.php?fn=fetchEventRegistrations&id="+id,
        "dataSrc": ""
        },
        "columns": [
                  { "data": "name" },
                  { "data": "nation" },
                  { "data": "locality" },
                  { "data": "dateRegistered" },
                  { "data": "arrivalDate" },
                  { "data": "departureDate" },
                  { "data": "actions" }
                ],
          columnDefs: [{
                   targets: 3,
                   render: function(data, type, full, meta){
                      if(type === 'display'){
                         data = data.substring(0, 10);                     
                      }
                       
                      return data;
                   }
                }],
          dom: "Bfrtip",
                buttons: [{
                  extend: "copy",
                  className: "btn-sm"
                }, {
                  extend: "csv",
                  className: "btn-sm"
                }, {
                  extend: "excel",
                  className: "btn-sm"
                }, {
                  extend: "pdf",
                  className: "btn-sm"
                }, {
                  extend: "print",
                  className: "btn-sm"
                }
        ]
        });

      });


    $("#loaderImg").hide(); //hide loader image

    
    $.getJSON("app/app/api/funcs.php?fn=fetchEvent&id="+id, function(response) {
            $( '.eventTitle' ).html(response.title);
            $('#registrations').html(response.registrations);
            $('#localities').html(response.localities);
            $('#nations').html(response.nations);
            $('#startDate').html(response.start);
            $('#endDate').html(response.end);
            $('.eventDescription').html(response.eventDesc);
            $('.eventCountry').html(response.nation);
            $('#countryx').val(response.nation);
            $('.eventLeader').html(response.eventLeader);
            //$('#mainb').html('<img src="images/events/churchEvent.jpg" width="670px" height="350px" />');
            
            //alert(response.name);
        });

    //populate leaders drop down
	  var opt3 = $(".leaders");
          $.getJSON(api_base_url+"/cmfi_members?order=firstName,asc", function(response) {
               $.each(response.records, function() {
               opt3.append($("<option />").val(this.id).text(this.firstName+' '+this.lastName));
           });
        });
    
        var id=getid();
        var form="'addLocalityForm'";
        var container="'localityAddForm'";
     $.getJSON(api_base_url+"/cmfi_events?filter=eventId,eq,"+id, function(data) {
              var res=data.records[0];
              var options={
                startDate: res.startDate.substring(0,10),
                endDate: res.endDate.substring(0,10),
                minDate: '2010-01-01',
                maxDate: '2065-12-31',
                showDropdowns: true,
                showWeekNumbers: true,
                timePicker: false,
                format: 'YYYY-MM-DD',
              }
               $('#reservation').daterangepicker(options);
                addEventForm.eventTitle.value=res.eventTitle;
                addEventForm.eventDesc.value=res.eventDesc;
                addEventForm.reservation.value=res.startDate.substring(0,10)+' - '+res.endDate.substring(0,10);
                addEventForm.eventColor.value=res.eventColor;
                addEventForm.eventLeader.value=res.eventLeader;
                addEventForm.eventVenue.value=res.eventVenue;
                addEventForm.criteria.value=res.criteria;
                addEventForm.regFee.value=res.regFee;
                $('#eventColor').trigger('change');
                addEventForm.eventRegion.value=res.nation;
                $('#eventRegion').trigger('change');
                $('#event-id').html(`<input type="hidden" name="eventId" id="eventId" value="${id}" >`)
                $('#eventTitle').html('<h2>Edit Event <small>select leader</small></h2><div class="clearfix"></div>');
                $('#eventSubmit').html('<button  onclick="cancel('+form+','+container+')" type="submit" class="btn btn-default" name="submit" ><i class="icon-remove"></i> Cancel</button><button  onclick="updateEvent('+id+')" type="submit" class="btn btn-success" name="submit" ><i class="icon-check"></i>  Save</button>');
                $('#profileAvatar').html(`<img  onclick="showHide('uploadForm1')" class="img-responsive avatar-view" src="images/events/${res.image}" alt="Avatar" width="100%"
                                              onerror="if (this.src != 'images/events/${res.image}') this.src = 'images/events/event-default.jpg';">`)
                $('#evTitle').html('<h2>Edit Event <small>global event update</small></h2>');
                //alert(response.name);
            });

  

    $(document).ready(function(){
    $.ajax({
    url: "app/app/api/funcs.php?fn=fetchEventRegNatBar&id="+id,
    method: "GET",
    success: function(data) {
      //console.log(data);
      var country = [];
      var male = [];
      var female = [];
      var jsonArr = jQuery.parseJSON(data);

      for(var i in jsonArr) {
        country.push(jsonArr[i].country);
        male.push(jsonArr[i].male);
        female.push(jsonArr[i].female);
      }
      //console.log(country);

      var chartdata = {
        labels: country,
        datasets : [
          {
            label: 'Male Delegates Registered',
            backgroundColor: 'rgba(200, 200, 200, 0.75)',
            borderColor: 'rgba(200, 200, 200, 0.75)',
            hoverBackgroundColor: 'rgba(200, 200, 200, 1)',
            hoverBorderColor: 'rgba(200, 200, 200, 1)',
            data: male
          },
          {
            label: 'Female Delegates Registered',
            backgroundColor: 'rgba(200, 200, 200, 0.75)',
            borderColor: 'rgba(200, 200, 200, 0.75)',
            hoverBackgroundColor: 'rgba(200, 200, 200, 1)',
            hoverBorderColor: 'rgba(200, 200, 200, 1)',
            data: female
          }
        ]
      };
     Chart.defaults.global.legend = {
      enabled: false
    };
    // Bar chart
    var ctx = document.getElementById("mycanvas");
    var mycanvas = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: country,
        datasets: [{
          label: 'male delegates registered',
          backgroundColor: "#26B99A",
          data: male
        },
        {
          label: 'female delegates registered',
          backgroundColor: "#03586A",
          data: female
        }
        ]
      },

      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        }
      }
    });
    },
    error: function(data) {
      console.log(data);
    }
    });
      });


  

  function showMemberCard(id){
    sessionStorage.setItem("delegateId",id);
    
    var form="uploadForm";
    var temp = new Array();
    
    $.getJSON(api_base_url+"/cmfi_members?join=cmfi_countries&filter=id,eq,"+id, function(res) {
      var data=res.records[0];
      //temp = data.tags.split(",");
          //data = $.parseJSON(temp);
        //   $('#tags').html(' '); //clear previous tags
        // $.each(temp, function(i, item) {
        //     $('#tags').append('<span class="label label-primary" >'+ item +'</span> ');
        // });

              $( '#memberName').html(data.firstName+' '+data.lastName);
              $('#memberEmail').html(data.email);
              $('#memberPhone').html(data.phone);
              if(data.sex=="M"){$('#memberGender').html("<i class='icon-symbol-male'></i> Male");}
              else{$('#memberGender').html("<i class='icon-symbol-female'></i> Female");}
              //$('#memberGender').html(response.sex);
              $('#memberAddress').html(data.address+', '+data.surburb+', '+data.city);
              $('#memberCountry').html(data.country.name);
              if(data.image==""){$('#photo').html('<img onclick="showHide('+form+')" class="img-responsive avatar-view" src="app/images/members/user.png" />'); }
              else{$('#photo').html('<img onclick="showHide('+form+')" class="img-responsive avatar-view" src="app/images/members/'+data.image+'"  alt="Avatar" />');
              }
              $("#tags_container").html('');
              $("#tags_container").html('<input id="tags" type="text" class="tags form-control" value="" />');
              var name=data.firstName+' '+data.lastName;

              JsBarcode("#barcode", name, {
                displayValue:false,
                //fontSize:24,
                lineColor: "#0cc"
              });
              //alert(response.name);

              //delegate profile details
              data=res.records[0]; 
              //regForm.country.value=data.country;
              $( 'select#country' ).val( data.country.code);
              $('select#country').trigger('change');
              regForm.firstname.value=data.firstName;
              regForm.lastname.value=data.lastName;
              regForm.email.value=data.email;
              regForm.city.value=data.city;
              regForm.memberId.value=data.id;
              regForm.phone.value=data.phone;
              regForm.profession.value=data.profession;
              $( 'select#gender' ).val( data.sex);
              $('select#gender').trigger('change');
              $( 'select#nationality' ).val( data.nationality);
			        $('select#nationality').trigger('change');
              regForm.language.value=data.language;
              regForm.nationality.value=data.nationality;
              regForm.birthday.value=data.DOB;
              $('#tags').val(data.tags);
			
              $('#tags').tagsInput({
                    width: 'auto'
                  });

          });
          
          //show travel information
          var eventId=getid();
          console.log("event:"+eventId+"  member:"+id);
          $.get(api_base_url+"/cmfi_event_registration?filter=eventId,eq,"+eventId+"&filter=memberId,eq,"+id,function(res){
            var data=res.records[0];
              console.log(data);
              sessionStorage.setItem("regId",data.id);
              $('select#meansoftransport').val(data.transportMode);
              $('select#meansoftransport').trigger('change');
              if(data.transportMode=="air"){
                $('select#air').val(data.entryPort);
                $('select#air').trigger('change');
              }else if(data.transportMode=="road"){
                $('select#road').val(data.entryPort);
                $('select#road').trigger('change');
              }else{
                $('select#water').val(data.entryPort);
                $('select#water').trigger('change');
              }
              regForm1.arrivaldate.value=data.arrivalDate;
              regForm1.depaturedate.value=data.departureDate;
              $('select#pickupport').val(data.pickUpEntry);
              $('select#pickupport').trigger('change');
              $('select#children').val(data.children);
              $('select#children').trigger('change');

          });
}

function PrintElem(elem) {
    Popup($(elem).html());
}

function nWin() {
  var html = $(".id-card-holder").html();
  var frame1 = $('<iframe />');
        frame1[0].name = "frame1";
        frame1.css({ "position": "absolute", "top": "-1000000px" });
        $("body").append(frame1);
        var w = frame1[0].contentWindow ? frame1[0].contentWindow : frame1[0].contentDocument.document ? frame1[0].contentDocument.document : frame1[0].contentDocument;
        w.document.open();
        w.document.write('<html><head><title>'+$("#memberName").val()+'</title>');
        w.document.write('<link rel="stylesheet" href="app/css/custom.php" type="text/css" media="all"/>');
        w.document.write('<link rel="stylesheet" href="css/style.css" type="text/css" media="all"/>');
        w.document.write('</head><body >');
        w.document.write(html);
        w.document.write('</body></html>');
        w.document.close();
        w.focus();
        setTimeout(function () {
            window.frames["frame1"].focus();
            window.frames["frame1"].print();
            frame1.remove();
        }, 500);
  //w.close(); 
  return true;
}

$(function() {
    $("a#print").click(nWin);
    
});
</script>
 
 <script>
   /*id=sessionStorage.getItem("delegateId");
   console.log(id);
     const delegate_profile=new Vue({
       el:"#delegate_profile",
       data:{
        id:0,
        firstName:'',
        lastName:'',
        email:'',
        city:'',
        phone:'',
        profession:'',
        sex:'M',
        country:'',
        language:'',
        nationality:'',
        DOB:'',
        image:'user.png',
        ajaxRequest:false
       },
       created: function(){
         this.loadUser(id);
       },
       methods: {
         loadUser: function(id_){
           this.status="loading...";
           var vm=this;
           axios.get('app/api/api.php/records/cmfi_members?filter=id,eq,'+id_)
           .then(function(res){ data=res.data.records[0];
              vm.firstName=data.firstName;
              vm.lastName=data.lastName;
              vm.email=data.email;
              vm.city=data.city;
              vm.phone=data.phone;
              vm.profession=data.profession;
              vm.sex=data.sex;
              vm.country=data.country;
              vm.language=data.language;
              vm.nationality=data.nationality;
              vm.DOB=regForm.data.DOB;
              vm.image=img;
           })
           .catch(function(error){
             vm.status=error;
           });
         },
         submitEntry: function() {
                 this.ajaxRequest = true;
                   let vm = this;
                   axios.put('app/api/api.php/records/cmfi_members/'+id, {
                    firstName:vm.firstName,
                    lastName:vm.lastName,
                    email:vm.email,
                    city:vm.city,
                    phone:vm.phone,
                    profession:vm.profession,
                    sex:vm.sex,
                    country:vm.country,
                    language:vm.language,
                    nationality:vm.nationality,
                    DOB:vm.DOB,
                    image:vm.image,
                   })
                   .then(function (response) {
                       successNote(sresponse,'Successfully updated delegate profile!');
                   })
                   .catch(function (error) {
                      errorNote(fresponse,error.message);
                   });
               }
       }
   
     })*/
   
     $(document).ready(function() {
     //set event menu
     //$('#event_menu').html(`     `);
   });
   </script>