<style xmlns:v-bind="http://www.w3.org/1999/xhtml">
    @import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,900,600,500,800,700,300);
    @import url(https://fonts.googleapis.com/css?family=Covered+By+Your+Grace);

    #days {
        font-size: 200px;
        color: #db4844;
    }
    #hours {
        font-size: 150px;
        color: #f07c22;
    }
    #minutes {
        font-size: 100px;
        color: #f6da74;
    }
    #seconds {
        font-size: 50px;
        color: #abcd58;
    }

    #timer {
        text-align: center;
        font-family: 'Covered By Your Grace', cursive;
        color: white;
        background: #222;
    }

    #timer span {
        display: block;
        font-size: 20px;
        color: white;
    }
    #timer div {
        display: inline-block;
        line-height: 1;
        padding: 20px;
        font-size: 40px;

    }

    .custom-font .custom-font-element {
        display: inline-block;
    }
    .custom-font-4 {
        font-family: Raleway;
        font-weight: 800;
        font-style: normal;
        opacity: 1;
        visibility: visible;
        -webkit-transition: opacity 0.24s ease-in-out;
        -moz-transition: opacity 0.24s ease-in-out;
        transition: opacity 0.24s ease-in-out;
    }
    .custom-font-9 {
        font-family: "Crimson Text";
        font-weight: 400;
        font-style: italic;
        opacity: 1;
        visibility: visible;
        -webkit-transition: opacity 0.24s ease-in-out;
        -moz-transition: opacity 0.24s ease-in-out;
        transition: opacity 0.24s ease-in-out;
    }
    .vc_custom_1431297137931 {
        margin-bottom: 5px !important;
    }
    .vc_custom_1431297226472 {
        margin-bottom: 20px !important;
    }
    .za-btn:last-child {
        margin-right: 0;
    }
    .za-btn .button-text {
        position: relative;
    }
    /* buttons */
    .circularbtn {
        font-size: 12px; padding: 12px 35px; border: 2px solid rgb(168, 168, 168); border-radius: 35px; color: rgb(128, 128, 128); background-color: rgba(255, 255, 255, 0.01);" onmouseover=" this.style.color='#23a8da'; this.style.backgroundColor='#ffffff'; this.style.borderColor='#ffffff';" onmouseout=" this.style.borderColor='#808080'; this.style.color='#C0C0C0'; this.style.backgroundColor='rgba(251,251,251,0.01)';

    }
    .za-btn {
        position: relative;
        display: inline-block;
        line-height: normal;
        letter-spacing: 2px;
        text-transform: uppercase;
        margin-right: 12px;
        margin: 4px;
        transition: all 0.3s ease-in-out!important;
        -moz-transition: all 0.3s ease-in-out!important;
        -webkit-transition: all 0.3s ease-in-out!important;
        -o-transition: all 0.3s ease-in-out!important;
    }
    a, a:hover, a:active, a:focus, button, button:hover, button:active, button:focus {
        outline: 0;
        text-decoration: none;
    }
    h2 {
        font-family: Raleway;
        line-height: 32px;
        letter-spacing: 2px;
        font-weight: 600;
        font-style: normal;
        color: #333333;
        font-size: 22px;
        opacity: 1;
        visibility: visible;
        -webkit-transition: opacity 0.24s ease-in-out;
        -moz-transition: opacity 0.24s ease-in-out;
        transition: opacity 0.24s ease-in-out;
    }

    #video { border: none; }
</style>
<!-- <div style=" background-attachment: fixed;" class="fullwidth   section vc_row-fluid vc_custom_1431281281905 cover-bg">
  <div class="bg-animation  cover-bg animate-zoom center center no-repeat" style="background: rgba(0,0,0,0.3) url('images/koume_bg1.jpg');background-blend-mode: darken; background-position: center center;background-size:contain;object-fit:cover;
  height:250px;width:100%; "></div><div class="container"><div class="row">
    <div style=" background-attachment: fixed; text-align: left;" class="vc_col-sm-12 wpb_column column_container col   ">
      <div class="wpb_wrapper">
        <div class="custom-font " style="text-align:center"><h2 class="custom-font-element custom-font-15  vc_custom_1431387734814" style="font-size:60px; line-height:64px; text-transform:capitalize; letter-spacing:-3px; color:#ffffff; ">Events Portal</h2></div><div class="custom-font " style="text-align:center"><p class="custom-font-element custom-font-9 " style="font-size:18px; line-height:26px; letter-spacing:0px; color:rgba(255,255,255,0.6); ">for Christian Missionary Fellowship International</p></div>
      </div> 
    </div> 
  </div></div></div> -->

<div  class="pl-4 pr-4">


    <!-- <div class="x_panel " style="min-height: 590px;"> -->
    <div id="eventProfile"  class="fullwidth section">
        <!-- 	    <div class="x_title">
               <h2><a onclick="routie('/events');"><i class="fa fa-chevron-circle-left" style="font-size:32px;"></i></a>&nbsp; <small> </small></h2>
               <ul class="nav navbar-right panel_toolbox">
                 <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                 </li>
                 <li class="dropdown">
                   <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-share"></i></a>
                   <ul class="dropdown-menu" role="menu">
                     <li><a href="#">Settings 1</a>
                     </li>
                     <li><a href="#">Settings 2</a>
                     </li>
                   </ul>
                 </li>
                 <li><a class="close-link" onclick="routie('/events');"><i class="fa fa-close"></i></a>
                 </li>
               </ul>
               <div class="clearfix"></div>
             </div> -->
        <div class="x_content">

            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="product-image">
                    <img v-bind:src="image" alt="..." style="width:100% ;"/>
                </div>
                <div class="clearfix"></div>
                <div id="timer" >
                    <div id="days"></div>
                    <div id="hours"></div>
                    <div id="minutes"></div>
                    <div id="seconds"></div>
                </div>
                <h2 id="countdown" class="custom-font custom-font-9  vc_custom_1431297137931"></h2>
            </div>

            <div class="col-md-8 col-sm-8 col-xs-12" style="border:0px solid #e5e5e5;">
                <div class="custom-font" style="text-align:left">
                    <h2 data-localize="lang_evt_title" class="custom-font-element custom-font-4  vc_custom_1431297137931" style="font-size:24px; line-height:28px; text-transform:uppercase; letter-spacing:1px; color:#333333; ">{{this.event.eventTitle}}</h2>
                </div>
                <div class="custom-font " style="text-align:left">
                    <h5  class="custom-font-element custom-font-9  vc_custom_1431297226472" style="font-size:15px; line-height:24px; letter-spacing:0px; color:#b4b4b4; "><span data-localize="lang_evt_date">Starts on </span> {{this.event.startDate |moment}} </h5>
                </div>
                <div class="custom-font " style="text-align:left">

                    <p class="custom-font-element  " style="font-size:12px; line-height:22px; letter-spacing:0px; color:#555555; ">
                    <div class="col-md-6" id="eventDesc" style="text-align:justify"></div>
                    <div class="col-md-6">
                        <iframe id="video" src="https://drive.google.com/file/d/1vC3gEyeTH3nA3FBgrgVHT6IvtrDy6QTw/preview" width="100%"></iframe>

                    </div>


                    <div class="clearfix"></div>
                    <table class="table table-bordered">

                        <tbody>
                        <tr>
                            <th data-localize="lang_evt_start" scope="row">Event starts on</th>
                            <td><i class="fa fa-calendar"></i> {{this.event.startDate|moment}}</td>
                        </tr>
                        <tr>
                            <th data-localize="lang_evt_end" scope="row">Event ends on</th>
                            <td><i class="fa fa-calendar"></i> {{this.event.endDate|moment}}</td>
                        </tr>
                        <tr>
                            <th data-localize="lang_evt_location" scope="row">Location</th>
                            <td><i class="fa fa-map-marker"></i> {{this.event.eventVenue}}</td>
                        </tr>
                        <tr>
                            <th data-localize="lang_evt_fee" scope="row">Registration Fee</th>
                            <td><i class="fa fa-money"></i> {{this.event.regFee}}</td>
                        </tr>
                        <tr>
                            <th data-localize="lang_evt_criteria" scope="row">Delegate Criteria</th>
                            <td><i class="fa fa-toggle-on"></i> {{this.event.criteria}}</td>
                        </tr>
                        <tr>
                            <th data-localize="lang_evt_website" scope="row">Event Website</th>
                            <td><i class="fa fa-globe"></i> <a v-bind:href="this.event.eventSite" target="_blank">{{this.event.eventSite}}</a></td>
                        </tr>
                        </tbody>
                    </table>
                    </p>
                </div>
                <div class="x_footer">
                    <div class="button_group">
                        <div>
                            <p>
                                <button id="evt_register"  class="za-btn circularbtn" href="#" target="_self">
                                    <span data-localize="lang_register" class="button-text" >Register</span>
                                </button>
                                <a href="#"  data-toggle="modal" data-target=".editRegistration" class="za-btn circularbtn">
                                    <span data-localize="lang_evt_reg_edit" class="button-text">Edit Registration</span></a>
                            </p>
                        </div>

                    </div>
                    <br/>
                </div>
            </div>
        </div>
        <!-- </div> -->

    </div>

    <div id="aboutEvent"></div>


    <!-- Send Email Modal -->
    <div id="editRegistration" class="modal fade editRegistration" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel" data-localize="lang_edit_info_title">Edit My Registration Information</h4>
                </div>
                <div class="modal-body">
                    <form id="sendMailForm" action="" method="POST">
                        <p data-localize="lang_edit_info_comment">A link to your edit page was sent to you by email already if you cannot locate it and have successfully registered kindly provide your email address and it will be sent to you again</p>

                        <div class="col-md-8 col-sm-8 col-xs-12 form-group has-feedback">
                            <input type="text" class="form-control" id="email" name="email" autocomplete="email"
                                   data-localize="placeholder"
                                   placeholder="Email Address" />
                            <span class="fa fa-envelope-o form-control-feedback right" aria-hidden="true"></span>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                </div>
                <!--We change getId() parameter value from 1 to 2 because we add a parametter in url : /register/:id/:lang-->
                <div class="modal-footer">
                    <button class="btn btn-sm btn-primary" type="submit" id="sendEmail" onclick="checkReg(sendMailForm.email.value,getId(2));" data-dismiss="modal" ><span data-localize="lang_send_link">Send me the link</span></button>
                </div>
            </div>
        </div>
    </div>


    <!--Vue-->
    <script type="text/javascript" src="js/vue.js"></script>
    <!--Axios-->
    <script type="text/javascript" src="js/axios.js"></script>
    <!--moment-->

    <script type="text/javascript">
        function checkReg(email,eventId){
            var r=0;
            //check if registration exists using email address
            $.get(api_base_url+'/cmfi_members?filter=email,eq,'+email, function(data){
                if(data.records.length!=0){ // record already exists we resend email
                    //lets get token first
                    console.log("found member record")
                    //check if delegate is already registered
                    var d=data.records[0];
                    $.get(api_base_url+"/cmfi_event_registration?filter=eventId,eq,"+eventId+"&filter=memberId,eq,"+d.id,function(data){
                        if(data.records.length!=0){
                            console.log(data);
                            console.log("found event reg")
                            var token=data.records[0].token;
                            //delegate exists
                            r=2;
                            resendRegEmail(token,eventId,d.id);
                        }

                    });
                }
            });
            console.log("r is ",r)
            return r;
        }
        new Vue({
            el: '#eventProfile',
            data () {
                return {
                    event: {},
                    eventTitle: null,
                    eventDesc:null,
                    startDate:null,
                    eventVenue:null,
                    endDate:null,
                    regFee:0,
                    criteria:null,
                    image:null,
                    eventSite:null,
                    eventId:0,

                    // translation
                    days: "Days",
                    hours: "Hours",
                    minutes: "Minutes",
                    seconds: "Seconds"
                }
            },
            created(){

                /*axios.get('app/dao/services.php/?eventId='+getId(1))
                    .then(response =>{
                        this.event = response.data;
                        //this.countDownTimer(new Date(this.event.startDate).getTime());
                    });*/
                //this.findEventById(getId(1));

                axios.get('app/dao/services.php/?eventId='+getId(1))
                    .then(response =>{

                        // Initialize Event
                        this.event = response.data;
                        this.image = 'images/events/'+this.event.image;
                        this.eventDesc = this.event.eventDesc;
                        var eventDescCrip = this.event.eventDesc;
                        var eventDescEn = this.event.eventDesc;

                        // Set the date we're counting down to
                        var countDownDate = new Date(this.event.startDate).getTime();
                        console.log("countdowndate",countDownDate);
                        // Update the count down every 1 second
                        var x = setInterval(function() {

                            // Get today's date and time
                            var now = new Date().getTime();

                            // Find the distance between now and the count down date
                            var distance = countDownDate - now;

                            // Time calculations for days, hours, minutes and seconds
                            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                            //alert(CMFIConv.resume);

                            ///alert(getLang());
                            if(getLang() === 'en'){
                                this.days = "Days";
                                this.hours ="Hours";
                                this.minutes = "Minutes";
                                this.seconds ="Seconds";
                                eventDescCrip = eventDescEn;
                            }else{
                                this.days = "Jours";
                                this.hours ="Heures";
                                this.minutes = "Minutes";
                                this.seconds ="Secondes";
                                eventDescCrip = CMFIConv.eventDesc;
                            }

                            $("#eventDesc").html(eventDescCrip);

                            $("#days").html(days + "<span>"+ this.days +"</span>");
                            $("#hours").html(hours + "<span>"+ this.hours +"</span>");
                            $("#minutes").html(minutes + "<span>"+ this.minutes +"</span>");
                            $("#seconds").html(seconds + "<span>"+ this.seconds +"</span>");

                            // If the count down is finished, write some text
                            if (distance < 0) {
                                clearInterval(x);
                                document.getElementById("timer").innerHTML = "EXPIRED";
                            }
                        }, 100);
                    });
            },
            mounted () {
                // Added methode for routing :::
                // I Replace the   onclick="routie('/register/'+getId(1)+'/lang?='+getLang());" on <a></a>
                $("#evt_register").click(function () {
                    routie('/register/'+getId(1)+'/lang?='+getLang());
                });


            },
            methods: {
                moment: function () {
                    return moment();
                },
                countDownTimer: function(){
                    // Set the date we're counting down to
                    var countDownDate = new Date(this.startDate).getTime();
                    console.log("countdowndate",countDownDate);

                    // Update the count down every 1 second
                    var x = setInterval(function() {

                        // Get today's date and time
                        var now = new Date().getTime();

                        // Find the distance between now and the count down date
                        var distance = countDownDate - now;

                        // Time calculations for days, hours, minutes and seconds
                        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                        // Display the result in the element with id="countdown"
                        //ocument.getElementById("countdown").innerHTML = days + "d " + hours + "h "
                        //+ minutes + "m " + seconds + "s ";

                        //$("#days").html(days + "<span>Days</span>");
                        $("#hours").html(hours + "<span>Hours</span>");
                        $("#minutes").html(minutes + "<span>Minutes</span>");
                        $("#seconds").html(seconds + "<span>Seconds</span>");
                        // If the count down is finished, write some text
                        if (distance < 0) {
                            clearInterval(x);
                            document.getElementById("timer").innerHTML = "EXPIRED";
                        }
                    }, 1000);
                }
            },
            filters: {
                moment: function (date) {
                    return moment(date).format('MMMM Do YYYY');
                }
            }
        })
    </script>

