
<script src="js/JsBarcode-master/dist/JsBarcode.all.js"></script>

<div class="row"></div>
    <div class="pl-4 pr-4">
      <div class="row">
 		     
            <div class="col-md-12">
              <div class="x_panel">
                <div class="x_title">
                  <h2><a><i class="fa fa-chevron-circle-left"></i></a>&nbsp;Badges<small> selected badges </small></h2>
                  <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Settings 1</a>
                        </li>
                        <li><a href="#">Settings 2</a>
                        </li>
                      </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <div class="row">
                      <div id="Badges">

                          <div
                            is="badge-item"
                            v-for="(badge, index) in badges"
                            v-bind:key="badge.id"
                            v-bind:event_title="badge.event_title"
                            v-bind:event_image="badge.event_image"
                            v-bind:firstname="badge.firstname"
                            v-bind:lastname="badge.lastname"
                            v-bind:image="badge.image"
                            v-bind:city="badge.city"
                            v-bind:country="badge.country"
                            v-on:remove="badges.splice(index, 1)"
                          ></div>
                       
                      </div>

                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
         
<!--div class="id-card-holder "-->


  
<!--Vue-->
<script type="text/javascript" src="js/vue.js"></script>
<!--Axios-->
<script type="text/javascript" src="js/axios.js"></script>

<script>
//get array of badges



Vue.component('badge-item', {
  template: `
  
      <div class="col-md-6">
      <div class="id-card">
        
        <div class="header imgContainer">
            <img v-bind:src="'images/events/'+this.event_image" style="width: 100%;top: 0px;margin-top: 0px;">
              <h2 id="eventTitle" class="centered custom-font-element custom-font-4  vc_custom_1431297137931" 
              style="font-size: 20px;
                top:26px;
                width:100%;
                font-weight: 700;
                line-height: 17px;
                text-transform: uppercase;
                letter-spacing: 0.5px;
                text-shadow:1px 1px #333333;
                color: #ffffff; ">
                {{event_title}}</h2>
        </div>
        <div class="photo" id="photo" >
                  <img  class="img-responsive avatar-view" v-bind:src="'app/images/members/' + this.image" alt="Avatar" 
                  onerror="if (this.src != 'app/images/members/user.png') this.src = 'app/images/members/user.png';" />
        </div>
        <h2 id="memberName">{{firstname}}  {{lastname}}</h2>
        <div class="qr-code">
              <img id="barcode" height="40px" width="80px"/>
        </div>
        <h3>{{city}}</h3>
        <h2 class="custom-font-element custom-font-4  vc_custom_1431297137931" style=" line-height:28px; text-transform:uppercase; letter-spacing:1px; color:#333333; ">{{country}}</h2>
        <div class="separator"></div>
        <div class="card_delegate_role">
        <p style="font-size: 18px; "><strong>DELEGATE</strong></p>
        </div>
      </div>
      </div>
   
  `,
  props: ['event_title','event_image','image','firstname','lastname','city','country']
})
new Vue({
  el: '#Badges',
  data: function() {
  return {
      newbadgeText: '',
      badges: [],
      nextBadgeId: 4
      }
  },
  methods: {
    addNewBadge: function () {
      this.badges.push({
        id: this.nextBadgeId++,
        title: this.newBadgeText
      })
      this.newBadgeText = ''
    }
  },
  mounted() {
    var x=[];
    var IDs=[];
    IDs=JSON.parse(sessionStorage.getItem('badges'));
    console.log(IDs);
    IDs.forEach(function(regId) {
      axios.get(`${api_base_url}/cmfi_event_registration?join=cmfi_events&join=cmfi_members,cmfi_countries&filter=id,eq,${regId}`)
      .then(res => {
        console.log(res);
        var d=res.data.records[0];
        x.push({
          id:d.id,
          firstname:d.memberId.firstName,
          lastname:d.memberId.lastName,
          city:d.memberId.city,
          image:d.memberId.image,
          country:d.memberId.country.name,
          event_title:d.eventId.eventTitle,
          event_image:d.eventId.image,
        })
      })

    });
   this.badges=x;
   /*JsBarcode("#barcode", data.id, {
    displayValue:false,
    //fontSize:24,
    lineColor: "#0cc"
  });*/

    
}
})



</script>



