<script src="js/JsBarcode-master/dist/JsBarcode.all.js"></script>

<div class="row"></div>
<div class="pl-4 pr-4">
  <div class="row">

    <div class="col-md-12">
      <div class="x_panel">
        <div class="x_title">
          <h2><a><i class="fa fa-chevron-circle-left"></i></a>&nbsp;Badges<small> selected badges </small></h2>
          <ul class="nav navbar-right panel_toolbox">
            <a class="btn btn-default btn-sm" type="button" id="cancel" onclick="showPage('id_cards');"><i class="icon-close"></i>
              Cancel</a>
            <a class="btn btn-primary btn-sm" type="button" href="javascript:;" id="print"><i class="icon-printer"
                data-toggle="modal" data-target=".confirmPrinted"></i>
              print Badges</a>
            <!--a data-toggle="modal" data-target=".designBadge" class="btn btn-warning btn-sm" type="button"
              href="javascript:;" id="design"><i class="fa fa-edit"></i>
              change design</a-->

          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div class="row body">
            <page id="badgesPage" size="A4">



            </page>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--div class="id-card-holder "-->
<!--modal for badge design-->
<div id="designBadge" class="modal designBadge" role="dialog" style="z-index: 1400;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Badge Design</h4>
      </div>
      <div class="modal-body">
        <div class="x_panel">
          <div class="x_title">
            <h2>Badge Settings <small>Configuration Panel</small></h2>
            <ul class="nav navbar-right panel_toolbox">

              <a data-toggle="modal" href=".addBadgeProp" class="btn btn-success btn-xs"> <i
                  class="glyphicon glyphicon-plus"> </i> Add Setting</a>`

            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <p class="text-muted font-13 m-b-30">

            </p>
            <table id="badge_set_datatable" class="table table-striped table-bordered dt-responsive " cellspacing="0"
              width="100%">
              <thead>
                <tr>
                  <th>Property</th>
                  <th>Value</th>
                  <th>Actions</th>
                </tr>
              </thead>
            </table>

          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!--/end of module design modal-->
<template id="template">
 
</template>

<!-- Add Role  modal-->
<div id="confirmPrintedBadges" class="modal confirmPrinted" role="dialog" style="z-index: 1400;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Confirmation needed</h4>
      </div>
      <div style="margin-top:15px;"></div>
      <div class="jumbotron">
        <h1>Have the badges been printed well?</h1>
        <p>clicking yes will cause the printed badges to be removed from the pending-print list</p>
      </div>
      <br />
      <div class="modal-footer">
        <button onclick="confirmPrintedBadges();" type="input" name="submit" data-dismiss="modal"
          class="btn btn-success btn-icon"><i class="glyphicon glyphicon-ok-sign"></i> Yes</button>
        <button type="button" class="btn btn-default btn-icon" data-dismiss="modal"><i
            class="glyphicon glyphicon-remove-circle"></i>
          No</button>
      </div>
    </div>
  </div>
</div>
<!-- / end add setting modal-->

<!--Axios-->
<script type="text/javascript" src="js/axios.js"></script>
<!-- color picker -->
<script src="js/colorpicker/bootstrap-colorpicker.min.js"></script>
<script src="js/colorpicker/docs.js"></script>

<script>



  //get array of badges
  function isEven(n) {
    return n % 2 == 0;
  }

  (function($) {
        $.fn.tmpl = function(obj) {
          var _this = this,
            el = $(this);
          return (function() {
            var original = el.html();
            el.html(el.html().replace(/{{([^}}]+)}}/g, function(wholeMatch, key) {
              var substitution = obj[$.trim(key)];
              return typeof substitution == 'undefined' ? wholeMatch : substitution;
            }));
            return el.html() == original ? _this : $(el).tmpl(obj);
          })();
        };
      })(jQuery);

  //get default badge
  $.get(`${api_base_url}/cmfi_badges?filter=isDefault,eq,1`, function(data){
      var t=data.records[0];
      //get badge properties
      if(t){
      $.get(`${api_base_url}/cmfi_badge_design?filter=badgeId,eq,${t.id}&filter=prop,eq,html`, function(data){
              var res=data.records[0];
              console.log(res);
              htmlCode=unescape(unescape(res.value));
              $("#template").html(htmlCode);
              
         

              let x = 0;
              IDs = JSON.parse(sessionStorage.getItem('badges'));
              console.log(IDs);
              IDs.forEach(function (regId, i) {
                axios.get(
                    `${api_base_url}/cmfi_event_registration?join=cmfi_events&join=cmfi_members,cmfi_roles&join=cmfi_members,cmfi_countries&filter=id,eq,${regId}`
                  )
                  .then(res => {
                    //console.log(res);
                    var d = res.data.records[0];
                    hasRole(d.memberId.role);
                    //append badge to page
                
                    $(htmlCode)
                    .tmpl({
                      id:d.id,
                      firstName:upper(d.memberId.firstName),
                      lastName:upper(d.memberId.lastName),
                      delegateImage:d.memberId.image,
                      country:d.memberId.country.name,
                      city:d.memberId.city,
                      role:upper(d.memberId.role.role),
                      eventImage:d.eventId.image,
                      eventTitle:d.eventId.eventTitle
                    })
                    .appendTo($('#badgesPage'));
                  
                    JsBarcode("#barcode" + d.id, d.id, {
                      displayValue: false,
                      //fontSize:24,
                      lineColor: "#0cc"
                    });

                    var page=$("#badgeItem"+d.id).parent();
                    if (isEven(x)) {
                      page.css('float', 'left');
                    } else {
                      page.css('float', 'right');
                      page.css('display', 'inline-block');
                    }
                    //console.log(x); 
                    x++;


                  })

              });
            });
        }else{
          errorNote(fresponse, 'No badge template selected! ')
        }
    });



  function hasRole(id) {
    //if no role
    if (id == 9) {
      $("#delegate").prop('height', '70px');
      $("#role").prop('height', '0px')
    } else {
      $("#delegate").prop('height', '40px');
      $("#role").prop('height', '30px')
    }
  }

  function upper(str) {
    return str.toUpperCase();
  }

  function first_word(str) {
    return str.replace(/ .*/, '');
  }


  function confirmPrintedBadges() {
    IDs = JSON.parse(sessionStorage.getItem('badges'));
    //console.log(IDs);
    IDs.forEach(function (regId, i) {
      $.ajax({
        url: `${api_base_url}/cmfi_event_registration/${regId}`,
        type: 'PUT',
        data: {
          badgePrinted: 1
        },
        success: function (data) {
          //console.log("successfully tagged printed documents");
        },
        error: function (err) {
          console.log(err)
        }
      })
    });
  }



  function PrintElem(elem) {
    Popup($(elem).html());
  }

  function nWin() {
    setTimeout(function () {
      $('#confirmPrintedBadges').modal('show');
    }, 2000);

    var html = $("#badgesPage").html();
    var css = `                                                                                                                                                                            
    <link rel="stylesheet" href="../css/custom.php">
    <link rel="stylesheet" href="css/badge.css">
    <link rel="stylesheet" href="../css/style.css">
    
    `;
    var frame1 = $('<iframe />');
    frame1[0].name = "frame1";
    frame1.css({
      "position": "absolute",
      "top": "-1000000px",
      "z-index": "1600"
    });
    $("body").append(frame1);
    var w = frame1[0].contentWindow ? frame1[0].contentWindow : frame1[0].contentDocument.document ? frame1[0]
      .contentDocument.document : frame1[0].contentDocument;
    w.document.open();
    w.document.write('<html><head><title>Badges Print-out</title>');
    w.document.write(css);
    w.document.write('</head><body >');
    w.document.write(html);
    w.document.write('</body></html>');
    w.document.close();
    w.focus();
    setTimeout(function () {
      window.frames["frame1"].focus();
      window.frames["frame1"].print();
      frame1.remove();
    }, 500);
    //w.close(); 
    return true;
  }

  $(function () {
    $('#confirmPrintedBadges').modal({
      show: false
    })
    $("a#print").click(nWin);

  });
</script>

<script>
  $('#badge_set_datatable').DataTable({
    responsive: true,
    "ajax": {
      "url": api_base_url +
        "/cmfi_badge_design",
      "dataSrc": "records"
    },
    "columns": [{
        "data": "prop"
      },
      {
        "data": "value"
      },
      {
        "data": "id"
      }

    ],
    columnDefs: [{
        targets: 2,
        render: function (data, type, full, meta) {
          console.log(full.id);
          if (type === 'filter' || type === 'display' || type === "sort") {
            data =
              `<a id = "editset${data}" onclick = "editSet(${data},'badges')" class = "btn btn-info btn-xs"> <i id="editsetIcon${data}" class = "glyphicon glyphicon-pencil" > </i></a >
                      <a  onclick = "deleteBadgeSetting(${data});" class = "btn btn-danger btn-xs" > <i class = "glyphicon glyphicon-trash" > </i></a >`

          }

          return data;
        }
      },
      {
        targets: 0,
        render: function (data, type, full, meta) {
          if (type === 'filter' || type === 'display' || type === "sort") {
            data = `<p id = "name${full.id}">${data}</p >`;
          }

          return data;
        }
      },
      {
        targets: 1,
        render: function (data, type, full, meta) {
          if (type === 'filter' || type === 'display' || type === "sort") {
            data = `<p id = "value${full.id}">${unescape(unescape(data))}</p >`;
          }

          return data;
        }
      }
    ],
    order: [
      [0, 'asc']
    ]
  });
</script>