
            <div class="x_panel">
              <div class="x_title">
                <h2>Import Wizard <small>delegate import from excel CSV file</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Settings 1</a>
                      </li>
                      <li><a href="#">Settings 2</a>
                      </li>
                    </ul>
                  </li>
                  <li><a class="close-link"><i class="fa fa-close"></i></a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">


                <!-- Smart Wizard -->
                <div id="wizard" class="form_wizard wizard_horizontal">
                  <ul class="wizard_steps">
                    <li>
                      <a href="#step-1">
                        <span class="step_no">1</span>
                        <span class="step_descr">
                                          Step 1<br />
                                          <small>csv file preparation</small>
                                      </span>
                      </a>
                    </li>
                    <li>
                      <a href="#step-2">
                        <span class="step_no">2</span>
                        <span class="step_descr">
                                          Step 2<br />
                                          <small>Import Excel CSV Data</small>
                                      </span>
                      </a>
                    </li>
                    <li>
                      <a href="#step-3">
                        <span class="step_no">3</span>
                        <span class="step_descr">
                                          Step 3<br />
                                          <small>Preview & Finish</small>
                                      </span>
                      </a>
                    </li>
                    <li>
                      <a href="#step-4">
                        <span class="step_no">4</span>
                        <span class="step_descr">
                                          Step 4<br />
                                          <small>Summary</small>
                                      </span>
                      </a>
                    </li> 
                  </ul>
        
                  <div id="step-1">
           <div class="col-md-12 col-sm-12 col-xs-12">
           <h2 class="StepTitle">Requirements for Importing Data</h2>
            <p>
            Import your excel file. the file should be in CSV format and the fields should be made is in <a style="cursor:pointer;">this example<span class="fa fa-chevron-down"></span></a>
            </p>
            <div id="excelExample"></div>
            <p>Your CSV file should <strong>not</strong> have column headers, the following column order should be maintained</p>
            <ul>
            <li>Column 1 : FirstName</li>
            <li>Column 2 : LastName</li>
            <li>Column 3 : Gender (M or F)</li>
            <li>Column 4 : City</li>
            <li>Column 5 : Country (2 Character ISO code e.g NO for Norway)</li>
            <li>Column 6 : Phone (optional) - should <strong>not</strong> contain '+' at the beginning, it should be e.g 263772902572</li>
            <li>Column 7 : Email (optional)</li>
          </ul>
           </div>

        </div>
                  <div id="step-2">
          <label  class="control-label col-md-3 col-sm-3 col-xs-12" for="exampleInputFile"></label>
           <div class="col-md-9 col-sm-9 col-xs-12">
           <h2 class="StepTitle">Import Excel/CSV file</h2>
            <p>
            Import your excel file. the file should be in CSV format and the fields should be made is in <a>this example</a>
            </p>
            </div>
           <form id="excelImportForm" action="" enctype="multipart/form-data" method="post" role="form" class="form-horizontal form-label-left" novalidate>
           
          <div class="item form-group">
            <label  class="control-label col-md-3 col-sm-3 col-xs-12" for="file">File Upload</label>
            <div class="col-md-6 col-sm-9 col-xs-12">
            <input type="file" name="file" id="file" size="150" class="form-control" required="required">
            <p class="help-block">Only Excel/CSV File Import.</p>
            </div>
          </div>
          
          </form>
          <!-- <div class="form-group">
          <label  class="control-label col-md-3 col-sm-3 col-xs-12" for="import"></label> -->
          <!--div class="col-md-6 col-sm-9 col-xs-12">
            <button onclick="importFile()" type="submit" class="btn btn-default" name="Import" value="Import">Upload <span id="loading" style="display:none;"><img src="images/loading.gif" alt="loading..." width="30px" /></span></button>
            
          </div-->
        <!--  </div> -->
        
                  </div>
        
                  <div id="step-3">
          <div class="col-md-12 col-sm-12 col-xs-12">
              <form id="finishImportForm" method="POST" action="">
              <input id="nation" name="nation" type="hidden" value="" />
              </form>
            <div class="col-md-9 col-sm-9 col-xs-12">
                <h2 class="StepTitle">Import Data</h2>
                <p>If you are happy with the data preview click finish </p><br>
                <span id="iloading" style="display:none;" ><img src="images/loading.gif" alt="loading..." width="30px" /></span>
            </div>
            <!-- <h2 class="StepTitle">Preview Data</h2> -->
          <div class="button-group"> 
            <a onclick="" class="btn btn-default btn-sm" ><i class="glyphicon glyphicon-eye-open"></i> Show</a>
            <a onclick="clearTemp(userId)" class="btn btn-default btn-sm" ><i class="glyphicon glyphicon-trash"></i> Clear All</a>
            </div> 
          
            <table id="data_preview" class="table  table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
              <thead>
              <tr>
                <th></th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>City</th>
                <th>Country</th>
                <th>Sex</th>
                <th>Phone</th>
                <th>E-mail</th>
                <th>Actions</th>
              </tr>
              </thead>
            </table>

            <div class="x_panel">
                <div class="x_content">
                    <div id="importResults" class="dark dashboard-widget-content" style="overflow-y: scroll; height:150px;width:100%;">
                      <ul id="results" class="timeline widget"></ul>
                    </div>
                </div>
            </div>

            <!-- <a onclick="finishImport()" style="cursor:pointer;">Finish</a> -->
            
                      </div>
                  </div>
          <div id="step-4">
            <label  class="control-label col-md-3 col-sm-3 col-xs-12" ></label>
          
            <div class="col-md-9 col-sm-9 col-xs-12">
              <h2 class="StepTitle">Import Data</h2>
              <p>All Set Proceed to import Data click <a onclick="finishImport()" style="cursor:pointer;">Finish</a></p>
              <span id="iloading" style="display:none;" ><img src="images/loading.gif" alt="loading..." width="30px" /></span>
             </div> 
          </div>

                </div>
                <!-- End SmartWizard Content -->

           
        </div>
      </div>
    </div>
    <!-- /page content -->
  
  <!--Modal content-->
  <div class="modal fade" id="editTempRec" tabindex="-1" role="dialog" aria-labelledby="editTempRec" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form id="editTempForm" action="" method="POST">
          <div class="modal-body">
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12">First Name</label>
              <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="text" class="form-control" name="firstName" placeholder="" value="" required="required">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12">Last Name</label>
              <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="text" class="form-control" name="lastName" placeholder="" value="" required="required">
              </div>
            </div>
          </div>
        </form>
          <div class="modal-footer">
            <input name="recId" type="hidden" value="" />
            <button type="input" name="submit" onclick="saveTempRec();" class="btn btn-success btn-icon"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
            <button type="button" class="btn btn-default btn-icon" data-dismiss="modal"><i class="glyphicon glyphicon-remove-circle"></i> Cancel</button>
          </div>
       
      </div>
    </div>
  </div>
  <!--/Modal Content-->




<script type="text/javascript">

  $(document).ready(function() {
    //build results list
    $('#importResults').append(`<ul id="results" class="timeline widget"></ul>`);

    

    // Smart Wizard
    $('#wizard').smartWizard({
      transitionEffect: 'slide',
      ajaxType: "POST", 
      onLeaveStep: onLeaveStepFunction,
      onShowStep: onShowStepFunction,
      onFinish: onFinishCallback
      
    });

    function onLeaveStepFunction(obj, context){
      console.log("Do you want to leave the step "+context.fromStep+"?");

           

      if(context.fromStep==2){
        //destroy the previous table if exists
        $('#data_preview').DataTable().destroy();
        setTimeout(function(){
            loadPreview()
          }, 2000);
      }
      return validateSteps(context.fromStep);
       
    }

    function onShowStepFunction(obj,context) {
        if($('a.btn-success').hasClass('buttonDisabled')){
          $('.btn-default').show(); // show the button finish only in the last page
          $('.btn-success').hide();
        }else{
          $('.btn-default').hide();	
          $('.btn-success').show();
        }

	    }

     function validateSteps(step){
      var x=0;
      switch(step){
        case 1:
        clearTempSilent();
          return true;
          break;

        case 2:
        var excelImportF=$('#excelImportForm');
        if (!validator.checkAll(excelImportF)) {
          return false;
        }
        if (Validate(excelImportForm)){
          
          importFile();
          return true;
        }else{
          return false;
        }
          break;
    
      }
    }

    function onFinishCallback(){
          var additionalForm=$('#additionalForm');
          var submit = true;
          /*if (!validator.checkAll(additionalForm)) {
            submit=false;
            return false;
          }*/
          
          if (submit)
            {
                registerFromTempTable();
                clearTemp(userId);

            }

      }

  });


  

function loadPreview() {

   $("#loaderImg").hide(); //hide loader after successful page load


    console.log('userId:',userId);
    var url = window.location.href; 
    var table=$('#data_preview').DataTable({
      "processing": true,
        "language": {
            processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> '
          },
 
 
      "ajax": {
        "url": api_base_url+"/cmfi_memberspreview?filter=addedBy,eq,"+userId,
        "dataSrc": "records"
      },
      "columns": [
      {
                data: null,
                defaultContent: '',
                className: 'select-checkbox',
                orderable: false
            },
        { "data": "firstName" },
        { "data": "lastName" },
        { "data": "city" },
        { "data": "country" },
        { "data": "sex" },
        { "data": "phone" },
        { "data": "email" },
        { "data": "id" }
      ],
      select: {
            style:    'os',
            selector: 'td:first-child'
        },
        order: [[ 1, 'asc' ]],
      "columnDefs": [
          {
                targets: 8,
                render: function(data, type, full, meta){
                  if(type === 'display'){
                      data = `<div class="links button-group">
                          <a id="${data}" data-toggle="modal" href="#editTempRec" class="btn btn-info btn-xs"><i class="glyphicon glyphicon-pencil"></i></a>
                          <a onclick="deleteTempRec(${data})" class="btn btn-danger btn-xs "><i class="fa fa-trash"></i> </a>
                          </div>`;                     
                  }
                    
                  return data;
                }
            },
          {
              "targets": [ 8 ],
              "visible": true,
              "searchable": false
          },
     ]
              
    });
    
  

  }

var _validFileExtensions = [".xls", ".csv", ".xlsx"];  

function Validate(oForm) {
    //var form=getElementById(oForm);
    var arrInputs = oForm.getElementsByTagName("input");
    for (var i = 0; i < arrInputs.length; i++) {
        var oInput = arrInputs[i];
        if (oInput.type == "file") {
            var sFileName = oInput.value;
            if (sFileName.length > 0) {
                var blnValid = false;
                for (var j = 0; j < _validFileExtensions.length; j++) {
                    var sCurExtension = _validFileExtensions[j];
                    if (sFileName.substr(sFileName.length - sCurExtension.length, sCurExtension.length).toLowerCase() == sCurExtension.toLowerCase()) {
                        blnValid = true;
                        break;
                    }
                }
                
                if (!blnValid) {
                    var errText="Sorry, " + sFileName + " is invalid, allowed extensions are: " + _validFileExtensions.join(", ");
                    errorNote(fresponse,errText);
                    return false;
                }
            }
        }
    }
  
    return true;
}
    
//import data from excel csv file 
function importFile(){ 
    var filesize=$("#file").val().length;
    var data_=new FormData(excelImportForm)
    data_.append("userId",userId);
    data_.append("fn","importTemp");
    if(Validate(excelImportForm) ){
        $.ajax({
            url: "controllers/importExcel.php", // Url to which the request is send
            type: "POST",             // Type of request to be send, called as method
            data: data_,              // Data sent to server, a set of key/value pairs (i.e. form fields and values)
            contentType: false,       // The content type used when sending data to the server.
            cache: false,             // To unable request pages to be cached
            processData:false,        // To send DOMDocument or non processed data file it is set to false
            beforeSend: function () { $("#loaderImg").show(); },
            complete: function () { $("#loaderImg").hide(); },
            success: function(data)   // A function to be called if request succeeds
            {
                console.log("response on import:",data);
            if(data!="success"){
                //errorNote(fresponse,data);
                $('#results').append(blockFormat('<li>'+data+'</li>'));
            }else{
                //successNote(sresponse,'Data uploaded to server successfully!');
                $('#results').append(blockFormat('<li>-> Data uploaded to server successfully!</li>'));
            }
            
            },
            error: function(err){
            errorNote(fresponse,err.responseText);
            console.log(err);
            }
        });
        
    }else{
        errorNote(fresponse,"file selected is invalid, allowed extensions are: " + _validFileExtensions.join(", "));
    }
  
}   

//import data from excel csv file 
function finishImport(){ 
  //$("#iloading").prop('style', 'display:visible');
  var data_=new FormData(finishImportForm);
  data_.append("userId",userId);
  data_.append("eventId",getId(1));
  data_.append("fn","finishImport");
  $.ajax({
    url: "controllers/importExcel.php", // Url to which the request is send
    type: "POST",             // Type of request to be send, called as method, 
    data:data_,               // Data sent to server, a set of key/value pairs (i.e. form fields and values)
    contentType: false,       // The content type used when sending data to the server.
    cache: false,             // To unable request pages to be cached
    processData:false,        // To send DOMDocument or non processed data file it is set to false
    success: function(data)   // A function to be called if request succeeds
    {
 
      console.log(data);
      $('#results').append(`<li>`+data+`</li>`);
      //successNote(sresponse,'Data imported to server successfully!')
      $('#results').append(blockFormat('<li>Data imported to server successfully!</li>'));
      clearTemp(userId);
      //$('#contentDiv').load('views/finishImport.html').show();
      //$("#iloading").prop('style', 'display:none');
    }
    });
  
}

</script>