
            <div class="x_panel">
              <div class="x_title">
                <h2>Import Wizard <small>delegate import from excel CSV file</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Settings 1</a>
                      </li>
                      <li><a href="#">Settings 2</a>
                      </li>
                    </ul>
                  </li>
                  <li><a class="close-link"><i class="fa fa-close"></i></a>
                  </li>
                </ul>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">


                <!-- Smart Wizard -->
                <div id="wizard" class="form_wizard wizard_horizontal">
                  <ul class="wizard_steps">
                    <li>
                      <a href="#step-1">
                        <span class="step_no">1</span>
                        <span class="step_descr">
                                          Step 1<br />
                                          <small>csv file preparation</small>
                                      </span>
                      </a>
                    </li>
                    <li>
                      <a href="#step-2">
                        <span class="step_no">2</span>
                        <span class="step_descr">
                                          Step 2<br />
                                          <small>Import Excel CSV Data</small>
                                      </span>
                      </a>
                    </li>
                    <li>
                      <a href="#step-3">
                        <span class="step_no">3</span>
                        <span class="step_descr">
                                          Step 3<br />
                                          <small>Preview & Edit</small>
                                      </span>
                      </a>
                    </li>
                    <li>
                      <a href="#step-4">
                        <span class="step_no">4</span>
                        <span class="step_descr">
                                          Step 4<br />
                                          <small>Summary & Finish</small>
                                      </span>
                      </a>
                    </li> 
                  </ul>
        
          <div id="step-1">
            <div class="col-md-12 col-sm-12 col-xs-12">
            <h2 class="StepTitle">Requirements for Importing Data</h2>
              <p>
              Import your excel file. the file should be in CSV format and the fields should be made is in <a style="cursor:pointer;">this example<span class="fa fa-chevron-down"></span></a>
              </p>
              <div id="excelExample"></div>
              <p>Your CSV file should <strong>not</strong> have column headers, the following column order should be maintained</p>
                <ul>
                  <li>Column 1 : FirstName</li>
                  <li>Column 2 : LastName</li>
                  <li>Column 3 : Gender (M or F)</li>
                  <li>Column 4 : City</li>
                  <li>Column 5 : Country (2 Character ISO code e.g NO for Norway)</li>
                  <li>Column 6 : Phone (optional) - should <strong>not</strong> contain '+' at the beginning, it should be e.g 263772902572</li>
                  <li>Column 7 : Email (optional)</li>
              </ul>
            </div>

        </div>
        <div id="step-2">
            <label  class="control-label col-md-3 col-sm-3 col-xs-12" for="exampleInputFile"></label>
            <div class="col-md-9 col-sm-9 col-xs-12">
            <h2 class="StepTitle">Import Excel/CSV file</h2>
              <p>
              Import your excel file. the file should be in CSV format and the fields should be made is in <a>this example</a>
              </p>
              </div>
            <form id="excelImportForm" action="" enctype="multipart/form-data" method="post" role="form" class="form-horizontal form-label-left" novalidate>
            
            <div class="item form-group">
              <label  class="control-label col-md-3 col-sm-3 col-xs-12" for="file">File Upload</label>
              <div class="col-md-6 col-sm-9 col-xs-12">
              <input type="file" name="file" id="file" size="150" class="form-control" required="required">
              <p class="help-block">Only Excel/CSV File Import.</p>
              </div>
            </div>
            
            </form>
            <!-- <div class="form-group">
            <label  class="control-label col-md-3 col-sm-3 col-xs-12" for="import"></label> -->
            <!--div class="col-md-6 col-sm-9 col-xs-12">
              <button onclick="importFile()" type="submit" class="btn btn-default" name="Import" value="Import">Upload <span id="loading" style="display:none;"><img src="images/loading.gif" alt="loading..." width="30px" /></span></button>
              
            </div-->
          <!--  </div> -->
        
        </div>
        
        <div id="step-3">
          <div class="col-md-12 col-sm-12 col-xs-12">
              <form id="finishImportForm" method="POST" action="">
              <input id="nation" name="nation" type="hidden" value="" />
              </form>
            <div class="col-md-9 col-sm-9 col-xs-12">
                <h2 class="StepTitle">Import Data</h2>
                <p>If you are happy with the data preview click finish </p><br>
                <span id="iloading" style="display:none;" ><img src="images/loading.gif" alt="loading..." width="30px" /></span>
            </div>
            <!-- <h2 class="StepTitle">Preview Data</h2> -->
          <div class="button-group"> 
            <a onclick="" class="btn btn-default btn-sm" ><i class="glyphicon glyphicon-eye-open"></i> Show</a>
            <a onclick="clearTemp(userId)" class="btn btn-default btn-sm" ><i class="glyphicon glyphicon-trash"></i> Clear All</a>
            </div> 
          
            <table id="data_preview" class="table  table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
              <thead>
              <tr>
                <th></th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>City</th>
                <th>Country</th>
                <th>Sex</th>
                <th>Phone</th>
                <th>E-mail</th>
                <th>Actions</th>
              </tr>
              </thead>
            </table>

            <div class="x_panel" style="background-color: darkgrey;color:whitesmoke;">
                <div class="x_content">
                    <div id="importResults" class="dark dashboard-widget-content" style="overflow-y: scroll; height:150px;width:100%;">
                      <ul id="results" class="timeline widget"></ul>
                    </div>
                </div>
            </div>

            <!-- <a onclick="finishImport()" style="cursor:pointer;">Finish</a> -->
            
          </div>
        </div>
        <div id="step-4">
            <label  class="control-label col-md-3 col-sm-3 col-xs-12" ></label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <h2 class="StepTitle">Data Summary</h2>

              <div id="stats" class="row" style="display: inline-block;">
                <div class=" top_tiles" style="margin: 10px 0;">
                  <div class="col-md-3 col-sm-3  tile" style="background-color: #1ABB9C;margin-top: 10px;margin-bottom: 10px;margin-right: 10px;color: #ffffff;">
                  <span><i class="fa fa-check-square-o"></i> Clean Records</span>
                  <h2 id="n" style="color:white;">0</h2>
                  </div>
                  <div class="col-md-3 col-sm-3  tile">
                  <span><i class="fa fa-copy"></i> Duplicates</span>
                  <h2 id="d">0</h2>
                  </div>
                  <div class="col-md-3 col-sm-3  tile">
                  <span><i class="fa fa-times-circle"></i> Invalid Records</span>
                  <h2 id="i">0</h2>
                   </div>
                  <div class="col-md-3 col-sm-3  tile">
                  <span><i class="fa fa-check-circle"></i> Already Signed In</span>
                  <h2 id="r">0</h2>
                  </div>
                  <div class="col-md-3 col-sm-3  tile">
                    <span><i class="fa fa-edit"></i> New Registrations</span>
                    <h2 id="s">0</h2>
                    </div>
                  </div>
                </div>
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Details <small>key stats of the data to be imported</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
 
                  <div class="x_content">
                    <div class="">
                      <ul class="to_do">
                        <li>
                          <p><div class="icheckbox_flat-green" style="position:relative;"><h3 id="x">0</h3></div> &nbsp; <i class="fa fa-chain-broken"></i> Records have incomplete names, either first name only or last name only </p>
                        </li>
                        <li>
                          <p><div class="icheckbox_flat-green" style="position:relative;"><h3 id="g">0</h3></div>&nbsp;<i class="fa fa-female"></i>   Records have missing or invalid gender specification </p>
                        </li>
                        <li> 
                          <p><div class="icheckbox_flat-green" style="position:relative;"><h3 id="cc">0</h3></div>&nbsp;<i class="fa fa-globe"></i>   Records do not have country specified </p>
                        </li>
                        <li>
                          <p><div class="icheckbox_flat-green" style="position:relative;"><h3 id="p">0</h3></div>&nbsp;<i class="fa fa-phone"></i>   Records have phone numbers </p>
                        </li>
                        <li>
                          <p><div class="icheckbox_flat-green" style="position:relative;"><h3 id="e">0</h3></div>&nbsp;<i class="fa fa-envelope-o"></i>   Records have invalid email addresses </p>
                        </li>
                        <li>
                          <p><div class="icheckbox_flat-green" style="position:relative;"><h3 id="c">0</h3></div>&nbsp;<i class="fa fa-map-marker"></i>   Records do not have city or town specified </p>
                        </li>
                      </ul>
                      </div>
                  </div>
                </div>
              <p>If you are happy with your summary you can proceed to click Finish to import the file or you can click cancel to reset the Wizard and start again</p>
              <span id="iloading" style="display:none;" ><img src="images/loading.gif" alt="loading..." width="30px" /></span>
             </div> 
        </div>

                </div>
                <!-- End SmartWizard Content -->

           
        </div>
      </div>
    </div>
    <!-- /page content -->


  <!--- disciple edit modal --->      
  <div id="tempDiscipleModal" class="modal fade discipleModal" tabindex="-1" role="dialog" 
  aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
  
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                  </button>
                  <h4 class="modal-title" ><div class="lblHeading">Disciple Details</div></h4>
                </div>
                <div class="modal-body">
                     
                      <div class="clearfix"></div>
                      <div id="newdiscipleFormx" class="well" style="display: block">
                      <div class="row">
                   <div class="col-md-3 col-sm-12 col-xs-12">
                          <div id="uploadForm" class="avatarUploadForm">
                              <a onclick="showHide('uploadForm')" class="boxclose" type="button"></a>
                              <form id="uploadimagex" name="uploadimagex" action="" method="post" enctype="multipart/form-data">
                                <input class="form-control" id="image_file" name="image_file" type="file">
                                <input type="hidden" name="memberId">
                              </form>
                              <!--button class="btn btn-default" data-dismiss="modal" type="button">Close</button--><div style="margin:10px"></div>
                              <div class="text-center">
                              <button class="btn btn-primary btn-sm " onclick="saveImageFromFile('uploadimagex')" type="submit" name="submit" value="Upload">Upload Image</button>
                              </div>
                              <!--button class="btn btn-default btn-sm" data-toggle="modal" data-target=".imgUpload"><i class="glyphicon glyphicon-camera"></i> <?php echo lang("WEBCAM");?></button-->
                              <!--button class="btn btn-default btn-sm" onclick="imgDisplay()"> img file</button-->
                          </div>
                               <div class="profile_img">
                              
                                <div id="avatar">
                                <!-- Current avatar -->
                                <div id="uploadimagex_avatar"  data-toggle="tooltip" data-placement="bottom" title="Change the avatar">
                                <img  onclick="showHide('uploadForm')" class="img-responsive avatar-view" src="../images/members/user.png" alt="Avatar" 
                                onerror="if (this.src != '../images/members/user.png') this.src = '../images/members/user.png';"></div>
                                              
                                <div class="loading" aria-label="Loading" role="img" tabindex="-1"></div>
                                </div>
                                
                                 <!--div class="col-md-3 col-sm-12 col-xs-12 form-group has-feedback" >
                                  <input id="imgFileName" value="" type="text" class="form-control has-feedback-left" >
                                  <span class="icon-camera form-control-feedback left" aria-hidden="true"></span>
                                </div-->
                              </div>
                               <div class="divider"></div>
                                 <button  onclick="makeUser()" id="submit" class="btn btn-success btn-sm"
                                  value="submit"> <i class="fa fa-plus"></i> Make A User</button>
                      </div>
  
                        <div class="col-md-9 col-sm-12 col-xs-12">
                        <form id="discipleFormx" class="form-horizontal form-label-left input_mask" action="" method="POST">
                         <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                          <input name="firstNamex" id="firstNamex"  type="text" class="form-control has-feedback-left"  placeholder="First Name" required="required">
                          <span class="icon-user form-control-feedback left" aria-hidden="true"></span>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                          <input type="text" class="form-control" name="lastNamex" id="lastNamex" placeholder="Last Name">
                          <span class="icon-users form-control-feedback right" aria-hidden="true"></span>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                          <input name="emailx" id="emailx"  type="text" class="form-control has-feedback-left"  placeholder="Email" >
                          <span class="icon-envelope form-control-feedback left" aria-hidden="true"></span>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                          <input type="text" class="form-control" name="phonex" id="phonex" placeholder="Phone">
                          <span class="icon-screen-smartphone form-control-feedback right" aria-hidden="true"></span>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                          <input name="dobx" id="dobx" type="datepicker" class="form-control has-feedback-left"  placeholder="DOB">
                          <span class="icon-calendar form-control-feedback left" aria-hidden="true"></span>
                        </div>
                         <script type="text/javascript">
                        $(document).ready(function() {
                          $('#dobx').datepicker({
                            singleDatePicker: true,
                            dateFormat:"yy-mm-dd",
                            yearRange: "1930:2065",
                            changeYear:true,
                            changeMonth:true,
                            calender_style: "picker_4"
                          }, function(start, end, label) {
                            console.log(start.toISOString(), end.toISOString(), label);
                          });
                        });
                      </script>
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                          <input type="text" class="form-control" name="cityx" id="cityx" placeholder="City">
                          <span class="icon-map form-control-feedback right" aria-hidden="true"></span>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback-left">
                           <select id="genderx" name="genderx" class="form-control  has-feedback-left">
                              <option value="">Choose Gender</option>
                              <option value="M">Male</option>
                              <option value="F">Female</option>
                            </select>
                          <span class="icon-symbol-female form-control-feedback left" aria-hidden="true"></span>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                          <select  class="form-control has-feedback-right localities" name="localityx" 
                          id="localityx">
                        </select>
                          <span class="icon-pin form-control-feedback right" aria-hidden="true"></span>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                           <select id="familyRolex" name="familyRolex" class="form-control has-feedback-left">
                              <option value="0">Choose Family Role</option>
                              <option value="1">Family head</option>
                              <option value="2">Spouse</option>
                              <option value="3">Child</option>
                             </select>
                          <span class="icon-user form-control-feedback left" aria-hidden="true"></span>
                        </div>
  
                         <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                          <input type="text" class="form-control has-feedback-right" name="addressx" 
                          id="addressx" placeholder="Address">
                          <span class="icon-pointer form-control-feedback right" aria-hidden="true"></span>
                        </div>
                          <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                          <input type="text" class="form-control has-feedback-left" name="professionx" 
                          id="professionx" placeholder="Profession">
                          <span class="icon-pin form-control-feedback left" aria-hidden="true"></span>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                          <input type="text" class="form-control has-feedback-right" name="surbubx" 
                          id="surbubx" placeholder="Surbub">
                          <span class="icon-home form-control-feedback right" aria-hidden="true"></span>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                           <select  id="rolex" name="rolex" class="form-control has-feedback-left roleCombo">
                             </select>
                          <span class="icon-wrench form-control-feedback left" aria-hidden="true"></span>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                           <select  id="discipleMakerx" name="discipleMakerx" class="form-control has-feedback dm">
                              <option value="0">Choose Disciple Maker</option>
                             </select>
                          <span class="icon-user form-control-feedback right" aria-hidden="true"></span>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                          <select  id="countryx" name="countryx" class="form-control has-feedback-left countries">
                             <option value="0">Choose Disciple Country</option>
                            </select>
                         <span class="icon-globe form-control-feedback left" aria-hidden="true"></span>
                       </div>
 
                           
                           <div class="col-md-12 col-sm-9 col-xs-12 control-group" data-toggle="tooltip" 
                          data-placement="top" placeholder="TAGS">
                          <input name="tagsx" id="tagsx" type="text" class="tags form-control" />
                          <div id="suggestions-container" style="position: relative; float: left; width: 250px;
                           margin: 10px;"></div>
                        </div>
                           
                        <input type="hidden"  name="id" >
                        <input type="hidden"  name="familyID" id="familyID">
                        <input type="hidden"  name="code" id="code">
                      </div>
                    </div>
                    </form>
                    <div class="divider"></div>
                    <div id ="btnDivv" class="text-right">
                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                        <button onclick="updateDisciple()" class="btn btn-primary  btn-sm" value="submit" data-dismiss="modal"><i class="fa fa-check"></i> Save </button> 
                      </div>
                    </div>
  
                </div>
              </div>
          </div>
  
       
    </div>
  


<script type="text/javascript">

  $(document).ready(function() {

    initialiseCountryCombo();
    //build results list
    $('#importResults').append(`<ul id="results" class="timeline widget"></ul>`);

    function showstats(){
      
    }
    

    // Smart Wizard
    $('#wizard').smartWizard({
      transitionEffect: 'slide',
      ajaxType: "POST", 
      onLeaveStep: onLeaveStepFunction,
      onShowStep: onShowStepFunction,
      onFinish: onFinishCallback
      
    });

    function onLeaveStepFunction(obj, context){
      console.log("Do you want to leave the step "+context.fromStep+"?");

      if(context.fromStep==2){
        //destroy the previous table if exists
        $('#data_preview').DataTable().destroy();
        setTimeout(function(){
            loadPreview()
          }, 2000);
      }

      if(context.fromStep==4){
        $('#wizard').smartWizard("prev");
      }
      return validateSteps(context.fromStep);
       
    }

    function onShowStepFunction(obj,context) {
        if($('a.btn-success').hasClass('buttonDisabled')){
          $('.btn-default').show(); // show the button finish only in the last page
          $('.btn-success').hide();
        }else{
          $('.btn-default').hide();	
          $('.btn-success').show();
        }

	    }

     function validateSteps(step){
      var x=0;
      switch(step){
        case 1:
        clearTempSilent();
          return true;
          break;

        case 2:
        var excelImportF=$('#excelImportForm');
        if (!validator.checkAll(excelImportF)) {
          return false;
        }
        if (Validate(excelImportForm)){
          //import excel file
          importFile();
          return true;
        }else{
          return false;
        }
          break;

        case 3:
        checkImportStats();
        return true;
          break;

    
      }
    }

    function onFinishCallback(){
          var additionalForm=$('#additionalForm');
          var submit = true;
          /*if (!validator.checkAll(additionalForm)) {
            submit=false;
            return false;
          }*/
          
          if (submit)
            {
                registerFromTempTable();
                clearTemp(userId);
                setTimeout(function(){  //wait 2 seconds and reset page
                  // Reset wizard
                  showPage('importExcel');
                },2000);
                

            }

      }

  });


  

function loadPreview() {

   $("#loaderImg").hide(); //hide loader after successful page load


    console.log('userId:',userId);
    var url = window.location.href; 
    var table=$('#data_preview').DataTable({
      "processing": true,
        "language": {
            processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span> '
          },
 
 
      "ajax": {
        "url": api_base_url+"/cmfi_memberspreview?filter=addedBy,eq,"+userId,
        "dataSrc": "records"
      },
      "columns": [
        {
                data: null,
                defaultContent: '',
                className: 'select-checkbox',
                orderable: false
            },
        { "data": "firstName" },
        { "data": "lastName" },
        { "data": "city" },
        { "data": "country" },
        { "data": "sex" },
        { "data": "phone" },
        { "data": "email" },
        { "data": "id" }
      ],
      select: {
            style:    'os',
            selector: 'td:first-child'
        },
        order: [[ 1, 'asc' ]],
      "columnDefs": [
          {
                targets: 8,
                render: function(data, type, full, meta){
                  if(type === 'display'){
                      data = `<div class="links button-group">
                        <a onclick="loadTempDisciple(${data})" class="btn btn-xs btn-primary" data-toggle="modal" data-target="#tempDiscipleModal">
                          <i class="glyphicon glyphicon-pencil"></i></a>
                          <a onclick="deleteTempRec(${data})" class="btn btn-danger btn-xs "><i class="fa fa-trash"></i> </a>
                          </div>`;                     
                  }
                    
                  return data;
                }
            },
          {
              "targets": [ 8 ],
              "visible": true,
              "searchable": false
          }
          
     ]
              
    });
    
  

  }

var _validFileExtensions = [".xls", ".csv", ".xlsx"];  

function Validate(oForm) {
    //var form=getElementById(oForm);
    var arrInputs = oForm.getElementsByTagName("input");
    for (var i = 0; i < arrInputs.length; i++) {
        var oInput = arrInputs[i];
        if (oInput.type == "file") {
            var sFileName = oInput.value;
            if (sFileName.length > 0) {
                var blnValid = false;
                for (var j = 0; j < _validFileExtensions.length; j++) {
                    var sCurExtension = _validFileExtensions[j];
                    if (sFileName.substr(sFileName.length - sCurExtension.length, sCurExtension.length).toLowerCase() == sCurExtension.toLowerCase()) {
                        blnValid = true;
                        break;
                    }
                }
                
                if (!blnValid) {
                    var errText="Sorry, " + sFileName + " is invalid, allowed extensions are: " + _validFileExtensions.join(", ");
                    errorNote(fresponse,errText);
                    return false;
                }
            }
        }
    }
  
    return true;
}
    
//import data from excel csv file 
function importFile(){ 
    var filesize=$("#file").val().length;
    var data_=new FormData(excelImportForm)
    data_.append("userId",userId);
    data_.append("fn","importTemp");
    if(Validate(excelImportForm) ){
        $.ajax({
            url: "controllers/importExcel.php", // Url to which the request is send
            type: "POST",             // Type of request to be send, called as method
            data: data_,              // Data sent to server, a set of key/value pairs (i.e. form fields and values)
            contentType: false,       // The content type used when sending data to the server.
            cache: false,             // To unable request pages to be cached
            processData:false,        // To send DOMDocument or non processed data file it is set to false
            beforeSend: function () { $("#loaderImg").show(); },
            complete: function () { $("#loaderImg").hide(); },
            success: function(data)   // A function to be called if request succeeds
            {
                console.log("response on import:",data);
            if(data!="success"){
                //errorNote(fresponse,data);
                $('#results').append(blockFormat('<li>'+data+'</li>'));
            }else{
                //successNote(sresponse,'Data uploaded to server successfully!');
                $('#results').append(blockFormat('<li>-> Data uploaded to server successfully!</li>'));
            }
            
            },
            error: function(err){
            errorNote(fresponse,err.responseText);
            console.log(err);
            }
        });
        
    }else{
        errorNote(fresponse,"file selected is invalid, allowed extensions are: " + _validFileExtensions.join(", "));
    }
  
}   

//import data from excel csv file 
function finishImport(){ 
  //$("#iloading").prop('style', 'display:visible');
  var data_=new FormData(finishImportForm);
  data_.append("userId",userId);
  data_.append("eventId",getId(1));
  data_.append("fn","finishImport");
  $.ajax({
    url: "controllers/importExcel.php", // Url to which the request is send
    type: "POST",             // Type of request to be send, called as method, 
    data:data_,               // Data sent to server, a set of key/value pairs (i.e. form fields and values)
    contentType: false,       // The content type used when sending data to the server.
    cache: false,             // To unable request pages to be cached
    processData:false,        // To send DOMDocument or non processed data file it is set to false
    success: function(data)   // A function to be called if request succeeds
    {
 
      console.log(data);
      $('#results').append(`<li>`+data+`</li>`);
      //successNote(sresponse,'Data imported to server successfully!')
      $('#results').append(blockFormat('<li>Data imported to server successfully!</li>'));
      clearTemp(userId);
      //$('#contentDiv').load('views/finishImport.html').show();
      //$("#iloading").prop('style', 'display:none');
    }
    });
  
}

</script>