<div class="container body">
  <div class="main_container">
    <div id="leftCol" class="col-md-3 left_col">
      <div class="left_col scroll-view">

        <div class="navbar nav_title" style="border: 0;">
          <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>Gentellela Alela!</span></a>
        </div>
        <div class="clearfix"></div>

        <!-- menu prile quick info -->
        <div class="profile">
          <div class="profile_pic">
            <img src="images/img.jpg" alt="..." class="img-circle profile_img">
          </div>
          <div class="profile_info">
            <span>Welcome,</span>
            <h2>John Doe</h2>
          </div>
        </div>
        <!-- /menu prile quick info -->

        <br />

        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

          <div class="menu_section">
            <h3>General</h3>
            <ul class="nav side-menu">
              <li><a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu" style="display: none">
                  <li><a href="index.html">Dashboard</a>
                  </li>
                  <li><a href="index2.html">Dashboard2</a>
                  </li>
                  <li><a href="index3.html">Dashboard3</a>
                  </li>
                </ul>
              </li>
              <li><a><i class="fa fa-edit"></i> Forms <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu" style="display: none">
                  <li><a href="form.html">General Form</a>
                  </li>
                  <li><a href="form_advanced.html">Advanced Components</a>
                  </li>
                  <li><a href="form_validation.html">Form Validation</a>
                  </li>
                  <li><a href="form_wizards.html">Form Wizard</a>
                  </li>
                  <li><a href="form_upload.html">Form Upload</a>
                  </li>
                  <li><a href="form_buttons.html">Form Buttons</a>
                  </li>
                </ul>
              </li>
              <li><a><i class="fa fa-desktop"></i> UI Elements <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu" style="display: none">
                  <li><a href="general_elements.html">General Elements</a>
                  </li>
                  <li><a href="media_gallery.html">Media Gallery</a>
                  </li>
                  <li><a href="typography.html">Typography</a>
                  </li>
                  <li><a href="icons.html">Icons</a>
                  </li>
                  <li><a href="glyphicons.html">Glyphicons</a>
                  </li>
                  <li><a href="widgets.html">Widgets</a>
                  </li>
                  <li><a href="invoice.html">Invoice</a>
                  </li>
                  <li><a href="inbox.html">Inbox</a>
                  </li>
                  <li><a href="calendar.html">Calendar</a>
                  </li>
                </ul>
              </li>
              <li><a><i class="fa fa-table"></i> Tables <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu" style="display: none">
                  <li><a href="tables.html">Tables</a>
                  </li>
                  <li><a href="tables_dynamic.html">Table Dynamic</a>
                  </li>
                </ul>
              </li>
              <li><a><i class="fa fa-bar-chart-o"></i> Data Presentation <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu" style="display: none">
                  <li><a href="chartjs.html">Chart JS</a>
                  </li>
                  <li><a href="chartjs2.html">Chart JS2</a>
                  </li>
                  <li><a href="morisjs.html">Moris JS</a>
                  </li>
                  <li><a href="echarts.html">ECharts </a>
                  </li>
                  <li><a href="other_charts.html">Other Charts </a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="menu_section">
            <h3>Live On</h3>
            <ul class="nav side-menu">
              <li><a><i class="fa fa-bug"></i> Additional Pages <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu" style="display: none">
                  <li><a href="e_commerce.html">E-commerce</a>
                  </li>
                  <li><a href="projects.html">Projects</a>
                  </li>
                  <li><a href="project_detail.html">Project Detail</a>
                  </li>
                  <li><a href="contacts.html">Contacts</a>
                  </li>
                  <li><a href="profile.html">Profile</a>
                  </li>
                </ul>
              </li>
              <li><a><i class="fa fa-windows"></i> Extras <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu" style="display: none">
                  <li><a href="page_404.html">404 Error</a>
                  </li>
                  <li><a href="page_500.html">500 Error</a>
                  </li>
                  <li><a href="plain_page.html">Plain Page</a>
                  </li>
                  <li><a href="login.html">Login Page</a>
                  </li>
                  <li><a href="pricing_tables.html">Pricing Tables</a>
                  </li>
                </ul>
              </li>
              <li><a><i class="fa fa-sitemap"></i> Multilevel Menu <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu" style="display: none">
                  <li><a href="#level1_1">Level One</a>
                  <li><a>Level One<span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu" style="display: none">
                      <li class="sub_menu"><a href="level2.html">Level Two</a>
                      </li>
                      <li><a href="#level2_1">Level Two</a>
                      </li>
                      <li><a href="#level2_2">Level Two</a>
                      </li>
                    </ul>
                  </li>
                  <li><a href="#level1_2">Level One</a>
                  </li>
                </ul>
              </li>
              <li><a href="javascript:void(0)"><i class="fa fa-laptop"></i> Landing Page <span
                    class="label label-success pull-right">Coming Soon</span></a>
              </li>
            </ul>
          </div>

        </div>
        <!-- /sidebar menu -->

        <!-- /menu footer buttons -->
        <div class="sidebar-footer hidden-small">
          <a data-toggle="tooltip" data-placement="top" title="Settings">
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
          </a>
          <a data-toggle="tooltip" data-placement="top" title="FullScreen">
            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
          </a>
          <a data-toggle="tooltip" data-placement="top" title="Lock">
            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
          </a>
          <a data-toggle="tooltip" data-placement="top" title="Logout">
            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
          </a>
        </div>
        <!-- /menu footer buttons -->
      </div>
    </div>

    <div class="top_nav">

      <div class="nav_menu">
        <nav class="" role="navigation">
          <div class="nav toggle">
            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
          </div>
          <!--  <div class="nav toggle" style="display: block;">
                        <a id="logo" onclick="routie('/');">
                          <img src="./images/CMFI-logo.png" alt="CMFI World Conquest Database" width="160">
                        </a>
                      </div> -->
          <div id="back" class="nav toggle" style="display:none;">
            <a href="javascript:;" data-toggle="dropdown" aria-expanded="false">
              <i class="fa fa-chevron-left"></i>
            </a>
          </div>


          <ul class="nav navbar-nav navbar-right">
            <li>

            </li>

            <!-- Register button -->
            <li id="user" class="user" role="presentation">
              <!--a onclick="routie('/register');" id="btnRegister" data-toggle="tooltip" data-placement="bottom" title="Register"><i class="icon-pencil"></i></a-->
              <a onclick="routie('/login');" class="user-profile" aria-expanded="false">
                <img src="images/user.png" alt="">User Login
                <!--span class=" fa fa-angle-down"></span-->
              </a>
              <div class="dropdown-menu dropdown-usermenu pull-right">
                <section class="" style="margin:10px;">

                  <div>
                    <a onclick="AppLogin('loginForm');" class="btn btn-primary" name="login" value="Login">Log in</a>
                    <!-- <a class="reset_pass" href="forgot-password.php">Lost your password?</a>  -->
                  </div>
                </section>

              </div>

            </li>
            <li id="alert_bell" role="presentation" class="dropdown" style="display: none;">
              <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-envelope-o"></i>
                <span id="alert_count" class="badge bg-green"></span>
              </a>
              <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                <div id="system_alerts">

                </div>

                <li>
                  <div class="text-center">
                    <a>
                      <strong>See All Alerts</strong>
                      <i class="fa fa-angle-right"></i>
                    </a>
                  </div>
                </li>
              </ul>
            </li>

            <!-- Language menu Switcher -->
            <li role="presentation" class="dropdown" data-toggle="tooltip" data-placement="bottom"
              title="French (Français)">
              <a id="lang-fr" style="cursor: pointer">
                <i class="flag-icon flag-icon-fr"></i> French
              </a>
            </li>

            <li role="presentation" class="dropdown" data-toggle="tooltip" data-placement="bottom"
              title="English (Anglais)">
              <a id="lang-en" style="cursor: pointer">
                <i class="flag-icon flag-icon-us"></i> English
              </a>
            </li>



          </ul>
        </nav>
      </div>

    </div>

    <div id="app">

      <div id="contentDiv" class="right_col" role="main">
        <!-- route outlet -->
        <!-- component matched by the route will render here -->

      </div>




      <!-- footer content -->
      <div style="color: #fff">
        <div class="footer">
          <div class="pull-right">

            <p>© 2018 - 2019 <a href="https://www.cmfionline.org">CMFI Online Team</a></p>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <!-- /footer content -->
    </div>
  </div>
</div>



<div id="uploadimageModal" class="modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Upload & Crop Image</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-8 text-center">
            <div id="image_div" style="width:350px; margin-top:30px"></div>
          </div>
          <div class="col-md-4" style="padding-top:30px;">
            <br />
            <br />
            <br />
            <div id="btn_div"><button class="btn btn-success crop_image">Crop & Upload Image</button></div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>