 <div style="background-color: #fff" >
 <div class="pl-4 pr-4" >
   <div class="x_panel" style="background-color: #f6f6f6">
     <div class="x_title">
          <div id="eventTitle"></div>
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
              <!--ul class="dropdown-menu" role="menu">
                <li><a href="#">Settings 1</a>
                </li>
                <li><a href="#">Settings 2</a>
                </li>
              </ul-->
            </li>
            <li id="close">
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
      <div >
      <!-- Registration Wizard -->
              <div id="wizard" class="form_wizard wizard_horizontal">
                    <ul class="wizard_steps">
                      <li>
                        <a href="#step-1">
                          <span class="step_no">1</span>
                          <span class="step_descr">
                              Step 1<br />
                              <small>Personal Information</small>
                          </span>
                        </a>
                      </li>
                      <li>
                        <a href="#step-2">
                          <span class="step_no">2</span>
                          <span class="step_descr">
                              Step 2<br />
                              <small>Transport Information</small>
                          </span>
                        </a>
                      </li>
                      <li>
                        <a href="#step-3">
                          <span class="step_no">3</span>
                          <span class="step_descr">
                              Step 3<br />
                              <small>Health Information</small>
                          </span>
                        </a>
                      </li>
                      <li>
                        <a href="#step-4">
                          <span class="step_no">4</span>
                          <span class="step_descr">
                              Step 4<br />
                              <small>Additional Details</small>
                          </span>
                        </a>
                      </li>
                    </ul>


        <!-- STEP 1 -->
          <div id="step-1">
            <div class="row">
                <div class="col-sm-2">
                  <br><br>
                    <div id="uploadForm" class="avatarUploadForm" style="display: block;">
                        <a onclick="showHide('uploadForm')" class="boxclose" type="button"></a>
                        <form id="uploadimage" action="" method="post" enctype="multipart/form-data">
                        </form>
                        <input class="form-control" id="image_file" name="image_file" type="file">
                        <!--button class="btn btn-default" data-dismiss="modal" type="button">Close</button--><div style="margin:10px"></div>
                        <!--button class="btn btn-primary btn-sm" onclick="saveImageFromFile('uploadimage')" type="submit" name="submit" value="Upload">Upload</button-->
                      </div>
                      <div class="profile_img">
                    
                        <!-- end of image cropping -->
                        <div id="avatar">
                          <!-- Current avatar -->
                          <div id="uploadimage_avatar"  data-toggle="tooltip" data-placement="bottom" title="Change the avatar">
                          <img id="delegateImg" onclick="showHide('uploadForm')" class="img-responsive avatar-view" src="app/images/members/user.png" alt="Avatar" 
                          onerror="if (this.src != 'app/images/members/user.png') this.src = 'app/images/members/user.png';"></div>
                                      
                          <!-- Loading state -->
                          <div class="loading" aria-label="Loading" role="img" tabindex="-1"></div>
                        </div>
                      <!-- end of image cropping -->
              
                    </div>

                </div>
                <div class="col-sm-8">
                  <form name="regForm" id="regForm" enctype="multipart/form-data" method="post" action="" novalidate>
                  <span class="section"> Personal Details</span>
                    
                    
                   
                          <!-- Default input -->
                          <div class="item form-group col-md-6">
                            <label id="e1" for="email">Email</label>
                            <input type="email" class="form-control" id="email" placeholder="Email" name="email"
                            required="required">
                          </div>
                          <!-- Default input -->
                          <div class="item form-group col-md-6">
                            <label id="e2" for="confirm_email">Confirm Email</label>
                            <input type="email" class="form-control" id="email2" name="confirm_email"
                             placeholder="Confirm Your Email" required="required">
                          </div>

                          <!-- Default input -->
                          <div class="item form-group col-md-6">
                              <label id="fn" for="firstname">First Name</label>
                              <input type="text" class="form-control" name="firstname" id="firstname" placeholder="First Name"  required="required">
                              <span id="e1"></span>
                            </div>
                            <!-- Default input -->
                            <div class="item form-group col-md-6">
                              <label id="ln" for="surname">Surname</label>
                              <input type="text" class="form-control" name="lastname" placeholder="lastname" required="required">
                            </div>

                          <div class="item form-group col-md-6">
                            <label id="ph" for="phone">Phone</label>
                            <input type="text" class="form-control" name="phone" id="phone" placeholder="Phone Number"
                            required="required">
                          </div>
                          <div class="item form-group col-md-6">
                            <label id="pr" for="profession">Profession</label>
                            <input type="text" class="form-control" name="profession" placeholder="Profession"
                            required="required">
                          </div>
                          <div class="item form-group col-md-6">
                            <label id="ct" for="city">City/Town</label>
                            <input type="text" class="form-control" id="city" name="city" 
                             placeholder="City/Town" required="required">
                          </div>
                          <div class="item form-group col-md-6">
                            <label id="cy" for="country">Country</label>
                            <select id='country' name='country' class="form-control countries" required="required">
                              <option value="">Select nation</option>
                            </select>
                          </div>
                          <div class="item form-group col-md-6">
                            <label id="nat" for="nationality">Nationality</label>
                            <select id='nationality' name='nationality' class="form-control countries" required="required">
                              <option value="">Select nation</option>
                            </select>
                          </div>
                            <div class="item form-group col-md-6">
                              <label for="language">What is your first language</label>
                              <input type="text" name="language" id="autocomplete-custom-append" class="form-control col-md-6" style="float: left;" />
                              <div id="autocomplete-container" style="position: relative; float: left; width: 400px; margin: 10px;"></div>
                          </div>
                          <div class="item form-group col-md-6">
                                <label for="gender">Gender</label>
                             <select id='gender' name='gender' class="form-control" required="required">
                                  <option value="">Select your gender</option>
                                  <option value="M">Male</option>
                                  <option value="F" selected>Female</option>
                             </select>
                          </div>
                          <div class="item form-group col-md-6">
                            <label  for="birthday">Date of Birth</label>
                            <input id="birthday" name="birthday"  class="item form-control" required="required"  placeholder="2001-12-31" 
                            type="text" >
                          </div>
                          
                            </form> 
                    
                    </div>
                  </div>
                </div>
                    

                  <!-- Step 2 of the wizard Transport Info-->

        <div id="step-2">
          <div class="col-sm-2"></div>
          <div class="col-sm-8">
             <form name="regForm1" id="regForm1" enctype="multipart/form-data" method="post" action="" novalidate>
              <span class="section">Transport Information</span>
               <div class="form-row">   
                <div class="item dropdown col-md-6">
                      <label for="meansoftransport">Means Of Transportation</label>
                   <select id="meansoftransport" name="meansoftransport" class="form-control select2_grouped" required="required">
                        <option value="">Select your means of transport</option>
                        <optgroup label="Foreign Delegate">
                            <option  value="Air" >Air</option>
                            <option  value="Road" >Road</option>
                            <option  value="Water" >Water</option>
                        </optgroup>
                        <optgroup label="Cameroon Delegate">
                          <option value="Local">Road</option>
                        </optgroup>
                   </select>
                </div>
                </div>  
                 <div class="form-row">   
                    <div class="item dropdown col-md-6 foreign" id="port"></div>
                 </div>
                    <div class="item form-group col-md-6 foreign">
                          <label for="pickup">Pick up needed at Port of Entry?</label>
                       <select id="pickupport" name="pickupport" class="form-control" required="required">
                         <option value="">Select </option>
                         <option value="1">Yes</option>
                         <option value="0" selected>No</option>                              
                       </select>
                    </div>
                
                 <div class="form-row">
                      <div class=" form-group col-md-6">
                          <label for="arrivaldate">Possible Arrival Date</label>
                          <input type="text" class="item form-control" id="arrivaldate" name="arrivaldate" 
                          required="required" placeholder="Your Arrival Date">
                      </div>
                      <!-- Default input -->
                      <div class="form-group col-md-6">
                        <label for="depaturedate">Possible Depature Date</label>
                        <input type="text" class="item form-control" id="depaturedate"
                        name="depaturedate" required="required" placeholder="Your Depature Date">
                      </div>
                 </div><br>
                 <div class="item form-group col-md-6">
                          <label for="children">Are you coming with children (requiring care)?</label>
                       <select id='children' name='children' class="form-control" required="required">
                         <option value="">Select</option>
                            <option value="1">Yes</option>
                            <option value="0" selected>No</option>
                       </select>
                    </div>
                        
                          <script type="text/javascript">
                            $(document).on('change', 'select#children', function(){
                                var value = $('select#children option:selected').val();
                                //alert (value);
                                console.log(value);
                                if(value=="1"){
                                  $('#childrenDiv').load('templates/regChildren.html');

                                }else{
                                  $('#childrenDiv').load('templates/empty.html');
                                }
                              });

                          </script>
                    <div id="childrenDiv"></div>

                  <div class="form-row">   
                      <div class="item form-group col-md-6">
                          <label for="transporToKoume"> Any transportation arrangement to Koume?</label>
                        <select id="transporToKoume" name="transporToKoume" class="form-control"
                         required="required">
                             <option  value="">Select </option>
                             <option  value="1">Yes</option>
                             <option  value="0" selected>No</option>
                         </select>
                      </div>
                  </div><br>

                  <script type="text/javascript">
                        $(document).on('change', 'select#transporToKoume', function(){
                            var value = $('select#transporToKoume option:selected').val();
                            //alert (value);
                            console.log(value);
                            if(value=="1"){
                              $('#transportDiv').load('templates/regTransportDetails.html');

                            }else{
                              $('#transportDiv').load('templates/empty.html');
                            }
                          });

                  </script>

                   <div id="transportDiv" class="item form-group col-md-6">
                   </div><br>
                   <div class="form-row">   
                    <div class="item form-group col-md-6 foreign">
                        <label for="invitation"> Would you require an invitation letter?</label>
                      <select id="invitation" name="invitation" class="form-control"
                       required="required">
                           <option  value="">Select </option>
                           <option  value="1">Yes</option>
                           <option  value="0" selected>No</option>
                       </select>
                    </div>
                </div><br>
                <script type="text/javascript">
                  $(document).on('change', 'select#invitation', function(){
                      var value = $('select#invitation option:selected').val();
                      //alert (value);
                      console.log(value);
                      if(value=="1"){
                        $('#travelDiv').html(`
                        <div class="item form-group col-md-6">
                            <label  for="passportNo">Passport number</label>
                            <input id="passportNo" name="passportNo"  class="form-control" required="required"  placeholder="" 
                            type="text" >
                          </div>
                        `);

                      }else{
                        $('#travelDiv').html('');
                      }
                    });

              </script>

              <div id="travelDiv" class="item form-group foreign">
              </div><br>
          </form>
          </div>
        </div>


                <!-- Step 3 of the wizard Health Isuues -->
          <div id="step-3">
            <div class="col-sm-2">
              </div>
              <div class="col-sm-8">
                 <form name="regForm2" id="regForm2" enctype="multipart/form-data" method="post" action="" novalidate>
                    <span class="section">Diet Information</span>  
                         <div class="item form-group col-md-12">
                           <label for="dietRestrictions">Do you have any Special Dietary Restrictions?</label>
                           <select id="dietRestrictions" name="dietRestrictions" class="form-control" required="required">
                                   <option value="">Select </option>
                                   <option  value="1">Yes</option>
                                   <option  value="0" selected>No</option>

                           </select>
                         </div>
                    <div class="form-row col-md-12"> 
                              <div class="form-group purple-border" id="specifydietRestrictions">

                              </div>
                    </div><br>

                    <span class="section">Health Information</span>  
                         <div class="item form-group col-md-12">
                           <label for="healthQn">Do you have any Special Health Conditions?</label>
                           <select id="healthQn" name="healthQn" class="form-control" required="required">
                                   <option value="">Select </option>
                                   <option  value="1">Yes</option>
                                   <option  value="0" selected>No</option>

                           </select>
                         </div>
                    <div class="item form-row col-md-12"> 
                              <div class="form-group purple-border" id="specifyHealthConditions">

                              </div>
                    </div><br>

                    
               </form>
              </div>
        </div>


                <!-- Step 4 of the wizard Health Isuues -->
            <div id="step-4">
            <div class="col-sm-2">
            </div>
              <div class="col-sm-8">
                 <form name="regForm3" id="regForm3" enctype="multipart/form-data" method="post" action="" novalidate>
                    <span class="section"> Accommodation & Additional Info</span>
                    <div class="form-row">   
                        <div class="item form-group col-md-12">
                        <label for="accommodation">
                          Have you arranged for a private accommodation
                          in Bertoua (not provided by the convention organizers)?
                        </label>
                        <select id="accommodation" name="accommodation" class="form-control" 
                        required="required">
                              <option value="">Select </option>
                                <option  value="1">Yes</option>
                                <option  value="0" selected>No</option>
                            
                        </select>
                        </div>
                    </div>
                    <script type="text/javascript">
                        $(document).on('change', 'select#accommodation', function(){
                            var value = $('select#accommodation option:selected').val();
                            //alert (value);
                            console.log(value);
                            if(value=="1"){
                              $('#accommodationDiv').html(`<div class="form-group purple-border col-md-12">
                                    <label for="accommodationDetails">
                                        Please provide us with details (type, address, contacts, etc.)    
                                    </label><br>
                                    <textarea class="txt form-control z-depth-1" rows="4" id="accommodationDetails" name="accommodationDetails"  
                                    placeholder="Provide the details here ..." required></textarea>
                              </div>`);

                            }else{
                              $('#accommodationDiv').html('');
                            }
                          });

                      </script>

                      <div id="accommodationDiv" class="item form-group"></div>
                      <div class="form-row">   
                          <div class="dropdown col-md-12">
                            <label for="preferredAcc">
                            Do you have preferred accommodation? (NB: You will pay for it)
                            </label>
                              <select id='preferredAcc' name='preferredAcc' class="form-control" required>
                                  <option value="">Select </option>
                                      <option value="1">Yes</option>
                                      <option value="0" selected>No</option>
                                  
                              </select>
                          </div>
                    </div><br>  
                    <div id="prefAccDiv" class="item form-group"></div>
                    <script type="text/javascript">
                      $(document).on('change', 'select#preferredAcc', function(){
                          var value = $('select#preferredAcc option:selected').val();
                          //alert (value);
                          console.log(value);
                          if(value=="1"){
                            $('#prefAccDiv').html(`<div class="form-row">   
                          <div class="dropdown col-md-12">
                            <label for="room">
                              Type of preferred accommodation (NB: You will pay for it)
                            </label>
                              <select id='room' name='room' class="form-control" required>
                                    <option value="">Select </option>
                                <option  value="Hotel room - single" > Hotel room - single </option>
                                <option  value="Hotel room - double" > Hotel room - double </option>
                                <option  value="Compound accomodation">Compoundaccomodation</option>
                                  
                              </select>
                            </div>
                      </div><br>  `);

                          }else{
                            $('#prefAccDiv').html('');
                          }
                        });

                    </script>
                <!-- <div class="form-group purple-border col-md-12">
                    <label for="testimony">
                       Testimonies *Optional*
                    </label><br>
                    <textarea class="txt form-control z-depth-1" rows="4" id="testimony" 
                     placeholder="Tell us your testimony ..."></textarea>
                  </div><br>

                  <div class="ba-upload tool col-md-12">
                      <label style="font-size: 16px; color: rgba(51, 51, 51, 1);">
                          <span>
                            Attach a file to your Testimony
                          </span>
                      </label><br>
                      <label class="file">
                          <input type="file" id="testimony" aria-label="">
                          <span class="file-custom"></span>
                     </label>
                   
                    </div><br> -->
                    <div class="form-group purple-border col-md-12">
                        <label for="additionalInfo">
                           Additional *Optional*
                        </label><br>
                        <textarea class="form-control z-depth-1" rows="4" id="additionalInfo"
                          placeholder="Any other thing you may want to know about yourself or the convention?"></textarea>
                     </div>
                 
                     </div>
                    </div>
                  </form>
                  </div>
                </div>
                  </div>
                  </div>
                </div>
        </div>
    </div>
  </div>
</div>
<!-- croppie -->
<script src="js/croppie.js"></script>

<script type="text/javascript">
  $(function() {
    //$('textarea.txt').html($('textarea.txt').html().trim());
  $('textarea').each(function(){
    $(this).val($(this).val().trim());
  });
  initialiseCountryCombo();                                 //initialise countries combo 
  

  'use strict';
  var langArray = $.map(languages, function(lang) {
    return {
      value: lang.name,
      data: lang.code
    };
  });
  // Initialize autocomplete with custom appendTo:
    $('#autocomplete-custom-append').autocomplete({
      lookup: langArray,
      appendTo: '#autocomplete-container'
    });
  });

    // initialize the validator function
    validator.message['date'] = 'not a real date';

    // validate a field on "blur" event, a 'select' on 'change' event & a '.reuired' classed multifield on 'keyup':
    $('form')
      .on('blur', 'input[required], input.optional, select.required', validator.checkField)
      .on('change', 'select.required', validator.checkField)
      .on('keypress', 'input[required][pattern]', validator.keypress);

    $('.multi.required')
      .on('keyup blur', 'input', function() {
        validator.checkField.apply($(this).siblings().last()[0]);
      });

    // bind the validation to the form submit event
    //$('#send').click('submit');//.prop('disabled', true);

    $('form').submit(function(e) {
      e.preventDefault();
      var submit = true;
      // evaluate the form using generic validaing
      if (!validator.checkAll($(this))) {
        submit = false;
      }

      if (submit)
        this.submit();
      return false;
    });

    /* FOR DEMO ONLY */
    $('#vfields').change(function() {
      $('form').toggleClass('mode2');
    }).prop('checked', false);

    $('#alerts').change(function() {
      validator.defaults.alerts = (this.checked) ? false : true;
      if (this.checked)
        $('form .alert').remove();
    }).prop('checked', false);

    $(document).on('change', 'select#healthQn', function(){
          var value = $('select#healthQn option:selected').val();
          //alert (value);
          console.log(value);

          switch (value)
          {
            case "1":
            $("#specifyHealthConditions").html(` <label for="healthConditionSpec">Specify the health conditions</label>
          <textarea id="healthConditionSpec" name="healthConditionSpec" row="4"  placeholder="Specify the dietary restrictions here" class="txt form-control" ></textarea>
          <div class="span6 ">
                                <div class="ba-htmltext tool ">
                                  <label class="col-md-12" style="font-size: 16px;">To supply more details please download&nbsp;
                                    <strong>
                                      <a data-mce-href=
                                        "https://download.ztfministry.org/files/279/MEDICAL-FILES/975/Informations-médicales_avant_CM2.pdf" 
                                        href="https://download.ztfministry.org/files/279/MEDICAL-FILES/975/Informations-médicales_avant_CM2.pdf">
                                        this medical form
                                      </a>
                                    </strong>&nbsp;and fill it out. Once done, upload it using the link below.
                                 </label><br>
                            </div><br>
                   <div class="ba-upload tool ">
                                <label style="font-size: 16px;  color: rgba(51, 51, 51, 1);"
                                 class="col-md-12">
                                    <span >
                                        Upload the filled medical report form (downloaded above):</span>
                                </label><br>
                                <label class="file">
                                    <!--input  class="col-md-12" type="file" id="medicalform" name="medicalform" aria-label="File browser example" -->
                                    <span class="file-custom"></span>
                               </label>

                  </div>
                 </div>`);
              break;
              case "0":{
                $("#specifyHealthConditions").html('');
              }
          }
        });
  
    $(document).on('change', 'select#dietRestrictions', function(){
          var value = $('select#dietRestrictions option:selected').val();
          //alert (value);
          console.log(value);

          switch (value)
          {
            case "1":
         $("#specifydietRestrictions").html(`<label for="dietRestrictionSpecification">Specify the dietary restrictions</label>
          <textarea id="dietRestrictionSpecification" name="dietRestrictionSpecification" row="4"  
          placeholder="Specify the dietary restrictions here" class="txt form-control" ></textarea>`);
                 break;

            case "0":
             $("#specifydietRestrictions").html('');

            break;
           
          }
      });


  
      
    


    $(document).on('change', '#email', function(){
        var email_=regForm.email.value ;console.log(email_);
        if(email_.includes("@")){
        $.getJSON('app/api/api.php/records/cmfi_members?filter=email,eq,'+regForm.email.value,
            function(data) {
            var result=data.records;
            if(result.length){
              var res=result[0];
              console.log(res.firstName);
              regForm.firstname.value=res.firstName; 
              regForm.lastname.value=res.lastName;
              regForm.email2.value=res.email;
              regForm.city.value=res.city;
              regForm.language.value=res.language;
              regForm.phone.value=res.phone;
              regForm.birthday.value=res.DOB;
              regForm.profession.value=res.profession;
              $('select#country').val( res.country);
              $('select#country').trigger('change');
              $('select#nationality').val( res.nationality);
              $('select#nationality').trigger('change');
              $('select#gender').val( res.sex);
              $('select#gender').trigger('change');
              $("#uploadimage_avatar").html(`<img id="delegateImg" onclick="showHide('uploadForm')" class="img-responsive avatar-view" src="app/images/members/${res.image}" alt="Avatar" title="Change the avatar" >`);
            }else{
              console.log("email address is available")
            }

          }); //getEvents
        }
    });

    $(document).on('change', 'select#meansoftransport', function(){
                  var value = $('select#meansoftransport option:selected').val();
                  //alert (value);
                  console.log(value);

                  if(value=="Air"||value=="Road"||value=="Water"){
                    $(".foreign").show();
                  }

                  switch (value)
                  {
               case "Air":
                  $("#port").html('<label for="air">Select Airport</label>'+
                      '<select id="air" name="air" class="form-control port" >'+
                          '<option value="">Select </option>'+
                          '<option value="Douala">Douala</option>'+
                          '<option value="Yaounde">Yaounde</option>'+ 
                          '<option value="Garoua">Garoua</option>'+
                       '</select>');
                    break;

               case "Road":
                   $("#port").html('<label for="air">Select Border Crossing</label>'+
                      '<select id="road" name="road" class="form-control port" >'+
                          '<option  value="">Select </option>'+
                          '<option  value="Ekok">Ekok</option>'+
                          '<option  value="Ambam-Minko">Ambam-Minko</option>'+  
                          '<option  value="Kenzou">Kenzou </option>'+ 
                          '<option  value="Touboro">Touboro </option>'+ 
                          '<option  value="Kousseri">Kousseri </option>'+ 
                          '<option  value="Garoua-Boulai">Garoua-Boulai</option>'+ 
                          '<option  value="Ouesso">Ouesso</option>'+ 
                          '<option  value="Demsa"> Demsa</option>'+      
                          '<option  value="Mintam">Mintam </option>'+ 
                          '<option  value="Kyeossi">Kyeossi</option>'+                          
                      '</select>');
                    break;
               case "Water":
                   $("#port").html('<label for="water">Select Seaport</label>'+
                      '<select id="water" name="water" class="form-control port" >'+
                          '<option value="">Select </option>'+
                          '<option value="Tiko">Tiko </option>'+
                          '<option value="Limbe">Limbe</option>'+  
                          '<option value="Nkambe"> Nkambe </option>'+
                          '<option value="Ekondo Titi"> Ekondo Titi</option>'+
                       '</select>');
                    break;
                case "Local":
                    $("#port").html('');
                    $(".foreign").hide();
                    break;

                  }

              });
     
                    

    $(document).ready(function() {
     
      var eventId=getId(1);

      $.getJSON('app/api/api.php/records/cmfi_events?filter=eventId,eq,'+eventId,
            function(data) {
            var event=data.records[0];
            var eventMaxDate = new Date(event.endDate);
            
            $('#arrivaldate').datepicker({
                  changeMonth: true,
                  changeYear: true,
                  dateFormat: 'yy-mm-dd',
                  minDate: 0,
                  maxDate:new Date(event.endDate)

              });

                $('#depaturedate').datepicker({
                  changeMonth: true,
                  changeYear: true,
                  dateFormat: 'yy-mm-dd',
                  minDate:new Date(event.startDate),
                  maxDate:eventMaxDate.addDays(30)

              });
                $('#birthday').datepicker({
                  changeMonth: true,
                  changeYear: true,
                  dateFormat: 'yy-mm-dd',
                  singleDatePicker: true,
                  minDate: new Date(1940, 2 - 1, 26),
                  maxDate: 0,
                  yearRange: "-100:+0", // last hundred years

              });
              $('#eventTitle').html(`<h2 class="custom-font-element custom-font-4  vc_custom_1431297137931" style="font-size:24px; line-height:28px; text-transform:uppercase; letter-spacing:1px; color:#333333; "><a onclick="routie('/event/${eventId}');"><i class="fa fa-chevron-circle-left" style="font-size:32px;"></i></a>&nbsp;Delegate Registration Form <small>${event.eventTitle}</small></h2>`);
              $('#close').html(`<a class="close-link" onclick="routie('/event/${eventId}');"><i class="fa fa-close"></i></a>`);
          }); //getEvents
               
       // Smart Wizard
      $('#wizard').smartWizard({
          transitionEffect: 'fade',
          includeFinishButton : true,
          labelFinish:'Finish',
          labelNext:'Next',
          labelPrevious:'Previous',
          //buttonOrder:['finish', 'prev', 'next'],
          reverseButtonsOrder: true,
          onLeaveStep: onLeaveStepFunction,
          onShowStep: onShowStepFunction,
          onFinish: onFinishCallback
      });

      function onLeaveStepFunction(obj, context){
        if(context.fromStep==3){
          
          /* if($("#medicalform").get(0).files.length===0){
         
            (new PNotify({
              title: 'Oops!',
              text: 'medical form not selected, you need to upload medical form in order to proceed.',
              icon: 'fa fa-exclamation-circle'
            }));
          } */
        }else if(context.fromStep==1){
          var img=$('#delegateImg').attr('src').filename();
          //sessionStorage.setItem("delegateImage",img); //put delegate img in storage
          //if($("#image_file").get(0).files.length===0){
            if(img==="user"){
            (new PNotify({
              title: 'Oops!',
              text: 'Profile avatar not selected, you need to upload profile picture in order to proceed.',
              icon: 'fa fa-exclamation-circle',
              hide: false
            }));
          }
        }
        console.log("Do you want to leave the step "+context.fromStep+"?");
        return validateSteps(context.fromStep);
        
      
      }

      function onShowStepFunction(obj,context) {
        if($('a.btn-success').hasClass('buttonDisabled')){
          $('.btn-default').show(); // show the button finish only in the last page
          $('.btn-success').hide();
        }else{
          $('.btn-default').hide();	
          $('.btn-success').show();
        }

	    }
     
      function validateSteps(step){
        var img=$('#delegateImg').attr('src').filename();
        //console.log("image:",sessionStorage.getItem('delegateImage'));
        var x=0;
        switch(step){
          case 1:
          //validate step 1
            var regForm=$('#regForm');
            if (!validator.checkAll(regForm)) {
              console.log("false");
              return false;
            }
            else if (img=="user"){
              console.log('profile picture missing');
              return false;
            }else{
               console.log("true");
              return true;

            }
            
            break;
          case 2:
            //validate step 2
            var regForm=$('#regForm1');
            var port=$("select.port option:selected").val();console.log("port:",port);
            var invite=$("select#invitation option:selected").val();
            if (!validator.checkAll(regForm)) {
              return false;
            }else if(port===""){
              (new PNotify({
                title: 'Oops!',
                text: 'Entry port not selected, you need to select the port of entry in order to proceed.',
                icon: 'fa fa-exclamation-circle',
                hide: false
              }));
              return false;
            }
            return true;
            break;
          case 3:
            //validate step 3
            var regForm=$('#regForm2');
            if (!validator.checkAll(regForm)) {
              return false;
            }
            return true;
            break;
          case 4:
            //validate step 4
            var regForm=$('#regForm3');
            if (!validator.checkAll(regForm)) {
              return false;
            }
            return true;
            break;
          default:
            return true;
            break;
        }
      }

       function onFinishCallback(){
            var regForm=$('#additionalForm');
            var submit = true;
            /*if (!validator.checkAll(regForm)) {
              submit=false;
              return false;
            }*/
            
            if (submit)
              {
                  createNewMember(eventId);
              }

        }

      
      

    });

    
    

    $(document).ready(function(){
    var imageForm=document.getElementById('uploadimage');

     $image_crop = $('#image_div').croppie({
        enableExif: true,
        enableOrientation: true,
        showZoomer: true,
        viewport: {
          width:200,
          height:200,
          type:'square' //circle
        },
        boundary:{
          width:300,
          height:300
        }
      });
    
      $('#image_file').on('change', function(){
        var reader = new FileReader();
        reader.onload = function (event) {
          $image_crop.croppie('bind', {
            url: event.target.result,
            orientation: 1
          }).then(function(){
            console.log('jQuery bind complete');
          });
        }
        reader.readAsDataURL(this.files[0]);
        $('#uploadimageModal').modal('show');
      });
    
      $('.crop_image').click(function(event){
        $("#btn_div").html('<img src="app/images/loading.gif" width="70%" />');
        $image_crop.croppie('result', {
          type: 'canvas',
          size: 'viewport'
        }).then(function(response){
          $.ajax({
            url:"controllers/delegateImageUpload.php",
            type: "POST",
            data:{
                 "image": response
              },
            success:function(res)
            {
              console.log(">>Delegate Image displayed:",res);
              sessionStorage.setItem("delegateImage",res);
              $('#uploadimageModal').modal('hide');
              $('#uploadimage_avatar').html('');
              $('#uploadimage_avatar').html(`
              <img id="delegateImg" name="delegateImg" onclick="showHide('uploadForm')" class="img-responsive avatar-view" src="app/images/members/${res}" alt="Avatar" 
onerror="if (this.src != 'app/images/members/user.png') this.src = 'app/images/members/user.png';">
              `);
              $("#btn_div").html('button class="btn btn-success crop_image">Crop & Upload Image</button>');
            }
          });
        })
      })
    
    });  

     //NOTE for you: Rotate
     $( "#rotateLeft" ).click(function() {
            $image_crop.croppie('rotate', parseInt($(this).data('rotate')));
        });
       
        $( "#rotateRight" ).click(function() {
            $image_crop.croppie('rotate',parseInt($(this).data('rotate')));
        });
</script>