<!-- icheck -->
<script src="js/icheck/icheck.min.js"></script>
<!-- switchery -->
<script src="js/switchery/switchery.min.js"></script>
<div class="">
  <div class="clearfix"></div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>User <small>Details</small></h2>
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i
                  class="fa fa-wrench"></i></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Settings 1</a>
                </li>
                <li><a href="#">Settings 2</a>
                </li>
              </ul>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content ">
          <p class="text-muted font-13 m-b-30">
          </p>
          <table id="datatable-users" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0"
            width="100%">
            <thead>
              <tr>
                <th></th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Admin</th>
                <th>Active</th>
                <th>A/C Reset</th>
                <th>Actions</th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- /page content -->

<script>
  $(document).ready(function () {
    var nation = sessionStorage.getItem("nation");

    //users table
    $('#datatable-users').DataTable({
      "ajax": {
        "url": api_base_url + "/cmfi_users?join=cmfi_members",
        "dataSrc": "records"
      },
      "columns": [{
          "data": "memberId"
        },
        {
          "data": "memberId"
        },
        {
          "data": "memberId"
        },
        {
          "data": "memberId"
        },
        {
          "data": "isAdmin"
        },
        {
          "data": "active"
        },
        {
          "data": "memberId"
        },
        {
          "data": "id"
        }
      ],
      "columnDefs": [{
          targets: 0,
          render: function (data, type, full, meta) {
            if (type === 'display') {
              data =
                `<span class="user-profile btn_disciple" ><img src="../app/images/members/${data.image}" alt="" > </span>`;
            }

            return data;
          }
        },
        {
          targets: 1,
          render: function (data, type, full, meta) {
            if (type === 'sort' || type === 'display' || type === "filter") {
              data =
                `<a onclick="showPage('userProfile',${data.id})">${data.firstName}&nbsp;${data.lastName}</a>`;
            }

            return data;
          }

        },
        {
          targets: 2,
          render: function (data, type, full, meta) {
            if (type === 'filter' || type === 'display' || type === "sort") {
              data = `<a href="mailto:${data.email}"> ${data.email}</a>`;
            }

            return data;
          }

        },
        {
          targets: 3,
          render: function (data, type, full, meta) {
            if (type === 'filter' || type === 'display' || type === "sort") {
              data = data.phone;
            }

            return data;
          }

        },
        {
          targets: 4,
          render: function (data, type, row) {
            if (type === 'display') {
              if (data == 1) {
                data =
                  `<a onclick=checkAdmin(${row.id})><input type="checkbox" class="usradmiin" checked="checked" data-userId="${row.id}"></a>`;
              } else {
                data =
                  `<a onclick=checkAdmin(${row.id})><input type="checkbox" class="usradmin" data-userId="${row.id}"></a>`;
              }
              data = data;
            }

            return data;
          }

        },

        {
          targets: 5,
          render: function (data, type, row) {
            if (type === 'display') {
              if (data == 1) {
                data =
                `<input type="checkbox" class="usractive" checked="checked" data-userId="${row.id}">`;
              } else {
                data = `<input type="checkbox" class="usractive" data-userId="${row.id}">`;
              }
              data = data;
            }

            return data;
          }

        },
        {
          targets: 6,
          render: function (data, type, full, meta) {
            if (type === 'sort' || type === 'display' || type === "filter") {
              data =
                `<a type="button"  data-toggle="tooltip" data-placement="bottom" title="Reset Account (user will be required to re-activate their account)" class="btn btn-default btn-xs" onclick="sendUserCredentials('${data.email}')"><i class="glyphicon glyphicon-repeat"></i></a>`;
            }

            return data;
          }

        },
        {
          targets: 7,
          render: function (data, type, full, meta) {
            if (type === 'display') {
              data = `<div class="button-group">
                        <a onclick="editUser(${data})" class="btn btn-xs btn-primary" data-toggle="modal" data-target=".discipleModal">
                        <i class="fa fa-edit"></i> </a> 
                        <a onclick="deleteUser(${data})" class="btn btn-xs btn-danger">
                        <i class="fa fa-trash"></i> </a>
                        </div>`;
            }

            return data;
          }

        }
      ],
      order: [
        [1, 'asc']
      ],
      dom: "Bfrtip",
      buttons: [{
        extend: "copy",
        className: "btn-sm"
      }, {
        extend: "csv",
        className: "btn-sm"
      }, {
        extend: "excel",
        className: "btn-sm"
      }, {
        extend: "pdf",
        className: "btn-sm"
      }, {
        extend: "print",
        className: "btn-sm"
      }]
    });

  });
</script>

<script type="text/javascript">
  $(document).ready(function () {


  });

  $(".usradmin").change(function () {
    console.log('clicked');
    var a = $(this).data('userId'); //getter
    if ($(this).is(':checked')) alert("checked with id:", a);
  })

  $('input[type=checkbox]').on('change', function () {
    var a = $(this).attr('data-userId');
    alert("checked with id:" + a);
  });
</script>