
             <div class="dropdown col-md-6">
                            <label for="howmany">How many children?</label>
                         <select id="howmany" name="howmany" class="form-control">
                              <option value="">Select</option>
                              <option  value="1">one</option>
                              <option  value="2" >two</option>
                              <option  value="3" >three</option>
                              <option  value="0" >More</option>
                        </select>
                 </div><br>
                 <div class="form-row col-md-6">
                    <div class="form-group purple-border">
                       <label for="childrennames"> 
                           List the child's or children's names, age(s) and gender
                       </label><br>                          
                        
                       <textarea class="txt form-control"  rows="3"
                        placeholder="List the names here..." id="childrennames" name="childrennames"></textarea>
                    </div>
                  </div>

                <div class="dropdown col-md-6">
                     <label for="babysittingarrangements"> 
                        Have you made any arrangements for babysitting?
                     </label>
                     <select id="babysittingarrangements" name="babysittingarrangements"
                               class="form-control">
                                <option value="">Select</option>
                                <option  value="1">Yes</option>
                                <option  value="0" >No</option>          
                     </select>
                 </div><br>
                  