
<div class="form-group purple-border col-md-12">
	<label for="transportDetails"> Give details of your transportation arrangement to Koume e.g. private bus or personal vehicle)</label>
     <textarea id="transportDetails" name="transportDetails" row="3"  placeholder="Give the details here...." class="txt form-control" ></textarea>
 </div>