 	<div class="dropdown col-md-12">
		<textarea class="form-control z-depth-1" rows="4" id="testimonyDetails" rows="3" 
	     placeholder="Tell us your testimony ..."></textarea>
                     
    </div>
    <div class="ba-upload tool col-md-12">
          <label style="font-size: 16px; color: rgba(51, 51, 51, 1);">
              <span>
                Attach a file to your Testimony
              </span>
          </label><br>
          <label class="file" class="col-md-12">
              <input class="col-md-12" type="file" id="testimonyFile" aria-label="">
              <span class="file-custom"></span>
         </label>
                   
     </div><br>