<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
          <h2>House Churches<small> details of assemblies</small></h2>
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Settings 1</a>
                </li>
                <li><a href="#">Settings 2</a>
                </li>
              </ul>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
     <div class="x_content">

    <ul class="nav navbar-right panel_toolbox">

            <li>
              <a id="addHC" href="#"  onclick="showHideForm('hcAddForm')" role="button" aria-expanded="false"><i style="font-size: 36px" id="hcAddForm_icon" class="glyphicon glyphicon-plus-sign green"></i></a>
              
            </li>
            <!--li><a class="close-link"><i class="fa fa-close"></i></a>
            </li-->
          </ul>
     <div id="hcAddForm" style="display: none;" >
       <div class="clearfix"></div>
    
          <div class="x_panel" style="background-color: #ededed;">
            
            <div class="x_content" id="hcTitle">
              <h2>Add New House Church <small>select family</small></h2>
              
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <br />
              <form id="addHCForm" data-parsley-validate class="form-horizontal form-label-left" method="POST" action="">

                 <div class="form-group">
                  <label class="control-label col-md-2 col-sm-2 col-xs-12">Family Name</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <select id="familyDropDown" class="select2_single form-control families">
                      <option value="select"></option>
                    </select>
                  </div>
                </div>
                 <div class="form-group">
                      <label class="control-label col-md-2 col-sm-2 col-xs-12">Locality</label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <select name="hcLocality" id="hcLocality" class="select2_group form-control">
                        </select>
                      </div>
                      
                </div>
                <div class="form-group">
                  <label class="control-label col-md-2 col-sm-2 col-xs-12">Date started <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input id="hcstartDate"  name="hcstartDate" class="date-picker form-control" required="required" type="text">
                  </div>
                </div>
                <script>
                  $( function() {
                    $( "#hcstartDate" ).datepicker({ changeMonth: true,
                    changeYear: true});
                    $( "#hcstartDate" ).datepicker( "option", "dateFormat", "yy-mm-dd" );
                     $( "#hcstartDate" ).datepicker( "option", "showAnim", "clip");
                  } );
                  </script>
                  <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Leaders</label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <select id="leadersDropDown" class="select2_multiple form-control leaders" multiple="multiple" style="width:100%;">
                        <option value="select2"></option>
                      </select>
                    </div>
                    <span><a href="#"  data-toggle="modal" data-target=".newMember"  class="btn btn-success btn-sm"><i class="icon-note"></i> Create Leader</a></span>
                  </div>
                   </form>
                <div class="modal-footer">
                  <div class="form-group" id="hcSubmit">
                    <!--button type="submit" class="btn btn-primary">Cancel</button-->
                    <button type="submit" onclick="
                      (new PNotify({
                          title: 'Confirmation Needed',
                          text: 'Are you sure you want to add this house church?',
                          icon: 'glyphicon glyphicon-question-sign',
                          hide: false,
                          confirm: {
                            confirm: true
                          },
                          buttons: {
                            closer: false,
                            sticker: false
                          },
                          history: {
                            history: false
                          },
                          addclass: 'stack-modal',
                          stack: {'dir1': 'down', 'dir2': 'right', 'modal': true}
                        })).get().on('pnotify.confirm', function(){
                          var nation = sessionStorage.getItem('nation'); 
                          addHouseChurch(nation);
                        });

                    " class="btn btn-success"><i class="icon-check "></i> Submit</button>
                  </div>
                </div>
            </div>
      </div>                             
     </div>     
     <table id="houseChurchesTable" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
      <thead>
            <tr>
              <!--th>id</th-->
              <th>Family Name</th>
              <th>Address</th>
              <th>City</th>
              <th>Leaders</th>
              <th>Actions</th>
            </tr>
            </thead>
    </table>
   </div>
   </div>
 </div>

<script type="text/javascript">
  function getid(){
                  var str=window.location.href;
                  var idArr= str.split("/");
                  var l=idArr.length;
                  return idArr[l-2];
                }
      var nation=getid();

       $("#leadersDropDown").select2({ //create house church leaders drop down
          maximumSelectionLength: 4,
          placeholder: "Max 4",
          allowClear: true
        });

      refreshMemberCombo(nation); //initialise leaders combo
      initialiseFamiliesCombo(nation); //initialise families combo
       //---------------------------------------------------------------//
        //---------                HOUSE CHURCHES         ---------------//
        //---------------------------------------------------------------//
        $('#houseChurchesTable').DataTable({
          "ajax": {
        "url": "api/funcs.php?fn=fetchHouseChurches&n="+nation,
        "dataSrc": ""
        },
        "columns": [
          { "data": "familyName" },
          { "data": "address" },
          { "data": "city" },
          { "data": "leaderName" },
          { "data": "actions" }
        ],
          dom: "Bfrtip",
                buttons: [{
                  extend: "copy",
                  className: "btn-sm"
                }, {
                  extend: "csv",
                  className: "btn-sm"
                }, {
                  extend: "excel",
                  className: "btn-sm"
                }, {
                  extend: "pdf",
                  className: "btn-sm"
                }, {
                  extend: "print",
                  className: "btn-sm"
                }
        ]
        });


       
        //populate localities drop down
        var opt2 = $("#hcLocality");
          $.getJSON("api/funcs.php?fn=fetchLocalities&n="+nation, function(response) {
               $.each(response, function() {
               opt2.append($("<option />").val(this.id).text(this.localityName));
           });
       });

       $('#addHC').click(function(){ changeIcon("hcIcon"); });

        function houseChurchEdit(id){
          var form="'addHCForm'";
          var container="'hcAddForm'";
          $.getJSON("api/funcs.php?fn=fetchHouseChurch&id="+id, function(response) {
                //document.getElementById("provName").value=response.name;
                $( 'select#familyDropDown' ).val( response.familyid );
                $('#familyDropDown').trigger('change');
                $( 'select#leadersDropDown' ).val( response.leaders );
                $('#leadersDropDown').trigger('change');
                $('select#hcLocality').val(response.locality);
                $('#hcLocality').trigger('change');
                document.getElementById("hcstartDate").value=response.startDate;
                $('#hcTitle').html('<h2>Edit House Church <small>select leaders</small></h2><div class="clearfix"></div>');
                $('#hcSubmit').html('<button  onclick="cancel('+form+','+container+')" type="submit" class="btn btn-default" name="submit" ><i class="icon-remove"></i> Cancel</button><button  onclick="updateHouseChurch('+id+')" type="submit" class="btn btn-success" name="submit" value="AddHouseChurch"><i class="icon-check"></i>  Save</button>');
                //alert(response.name);
            });

        }
</script>