
        <div class="">
          <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="x_panel">
                    <div class="x_content">

                      <div class="col-xs-10">
                         <ul class="nav navbar-right panel_toolbox">
                            <li>
                              <a id="eventBtn" href="#"  onclick="showHide('eventAddForm')" role="button" aria-expanded="false"><i style="font-size: 36px" id="eventAddForm_icon" class="glyphicon glyphicon-plus-sign green"></i></a>
                              
                            </li>  
                          </ul>

                             <div id="eventAddForm" style="display: none;" >
                               <div class="clearfix"></div>
                            
                                  <div class="x_panel" style="background-color: #ededed;">
                                    <div class="x_title" id="evTitle">
                                      <h2>Add New Event <small>local event</small></h2>
                                      
                                      <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">
                                      <br />
                                      <form id="addEventForm" data-parsley-validate class="form-horizontal form-label-left" method="POST" action="">
                                        <fieldset>
                                         <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                          <input type="text" class="form-control has-feedback-left" name="eventTitley" id="eventTitley" placeholder="Event Title"  value="">
                                          <span class="fa fa-paint-brush form-control-feedback left" aria-hidden="true"></span>
                                        </div>

                                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                          <input type="text" class="form-control has-feedback-left" id="eventDescy" name="eventDescy" placeholder="Description" value="">
                                          <span class="fa fa-pencil form-control-feedback left" aria-hidden="true"></span>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                          <input type="text" class="form-control has-feedback-left" id="reservation" name="reservation" placeholder="startDate - endDate" value="">
                                          <span class="fa fa-calendar form-control-feedback left" aria-hidden="true"></span>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                          <input type="text" class="form-control has-feedback-left" id="eventLeadery" name="eventLeadery" placeholder="Event Coordinator" value="">
                                          <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                        </div>

                                        
                                        <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Event Color</label>
                                                <div class="col-md-9 col-sm-9 col-xs-12">
                                                  <div class="input-group demo2">
                                                    <input type="text" id="eventColory" name="eventColory" value="#8fff00" class="form-control" />
                                                    <span class="input-group-addon"><i></i></span>
                                                  </div>
                                                </div>
                                              </div>
                                         <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Event Region</label>
                                            <div class="col-md-9 col-sm-9 col-xs-12">
                                              
                                                <select type="select" id="eventRegion" name="eventRegion" class="form-control">
                                                  <option value="GLB"><i class="icon-globe-alt"></i> Global</option>

                                              </select>
                                              
                                            </div>
                                          </div>
                                      </fieldset>
                                      </form>
                                        <div class="modal-footer">
                                          <div class="form-group" id="hcSubmit">
                                            <!--button type="submit" class="btn btn-primary">Cancel</button-->
                                            <button type="submit" onclick="saveEvent2()" class="btn btn-success"><i class="icon-check "></i> Submit</button>
                                          </div>
                                        </div>
                                    </div>
                              </div>                             
                             </div>  
                      
                         

                        
                          <!-- Tab panes -->
                          <div class="tab-content">
                            <div class="tab-pane active" id="local">
                              <table id="localEventsTable" class="table table-striped table-bordered dt-responsive nowrap responsive-utilities" cellspacing="0" width="100%">
                                <thead>
                                  <tr>
                                    <th></th>
                                    <th>Title</th>
                                    <th>Description</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Actions</th>
                                  </tr>
                                </thead>
                              </table>
                            </div>
                            <div class="tab-pane" id="global">
                              
                            </div>
                          </div>
                        </div>
                         <div class="col-xs-2">
                          <!-- required for floating -->
                          <!-- Nav tabs -->
                          <ul class="nav nav-tabs tabs-right">
                            <li class="active"><a href="#local" data-toggle="tab"><i class="icon-pin"></i> local Events</a>
                            </li>
                            <li><a href="#global" data-toggle="tab"><i class="icon-globe-alt"></i> Calendar</a>
                            </li>
                          </ul>
                        </div>
                     </div>
                     < 
              </div>
            </div>
            <!-- /page content -->


    <!-- daterangepicker -->
  <!--script type="text/javascript" src="js/moment/moment.min.js"></script>
  <script type="text/javascript" src="js/datepicker/daterangepicker.js"></script-->
          <!-- color picker -->
  <script src="js/colorpicker/bootstrap-colorpicker.min.js"></script>
  <script src="js/colorpicker/docs.js"></script>

  <script type="text/javascript">
    $(document).ready(function() {
      var options = {
        startDate: moment().subtract(29, 'days'),
        endDate: moment(),
        minDate: '2010-01-01',
        maxDate: '2065-12-31',
        showDropdowns: true,
        showWeekNumbers: true,
        timePicker: false,
        format: 'YYYY-MM-DD',
      };
      $('#reservation').daterangepicker(options, function(start, end, label) {
        console.log(start.toISOString(), end.toISOString(), label);
      });
    });
  </script>
 <script>
   function getid(){
                  var str=window.location.href;
                  var idArr= str.split("/");
                  var l=idArr.length;
                  return idArr[l-2];
                }
      var nation=getid();
      
          $('#eventRegiony').append('<option value="'+nation+'"><i class="icon-pin"></i> Local</option>');
          var form="'eventAddForm'";
          $("#localEventsTable").DataTable({
                "ajax": {
                "url": "api/funcs.php?fn=fetchAllEvents&n="+nation,
                "dataSrc": ""
                },
                "columns": [
                  {"data":"nation"},
                  { "data": "linkedTitle" },
                  { "data": "eventDesc" },
                  { "data": "start" },
                  { "data": "end" },
                  {"data": "action"},
                ],
                  dom: "Bfrtip",
                        buttons: [{
                          extend: "copy",
                          className: "btn-sm"
                        }, {
                          extend: "csv",
                          className: "btn-sm"
                        }, {
                          extend: "excel",
                          className: "btn-sm"
                        }, {
                          extend: "pdf",
                          className: "btn-sm"
                        }, {
                          extend: "print",
                          className: "btn-sm"
                        }
                ]
              });

          $('#localEventsTable tbody').on( 'click', 'button', function () {
                var data = table.row( $(this).parents('tr') ).data();
                alert( data[0] );
            } );

            
        </script>
        <script type="text/javascript">
          $(document).ready(function() {
            $("#loaderImg").hide(); //hide loader image
          });
          

          
        </script>



