 <div id="settingsDiv">
      <div class="x_panel">
       <div class="x_content">

          <div class="col-xs-10">
            <!-- Tab panes -->
            <div class="tab-content">
              <div class="tab-pane active" id="home-l">
                <p class="lead">General settings</p>
                 <div class="col-md-12 col-sm-12 col-xs-12">
                  
                  
                    <div class="x_content">
                      <div class="clearfix"></div>
                      <form id="nationSettingsForm" method="post"  action="" class="form-horizontal form-label-left">
                        <br/><br/>
                        <div class="form-group">
                          <label class="control-label col-md-2 col-sm-2 col-xs-12">Country Name</label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="nationName" name="nationName" type="text" class="form-control" placeholder="" value="">
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-md-2 col-sm-2 col-xs-12">Date started <span class="required">*</span>
                          </label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="nationStartDate"  name="nationStartDate" class="date-picker form-control" value="" required="required" type="text">
                          </div>
                        </div>
                        <script>
                          $( function() {
                            $( "#nationStartDate" ).datepicker({ changeMonth: true,
                            changeYear: true});
                            $( "#nationStartDate" ).datepicker( "option", "dateFormat", "yy-mm-dd" );
                             $( "#nationStartDate" ).datepicker( "option", "showAnim", "clip");
                          } );
                          </script>
                          <div class="form-group">
                             <label class="control-label col-md-2 col-sm-2 col-xs-12">Region Name  <span class="required">*</span></label>
                              <div class="col-md-6 col-sm-6 col-xs-12">
                              <select name="nregion" id="nregion" class="form-control nregions">
                                <option>Choose region</option>
                              </select>
                              </div>
                            <span><a href="#"  data-toggle="modal" data-target=".newRegion" id="newRegionBtn" class="btn btn-success btn-sm"><i class="icon-note"></i> New Region</a></span>
                          </div>
                          <div class="form-group">
                            <label class="control-label col-md-2 col-sm-2 col-xs-12">Leader No.1</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <select id="nLeaderDropDown"  name="nLeaderDropDown" class="form-control leaders" >
                                <option>Choose leader</option>
                              </select>
                            </div>
                            <span><a href="#"  data-toggle="modal" data-target=".newMember"  class="btn btn-success btn-sm"><i class="icon-note"></i> Create Leader</a></span>
                          </div>
                          <div class="form-group">
                            <label class="control-label col-md-2 col-sm-2 col-xs-12">Capital City</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <input id="capital" name="capital" type="text" class="form-control" placeholder="">
                            </div>
                          </div>

                          <div class="form-group">
                            <label class="control-label col-md-2 col-sm-2 col-xs-12">Office Phone</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <input id="nPhone" name="nPhone" type="text" class="form-control" placeholder="">
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="control-label col-md-2 col-sm-2 col-xs-12">Email</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <input id="nEmail" name="nEmail" type="text" class="form-control" placeholder="">
                            </div>
                          </div>

                        <div class="divider-dashed"></div>
                          <div class="form-group">
                            <label class="control-label col-md-2 col-sm-2 col-xs-12">Time Zone GMT</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <input id="timeZone" name="timeZone" type="text" class="form-control" placeholder="">
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="control-label col-md-2 col-sm-2 col-xs-12">Longitude</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <input id="long" name="long" type="text" class="form-control" placeholder="">
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="control-label col-md-2 col-sm-2 col-xs-12">Latitude</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <input id="lat" name="lat" type="text" class="form-control" placeholder="">
                            </div>
                          </div>
                        <div id="natId"></div>
                      </form>

                    </div>
                    <div class="modal-footer">
                      <button class="btn btn-sm btn-primary" onclick="editNation();"><i class="fa fa-check-circle" ></i> Save</button>
                    </div>
                  
                </div>
              </div>
              <div class="tab-pane" id="users-l">
                <div id="usersDiv"></div>
              </div>
              <div class="tab-pane" id="messages-l">User Permissions Tab.</div>
              <div class="tab-pane" id="settings-l">Settings Tab.</div>
            </div>
          </div>

          <div class="col-xs-2">
            <!-- required for floating -->
            <!-- Nav tabs -->
            <ul class="nav nav-tabs tabs-right">
              <li class="active"><a href="#home-l" data-toggle="tab">General</a>
              </li>
              <li><a href="#users-l" data-toggle="tab">Users</a>
              </li>
              <!--li><a href="#messages-l" data-toggle="tab">User Permissions</a>
              </li>
              <li><a href="#settings-l" data-toggle="tab">Settings</a>
              </li-->
            </ul>
          </div>

        </div>
      </div>
    </div>

<script type="text/javascript">
   function getid(){
                  var str=window.location.href;
                  var idArr= str.split("/");
                  var l=idArr.length;
                  return idArr[l-2];
                }
      var nation=getid();
      sessionStorage.setItem("nation",nation);

      refreshMemberCombo(nation); //initialise leaders combo
       initialiseRegionsCombo(); //initialise regions combo
       initialiseNationDetails(nation);

       function initialiseNationDetails(id){
           $.getJSON("api/api.php/records/cmfi_nations?join=cmfi_countries&filter=nationName,eq,"+id, function(response) {
              var res=response.records[0];
              nationSettingsForm.nationName.value=res.nationName.name;
              nationSettingsForm.nationStartDate.value=res.nationDate;
              $('#nregion').val(res.nationRegion);
              $('#nregion').trigger('change');
              $('select#nLeaderDropDown').val(res.nationLeader);
              $('#nLeaderDropDown').trigger('change');
              nationSettingsForm.nPhone.value=res.phone;
              nationSettingsForm.nEmail.value=res.email;
              nationSettingsForm.timeZone.value=res.nationName.timeZone;
              nationSettingsForm.long.value=res.nationName.longitude;
              nationSettingsForm.lat.value=res.nationName.latitude;
              nationSettingsForm.capital.value=res.nationName.capital;
             $('#natId').html('<input type="hidden" id="nationId" name="nationId" value="'+res.nationID+'" >')
              //alert(response.name);
         
          });
        }

        //load users panel content
          $("#usersDiv").load("views/users.php?n="+nation).show();
</script>