

 <style type="text/css">
  #datatable-nations tr .links {
    display:none;
}

#datatable-nations tr:hover .links {
    display:block;   
}
.btnDiv {
  width: 100%;
  left: 0;
  bottom:0;
  position: right;
}
.btnDivv {
  width: 100%;
  left: 0;
  bottom:0;
  position:center;
}

/* member avatar update form   */

  a.boxclose{
    float:right;
    margin-top:-10px;
    margin-right:-10px;
    cursor:pointer;
    color: #fff;
    border: 1px solid #AEAEAE;
    border-radius: 10px;
    background: red;
    font-size: 11px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 6px 3px;       
}

.avatarUploadForm{
  display:none;
  border:2px dashed #d2d2d2;
  background-color:#f7f7f7; 
  padding:2px;
}

.boxclose:before {
    content: "×";
}

</style>
        <div class="">
          <div class="page-title">
            <div class="title_left">
			
              <h3>
                    <a href="." type="button"><i class="fa fa-arrow-circle-left"></i></a>  Manage Nations
                    <small>
                        details of all nations registered
                    </small>
                </h3>
            </div>

            <div class="title_right">
            
			  <div class="col-md-7 col-sm-7 col-xs-12 form-group pull-right">
			  <div class="btn-group">
					<a onclick="routie('/nations')" class="btn btn-default btn-sm" ><i class="glyphicon glyphicon-refresh"></i></a>
					<a onclick="routie('/nations/cards')" class="btn btn-default btn-sm" ><i class="glyphicon glyphicon-equalizer"></i></a>
                    <button class="btn btn-success btn-sm" onclick="routie('/nations/new')"><i class="glyphicon glyphicon-plus"></i> New Nation</button>
                     	
				</div>
			  </div>
            </div>
          </div>
          <div class="clearfix"></div>

          <div class="row">


                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                      <div class="x_content">
                        <p class="text-muted font-13 m-b-30">
                          "Therefore go and make disciples of all nations..." Matt 28:19
                        </p>
                        <table id="datatable-nations" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                          <thead>
                            <tr>
                              <th></th>
                              <th>Nation</th>
                              <th>Members</th>
                              <th>Localities</th>
                              <th>House Churches</th>
                              <th>Leader</th>
                              <th></th>
                              <th>Phone</th>
                              <th>E-mail</th>
                              <th>Actions</th>
                            </tr>
                          </thead>
                         
                        </table>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /page content -->

  <!--modal forms-->
    <!-- START STARTS -->     
        
<div id="editStats" class="modal fade editStats" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">

              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" ><div class="lblHeading">Edit nation stats</div></h4>
              </div>
              <div class="modal-body">
                
                    <div class="col-xs-2">
                    <!-- required for floating -->
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs tabs-left">
                      <li class="active"><a href="#stats" data-toggle="tab">Stats</a>
                      </li>
                      <li><a href="#missionaries" data-toggle="tab">Missionaries & Leaders</a>
                      </li>
                      <li><a href="#details" data-toggle="tab">Nation Details</a>
                      </li>
                      <!--li><a href="#region" data-toggle="tab">New Region</a>
                      </li-->
                      <!--li><a href="#provinces" data-toggle="tab">Provinces</a>
                      </li-->
                      <li><a href="#users" data-toggle="tab">Users</a>
                      </li>
                    </ul>
                  </div>
                  <div class="col-xs-10">
                    <!-- Tab panes -->
                    <div class="tab-content">
                      <div class="tab-pane active" id="stats">
                        <div class="x-content">
                        <div class="row">
                        <div class="col-xs-4 well">


                          <form id="nationStatsForm" class="form-horizontal form-label-left input_mask" action="" method="post">
                           <div class="form-group">
                              <label class="control-label col-md-4 col-sm-4 col-xs-12">Disciples<span class="required">*</span></label>
                              <div class="col-md-8 col-sm-8 col-xs-12">
                              <input type="number" class="form-control" name="statsTotal" id="statsTotal" placeholder="0" required="required">
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="control-label col-md-4 col-sm-64col-xs-12">Leaders<span class="required">*</span></label>
                              <div class="col-md-8 col-sm-8 col-xs-12">
                              <input type="number" class="form-control" name="statsLeaders" id="statsLeaders" placeholder="0" required="required">
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="control-label col-md-4 col-sm-4 col-xs-12">Localities<span class="required">*</span></label>
                              <div class="col-md-8 col-sm-8 col-xs-12">
                              <input type="number" class="form-control" name="statsLoc" id="statsLoc" placeholder="0" required="required">
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="control-label col-md-4 col-sm-4 col-xs-12">House Churches<span class="required">*</span></label>
                              <div class="col-md-8 col-sm-8 col-xs-12">
                              <input type="number" class="form-control" name="statsHC" id="statsHC" placeholder="0" required="required">
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="control-label col-md-4 col-sm-4 col-xs-12">As at Date<span class="required">*</span></label>
                              <div class="col-md-8 col-sm-8 col-xs-12">
                              <input type="datepicker" class="form-control" name="statsDate" id="statsDate" placeholder="0" required="required">
                              </div>
                            </div>
                            <script>
                            $( function() {
                              $( "#statsDate" ).datepicker({ 
                                changeMonth: true,
                                changeYear: true,
                                dateFormat:"yy-mm-dd",
                                showAnim:"clip",
                                showButtonPanel: true,
                              });
                            } );
                            </script>
                            <div class="form-group">
                              <label class="control-label col-md-4 col-sm-4 col-xs-12"></label>
                              <div class="col-md-4 col-sm-4 col-xs-12" id="provReportBtn"></div>
                              <div class="col-md-4 col-sm-4 col-xs-12" id="provReportUpdateBtn"></div>
                            </div>

                          </form>
                      </div>
                      <div class="col-xs-8 natdates">
                         <table id="natDates" class="table  table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                          <thead>
                          <tr>
                            
                          </tr>
                          </thead>
                        </table>
                      </div>

                    </div>
                    <div class="divider"></div>

                    <!-- BUTTONS ON NATION STATS  -->
                     <div id ="btnDiv" class="text-right btnDiv"></div>
                    <!-- BUTTONS ON NATION STATS -->
                    </div>
                   

                    </div>

                    <!-- END STATS -->

                    <!-- STARTS MISSIONARY TAB -->
                      <div class="tab-pane" id="missionaries">
                        <div class="x-content">
                          <div class="col-xs-12">
                            <div id="newMissionary">
                               <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Select Person</label>
                                    <div class="col-md-7 col-sm- col-xs-12">
                                      <select id="missionaryDropDown"  name="missionaryDropDown" 
                                      class="form-control leaders" >
                                        <option>Choose Missionary</option>
                                      </select>
                                    </div>
                                    <span><a onclick="showHideForm('newMissionaryForm');"
                                   id="btnNewMissionary"><i id="newMissionaryForm_icon" class="glyphicon glyphicon-plus-sign green" style="font-size: 30px"></i></a></span>
                                  </div>
                                 
                                  <div class="clearfix"></div>
                                  <div id="newMissionaryForm" class="well" style="display: none;">
                                  <div class="row">
                                    <div class="col-md-3 col-sm-12 col-xs-12">
                                      <div id="uploadForm1" class="avatarUploadForm">
                                          <a onclick="showHide('uploadForm1')" class="boxclose" type="button"></a>
                                          <form id="uploadimage" name="uploadimage" action="" method="post" enctype="multipart/form-data">
                                            <input class="form-control" id="image_file" name="image_file" type="file">
                                            <input type="hidden" name="memberId">
                                          </form>
                                          <!--button class="btn btn-default" data-dismiss="modal" type="button">Close</button--><div style="margin:10px"></div>
                                          <div class="text-center">
                                          <button class="btn btn-primary btn-sm " onclick="saveImage('uploadimage')" type="submit" name="submit"
                                           value="Upload">Upload Image</button>
                                          </div>
                                          <!--button class="btn btn-default btn-sm" data-toggle="modal" data-target=".imgUpload"><i class="glyphicon glyphicon-camera"></i> <?php echo lang("WEBCAM");?></button-->
                                          <!--button class="btn btn-default btn-sm" onclick="imgDisplay()"> img file</button-->
                                      </div>
                                           <div class="profile_img">
                                          
                                            <div id="avatar">
                                            <!-- Current avatar -->
                                            <div id="profileAvatar"  data-toggle="tooltip" data-placement="bottom" title="Change the avatar">
                                            <img  onclick="showHide('uploadForm1')" class="img-responsive avatar-view" src="images/members/user.png" alt="Avatar" 
                                            onerror="if (this.src != 'images/members/user.png') this.src = 'images/members/user.png';"></div>                                                      
                                            <div class="loading" aria-label="Loading" role="img" tabindex="-1"></div>
                                            </div>
                                         
                                          </div>
                                    </div>
                                    <div class="col-md-9 col-sm-12 col-xs-12">
                                    <form id="missionaryForm" class="form-horizontal form-label-left input_mask" action="" method="POST">
                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                      <input name="firstName" id="firstName"  type="text" class="form-control has-feedback-left"  placeholder="First Name" required="required">
                                      <span class="icon-user form-control-feedback left" aria-hidden="true">
                                        
                                      </span>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                      <input type="text" class="form-control" name="lastName" id="lastName" placeholder="Last Name">
                                      <span class="icon-users form-control-feedback right" aria-hidden="true"></span>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                      <input name="email" id="email"  type="text" class="form-control has-feedback-left"  placeholder="Email" >
                                      <span class="icon-envelope form-control-feedback left" aria-hidden="true"></span>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                      <input type="text" class="form-control" name="phone" id="phone" placeholder="Phone">
                                      <span class="icon-screen-smartphone form-control-feedback right" aria-hidden="true"></span>
                                    </div>
                                  <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                    <input name="dob" id="doby" type="datepicker" class="form-control has-feedback-left dob"  placeholder="DOB">
                                    <span class="icon-calendar form-control-feedback left" aria-hidden="true"></span>
                                  </div>
                                   <script type="text/javascript">
                                  $(document).ready(function() {
                                    $('#doby').datepicker({
                                      singleDatePicker: true,
                                      dateFormat:"yy-mm-dd",
                                      yearRange: "1930:2065",
                                      changeYear:true,
                                      changeMonth:true,
                                      calender_style: "picker_4"
                                    }, function(start, end, label) {
                                      console.log(start.toISOString(), end.toISOString(), label);
                                    });
                                  });
                                </script>
                                  <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                      <input type="text" class="form-control" name="city" id="city" placeholder="City">
                                      <span class="icon-globe form-control-feedback right" aria-hidden="true"></span>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                      <select name="locality" id="locality" class="form-control  has-feedback-left"
                                          required="required">
                                        </select>
                                      <span class="icon-globe form-control-feedback left" aria-hidden="true"></span>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                      <select name="discipleMaker" id="dicipleMaker" class="form-control  has-feedback dm"
                                          required="required">
                                          <option value="0">Choose Disciple Maker</option> 
                                        </select>
                                      <span class="icon-user form-control-feedback right" aria-hidden="true"></span>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                      <select name="role" id="role" class="form-control  has-feedback-left roleCombo"
                                          required="required">
                                          <option value="0">Ministry Role</option> 
                                        </select>
                                      <span class="icon-wrench form-control-feedback left" aria-hidden="true"></span>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                       <select id="gender" name="gender" class="form-control">
                                          <option>Choose Gender</option>
                                          <option value="M">Male</option>
                                          <option value="F">Female</option>
                                        </select>
                                      <span class="icon-symbol-female form-control-feedback right" aria-hidden="true"></span>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                      <select name="familyName" id="familyName" 
                                          class="form-control  has-feedback-left">
                                          <!-- <option>Choose Family</option>  -->
                                        </select>
                                      <span class="icon-users form-control-feedback left" aria-hidden="true"></span>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                       <select id="familyRole" name="familyRole" class="form-control">
                                          <option value="0">Choose Family Role</option>
                                          <option value="1">Family head</option>
                                          <option value="2">Spouse</option>
                                          <option value="3">Child</option>
                                         </select>
                                      <span class="icon-user form-control-feedback right" aria-hidden="true"></span>
                                    </div>  
                                    <input type="hidden"  name="id" id="id">
                                    <input type="hidden"  name="nationCode" id="nationCode">
                                  </div>
                                </div>
                                </form>
                                <div class="divider"></div>
                                <div id ="btnDivv" class="text-right">
                                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                                    <button  onclick="addNewMissionary()" id="submit"
                                     class="btn btn-success btn-sm" value="submit"><i class="fa fa-plus">
                                     </i> Create New </button> 
                                    <button onclick="saveMissionary(); return false;"
                                     onclick="saveMissionary()"
                                     id="submit" class="btn btn-primary  btn-sm" value="submit">
                                    <i class="fa fa-check">    
                                    </i> Save & Add</button> 
                                  </div>
                                </div>  
                            </div>
                            
                        </div>
                        <div class="col-xs-12 natMissionaries">

                            <table id="natIntMissionaries" class="table  table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                              <thead>
                              <tr>
                              </tr>
                              </thead>
                            </table>
                        </div>
                      <div class="clearfix"></div>
                      </div>  
                      </div>
                      <!-- END MISSIONARY TAB -->

                      <div class="tab-pane" id="provinces">provinces edit details Tab.</div>

                      <!-- Nation details tab -->
                      <div class="tab-pane" id="details">
                
                          <form id="nationSettingsForm" method="post"  action="" class="form-horizontal form-label-left">
                            <br/><br/>
                            <div class="form-group">
                              <label class="control-label col-md-2 col-sm-2 col-xs-12">Country Name</label>
                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="nationName" name="nationName" type="text" class="form-control" placeholder="" value="">
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="control-label col-md-2 col-sm-2 col-xs-12">Date started <span class="required">*</span>
                              </label>
                              <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="nationStartDate"  name="nationStartDate" class="date-picker form-control" value="" required="required" type="text">
                              </div>
                            </div>
                            <script>
                              $( function() {
                                $( "#nationStartDate" ).datepicker({ 
                                  changeMonth: true,
                                  changeYear: true,
                                  yearRange: "1930:2065"
                              });
                                $( "#nationStartDate" ).datepicker( "option", "dateFormat", "yy-mm-dd" );
                                 $( "#nationStartDate" ).datepicker( "option", "showAnim", "clip");
                              } );
                              </script>
                              <div class="form-group">
                                 <label class="control-label col-md-2 col-sm-2 col-xs-12">Region Name  <span class="required">*</span></label>
                                  <div class="col-md-6 col-sm-6 col-xs-12">
                                  <select name="nregion" id="nregion" class="form-control nregions">
                                    <option>Choose region</option>
                                  </select>
                                  </div>
                              </div>
                              <div class="form-group">
                                <label class="control-label col-md-2 col-sm-2 col-xs-12">Leader No.1</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                  <select id="nLeaderDropDown"  name="nLeaderDropDown"
                                   class="form-control leaders" >
                                    <option>Choose leader</option>
                                  </select>
                                </div>
                              </div>

                              <div class="form-group">
                                <label class="control-label col-md-2 col-sm-2 col-xs-12">Office Phone</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                  <input id="nPhone" name="nPhone" type="text" class="form-control" placeholder="">
                                </div>
                              </div>
                              <div class="form-group">
                                <label class="control-label col-md-2 col-sm-2 col-xs-12">Email</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                  <input id="nEmail" name="nEmail" type="text" class="form-control" placeholder="">
                                </div>
                              </div>
                            <input type="hidden" name="nationId" id="nationId">
                            <div id="natId"></div>


                          </form>

                        <div class="divider"></div>
                     <!-- btn ON Nations   -->
                     <div class="text-right btnDivv">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> 
                        <button onclick="editNation()" id="submit" class="btn btn-primary"
                         value="submit"><i class="fa fa-check-circle"></i> Save</button>
                         <button onclick="editNation()" id="submit" class="btn btn-primary"
                         value="submit" data-dismiss="modal"><i class="fa fa-check-circle"></i> Save & Close</button>
                    </div>
                    <!-- btn ON Nations   -->
                    </div>
                    <!-- / nation details tab--->

                    <!--------  REGION TAB----------->
                      <div class="tab-pane" id="region">
                        <div class="x-content">
                          <div class="row">
                          <div class="col-xs-4">

                          <div class="col-xs-12 well">
                          <form id="addRegionForm" class="form-horizontal form-label-left input_mask" action="" method="post">
                           <div class="form-group">
                              <label class="control-label col-md-4 col-sm-4 col-xs-12">Region Code<span class="required">*</span></label>
                              <div class="col-md-8 col-sm-8 col-xs-12">
                              <input type="text" class="form-control" id="regionCode" name="regionCode" placeholder="Region Code" required>
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="control-label col-md-4 col-sm-64col-xs-12">Region Name<span class="required">*</span></label>
                              <div class="col-md-8 col-sm-8 col-xs-12">
                               <input type="text" class="form-control" id="regionName" name="regionName" placeholder="Region Name">
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="control-label col-md-4 col-sm-4 col-xs-12"></label>
                              <div class="col-md-4 col-sm-4 col-xs-12" id="provReportBtn"></div>
                              <div class="col-md-4 col-sm-4 col-xs-12" id="provReportUpdateBtn"></div>
                            </div>

                          </form>
                          </div>
                            
                            
                            
                        </div>
                        <div class="col-xs-8 natRegions">

                            <table id="natRegion" class="table  table-bordered dt-responsive nowrap"
                             cellspacing="0" width="100%">
                              <thead>
                              <tr>
                              </tr>
                              </thead>
                            </table>
                        </div>
                      </div>
                  <!-- BUTTONS ON Missionary  -->
                    <div class="divider"></div>
                    <div class="text-right">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button onclick="addNewRegion()" id="submit" class="btn btn-success"
                         value="submit"><i class="fa fa-plus-circle"></i> Save as New Region</button> 
                        <button onclick="saveRegion(`${n.id}`)" id="submit" class="btn btn-primary"
                         value="submit"><i class="fa fa-check-circle"></i> Save</button>
                    </div>
                 <!-- BUTTONS ON Missionary  -->
                      </div>
                        
                        
                      </div>
                  <!-- -----------------END REGIONS TAB ------------------------------>

                      <div class="tab-pane" id="users">


                        <div class="x_content ">
                        <p class="text-muted font-13 m-b-30">
                        </p>
                        <table id="datatable-users" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                          <thead>
                            <tr>
                              <th></th>
                              <th>Name</th>
                              <th>Email</th>
                              <th>Phone</th>
                              <th>Admin</th>
                              <th>Active</th>
                              <th>LastSeen</th>
                              <!--th>Records</th-->
                              <th>Visits</th>
                              <th>Actions</th>
                            </tr>
                          </thead>
                        </table>
                      </div>


                      </div>
                    </div>
                  </div>
                     
                       
                </div>
               <div class="clearfix"></div>
                <!--  <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                  <button onclick="saveReport()" id="submit" class="btn btn-primary" value="AddNation" data-dismiss="modal">Submit</button>
                </div> -->
        
              </div>
            </div>
          </div>

   <!--/ Modal Forms -->
  
        <script>

           $(document).ready(function() {
           
              nationLeaderCombo();
           
              //localities table
              $('#datatable-nations').DataTable({
                "ajax": {
              "url": "api/funcs.php?fn=fetchNations",
              "dataSrc": ""
              },
              buttons: [
                  {
                      text: 'New Nation',
                      action: function ( e, dt, node, config ) {
                          openPage(22);
                      }
                  }
              ],
              "columns": [
                { "data": "code" },
                { "data": "name" },
                { "data": "members" },
                { "data": "localities" },
                { "data": "housechurches" },
                { "data": "leaderLinked" },
                { "data": "image" },
                { "data": "phone" },
                { "data": "email" },
                { "data": "code" }
              ],
              columnDefs: [{
                   targets: 0,
                   render: function(data, type, full, meta){
                      if(type === 'display'){
                         data = `<span><img src="https://www.countryflags.io/${data}/flat/16.png"></span>`;                     
                      }
                       
                      return data;
                   }
                },
                {
                   targets: 9,
                   render: function(data, type, full, meta){
                      if(type === 'display'){
                         data = `<div class="button-group">
                             <a onclick="setRegionsTab('${data}');setNationTab('${data}');
                              setMissionariesTab('${data}');" data-toggle="modal" data-target=".editStats" class="btn btn-xs btn-success"><i class="fa fa-pencil"></i> </a> 
                             <a onclick="routie('/${data}')" class="btn btn-xs btn-primary"><i class="fa fa-flag"></i> </a> 
                             <a onclick="deleteNation('${data}')" class="btn btn-xs btn-danger"><i class="fa fa-trash"></i> </a>
                             </div>`;                     
                      }
                       
                      return data;
                   }
                }
                ],
                dom: "Bfrtip",
                      buttons: [{
                        extend: "copy",
                        className: "btn-sm"
                      }, {
                        extend: "csv",
                        className: "btn-sm"
                      }, {
                        extend: "excel",
                        className: "btn-sm"
                      }, {
                        extend: "pdf",
                        className: "btn-sm"
                      }, {
                        extend: "print",
                        className: "btn-sm"
                      }
              ]
              });
            });

           function setNationTab(nation){
              //initialise new modal
              $("#nationStatsForm")[0].reset();
              $('.lblHeading').html('Edit nation stats : <img src="images/loading.gif" width="24" />');
              $('.natdates').html(`<table id="natDates" class="table  table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                              <thead>
                              <tr>
                                <!--th>id</th-->
                                <th>Date</th>
                                <th>Disc</th>
                                <th>HC</th>
                                <th>Loc</th>
                                <th>Leaders</th>
                                <th>Actions</th>
                              </tr>
                              </thead>
                            </table>`);
              $('.natMissionaries').html(` <table id="natIntMissionaries" class="table  table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                              <thead>
                              <tr>
                                <!--th>id</th-->
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>City</th>
                                <th>Actions</th>
                                <th>Role</th>
                              </tr>
                              </thead>
                            </table>`);
              $('.natRegions').html(` <table id="natRegion" class="table  table-bordered dt-responsive nowrap" 
                cellspacing="0" width="100%">
                              <thead>
                              <tr>
                                <th>Region Code</th>
                                <th>Region Name</th>
                                <th>Actions</th>
                                
                              </tr>
                              </thead>
                            </table>`);


              initialiseLocalities(nation);
              //get top report
              $.getJSON('api/api.php/records/cmfi_nation_stats/?filter=code,eq,'+nation,
                function(data){
                  var n=data.records[0];
                  if(data.records.length!=0)
                    {
                        nationStatsForm.statsTotal.value=n.disciples;
                        nationStatsForm.statsDate.value=n.date;
                        nationStatsForm.statsLeaders.value=n.leaders;
                        nationStatsForm.statsHC.value=n.housechurches;
                        nationStatsForm.statsLoc.value=n.localities;
                        $('.btnDiv').html(`
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button onclick="addNewReport('${nation}')" id="submit" class="btn btn-success" value="submit"><i class="fa fa-plus-circle"></i> Save as New</button> 
                        <button onclick="saveReport(${n.id})" id="submit" class="btn btn-primary" value="submit" ><i class="fa fa-check-circle"></i> Save</button>
                      `);
                      initialiseReportsTable(nation); //show reports table if data exists
                  }
                else{
                  $('.btnDiv').html(`
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button onclick="addNewReport('${nation}')" id="submit" class="btn btn-success" value="submit" ><i class="fa fa-plus-circle"></i> Add New Stats</button>
                `);
                  
                }
                });
              
              //set users tab
              $("#usersDiv").load("views/users.php?n="+nation).show();

           }

             function setRegionsTab(nation){
               $("#addRegionForm")[0].reset();
              $('.lblHeading').html('Edit Region : <img src="images/loading.gif" width="24" />');
              $('.natRegions').html(`<table id="natRegion" class="table  table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                              <thead>
                              <tr>
                                <th>Region Code</th>
                                <th>Region Name</th>
                                <th>Actions</th>
                              </tr>
                              </thead>
                            </table>`);
                //get regions
                 $.getJSON('api/api.php/records/cmfi_regions',
                  // $.getJSON('api/api.php/records/cmfi_regions/?filter=code,eq,'+nation,
                  function(data){
                    var n=data.records[0];
                    if(data.records.length!=0)
                      {
                        
                        initialiseRegionsTable();    
                      }
                  });

               // initialiseNationDetails(nation);
             }

           function setMissionariesTab(nation){
              $("#missionaryForm")[0].reset();
              $('.lblHeading').html('Edit Missionary : <img src="images/loading.gif" width="24" />');
              $('.natMissionaries').html(`<table id="natIntMissionaries" class="table  table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                              <thead>
                              <tr>
                                <!--th>id</th-->
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>City</th>
                                <th>Role</th>
                                <th>Actions</th>
                              </tr>
                              </thead>
                            </table>`);

              initialiseMissionariesTable(nation);    
                //get missionaries
                /* $.getJSON("api/api.php/records/cmfi_members/?filter=country,eq,"+nation+"&filter=role,eq,1",
                  function(data){
                    var n=data.records[0];
                    if(data.records.length!=0)
                      {
                        
                        initialiseMissionariesTable(nation);    
                      }
                  });*/

                //initialise roles combo
                  $('#role').html('<option>Choose Ministry Role</option>'); 
                  var opt = $("#role");
                  $.getJSON("api/api.php/records/cmfi_roles", function(response) {
                       $.each(response.records, function() {
                       opt.append($("<option />").val(this.roleId).text(this.role));
                   });
                });

                //initialise families combo
                $('#familyName').html(`<option value="0">Choose Family Name</option>
                  <option value="New">Create New Family</option>`); 
                  var opt1 = $("#familyName");
                  $.getJSON("api/api.php/records/cmfi_families/?filter=nation,eq,"+nation, function(response) {
                       $.each(response.records, function() {
                       opt1.append($("<option />").val(this.id).text(this.familyName));
                   });
                });

                initialiseNationDetails(nation);
           }

//.............................. START Nation Stats functions...........................................//
            //edit nation stats
           function editNationReport(id){
            console.log("Editing report id: "+id);
            $.getJSON("api/api.php/records/cmfi_nation_stats/"+id, function(res) {
              $('#statsTotal').val(res.disciples);
              $('#statsLeaders').val(res.leaders);
              $('#statsLoc').val(res.localities);
              $('#statsHC').val(res.housechurches);
              $('#statsDate').val(res.date);
              $('#btnDiv').html(`
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button onclick="saveReport(${id})" id="submit" class="btn btn-success" value="submit">
                  <i class="fa fa-check-circle"></i> Save</button>
                  <button onclick="saveReport(${id})" id="submit" class="btn btn-success" data-dismiss="modal" value="submit">
                  <i class="fa fa-check-circle"></i> Save & Close</button>
                `);
                      
            });
          }

          //save existing report
          function saveReport(id){
            $.ajax({
              url:'api/api.php/records/cmfi_nation_stats/'+id,
              type:'PUT',
              data:{
                  disciples:nationStatsForm.statsTotal.value,
                  date: nationStatsForm.statsDate.value,
                  leaders: nationStatsForm.statsLeaders.value,
                  housechurches: nationStatsForm.statsHC.value,
                  localities:nationStatsForm.statsLoc.value
              },
              success: function(data){
                successNote(sresponse,'Report saved successfully !');
                $('#natDates').DataTable().ajax.reload(); //refresh dates table
                $('#datatable-nations').DataTable().ajax.reload(); //refresh nations table
              },
              error: function(data){
                console.log(data);
                errorNote(fresponse,'Oops something went wrong! '+ data.responseJSON.message);
              }
            });
          }

          //delete a report
          function deleteNationReport(id){
            (new PNotify({
                  title: 'Confirmation Needed',
                  text: 'Are you sure you want to delete this report?',
                  icon: 'glyphicon glyphicon-question-sign',
                  hide: false,
                  confirm: {
                    confirm: true
                  },
                  buttons: {
                    closer: false,
                    sticker: false
                  },
                  history: {
                    history: false
                  },
                  addclass: 'stack-modal',
                  stack: {'dir1': 'down', 'dir2': 'right', 'modal': true}
               })).get().on('pnotify.confirm', function(){
                $.ajax({
                  url:'api/api.php/records/cmfi_nation_stats/'+id,
                  type:'DELETE',
                  success: function(data){
                    successNote(sresponse,'Report deleted successfully !');
                    $('#natDates').DataTable().ajax.reload(); //refresh dates table
                    $('#datatable-nations').DataTable().ajax.reload(); //refresh nations table
                  },
                  error: function(data){
                    console.log(data);
                    errorNote(fresponse,'Oops something went wrong! '+ data.responseJSON.message);
                  }
                });
              
              });
          }

          //add a new report
          function addNewReport(nation){
            $.ajax({
              url:'api/api.php/records/cmfi_nation_stats/',
              type:'POST',
              data:{
                  code:nation,
                  disciples:nationStatsForm.statsTotal.value,
                  date: nationStatsForm.statsDate.value,
                  leaders: nationStatsForm.statsLeaders.value,
                  housechurches: nationStatsForm.statsHC.value,
                  localities:nationStatsForm.statsLoc.value
              },
              success: function(data){
                successNote(sresponse,'Report added successfully !');
                 $('#natDates').DataTable().ajax.reload(); //refresh dates table
                $('#datatable-natDates').DataTable().ajax.reload(); //refresh nations table
               // $('#natDates').DataTable().ajax.reload(); //refresh dates table
              },
              error: function(data){
                console.log(data);
                errorNote(fresponse,'Oops something went wrong! '+ data);
              }
            });
          }

// .............................. END Nation Stats functions...............................................//


// .............................. REGION FUNCTIONS........................................................// 

          //add a new REGION
          function addNewRegion(){
            $.ajax({
              url:'api/api.php/records/cmfi_regions/',
              type:'POST',
              data:{
                 // code:nation,
                  code:addRegionForm.regionCode.value,
                  name:addRegionForm.regionName.value
                  
              },
              success: function(data){
                successNote(sresponse,'Region added successfully !');
                
                $('#natRegions').DataTable().ajax.reload(); //refresh nations table
               // $('#natDates').DataTable().ajax.reload(); //refresh dates table
              },
              error: function(data){
                console.log(data);
                errorNote(fresponse,'Oops something went wrong! '+ data);
              }
            });
          }


//save existing region
         function saveRegion(){
           $.ajax({
              url:'api/api.php/records/cmfi_regions'+id,
              type:'PUT',
              data:{
                  code:addRegionForm.regionCode.value,
                  name:addRegionForm.regionName.value
                  
              },
              success: function(data){
                successNote(sresponse,'Region saved successfully!');
                $('#natRegions').DataTable().ajax.reload(); //refresh dates table
              },
              error: function(data){
                console.log(data);
                errorNote(fresponse,'Oops something went wrong! '+ data.responseJSON.message);
              }
            });

         }

           //delete a region
          function deleteRegion(id){
            (new PNotify({
                  title: 'Confirmation Needed',
                  text: 'Are you sure you want to delete this region?',
                  icon: 'glyphicon glyphicon-question-sign',
                  hide: false,
                  confirm: {
                    confirm: true
                  },
                  buttons: {
                    closer: false,
                    sticker: false
                  },
                  history: {
                    history: false
                  },
                  addclass: 'stack-modal',
                  stack: {'dir1': 'down', 'dir2': 'right', 'modal': true}
               })).get().on('pnotify.confirm', function(){
                $.ajax({
                  url:'api/api.php/records/cmfi_regions/'+id,
                  type:'DELETE',
                  success: function(data){
                    successNote(sresponse,'Region deleted successfully !');
                    $('#natRegions').DataTable().ajax.reload(); //refresh nations table
                  },
                  error: function(data){
                    console.log(data);
                    errorNote(fresponse,'Oops something went wrong! '+ data.responseJSON.message);
                  }
                });
              
              });
          }



          //edit regions
           function editRegion(id){
            console.log("Editing region id: "+id);
            $.getJSON("api/api.php/records/cmfi_regions/"+id, function(res) {
              $('#regionCode').val(res.code);
              $('#regionName').val(res.name);
              $('.modal-footer').html(`
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button onclick="saveRegion(${id})" id="submit" class="btn btn-success" value="submit">
                  <i class="fa fa-check-circle"></i> Save</button>
                `);
                      
            });
          }

// ..............................END  REGION FUNCTIONS.................................................// 
    
        
// .............................. START Missionary Tab Functions...........................................//

         
          //save existing missionary
         function saveMissionary(){
            var id=$('#id').val();
            var role= $('#role option:selected').val();
            var family= $('#familyName option:selected').val(); 
            var f=family;
            if(family=="New"){f=0;}
            var famRole= $('#familyRole option:selected').val(); 
            var gender= $('#gender option:selected').val();
           $.ajax({
              url:'api/api.php/records/cmfi_members/'+id,
              type:'PUT',
              data:{
                  firstName:missionaryForm.firstName.value,
                  lastName:missionaryForm.lastName.value,
                  dob:missionaryForm.dob.value,
                  city:missionaryForm.city.value,
                  role:missionaryForm.role.value,
                  email:missionaryForm.email.value,
                  phone:missionaryForm.phone.value,
                  familyID:f,
                  familyRole:famRole,
                  sex:gender,
                  role:role
              },
              success: function(data){
                successNote(sresponse,'Missionary saved successfully!');
                if(family=="New"){createFamily();}
                $('#natIntMissionaries').DataTable().ajax.reload(); //refresh dates table
                $("#missionaryForm")[0].reset();
                $("#profileAvatar").html(` <img  onclick="showHide('uploadForm1')" class="img-responsive avatar-view" src="images/members/user.png" alt="Avatar" 
                                            onerror="if (this.src != 'images/members/user.png') this.src = 'images/members/user.png';">`)
              },
              error: function(data){
                console.log(data);
                errorNote(fresponse,'Oops something went wrong! '+ data);
              }
            });

         }
          //delete a missionary
            function deleteMissionary(id){
            (new PNotify({
                  title: 'Confirmation Needed',
                  text: "Are you sure you want to remove this person's leadership roles?",
                  icon: 'glyphicon glyphicon-question-sign',
                  hide: false,
                  confirm: {
                    confirm: true
                  },
                  buttons: {
                    closer: false,
                    sticker: false
                  },
                  history: {
                    history: false
                  },
                  addclass: 'stack-modal',
                  stack: {'dir1': 'down', 'dir2': 'right', 'modal': true}
               })).get().on('pnotify.confirm', function(){
             
                $.ajax({
                   url:'api/api.php/records/cmfi_members/'+id,
                  type:'PUT',
                   data:{
                    role:9,
                  },
                  success: function(data){
                    successNote(sresponse,'Missionary removed from list successfully !');
                    $('#natIntMissionaries').DataTable().ajax.reload(); //refresh dates table
                  },
                  error: function(data){
                    console.log(data);
                    errorNote(fresponse,'Oops something went wrong! '+ data.responseJSON.message);
                  }
                });
              
              });
          }

      //add a new Missionary
        function addNewMissionary(){
            var role= $('#role option:selected').val();console.log('ministry role:'+role);
            var locality_=$('#locality option:selected').val();
            if(locality_=="new"){addLocalityFromCity(); }
            var family= $('#familyName option:selected').val();
            var f=family;
            if(family=="New"){f=0;}console.log('family:'+f);
            var famRole= $('#familyRole option:selected').val();console.log('family role:'+famRole);
            var gender= $('#gender option:selected').val();
            if(locality_=="new"){locality_=sessionStorage.getItem('localityId');}
            console.log(locality_);
            var firstName_=missionaryForm.firstName.value;
            var lastName_=missionaryForm.lastName.value;

            if(discipleExists(firstName_,lastName_)==false){
            $.ajax({
              url:'api/api.php/records/cmfi_members/',
              type:'POST',
              data:{
                  country:missionaryForm.nationCode.value,
                  firstName:firstName_,
                  lastName:lastName_,
                  DOB:missionaryForm.dob.value,
                  city:missionaryForm.city.value,
                  role:missionaryForm.role.value,
                  phone:missionaryForm.phone.value,
                  email:missionaryForm.email.value,
                  locality:locality_,
                  familyID:f,
                  addedBy:sessionStorage.getItem('memberId'),
                  familyRole:famRole,
                  sex:gender,
                  role:role
              },
              success: function(data){
                successNote(sresponse,'New Missionary added successfully !');
                if(family=="New"){createFamily();}
                $('#natIntMissionaries').DataTable().ajax.reload();
 
              //refresh nations table
              },
              error: function(data){
                console.log(data);
                errorNote(fresponse,'Oops something went wrong! '+ data.responseJSON.message);
              }

            });
            nationLeaderCombo(missionaryForm.nationCode.value);
          }else{
            errorNote(fresponse,'Oops Disciple already exists! ');
          }
          }


        function addLocalityFromCity(){

          var data= $.ajax({
            url:'api/api.php/records/cmfi_localities/',
            type:'POST',
            data:{
              localityName:missionaryForm.city.value,
              country:missionaryForm.nationCode.value
            },
            success: function(data){
              sessionStorage.setItem('localityId',data);
              successNote(sresponse,'New Locality <strong>'+missionaryForm.city.value+'</strong> created successfully !');
              
            },
            error: function(data){
              console.log(data);
                    errorNote(fresponse,'Oops something went wrong! '+ data.responseText);
                    return data;
            }
          });
          return data.responseJSON;
          
        }
        function createFamily(){
          if(!familyExists()){
          $.ajax({
              url:'api/api.php/records/cmfi_families/',
              type:'POST',
              data:{
                  familyName:missionaryForm.lastName.value,
                  city:missionaryForm.city.value,
                  nation:missionaryForm.nationCode.value
              },
              success: function(data){
                //update family Id in member record
                $.ajax({
                  url:'api/api.php/records/cmfi_members/'+missionaryForm.id.value,
                  type:'PUT',
                  data:{
                      familyID:data
                  },
                  success: function(res){
                   console.log('added familyID to member record successfully'+res)
                  }
                });


                successNote(sresponse,`New family <strong>${missionaryForm.lastName.value}</strong> created successfully!`);
              },
              error: function(data){
                console.log(data);
                errorNote(fresponse,'Oops something went wrong! '+ data.responseJSON.message);
              }
            });
          }else{
            errorNote(fresponse,'Oops! This family already exists');
          }
        }

        function familyExists(){
          var result=false;
          $.getJSON("api/api.php/records/cmfi_families?filter=familyName,eq,"+missionaryForm.lastName.value+"&filter=nation,eq,"+missionaryForm.nationCode.value, function(res) {
            console.log(res);
              var rows=res.records.length;
              console.log(rows);
              if(rows!=0){
                result= true;
              }else{
                result= false;
              }
          });
          return result;
        }

            //edit missionary
           function editMissionary(id){
            console.log("Editing missionary id: "+id);
            $.getJSON("api/api.php/records/cmfi_members/"+id, function(res) {
              $('#firstName').val(res.firstName);
              $('#lastName').val(res.lastName);
              $('#dob').val(res.dob);
              $('#city').val(res.city);
              $('#role').val(res.role);
              $('#phone').val(res.phone);
              $('#familyName').val(res.familyName);
              $('#familyRole').val(res.familyRole);
              $('.modal-footer').html(`
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button onclick="saveMissionary(${id})" id="submit" class="btn btn-success"
                   value="submit" ><i class="fa fa-check-circle"></i> Save</button>
                `);
                      
            });
          }




function showMissionaryAdd(){
    $('#btnNewMissionary').html(`<button class="btn btn-success btn-sm" onclick="showMissionaryAdd();">
      <i class="glyphicon glyphicon-tick"></i></button>`)
    $('#newMissionary').html(`
        
      `);

}

//.............................. END Missionary Tab Functions..............................................//
     
          
          $("#loaderImg").hide(); //hide loader image
       
  
          function loadPreview(user) {
            var url = window.location.href; 
            var table=$('#data_preview').DataTable({
        "ajax": {
        "url": url+"/config/funcs.php?fn=fetchTempmembers&user="+user,
        "dataSrc": ""
        },
        "columns": [
          { "data": "firstName" },
          { "data": "lastName" },
          { "data": "address" },
          { "data": "surburb" },
          { "data": "locality" },
          { "data": "city" },
          { "data": "country" },
          { "data": "sex" },
          { "data": "phone" },
          { "data": "email" },
          { "data": "tags" },
          { "data": "id" }
        ],
        "columnDefs": [
            {
                "targets": [ 11 ],
                "visible": false,
                "searchable": false
            },
       {
                "targets": [ 10 ],
                "visible": false
            }]
                
      });
      
    

    }



  function getid(){
            var str=window.location.href;
            var idArr= str.split("/");
            var l=idArr.length;

             if(idArr[l-2]!="new"){
              document.getElementById('country').style.display = 'visible'; 
            }else{
              document.getElementById('country').style.display = 'none'; 
            }

            return idArr[l-1];

           
          }



function initialiseReportsTable(nation){
  //---------        NATION REPORTS    ---------------//
                     
                      $('#natDates').DataTable({
                        "ajax": {
                          "url": "api/api.php/records/cmfi_nation_stats/?filter=code,eq,"+nation,
                          "dataSrc": "records"
                          },
                        "bFilter": false,
                        "columns": [
                          { "data": "date","width":120 },
                          { "data": "disciples","width":20 },
                          { "data": "housechurches","width":20 },
                          { "data": "localities" },
                          { "data": "leaders" },
                          { "data": "id"}
                        ],
                        columnDefs: [{
                       targets: 5,
                       render: function(data, type, full, meta){
                          if(type === 'display'){
                             data = `<div class="button-group">
                                 <a onclick="editNationReport(${data})" class="btn btn-xs btn-primary">
                                 <i class="fa fa-edit"></i> </a> 
                                 <a onclick="deleteNationReport(${data})" class="btn btn-xs btn-danger">
                                 <i class="fa fa-trash"></i> </a>
                                 </div>`;                     
                          }
                           
                          return data;
                       }
                    }
                    ],
                        "aLengthMenu":[[5,10,25,50,-1],[5,10,25,50,"All"]],
                        "pageLength":5
                              
                      });
}




function initialiseRegionsTable(nation){
  //---------        NATION REPORTS    ---------------//
                     
                      $('#natRegions').DataTable({
                        "ajax": {
                          "url": "api/api.php/records/cmfi_regions/?filter=code,eq,"+nation,
                          "dataSrc": "records"
                          },
                        "bFilter": false,
                        "columns": [
                         
                          { "data": "regionCode","width":20 },
                          { "data": "regionName","width":20 },
                          { "data": "id"}
                        ],
                        columnDefs: [{
                       targets: 5,
                       render: function(data, type, full, meta){
                          if(type === 'display'){
                             data = `<div class="button-group">
                                 <a onclick="editRegion(${data})" class="btn btn-xs btn-primary">
                                 <i class="fa fa-edit"></i> </a> 
                                 <a onclick="deleteRegion(${data})" class="btn btn-xs btn-danger">
                                 <i class="fa fa-trash"></i> </a>
                                 </div>`;                     
                          }
                           
                          return data;
                       }
                    }
                    ],
                        "aLengthMenu":[[5,10,25,50,-1],[5,10,25,50,"All"]],
                        "pageLength":5
                              
                      });
}

function initialiseUsersTable(nation){
  //users table
        $('#datatable-users').DataTable({
          "ajax": {
        "url": "api/funcs.php?fn=fetchAllUsers&n="+nation,
        "dataSrc": ""
        },
        "columns": [
          { "data": "image" },
          { "data": "name" },
          { "data": "email"},
          { "data": "phone"},
          { "data": "admin"},
          { "data": "active_"},
          { "data": "lastSeen"},
          { "data": "visits"},
          { "data": "actions" }
        ],
          dom: "Bfrtip",
                buttons: [{
                  extend: "copy",
                  className: "btn-sm"
                }, {
                  extend: "csv",
                  className: "btn-sm"
                }, {
                  extend: "excel",
                  className: "btn-sm"
                }, {
                  extend: "pdf",
                  className: "btn-sm"
                }, {
                  extend: "print",
                  className: "btn-sm"
                }
        ]
        });

    
}

function initialiseMissionariesTable(nation){
  //---------        NATION MISSIONARIES    ---------------//

              $(function(){
                         nationLeaderCombo();
                       });
                      $('#natIntMissionaries').DataTable({
                        "ajax": {
                          "url": "api/api.php/records/cmfi_members?join=cmfi_roles&filter=country,eq,"+nation+"&filter=role,neq,9",
                          "dataSrc": "records"
                          },
                        "bFilter": false,
                        "columns": [
                          { "data": "firstName"},
                          { "data": "lastName"},
                          { "data": "city"},
                          { "data": "role.role"},
                          { "data": "id"}
                        ],
                        columnDefs: [{
                          targets: 3,
                       render: function(data, type, full, meta){
                          if(type === 'display'){
                            switch (data){
                              case "International Missionary":
                                data=`<span class="badge bg-green">${data}</span>`;
                                break;
                              case "National Leader":
                                data=`<span class="badge bg-purple">${data}</span>`;
                                break;
                              case "Elder":
                                data=`<span class="badge bg-blue">${data}</span>`;
                                break;
                              default:
                                data=`<span class="badge">${data}</span>`;
                                break;
                            }

                              
                             }
                             return data;
                          }
                           
                       },
                       {targets: 4,
                       render: function(data, type, full, meta){
                          if(type === 'display'){
                             data = `<div class="button-group">
                                 <a onclick="showMissionaryData(${data});showHideForm('newMissionaryForm')" class="btn btn-xs btn-primary">
                                 <i class="fa fa-pencil"></i> </a> 
                                 <a onclick="deleteMissionary(${data})" class="btn btn-xs btn-danger"><i class="fa fa-times"></i> </a>
                                 </div>`;                     
                          }
                             // editMissionary(${data})
                          return data;
                       }
                    }
                    ],
                        "aLengthMenu":[[5,10,25,50,-1],[5,10,25,50,"All"]],
                        "pageLength":5
                              
                      });
}
   
 function initialiseNationDetails(id){


            missionaryForm.nationCode.value=id;  // set nation code in form
            refreshDMCombo(id); 
            refreshMemberCombo(id)
            nationLeaderCombo(id);
            initialiseRegionsCombo(); //initialise regions combo
           $.getJSON("api/api.php/records/cmfi_nations?join=cmfi_countries&filter=nationName,eq,"+id,
            function(response) {
              var res=response.records[0];
              nationSettingsForm.nationName.value=res.nationName.name;
              nationSettingsForm.nationStartDate.value=res.nationDate;
              $('#nregion').val(res.nationRegion);
              $('#nregion').trigger('change');
              $('select#nLeaderDropDown').val(res.nationLeader);
              $('#nLeaderDropDown').trigger('change');
              nationSettingsForm.nPhone.value=res.phone;
              nationSettingsForm.nEmail.value=res.email;
              $('.lblHeading').html('Edit nation stats : <strong>'+res.nationName.name+'</strong>');
              nationSettingsForm.nationId.value=res.nationName.code;
             
              //alert(response.name);
              
          });

          
        }
     

function showMissionaryAdd(){
    $('#btnNewMissionary').html(`<button class="btn btn-success btn-sm" onclick="showMissionaryAdd();">
      <i class="glyphicon glyphicon-tick"></i></button>`)
    $('#newMissionary').html(`
        
      `);

}



  function showMissionaryData(id){
       $.getJSON("api/api.php/records/cmfi_members/?filter=id,eq,"+id,
                function(data){
                  var n=data.records[0];
                  if(data.records.length!=0)
                    {
                      missionaryForm.firstName.value = n.firstName;
                      missionaryForm.lastName.value = n.lastName;
                      missionaryForm.dob.value = n.DOB;
                      missionaryForm.city.value = n.city;
                      missionaryForm.email.value=n.email;
                    $('select#gender' ).val( n.sex );
                    $('#gender').trigger('change');
                    $('select#role' ).val( n.role );
                    $('#role').trigger('change');
                    $('select#familyName' ).val( n.familyID );
                    $('#familyName').trigger('change');
                    $('select#familyRole' ).val( n.familyRole );
                    $('#familyRole').trigger('change');
                      missionaryForm.phone.value = n.phone;
                      missionaryForm.id.value=n.id;
                      uploadimage.memberId.value=n.id;
                    $('#profileAvatar').html(`<img  onclick="showHide('uploadForm1')" class="img-responsive avatar-view" src="images/members/${n.image}" alt="Avatar" 
                                            onerror="if (this.src != 'images/members/user.png') this.src = 'images/members/user.png';">`);
                    }
                 
               });
  }

  function  initialiseLocalities(n){
     $('#locality').html(`<option value="0">Choose Locality</option>
                          <option value="new">Add new from city</option>`); 
          var x = $("#locality");
          $.getJSON("api/api.php/records/cmfi_localities?filter=country,eq,"+n, function(response) {
               $.each(response.records, function() {
               x.append($("<option />").val(this.id).text(this.localityName));
           });
        });
        }
  $( function() {
      var thisyear=new Date().getFullYear();
      $( "#dob" ).datepicker({ changeMonth: true,
        changeYear: true,
        yearRange: "1930:"+thisyear,
        dateFormat: "yy-mm-dd",
        showAnim: "clip"
      });

     $('#missionaryDropDown').on('change', function() {
       showMissionaryData(this.value);
       nationLeaderCombo();
     
      });
     
     //nationLeaderCombo();
  } );


  </script>
                      
