
 <div class="body">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                          <!-- start recent activity -->
                          <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="row">
                              <div class="col-md-12 col-sm-12 col-xs-12">
                            <!-- detail row -->
                            <div class="x_panel">
                              <div class="x_title">
                                <h2>Summary <small>nation details</small></h2>
                                <ul class="nav navbar-right panel_toolbox">
                                  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                  </li>
                                  <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                    <ul class="dropdown-menu" role="menu">
                                      <li><a href="#">Settings 1</a>
                                      </li>
                                      <li><a href="#">Settings 2</a>
                                      </li>
                                    </ul>
                                  </li>
                                  <li><a class="close-link"><i class="fa fa-close"></i></a>
                                  </li>
                                </ul>
                                <div class="clearfix"></div>
                              </div>
                              <div class="x_content">
                            <div class="table-responsive">
                            <table class="table">
                              <tbody>
                                <tr>
                                  <th style="width:50%"><i class="icon-globe"></i> Country Name:</th>
                                  <td id="nName"></td>
                                </tr>
                                <tr>
                                  <th><i class="icon-speech"></i> Code</th>
                                  <td id="nCode"></td>
                                </tr>
                                <tr>
                                  <th><i class="icon-pointer"></i> Region:</th>
                                  <td id="nRegion"></td>
                                </tr>
                                <tr>
                                  <th><i class="icon-screen-smartphone"></i> Telephone:</th>
                                  <td id="nPhone"></td>
                                </tr>
                                <tr>
                                  <th><i class="icon-envelope-letter"></i> Email:</th>
                                  <td id="nEmail"></td>
                                </tr>
                                <tr>
                                  <th><i class="icon-calendar"></i> Ministry start Date:</th>
                                  <td id="nDate"></td>
                                </tr>
                                <tr>
                                  <th><i class="icon-user"></i> Leader No.1</th>
                                  <td id="nLeader"></td>
                                </tr>
                                <tr>
                                  <th><i class="icon-users"></i> Total Disciples</th>
                                  <td class="ctrlDiscTotal"></td>
                                </tr>
                                <tr>
                                  <th><i class="icon-users"></i> Disciples Registered in DB</th>
                                  <td class="discTotal"></td>
                                </tr>
                                <tr>
                                  <th><i class="icon-map"></i> Spiritual Provinces</th>
                                  <td class="provTotal"></td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                        </div> <!--close detail row-->

                      <div class="col-md-12 col-sm-12 col-xs-12">
                      <div class="x_panel">
                        <div class="x_title">
                          <h2>Profile Progress <small>disciples in DB as % of total</small></h2>
                          <div class="clearfix"></div>
                        </div>
                        <div class="x_content">

                          <div id="echart_guage" style="height:240px;"></div>
                      
                        </div>
                      </div>
                    </div>
                  </div>
                  </div><!--col md 4 -->
                       <div class="col-md-8 col-sm-8 col-xs-12">
                        <div class="row">
                          <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                          <div class="x_title">
                            <h2>Disciples <small>by date</small></h2>
                            <ul class="nav navbar-right panel_toolbox">
                              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                              </li>
                              <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                  <li><a href="#">print Report</a>
                                  </li>
                                  <li><a href="#">email Report</a>
                                  </li>
                                </ul>
                              </li>
                              <!--li><a class="close-link"><i class="fa fa-close"></i></a>
                              </li-->
                            </ul>
                            <div class="clearfix"></div>
                          </div>
                          <div class="x_content">
                             <div id="echart_bar_horizontal" style="height:370px;"></div>
                            <!--canvas id="chartCanvas"></canvas-->
                          </div>
                        </div>
                      </div>
                     <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="x_panel tile fixed_height_320 overflow_hidden">
                          <div class="x_title">
                            <h2>Top Dates</h2>
                            <ul class="nav navbar-right panel_toolbox">
                              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                              </li>
                              <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                  <li><a href="#">View All</a>
                                  </li>
                                  <li><a href="#">New Event</a>
                                  </li>
                                  <li><a href="#">Refresh Event</a>
                                  </li>
                                </ul>
                              </li>
                              <li><a class="close-link"><i class="fa fa-close"></i></a>
                              </li>
                            </ul>
                            <div class="clearfix"></div>
                          </div>
                          <div class="x_content" id="topNationalEvents">
                          </div>
                        </div>
                      </div>
                          <!-- Display online user profiles -->
                      <div class="col-md-6 col-sm-6 col-xs-12">
                              <div class="x_panel tile fixed_height_320 overflow_hidden">
                                  <div class="x_title">
                                    <h2>Online Users<small>active sessions</small></h2>
                                    <ul class="nav navbar-right panel_toolbox">
                                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                      </li>
                                      <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                        <ul class="dropdown-menu" role="menu">
                                          <li><a href="#">view all profiles</a>
                                          </li>
                                          <li><a href="#"></a>
                                          </li>
                                        </ul>
                                      </li>
                                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                                      </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                  </div>
                                 <div class="x_content" id="onlineNationalUsers" style="overflow: scroll;">
                                  <ul class="list-unstyled top_profiles scroll-view">                        
                                  </ul>
                            </div>
                        </div>
                      </div>
                    </div>

                  </div><!--col md 8 -->
                </div>
                    <!-- end row -->
              
            </div>

          </div>
        </div>
      </div>
	 

  <!-- daterangepicker -->
  <!--script type="text/javascript" src="js/moment/moment.min.js"></script>
  <script type="text/javascript" src="js/datepicker/daterangepicker.js"></script-->

 <!-- echart -->
  <script src="js/echart/echarts-all.js"></script>
  <script src="js/echart/green.js"></script>

<script>
  
   function getid(){
                  var str=window.location.href;
                  var idArr= str.split("/");
                  var l=idArr.length;
                  return idArr[l-1];
                }
      var nation=getid();

      $(function(){

        $('#nationHome').html(`
          <a  class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
          <span><img src="https://www.countryflags.io/${nation}/flat/16.png"></span>
                 ${nation}  <span class=" fa fa-angle-down"></span>
                  
                </a>
                <ul class="dropdown-menu dropdown-usermenu pull-right" role="menu">
                  <li>
                    <a onclick="routie('/${nation}')"><i class="icon-chart pull-right"></i>
                      <span>Dashboard</span>
                    </a>
                  </li>
                  <li>
                    <a onclick="routie('/${nation}/disciples')"><i class="icon-users pull-right"></i>
                      <span>Disciples</span>
                    </a>
                  </li>
                  <li>
                    <a onclick="routie('/${nation}/provinces')"><i class="icon-grid pull-right"></i> Provinces</a>                    
                    </a>
                  </li> 
                  <li>
                    <a onclick="routie('/${nation}/localities')"><i class="icon-pin pull-right"></i> Localities</a>                    
                    </a>
                  </li>    
                  <li>
                    <a onclick="routie('/${nation}/assemblies')"><i class="icon-home pull-right"></i> House Churches</a>                    
                    </a>
                  </li> 
                  <li>
                    <a onclick="routie('/${nation}/events')"><i class="icon-calendar pull-right"></i>
                      <span> Events</span> 
                    </a>
                  </li>
                  <li>
                    <a onclick="routie('/${nation}/settings')"><i class="icon-settings pull-right"></i> Settings</a>                    
                    </a>
                  </li> 
              
                </ul>
          `);
      });


    //------ DASHBOARD --//

    initialiseNationTotals(nation); //initialise nation totals
    initialiseNationDetails(nation); //initialise nation details
    refreshDMCombo(nation);

    //---Online users ---//
     $.getJSON('api/funcs.php?fn=fetchOnlineUsers&n='+nation, function(data) {
          var template = $('#usersOnlinestpl').html();
          var html = Mustache.to_html(template, data);
          $('#onlineNationalUsers').html(html);
        }); //getTopUsers

     //-- Get top events----//
     $.getJSON('api/funcs.php?fn=fetchEvents&n='+nation, function(data) {
          var template = $('#eventstpl').html();
          var html = Mustache.to_html(template, data);
          $('#topNationalEvents').html(html);
        }); //getEvents

     //----- Nation Totals and details----//
     function initialiseNationTotals(id){
           $.getJSON("api/funcs.php?fn=fetchNationTotals&n="+id, function(res) {
              $('.provTotal').html(res.provinces);
              $('.discTotal').html(res.disciples);
              $('#hcTotal').html(res.housechurches);
              $('#locTotal').html(res.localities);
              $('.ctrlDiscTotal').html(res.ctrlDisciples+` <button data-toggle="modal" data-target=".newDiscipleModal" class="btn btn-xs btn-primary">New Disciple</button>`);
              $('.progress').html('<div class="progress-bar bg-green" role="progressbar" aria-valuenow="3" aria-valuemin="0" aria-valuemax="100" style="width: '+((res.disciples/res.ctrlDisciples)*100)+'%;"><span class="sr-only">3% Complete</span></div>');
              var progress=Math.ceil((res.disciples/res.ctrlDisciples)*100);
              drawGuage(progress);
         
          });
        }

      function initialiseNationDetails(id){
           $.getJSON("api/funcs.php?fn=fetchNation&n="+id, function(res) {
              $('#nName').html(res.name);
              $('#nationName').val(res.name);
              $('#nCode').html(res.code);
              $('#nRegion').html(res.region);
              $('#nregion').val(res.region);
              $('#nRegion').trigger('change');
              $('select#nLeaderDropDown').val(res.leaderId);
              $('#nLeaderDropDown').trigger('change');
              $('#nPhone').html(res.phone);
              $('#nEmail').html(res.email);
              $('#nLeader').html(res.leader);
              $('#nDate').html(res.date);
              $('#nationStartDate').val(res.date);
             
              //alert(response.name);
         
          });
        }

     //--- DRAW CHART
         var myChart = echarts.init(document.getElementById('echart_bar_horizontal'), theme);

      $.ajax({ url: "api/api.php/records/cmfi_nation_stats?filter=code,eq,"+nation+"&order=date,asc",
              method: "GET",
              success: function(data) {
                var date = [];
                var disciples = [];
                var jsonArr = data.records ;//jQuery.parseJSON(data);

                for(var i in jsonArr) {
                  disciples.push(jsonArr[i].disciples);
                  date.push(jsonArr[i].date);
                }
                //console.log(province);
                //console.log(db_disciples);
                //console.log(disciples);
                  myChart.setOption({
                    title: {
                      text: 'Disciples',
                      subtext: 'nation disciples'
                    },
                    tooltip: {
                      trigger: 'axis'
                    },
                    legend: {
                      data: ['Disciples']
                    },
                    /*toolbox: {
                      show: true,
                      feature: {
                        saveAsImage: {
                          show: true
                        }
                      }
                    },*/
                    toolbox: {
                        show: true,
                        feature: {
                          magicType: {
                            show: true,
                            type: ['line', 'bar', 'stack', 'tiled']
                          },
                          restore: {
                            show: true
                          },
                          saveAsImage: {
                            show: true
                          }
                        }
                      },
                    calculable: true,
                    yAxis: [{
                      type: 'value',
                      boundaryGap: [0, 0.01]
                    }],
                    xAxis: [{
                      type: 'category',
                      data: date
                    }],
                    series: [{
                      name: 'Disciples',
                      type: 'line',
                        smooth: false,
                        itemStyle: {
                          normal: {
                            areaStyle: {
                              type: 'default'
                            }
                          }
                        },
                      data: disciples
                    }]
                  });
                },
              error: function(data) {
                console.log(data);
              }
      });

      //--- draw gauge --//
      function drawGuage(p){
      var Chart = echarts.init(document.getElementById('echart_guage'), theme);
          Chart.setOption({
            tooltip: {
              formatter: "{a} <br/>{b} : {c}%"
            },
            toolbox: {
              show: true,
              feature: {
                restore: {
                  show: true
                },
                saveAsImage: {
                  show: true
                }
              }
            },
            series: [{
              name: 'Progress',
              type: 'gauge',
              center: ['50%', '50%'],
              radius: [0, '75%'],
              startAngle: 140,
              endAngle: -140,
              min: 0,
              max: 100,
              precision: 0,
              splitNumber: 10,
              axisLine: {
                show: true,
                lineStyle: {
                  color: [
                    [0.2, '#ff4500'],
                    [0.4, 'orange'],
                    [0.8, 'skyblue'],
                    [1, 'lightgreen']
                  ],
                  width: 30
                }
              },
              axisTick: {
                show: true,
                splitNumber: 5,
                length: 8,
                lineStyle: {
                  color: '#eee',
                  width: 1,
                  type: 'solid'
                }
              },
              axisLabel: {
                show: true,
                formatter: function(v) {
                  switch (v + '') {
                    case '10':
                      return 'a';
                    case '30':
                      return 'b';
                    case '60':
                      return 'c';
                    case '90':
                      return 'd';
                    default:
                      return '';
                  }
                },
                textStyle: {
                  color: '#333'
                }
              },
              splitLine: {
                show: true,
                length: 30,
                lineStyle: {
                  color: '#eee',
                  width: 2,
                  type: 'solid'
                }
              },
              pointer: {
                length: '80%',
                width: 8,
                color: 'auto'
              },
              title: {
                show: true,
                offsetCenter: ['-65%', -10],
                textStyle: {
                  color: '#333',
                  fontSize: 15
                }
              },
              detail: {
                show: true,
                backgroundColor: 'rgba(0,0,0,0)',
                borderWidth: 0,
                borderColor: '#ccc',
                width: 100,
                height: 40,
                offsetCenter: ['-60%', 10],
                formatter: '{value}%',
                textStyle: {
                  color: 'auto',
                  fontSize: 30
                }
              },
              data: [{
                value: p,
                name: 'Progress'
              }]
            }]
          });
        }

$("#loaderImg").hide(); //hide loader image



</script>
  
