
        /*  ---------- ID CARD -----------------------*/
.id-bg {
  background-color: #d7d6d3;
  font-family: 'verdana';
}

.id-card-holder {
  width: 230px;
  padding: 4px;
  margin: 0 auto;
  background-color: #1f1f1f;
  border-radius: 5px;
  position: relative;
}

.id-card-holder:after {
  content: '';
  width: 7px;
  display: block;
  background-color: #0a0a0a;
  height: 100px;
  position: absolute;
  top: 105px;
  border-radius: 0 5px 5px 0;
}

.id-card-holder:before {
  content: '';
  width: 7px;
  display: block;
  background-color: #0a0a0a;
  height: 100px;
  position: absolute;
  top: 105px;
  left: 219px;
  border-radius: 5px 0 0 5px;
}

.id-card {

  background-color: white;
  padding: 0px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 1.5px 0px #b9b9b9;
}

.id-card img {
  margin: 0 auto;
}

.id-card h2 {
  font-size: 22px;
  font-weight: 400;
}

.header img {
  width: 100%;
  margin-top: 0px;
  min-height: 200px;
  top: 0;
  left: 0;
  background: black;
  opacity: 1;
  position: relative;
}

.photo {
  position: absolute;
  top: 95px;
  left: 25px;
}

.photo img {
  width: 80px;
  margin-top: 15px;
}

#idCard h2 {
  font-size: 15px;
  margin: 5px 0;
}

#idCard h3 {
  font-size: 12px;
  margin: 2.5px 0;
  font-weight: 300;
}

.qr-code img {
  width: 120px;
}

/* #idCard p {
  font-size: 5px;
  margin: 2px;
} */

.id-card-hook {
  background-color: #000;
  width: 70px;
  margin: 0 auto;
  height: 15px;
  border-radius: 5px 5px 0 0;
}

.id-card-hook:after {
  content: '';
  background-color: #d7d6d3;
  width: 47px;
  height: 6px;
  display: block;
  margin: 0px auto;
  position: relative;
  top: 6px;
  border-radius: 4px;
}

.id-card-tag-strip {
  width: 45px;
  height: 40px;
  background-color: #0950ef;
  margin: 0 auto;
  border-radius: 5px;
  position: relative;
  top: 9px;
  z-index: 1;
  border: 1px solid #0041ad;
}

.id-card-tag-strip:after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: #c1c1c1;
  position: relative;
  top: 10px;
}

.id-card-tag {
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-top: 100px solid #0958db;
  margin: -10px auto -30px auto;
}

.id-card-tag:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 50px solid #d7d6d3;
  margin: -10px auto -30px auto;
  position: relative;
  top: -90px;
  left: -50px;
}

#eventsRegTable tr .links {
  display: none;
}

#eventsRegTable tr:hover .links {
  display: block;
}

.imgContainer {
  position: relative;
  text-align: center;
  color: white;
  width: 100%;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card_delegate_role {
  background-color: #00008b;
  color: #fff;
  margin-top: -10px;
  padding: 0px;
}

.card_eventTitle {
  font-size: 12px;
  top: 26px;
  width: 100%;
  font-weight: 700;
  line-height: 17px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  text-shadow: 1px 1px #333333;
  color: #ffffff;
}

/*styles for printing badges*/
body {
  background: rgb(204, 204, 204);
}



.profilePic {
  visibility:visible;
  position: absolute;
  cursor: move;
  top: 85px;
  left: 120px;
}

.profilePic img {
  visibility:visible;
  width: 125px;
  margin-top: 0px;
}

#roleDiv {
  /* font-size: 30px !important; */
  background-color: #8e44ad !important;
  display: none;
  width: 100%;
  height: 25px;
}

#role { 

  font-size: 30px !important;
  color:#f1c40f !important;
  text-shadow: 1px 1px #333333;
}

page {
  background: #ffffff;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
}

page[size='A4'] {
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
}

page[size='A4'] {
  width: 21cm;
  height: 29.7cm;
}

page[size='A4'][layout='landscape'] {
  width: 29.7cm;
  height: 21cm;
}

page[size='A3'] {
  width: 29.7cm;
  height: 42cm;
}

page[size='A3'][layout='landscape'] {
  width: 42cm;
  height: 29.7cm;
}

page[size='A5'] {
  width: 14.8cm;
  height: 21cm;
}

page[size='A5'][layout='landscape'] {
  width: 21cm;
  height: 14.8cm;
}

page[size='A6'] {
  /*width: 8.1cm;*/
  /*width: 10.3cm; current*/
  width: 10.3cm;
  /*normal A6 is 10.5cm*/
  /*height: 11.5cm;*/
  height: 14.8cm;
  /*height: 14.8cm; curret*/
  /*normal A6 is 14.8cm*/
}

page[size='A6'][layout='landscape'] {
  width: 14.8cm;
  height: 10.5cm;
  float: left;
}

page[size='B7'] {
  width: 9.1cm;
  height: 12.5cm;
}


@media print {

  body,
  page {
    margin: 0;
    box-shadow: 0;
  }
}

        
        